<div class="app-property-organization-selection">
  <ng-container *ngIf="property?.multipleSelection; else singleSelection">
    <span class="p-float-label">
      <p-multiSelect class="app-multiple-selection" dropdownIcon="fas fa-caret-down"
        [options]="property.possibleValuesIds" [id]="property.name"
        [(ngModel)]="value" maxSelectedLabels="1"
        (ngModelChange)="handleChangedValue()">
      </p-multiSelect>
      <label class="app-input-label" for="float-label">{{'value'| translate}}</label>
    </span>
  </ng-container>
  <ng-template #singleSelection>
    <span class="p-float-label">
      <p-dropdown class="app-single-selection" [id]="property.name" [options]="property.possibleValuesIds"
        [autoDisplayFirst]="false" [class.ng-invalid]="property?.invalid" [(ngModel)]="value"
        dropdownIcon="fas fa-caret-down" (ngModelChange)="handleChangedValue()">
      </p-dropdown>
      <label class="app-input-label" [for]="property.name">{{'value'| translate}}</label>
    </span>
  </ng-template>
</div>