@use "src/variables" as v;

::ng-deep .workpack-tree-selection {
  width: 30%;
  label {
    font-size: 0.8rem;
  }
}

::ng-deep .workpack-tree-selection-not-fullLine {
  width: 100%;
  label {
    font-size: 0.8rem;
  }
}

::ng-deep .workpack-tree-selection-mobile {
  width: 100%;
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}