<div class="workpack-tree-selection">
  <span class="select-locality-container" [class.fullLine]="property.fullLine && property.multipleSelection">
    <label class="app-input-label">{{property?.label}} {{ property.required ? '*' : ''}}</label>
    <div class="value-selected-container" (click)="opLocalityDefault.toggle($event)">
      <p-chips [(ngModel)]="property.labelButtonLocalitySelected" *ngIf="property.multipleSelection"
        [disabled]="true"></p-chips>
      <input class="app-input-text" [(ngModel)]="property.labelButtonLocalitySelected[0]" type="text" pInputText
        *ngIf="!property.multipleSelection" [disabled]="true" />
      <i class="fas fa-search" *ngIf="property.showIconButton"></i>
    </div>
  </span>
  <p-overlayPanel #opLocalityDefault>
    <ng-template pTemplate>
      <ng-container *ngIf="property.multipleSelection; else singleLocalitySelection">
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="property?.multipleSelection">
          <p-tree [value]="property?.localityList" selectionMode="checkbox" [(selection)]="property.localitiesSelected"
            [propagateSelectionUp]="false" [propagateSelectionDown]="false" (onNodeSelect)="handleNodeSelect($event)"
            (onNodeUnselect)="handleNodeUnselect($event)"></p-tree>
        </div>
      </ng-container>
      <ng-template #singleLocalitySelection>
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine" [class.ng-invalid]="property.invalid"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="!property.multipleSelection">
          <p-tree [value]="property.localityList" selectionMode="single" [(selection)]="property.localitiesSelected"
            (onNodeSelect)="handleNodeSelect($event)" (onNodeUnselect)="handleNodeUnselect($event)"></p-tree>
        </div>
      </ng-template>
    </ng-template>
  </p-overlayPanel>
</div>