<div class="workpack-tree-selection">
  <span class="button-select-locality-container">
    <label class="app-input-label">{{property?.label}} {{ property.required ? '*' : ''}}</label>
    <p-button class="button-select-locality" [icon]="!property.showIconButton ? '' : 'fa fa-search'" iconPos="left"
      (onClick)="opLocalityDefault.toggle($event)" [label]="property.labelButtonLocalitySelected"></p-button>
  </span>
  <p-overlayPanel #opLocalityDefault>
    <ng-template pTemplate>
      <ng-container *ngIf="property.multipleSelection; else singleLocalitySelection">
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="property?.multipleSelection">
          <p-tree [value]="property?.localityList" selectionMode="checkbox" [(selection)]="property.localitiesSelected"
            [propagateSelectionUp]="false" [propagateSelectionDown]="false"
            (onNodeSelect)="changed.emit($event); setLabelButton($event)"
            (onNodeUnselect)="changed.emit($event); setLabelButton($event)"></p-tree>
        </div>
      </ng-container>
      <ng-template #singleLocalitySelection>
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine" [class.ng-invalid]="property.invalid"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="!property.multipleSelection">
          <p-tree [value]="property.localityList" selectionMode="single" [(selection)]="property.localitiesSelected"
            (onNodeSelect)="changed.emit($event); setLabelButton($event)"
            (onNodeUnselect)="changed.emit($event); setLabelButton($event)"></p-tree>
        </div>
      </ng-template>
    </ng-template>
  </p-overlayPanel>
</div>