@use "src/variables" as v;

// ::ng-deep .workpack-tree-selection {
//   width: 30%;
//   padding-bottom: 10px;
//   label {
//     font-size: 0.8rem;
//   }
// }

// ::ng-deep .workpack-tree-selection-not-fullLine {
//   width: 100%;
//   padding-bottom: 10px;
//   label {
//     font-size: 0.8rem;
//   }
// }

// ::ng-deep .workpack-tree-selection-mobile {
//   width: 100%;
//   padding-bottom: 10px;
// }

::ng-deep .workpack-tree-selection {
  .button-select-locality-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    .p-button {
      background-color: #44B39B;
      border: none !important;
      margin: 0.5em 0;
      width: 100%;
      color: #ffffff;
      .p-button-label {
        text-align: left;
      }
    }
  }
}