<div class="app-baseline-view">
  <div class="header-container" [class.mobile]="responsive" *ngIf="baseline">
    <div class="app-content-header" [class.mobile]="responsive" *ngIf="!baseline?.cancelation">
      <span>{{ baseline?.name }}</span>
    </div>
    <div class="app-content-header app-content-header-cancelation" [class.mobile]="responsive"
         *ngIf="!!baseline?.cancelation">
      <i class="fas fa-times"></i>
      <span>{{ 'cancellationProposal' | translate }}</span>
    </div>
  </div>
  <div class="main-panel-container">
    <p-panel class="app-card">
      <div class="panel-content" [class.panel-content-responsive]="responsive">
        <div class="main-section" *ngIf="baseline">
          <div class="baseline-description-container">
            <div class="description-text">
              <label>{{'description'|translate}}</label>
              <span>{{baseline?.description}}</span>
            </div>
            <div class="description-texts-container">
              <div class="description-text">
                <label>{{'project'|translate}}</label>
                <span>{{baseline?.projectName}}</span>
                <span>{{baseline?.projectFullName}}</span>
              </div>
              <div class="description-text">
                <label>{{'proposer'|translate}}</label>
                <span>{{baseline?.proposer}}</span>
              </div>
            </div>
            <div class="description-text">
              <label>{{!baseline.cancelation ? ('messageFromBaselineProposer' |translate) : ('messageFromCancelationProposer' |translate)}}</label>
              <span>{{baseline?.message}}</span>
            </div>
          </div>
          <div class="evaluations-section" *ngIf="!!responsive">
            <div class="evaluation" *ngIf="!baselineEvaluatedByUser && baseline?.status !== 'APPROVED'">
              <span class="evaluation-header">
                {{'evaluation'|translate}}
              </span>
              <div class="evaluation-content">
                <span>{{'comment'|translate}}</span>
                <textarea pInputTextarea [rows]="responsive ? 5 : 3" [(ngModel)]="evaluationComment"
                          [placeholder]="'messages.optionalCommentAboutMyEvaluation'|translate"></textarea>
                <div class="actions-buttons">
                  <button pButton class="approve" [label]="'approve'|translate"
                          (click)="handleEvaluate('APPROVED')"></button>
                  <button pButton class="reject" [label]="'reject'|translate"
                          (click)="handleEvaluate('REJECTED')"></button>
                </div>
              </div>
            </div>
            <div class="evaluations" *ngIf="!!baselineEvaluatedByUser || baseline?.status === 'APPROVED'">
              <div class="evaluations-header">
                <span class="title">{{'evaluations'|translate}}</span>
                <span class="baseline-status" [class.approved]="baseline.status === 'APPROVED'"
                      [class.rejected]="baseline.status === 'REJECTED'">{{baseline.status|translate}}</span>
              </div>
              <p-card *ngFor="let item of baseline?.evaluations" class="card-list-item">
                <div class="card-item-content">
                  <div class="item-description">
                    <div class="item-description-container" [class.item-description-container-responsive]="responsive">
                      <i [ngClass]=" [ 'app-icon', 'ccb-member', 'light-grey-icon']"
                         [ngStyle]="{ fontSize: '1.5rem'}"></i>
                      <span class="item-description name" [class.item-description-responsive]="responsive">
                        {{item.ccbMemberName}}
                      </span>
                    </div>
                  </div>
                  <div class="item-status" [class.item-status-responsive]="responsive">
                    <i *ngIf="item.comment && item.comment.length > 0"
                       class="far fa-comment-dots light-grey-icon comment"
                       (click)="handleShowDialogComment(item.comment)"
                       [ngStyle]="{ fontSize: '1.5rem'}"></i>
                    <i *ngIf="!item.decision" class="fas fa-hourglass-half light-grey-icon"
                       [ngStyle]="{ fontSize: '1.3rem'}"></i>
                    <i *ngIf="item.decision && item.decision === 'APPROVED'" class="fas fa-check"
                       [ngStyle]="{ fontSize: '1.3rem', color: '#44B39B'}"></i>
                    <i *ngIf="item.decision && item.decision === 'REJECTED'" class="fas fa-times"
                       [ngStyle]="{ fontSize: '1.5rem', color: '#EA5C5C', padding: '0 3px'}"></i>
                  </div>
                </div>
              </p-card>
            </div>
          </div>
          <div class="charts-container">
            <div class="subtitles-container">
              <div class="subtitle-box-current"></div>
              <label
                class="subtitle-label-current">{{!baseline.cancelation ? ('current'|translate) : ('planned'|translate)}}</label>
              <div class="subtitle-box-proposed"></div>
              <label
                class="subtitle-label-proposed">{{!baseline.cancelation ? ('proposed'|translate) : ('forecast'|translate)}}</label>
            </div>
            <div class="charts">
              <div class="card card-cost" *ngIf="baseline && baseline.cost && (baseline.cost.currentValue > 0 || baseline.cost.proposedValue > 0)">
                <div class="header-card">
                  <div class="title-card">
                    <i class="fas fa-dollar-sign"></i>
                    <span>{{'cost'|translate|uppercase}}</span>
                  </div>
                  <div *ngIf="baseline?.cost && baseline?.cost?.variation && baseline?.cost?.variation !== 0"
                       class="variation"
                       [class.positive-variation]="baseline?.cost?.variation > 0"
                       [class.negative-variation]="baseline?.cost?.variation < 0">
                    <i class="fas" [class.fa-arrow-up]="baseline?.cost?.variation < 0"
                       [class.fa-arrow-down]="baseline?.cost?.variation > 0"></i>
                    <span>{{baseline?.cost?.variation < 0 ? baseline?.cost?.variation * (-1) :
                      baseline?.cost?.variation}}%</span>
                  </div>
                </div>
                <div class="content-card">
                  <div *ngIf="baseline?.cost?.currentValue" class="content-card-item current"
                       [ngStyle]="{width: ((baseline?.cost?.currentValue > baseline?.cost?.proposedValue || !baseline?.cost?.proposedValue) ? '100%' : ((baseline?.cost?.currentValue / baseline?.cost?.proposedValue) * 100) + '%')}">
                    <label>{{baseline?.cost?.currentValue|shortNumber:language}}</label>
                    <div [ngStyle]="{width: '100%', background: '#B5B5B5', height: '28px'}"></div>
                  </div>
                  <div *ngIf="baseline?.cost?.proposedValue" class="content-card-item proposed"
                       [ngStyle]="{width: ((baseline?.cost?.currentValue && baseline?.cost?.currentValue >= baseline?.cost?.proposedValue) ? ((baseline.cost.proposedValue/baseline.cost.currentValue)*100) : 100) + '%'}">
                    <div [ngStyle]="{width: '100%', background: '#0083BB', height: '28px'}"></div>
                    <label>{{baseline?.cost?.proposedValue| shortNumber:language}}</label>
                  </div>
                </div>
              </div>
              <div class="card card-schedule" *ngIf="baseline && baseline.schedule && (baseline.schedule.currentValue > 0 || baseline.schedule.proposedValue > 0)">
                <div class="header-card">
                  <div class="title-card">
                    <i class="far fa-clock"></i>
                    <span>{{'schedule'|translate|uppercase}}</span>
                  </div>
                  <div
                    *ngIf="baseline?.schedule && baseline?.schedule?.variation && baseline?.schedule?.variation !== 0"
                    class="variation"
                    [class.positive-variation]="baseline?.schedule?.variation < 0"
                    [class.negative-variation]="baseline?.schedule?.variation > 0">
                    <i class="fas" [class.fa-arrow-left]="baseline?.schedule?.variation < 0"
                       [class.fa-arrow-right]="baseline?.schedule?.variation > 0"></i>
                    <span>{{baseline?.schedule?.variation < 0 ? baseline?.schedule?.variation * (-1) :
                      baseline?.schedule?.variation}}d</span>
                  </div>
                </div>
                <div class="content-card">
                  <div *ngIf="baseline?.schedule?.currentValue" class="content-card-item current"
                       [ngStyle]="{width: (baseline?.schedule?.currentValue / (baseline?.schedule?.monthsInPeriod))* 100 + '%', 'margin-left': this.baseline.schedule.marginLeftCurrentBar + '%'}">
                    <div class="date-labels">
                      <label>{{language === 'pt' ? (baseline?.schedule?.currentStartDate|date:'dd/MM/yyyy') :
                        (baseline?.schedule?.currentStartDate|date:'yyyy/MM/dd')}}</label>
                      <label>{{language === 'pt' ? (baseline?.schedule?.currentEndDate|date:'dd/MM/yyyy') :
                        (baseline?.schedule?.currentEndDate|date:'yyyy/MM/dd')}}</label>
                    </div>
                    <div class="progress-bar" [ngStyle]="{width: '100%', background: '#B5B5B5', height: '28px'}">
                      {{baseline?.schedule?.currentValue}}m
                    </div>
                  </div>
                  <div *ngIf="baseline?.schedule?.proposedValue"
                       class="content-card-item proposed content-card-item-schedule"
                       [ngStyle]="{width: (baseline?.schedule?.proposedValue / (baseline?.schedule?.monthsInPeriod))* 100 + '%', 'margin-right': this.baseline.schedule.marginHightProposedBar + '%'}">
                    <div class="progress-bar" [ngStyle]="{width: '100%', background: '#0083BB', height: '28px'}">
                      {{baseline?.schedule?.proposedValue}}m
                    </div>
                    <div class="date-labels">
                      <label>{{language === 'pt' ? (baseline?.schedule?.proposedStartDate|date:'dd/MM/yyyy') :
                        (baseline?.schedule?.proposedStartDate|date:'yyyy/MM/dd')}}</label>
                      <label>{{language === 'pt' ? (baseline?.schedule?.proposedEndDate|date:'dd/MM/yyyy') :
                        (baseline?.schedule?.proposedEndDate|date:'yyyy/MM/dd')}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-scope" *ngIf="baseline && baseline.scope && (baseline.scope.currentScopePercent > 0 || baseline.scope.proposedScopePercent > 0)">
                <div class="header-card">
                  <div class="title-card">
                    <i class="fas fa-boxes"></i>
                    <span>{{'scopeLabel'|translate|uppercase}}</span>
                  </div>
                  <div *ngIf="baseline?.scope && baseline?.scope?.variation && baseline?.scope?.variation !== 0"
                       class="variation"
                       [class.positive-variation]="baseline?.scope?.variation > 0"
                       [class.negative-variation]="baseline?.scope?.variation < 0">
                    <i class="fas" [class.fa-arrow-up]="baseline?.scope?.variation > 0"
                       [class.fa-arrow-down]="baseline?.scope?.variation <= 0"></i>
                    <span>{{(baseline?.scope?.variation < 0 ? ((baseline?.scope?.variation * (-1))) :
                      baseline?.scope?.variation)}}%</span>
                  </div>
                </div>
                <div class="content-card">
                  <div *ngIf="baseline?.scope?.currentScopePercent" class="content-card-item current"
                       [ngStyle]="{width: ( !baseline?.scope?.proposedScopePercent || baseline?.scope?.currentScopePercent > baseline?.scope?.proposedScopePercent ? '100%' : ((baseline?.scope?.currentScopePercent / baseline?.scope?.proposedScopePercent)*100) + '%')}">
                    <label>{{baseline?.scope?.currentScopePercent &&
                    (baseline?.scope?.currentScopePercent|shortNumber:language)}}%</label>
                    <div [ngStyle]="{width: '100%', background: '#B5B5B5', height: '28px'}"></div>
                  </div>
                  <div *ngIf="baseline?.scope?.proposedScopePercent" class="content-card-item proposed"
                       [ngStyle]="{width: ( !baseline?.scope?.currentScopePercent || baseline?.scope?.proposedScopePercent < baseline?.scope?.currentScopePercent ? baseline?.scope?.proposedScopePercent + '%' : '100%')}">
                    <div [ngStyle]="{width: '100%', background: '#0083BB', height: '28px'}"></div>
                    <label>{{baseline?.scope?.proposedScopePercent && (baseline?.scope?.proposedScopePercent|
                      shortNumber:language)}}%</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="updates-container" *ngIf="!isLoading && !baseline.cancelation">
            <p-tree [value]="tripleConstraintsTree">
              <ng-template let-node pTemplate="default">
                <div
                  class="container-workpackmodel"
                  [ngClass]="{ 'grey-background': node.property === 'title' }"
                >
                  <div class="line-left-side">
                    <span
                      class="item-description"
                      [ngClass]="{ 'item-title': node.property === 'title', 'item-subtitle': node.property === 'subtitle', 'item-description-responsive': responsive }"
                    >
                      {{ node.label }}
                    </span>
                  </div>

                  <ng-container *ngIf="node.property === 'title' && (node.label === 'Marcos críticos' || node.label === 'Entregas')">
                    <div class="line-right-side">
                      <div class="titles-box d-flex flex-row col-12">
                        <span class="col-3 item-title"></span>
                        <span class="col-3 item-title">Custo</span>
                        <span class="col-3 item-title">Datas</span>
                        <span class="col-3 item-title">Escopo</span>
                      </div>
                    </div>
                  </ng-container>
                  
                  <ng-container *ngIf="node.property === 'value'">
                    <div class="line-right-side">
                      <div class="detail-box d-flex flex-row col-12">
                        <div
                          class="d-flex flex-column col-3"
                          [ngClass]="{ 'justify-content-center': node.statusDisplayMessage }"
                        >
                          <ng-container *ngIf="node.statusDisplayMessage else standardTitles">
                            <span
                              class="item-alert"
                              [ngClass]="{ 'highlight-alert': ['DELETED', 'TO_CANCEL'].includes(node.workpackStatus) }"
                            >
                              {{ node.statusDisplayMessage | translate }}
                            </span>
                          </ng-container>

                          <ng-template #standardTitles>
                            <span class="item-subtitle">Atual</span>
                            <span class="item-subtitle">Proposta</span>
                          </ng-template>
                        </div>
                        <div class="d-flex flex-column col-2">
                          <ng-container *ngIf="['UNCHANGED', 'DELETED', 'TO_CANCEL'].includes(node.workpackStatus) else standardCostValues">
                            <span class="item-value"></span>
                            <span class="item-value"></span>
                          </ng-container>

                          <ng-template #standardCostValues>
                            <span class="item-value">
                              {{ (node.costDetails?.currentValue | shortNumber : language : (node.precisionFactor || 2)) || '--' }}
                            </span>
                            <span class="item-value">
                              {{ (node.costDetails?.proposedValue | shortNumber : language : (node.precisionFactor || 2)) || '--' }}
                            </span>
                          </ng-template>
                        </div>
                        <div class="d-flex flex-column col-1 justify-content-center">
                          <ng-container *ngIf="node.costDetails?.variation && node.costDetails.variation !== 0">
                            <span
                              class="item-variation d-flex align-items-center"
                              [ngStyle]="{ 'color': node.costDetails.variation > 0 ? '#CF0E0E' : '#0ECF0E' }"
                            >
                              <i
                                class="fas"
                                [ngClass]="{ 'fa-arrow-up': node.costDetails.variation > 0, 'fa-arrow-down': node.costDetails.variation < 0 }"
                              >
                              </i>
                              <span>{{ node.costDetails.variation < 0 ? node.costDetails.variation * (-1) : node.costDetails.variation }}%</span>
                            </span>
                          </ng-container>
                        </div>
                        <div class="d-flex flex-column col-2">
                          <ng-container *ngIf="node.shouldDisplayBothDates else singleDate">
                            <!-- Só mostra as duas datas se as duas estiverem disponíveis, e se forem diferentes uma da outra -->
                            <span class="item-value">
                              {{ (node.scheduleDetails.currentDate | date : (language === 'pt' ? 'dd-MM-yyyy' : 'yyyy-MM-dd')) }}
                            </span>
                            <span class="item-value">
                              {{ (node.scheduleDetails.proposedDate | date : (language === 'pt' ? 'dd-MM-yyyy' : 'yyyy-MM-dd')) }}
                            </span>
                          </ng-container>
                          <ng-template #singleDate>
                            <span class="item-value">
                              {{ (node.scheduleDetails?.currentDate ? node.scheduleDetails.currentDate : node.scheduleDetails?.proposedDate) | date : (language === 'pt' ? 'dd-MM-yyyy' : 'yyyy-MM-dd') }}
                            </span>
                          </ng-template>
                        </div>
                        <div class="d-flex flex-column col-1 justify-content-center">
                          <ng-container *ngIf="node.scheduleDetails?.variationInDays && node.scheduleDetails.variationInDays !== 0">
                            <span
                              class="item-variation d-flex align-items-center"
                              [ngStyle]="{ 'color': node.scheduleDetails.variationInDays > 0 ? '#CF0E0E' : '#0ECF0E' }"
                            >
                              <i
                                class="fas"
                                [ngClass]="{ 'fa-arrow-up': node.scheduleDetails.variationInDays > 0, 'fa-arrow-down': node.scheduleDetails.variationInDays < 0 }"
                              >
                              </i>
                              <span>{{ node.scheduleDetails.variationInDays < 0 ? node.scheduleDetails.variationInDays * (-1) : node.scheduleDetails.variationInDays }}d</span>
                            </span>
                          </ng-container>
                        </div>
                        <div class="d-flex flex-column col-2">
                          <ng-container *ngIf="['UNCHANGED', 'DELETED', 'TO_CANCEL'].includes(node.workpackStatus) else standardScopeValues">
                            <span class="item-value"></span>
                            <span class="item-value"></span>
                          </ng-container>

                          <ng-template #standardScopeValues>
                            <span class="item-value">
                              {{ (node.scopeDetails?.currentValue ? ((node.scopeDetails?.currentValue | shortNumber : language : (node.precisionFactor || 2)) + (node.scopeDetails.unitName ? (' ' + node.scopeDetails.unitName) : '')) : '--') }}
                            </span>
                            <span class="item-value">
                              {{ (node.scopeDetails?.proposedValue ? ((node.scopeDetails?.proposedValue | shortNumber : language : (node.precisionFactor || 2)) + (node.scopeDetails.unitName ? (' ' + node.scopeDetails.unitName) : '')) : '--') }}
                            </span>
                          </ng-template>
                        </div>
                        <div class="d-flex flex-column col-1 justify-content-center">
                          <ng-container *ngIf="node.scopeDetails?.variation && node.scopeDetails.variation !== 0">
                            <span
                              class="item-variation d-flex align-items-center"
                              [ngStyle]="{ 'color': node.scopeDetails.variation > 0 ? '#0ECF0E' : '#CF0E0E' }"
                            >
                              <i
                                class="fas"
                                [ngClass]="{ 'fa-arrow-up': node.scopeDetails.variation > 0, 'fa-arrow-down': node.scopeDetails.variation < 0 }"
                              >
                              </i>
                              <span>{{ node.scopeDetails.variation < 0 ? node.scopeDetails.variation * (-1) : node.scopeDetails.variation }}%</span>
                            </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </p-tree>
          </div>
        </div>
        <div class="evaluations-section" *ngIf="!responsive && !isLoading" >
          <div class="evaluation" *ngIf="!baselineEvaluatedByUser && baseline?.status !== 'APPROVED'">
            <span class="evaluation-header">
              {{'evaluation'|translate}}
            </span>
            <div class="evaluation-content">
              <span>{{'comment'|translate}}</span>
              <textarea pInputTextarea [rows]="3" [(ngModel)]="evaluationComment"
                        [placeholder]="'messages.optionalCommentAboutMyEvaluation'|translate"></textarea>
              <div class="actions-buttons">
                <button pButton class="approve" [label]="'approve'|translate"
                        (click)="handleEvaluate('APPROVED')"></button>
                <button pButton class="reject" [label]="'reject'|translate"
                        (click)="handleEvaluate('REJECTED')"></button>
              </div>
            </div>
          </div>
          <div class="evaluations" *ngIf="!!baselineEvaluatedByUser || baseline?.status === 'APPROVED'">
            <div class="evaluations-header">
              <span class="title">{{'evaluations'|translate}}</span>
              <span class="baseline-status" [class.approved]="baseline.status === 'APPROVED'"
                    [class.rejected]="baseline.status === 'REJECTED'">{{baseline.status|translate}}</span>
            </div>
            <p-card *ngFor="let item of baseline?.evaluations" class="card-list-item">
              <div class="card-item-content">
                <div class="item-description">
                  <div class="item-description-container" [class.item-description-container-responsive]="responsive">
                    <i [ngClass]=" [ 'app-icon', 'ccb-member', 'light-grey-icon']"
                       [ngStyle]="{ fontSize: '1.5rem'}"></i>
                    <span class="item-description name" [class.item-description-responsive]="responsive">
                      {{item.ccbMemberName}}
                    </span>
                  </div>
                </div>
                <div class="item-status" [class.item-status-responsive]="responsive">
                  <i *ngIf="item.comment && item.comment.length > 0" class="far fa-comment-dots light-grey-icon comment"
                     (click)="handleShowDialogComment(item.comment)" [ngStyle]="{ fontSize: '1.5rem'}"></i>
                  <i *ngIf="!item.decision" class="fas fa-hourglass-half light-grey-icon"
                     [ngStyle]="{ fontSize: '1.3rem'}"></i>
                  <i *ngIf="item.decision && item.decision === 'APPROVED'" class="fas fa-check"
                     [ngStyle]="{ fontSize: '1.3rem', color: '#44B39B'}"></i>
                  <i *ngIf="item.decision && item.decision === 'REJECTED'" class="fas fa-times"
                     [ngStyle]="{ fontSize: '1.5rem', color: '#EA5C5C', padding: '0 3px'}"></i>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <p-dialog
    [visible]="!!showDialogConfirmation"
    [style]="!responsive ? { width: '50vw' } : { width: '90vw' }"
    (onHide)="showDialogConfirmation = false"
  >
    <ng-template pTemplate="header">
      <div class="title" [class.title-responsive]="responsive">
        <i class="fas fa-exclamation-triangle"></i>
        <span>{{ 'messages.atentionEvaluateBaselineMessage' | translate}}</span>
      </div>
    </ng-template>
    <div class="content-dialog-confirmation">
      <div class="message">
        {{ messageDialog }}
      </div>
      <div class="message-item" *ngIf="!baseline?.cancelation">
        <label>{{ 'baseline' | translate }}:</label>
        <span class="baseline-description">{{ baseline?.description }}</span>
      </div>
      <div class="message-item">
        <label>{{ 'project' | translate }}:</label>
        <span class="project-name">{{ baseline?.projectName }}</span>
      </div>
      <div class="message-item">
        <label>{{ 'proposer' | translate }}:</label>
        <span class="project-name">{{ baseline?.proposer }}</span>
      </div>
    </div>
    <p-footer>
      <div class="buttons-container" [class.buttons-container-responsive]="responsive">
        <button #buttonNo pButton class="no" [label]="'no' | translate" (click)="handleCancelEvaluate()"></button>
        <button pButton class="yes" [label]="'yes' | translate" (click)="submitEvaluate()"></button>
      </div>
    </p-footer>
  </p-dialog>
  <p-dialog
    [header]="'comment' | translate"
    [visible]="!!showCommentDialog"
    [style]="!responsive ? { width: '30vw' } : { width: '90vw' }"
    (onHide)="showCommentDialog = false"
  >
    <div class="comment-container">
      <textarea
        pInputTextarea
        class="app-text-area comment"
        rows="3"
        [disabled]="true"
      >
        {{ selectedComment }}
      </textarea>
    </div>
  </p-dialog>
  <div class="loading-container" *ngIf="isLoading">
    <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
  </div>
  <div class="loading-form-container" *ngIf="formIsSaving">
    <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
  </div>
</div>
