@use "src/variables" as v;

::ng-deep .app-baseline-view {
  width: 100%;
  position: relative;
  .header-container {
    display: flex;
    flex-direction: row;
  }

  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }

  .app-content-header-cancelation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    color: v.$fontRed;
    font-weight: bold;
    .fa-times {
      font-size: 1.5rem;
      margin-right: 0.5em;
    }
  }

  .main-panel-container {
    .app-card {
      background-color: v.$bgCard;
      width: 100%;
      margin: 0 auto;
      .p-panel {
        width: 100%;
        background-color: v.$bgCard;
        .p-panel-icons {
          align-self: flex-start;
        }
      }
      p-header.card-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-title-mobile {
          font-size: 0.75rem;
        }
      }
      .card-collapseble {
        cursor: pointer;
      }

      p-header.card-header-mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .p-panel .p-panel-header .p-panel-icons .p-panel-header-icon:focus {
        box-shadow: none !important;
      }
      .p-panel .p-panel-header .p-panel-icons .p-panel-header-icon:enabled:hover {
        background: transparent !important;
      }
      .p-panel .p-panel-header {
        background-color: v.$bgCard;
        border-color: v.$bgCard;
      }
      p-panel .p-toggleable-content {
        background-color: v.$bgCard;
        border-color: v.$bgCard;
      }
      .p-panel .p-toggleable-content .p-panel-content {
        background-color: v.$bgCard;
        border-color: v.$bgCard;
      }
      &.mobile {
        .p-panel .p-toggleable-content .p-panel-content {
          padding: 0 7.5px 7.5px 7.5px !important;
        }
        .p-panel-header {
          padding: 15px 7.5px !important;
        }
      }
      .panel-content {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding-bottom: 3em;
        width: 100%;
        .main-section {
          display: flex;
          flex-direction: column;
          flex: 1;
          border-right: solid 1px v.$borderLightGrey;
          padding-right: 4em;
          .baseline-description-container {
            .description-text {
              display: flex;
              flex-direction: column;
              padding-bottom: 1.5em;
              > label {
                font-family: v.$fontFamilyItalic;
                font-weight: 400;
                font-style: italic;
                font-size: 0.9rem;
                color: v.$fontLabel;
              }
              > span {
                padding-top: 5px;
                font-family: v.$fontFamilyRegular;
                font-weight: 400;
                font-style: normal;
                font-size: 1rem;
                color: v.$fontInput;
              }
            }
            .description-texts-container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              > .description-text {
                width: 50%;
              }
            }
          }
          .charts-container {
            margin-top: 3em;
            .subtitles-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-family: v.$fontFamilyBold;
              font-weight: 700;
              font-style: normal;
              font-size: 0.8rem;
              .subtitle-box-current {
                width: 2.5em;
                height: 0.9em;
                background-color: v.$fontLabel;
                border-radius: 3px;
                margin-right: 0.5em;
              }
              .subtitle-box-proposed {
                width: 2.5em;
                height: 0.9em;
                background-color: v.$fontBlue;
                border-radius: 3px;
                margin-right: 0.5em;
              }
              .subtitle-label-current {
                color: v.$fontLabel;
                margin-right: 1em;
              }
              .subtitle-label-proposed {
                color: v.$fontBlue;
              }
            }
            .charts {
              margin-top: 1.5em;
              padding-bottom: 0.5em;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              flex: 1;
              .card {
                width: 31%;
                min-height: 180px;
                padding: 0.5em;
                margin-right: 1.5em;
                background-color: v.$bgWhite;
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: v.$borderCard;
                border-radius: 5px;
                box-shadow: none;
                cursor: pointer;
                .header-card {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  .title-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: v.$fontFamilyBold;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 1rem;
                    color: v.$fontInput;
                    > i {
                      font-size: 1.5rem;
                    }
                    > span {
                      margin-left: 1em;
                    }
                  }
                  .variation {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: v.$fontFamilyBold;
                    font-weight: bold;
                    font-size: 0.8rem;
                  }
                  .negative-variation {
                    color: v.$fontRed;
                  }
                  .positive-variation {
                    color: v.$bgButtonGreen;
                  }
                }
                .content-card {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  padding-top: 1em;
                  .content-card-item {
                    display: flex;
                    flex-direction: column;
                    label {
                      align-self: flex-end;
                      justify-self: flex-end;
                      font-family: v.$fontFamilyBold;
                      font-weight: 700;
                      font-style: normal;
                      font-size: 12px;
                      color: v.$fontLabel;
                    }
                    .date-labels {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: space-between;
                      > label {
                        font-family: v.$fontFamilyBold;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 12px;
                        color: v.$fontLabel;
                      }
                    }
                    > div {
                      border-radius: 5px;
                    }
                    .progress-bar {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: center;
                      font-family: v.$fontFamilyBold;
                      font-weight: 700;
                      font-style: normal;
                      font-size: 0.8rem;
                      color: v.$bgWhite;
                    }
                  }
                  .proposed {
                    margin-top: 0.5em;
                    label {
                      color: v.$fontBlue !important;
                    }
                  }
                  .content-card-item-schedule {
                    align-self: flex-end;
                  }
                }
              }
            }
          }
          .details-panels {
            margin-top: 1em;
            padding: 0.5em 0.5em 2em 0.5em;
            background-color: v.$bgCardItem;
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: v.$borderLightGrey;
            border-radius: 5px;
            box-shadow: none;
            .details-panel-header {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding: 0.5em 0;
              > span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1rem;
                color: v.$fontInput;
                text-transform: uppercase;
              }
              > i {
                margin-right: 0.5em;
                font-size: 1.5rem;
                color: v.$iconLightGrey;
                cursor: pointer;
              }
            }
            .card-list-item {
              margin-bottom: 0.5em;
              .p-card {
                background-color:  v.$bgCard;
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: v.$borderCard;
                border-radius: 0;
                box-shadow: none;
                border-left: none;
                border-right: none;
                .p-card-body {
                  padding: 0.5em;
                  .p-card-content {
                    padding: 0;
                    .card-item-content {
                      width: 100%;
                      display: flex !important;
                      flex-direction: row !important;
                      align-items: center;
                      justify-content: space-between;
                    }
                  }
                }
              }
              .item-description {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
              .item-values {
                  width: 30%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  color: v.$fontTitle;
                  font-size: 15px;
                  font-family: v.$fontFamily;
                  > span {
                    width: 33%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                  }
                  .variation-container {
                    width: 33%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: 700;
                    font-family: v.$fontFamilyBold;
                    > i {
                      margin-right: 5px;
                    }
                  }
                  .negative-variation {
                    color: v.$fontRed;
                  }
                  .positive-variation {
                    color: v.$bgButtonGreen;
                  }
              }
              .item-values.header {
                font-weight: 700;
                font-family: v.$fontFamilyBold;
                .transparent-header {
                  color: transparent;
                }
              }
              .item-description-container {
                margin-left: 1em;
                display: flex;
                align-items: center;
                flex: 1;
                .item-description {
                  margin-left: 1em;
                  flex: 1;
                  font-family: v.$fontFamily;
                  font-weight: 400;
                  font-size: 15px;
                  color: v.$fontTitle;
                }
                .item-description.header {
                  margin-left: 0;
                  color: v.$fontTitle;
                  font-weight: 700;
                  font-size: 15px;
                  font-family: v.$fontFamilyBold;
                }
                .item-description.name {
                  margin-left: 2em;
                }
                .item-description-responsive {
                  font-size: 0.9rem;
                  margin-left: 0.5em;
                }

              }
              .item-description-container-responsive {
                margin-left: 0;

              }
            }
            .card-list-item.header .p-card {
              background-color: v.$bgWhiteLight;
            }
          }
        }
        .evaluations-section {
          display: flex;
          flex-direction: column;
          width: 30%;
          padding: 1.5em;
          .evaluation {
            .evaluation-header {
              font-family: v.$fontFamilyRegular;
              font-weight: 500;
              font-style: normal;
              font-size: 1rem;
              color: v.$fontTitle;
            }
            .evaluation-content {
              padding: 1em;
              margin-top: 0.5em;
              background-color: v.$bgWhite;
              border-radius: 4px;
              display: flex;
              flex-direction: column;
              > span {
                font-family: v.$fontFamilyItalic;
                font-weight: 400;
                font-style: italic;
                font-size: 14px;
                color: v.$fontLabel;
                padding-bottom: 5px;
              }
              > textarea {
                background-color: v.$bgWhite;
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: v.$bgButtonGreenHover;
                border-radius: 3px;
                box-shadow: none;
                font-family: v.$fontFamily;
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                color: v.$fontLabel;
              }
              .actions-buttons {
                padding: 0.5em 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .p-button {
                  width: 48%;
                  box-sizing: border-box;
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 5px;
                  box-shadow: none;
                  background-color: transparent;
                  .p-button-label {
                    font-family: v.$fontFamilySemiBold;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 14px;
                  }
                }
                .approve {
                  border-color: v.$bgButtonGreenHover;
                  color: v.$bgButtonGreen;
                }
                .approve:hover {
                  background-color: v.$bgButtonGreen;
                  color: v.$bgWhite;
                }
                .reject {
                  border-color: v.$iconRed;
                  color: v.$fontRed;
                }
                .reject:hover {
                  background-color: v.$fontRed;
                  color:  v.$bgWhite;
                }
              }
            }
          }
          .evaluations {
            .evaluations-header {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding-bottom: 1em;
              .title {
                font-family: v.$fontFamilyMedium;
                font-weight: 500;
                font-style: normal;
                font-size: 1rem;
                color: v.$fontTitle;
              }
              .baseline-status {
                font-family: v.$fontFamilyBold;
                font-weight: 700;
                font-style: normal;
                color: v.$fontLabel;
              }
              .rejected {
                color: v.$fontRed;
              }
              .approved {
                color: v.$bgButtonGreen;
              }
            }
            .card-list-item {
              margin-bottom: 0.5em;
              .p-card {
                background-color: v.$bgWhite;
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                border-color: v.$borderCard;
                border-radius: 5px;
                box-shadow: none;
                .p-card-body {
                  padding: 0.5em;
                  .p-card-content {
                    padding: 0;
                    .card-item-content {
                      width: 100%;
                      display: flex !important;
                      flex-direction: row !important;
                      align-items: center;
                      justify-content: space-between;
                    }
                  }
                }
              }
              .item-description {
                display: flex;
                flex-direction: row;
                align-items: center;
                .app-toggle {
                  margin-right: 1em;
                }
              }
              .item-description-container {
                margin-left: 1em;
                display: flex;
                align-items: center;
                flex: 1;
                .item-description {
                  margin-left: 1em;
                  flex: 1;
                }
                .item-description.name {
                  margin-left: 2em;
                }
                .item-description-responsive {
                  font-size: 0.9rem;
                  margin-left: 0.5em;
                }

              }
              .item-description-container-responsive {
                margin-left: 0;

              }
              .item-status {
                display: flex;
                flex-direction: row;
                align-items: center;
                .comment {
                  margin-right: 2em;
                  cursor: pointer;
                }
              }
              .item-status-responsive {
                font-size: 0.9rem;
                .comment {
                  margin-right: 1em;
                }
              }

            }
          }
        }
      }
      .panel-content-responsive {
        flex-direction: row;
        .main-section {
          padding-right: 0;
          width: 100%;
          border-right: none;
          .charts-container {
            .charts {
              flex-direction: column;
              .card {
                width: 100%;
                margin-bottom: 1em;
              }
            }
          }
          .details-panels {
            .card-list-item {
              .p-card .p-card-body .p-card-content {
                .card-item-content {
                  flex-direction: column !important;
                  align-items: flex-start;
                  .item-values {
                    padding-top: 1em;
                    width: 100%;
                    align-items: flex-start;
                    .item-value {
                      width: 33%;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      color: v.$fontTitle;
                      font-size: 15px;
                      font-family: v.$fontFamily;
                      > span {

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                      }

                      .header {
                        font-weight: 700;
                        font-family: v.$fontFamilyBold;
                      }
                    }
                    .variation-container {
                      width: 33%;
                      align-self: flex-end;
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: flex-end;
                      font-weight: 700;
                      font-family: v.$fontFamilyBold;
                      > i {
                        margin-right: 5px;
                      }
                    }
                    .negative-variation {
                      color: v.$fontRed;
                    }
                    .positive-variation {
                      color: v.$bgButtonGreen;
                    }

                  }
                }
              }
            }
          }
        }
        .evaluations-section {
          width: 100%;
          padding: 0.5em
        }


      }
    }
  }
  .comment-container {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1em;
    }
    .comment {
      font-size: 0.9rem;
    }
  }

  .p-dialog {
    .p-dialog-header {
      padding: 1em;
      background-color: v.$bgGray;
      font-weight: bold;
      .title {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        > i {
          font-size: 1.5rem;
          color: v.$iconAlert;
        }
        > span {
          margin-left: 1em;
        }
      }
      .title-responsive {
        align-items: center;
      }
    }
    .p-dialog-content {
      padding: 2em !important;
      .message {
        padding-bottom: 1.5em;
      }
      .message-item {
        padding-top: 0.5em;
        > label {
          font-weight: bold;
        }
        > span {
          margin-left: 5px;
        }
      }
    }
    .p-dialog-footer {
      .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        .p-button {
          width: 20%;
          box-sizing: border-box;
          border-width: 1px;
          border-style: solid;
          border-radius: 5px;
          box-shadow: none;
          background-color: transparent;
          .p-button-label {
            font-family: v.$fontFamilySemiBold;
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
          }
        }
        .yes {
          border-color: v.$bgButtonGreenHover;
          color: v.$bgButtonGreen;
        }
        .yes:hover {
          background-color: v.$bgButtonGreen;
          color: v.$fontWhite;
        }
        .no {
          border-color: v.$fontRed;
          color: v.$fontRed;
        }
        .no:hover {
          background-color: v.$fontRed;
          color: v.$fontWhite;
        }
      }
      .buttons-container-responsive {
        .p-button {
          width: 48%;
        }
      }
    }
  }

}
