<div class="app-step">
  <div class="app-content-header" [class.mobile]="responsive">
    <span *ngIf="this.idStep; else newStepTitle">{{ this.stepDetail?.periodFromStart | date: 'MMMM': 'UTC': currentLang
      }}</span>
    <ng-template #newStepTitle>
      <span>{{ "newMonth" | translate }}</span>
    </ng-template>
  </div>

  <div class="card-properties-step" *ngIf="cardStepProperties">
    <app-card [properties]="cardStepProperties" class="mt-0 inputs-float-label">
      <div class="p-grid">
        <form [formGroup]="formStep">
          <div class="p-formgroup-inline" [class.responsive]="responsive">
            <div class="p-field" [class.responsive]="responsive" *ngIf="(stepType === 'start' || !!onlyOneStep) || stepType === 'newStart'">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-start" class="app-select-date" showIcon="true" [minDate]="minStart"
                  [maxDate]="maxStart" [defaultDate]="start" formControlName="start" (onSelect)="showSaveButton = true"
                  [class.responsive]="responsive" icon="fas fa-calendar-alt" [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" for="float-start">{{ "start" | translate }}</label>
              </span>
            </div>
            <div class="p-field" [class.responsive]="responsive" *ngIf="(stepType === 'end' || !!onlyOneStep) || stepType === 'newEnd'">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-end" formControlName="end" class="app-select-date" showIcon="true" [readonly]="!!onlyOneStep"
                  [class.responsive]="responsive" icon="fas fa-calendar-alt" [minDate]="minEnd" [maxDate]="maxEnd"
                  [defaultDate]="end" (onSelect)="showSaveButton = true" [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" class="properties-label" for="float-end">{{ "finish" |
                  translate}}</label>
              </span>
            </div>
          </div>
          <div class="step-totals">
            <span class="totals-title">{{"totals" | translate}}</span>
            <div class="unitMeasureValues">
              <div class="p-formgroup-inline" [class.responsive]="responsive">
                <div class="p-field" [class.responsive]="responsive">
                  <span class="p-float-label" [class.responsive]="responsive">
                    <!-- <app-input-unit-measure [form]="formStep" controlName="plannedWork" (onInput)="handleChangeTotalsValues()"></app-input-unit-measure> -->
                    <p-inputNumber class="app-input-number" formControlName="plannedWork"
                      (change)="handleChangeTotalsValues()" [minFractionDigits]="unitPrecision"
                      [maxFractionDigits]="unitPrecision" [locale]="currentLang === 'pt-BR' ? 'pt-BR' : 'en-US'">
                    </p-inputNumber>
                    <label class="app-input-label">{{unitName}} {{ "planned" |translate }} * </label>
                  </span>
                </div>
                <div class="p-field" [class.responsive]="responsive">
                  <span class="p-float-label" [class.responsive]="responsive">
                    <!-- <app-input-unit-measure [form]="formStep" controlName="actualWork"
                      (onInput)="handleChangeTotalsValues()"></app-input-unit-measure> -->
                    <p-inputNumber class="app-input-number" formControlName="actualWork"
                      (change)="handleChangeTotalsValues()" [minFractionDigits]="unitPrecision"
                      [maxFractionDigits]="unitPrecision" [locale]="currentLang === 'pt-BR' ? 'pt-BR' : 'en-US'">
                    </p-inputNumber>
                    <label class="app-input-label" for="float-actual">{{unitName}} {{ "actual" |translate }}</label>
                  </span>
                </div>
              </div>
              <div class="cost-assignments-totals" [class.responsive]="responsive">
                <div class="planned-total">
                  <span class="label"> $ {{ "planned" |translate }}</span>
                  <span class="value">{{ costAssignmentsTotals.plannedTotal | number : '0.2' : currentLang }}</span>
                </div>
                <div class="actual-total">
                  <span class="label"> $ {{ "actual" |translate }}</span>
                  <span class="value">{{ costAssignmentsTotals.actualTotal | number : '0.2' : currentLang }}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-card>
    <div class="card-cost-assignments" *ngIf="cardCostAssignmentsProperties">
      <app-card [properties]="cardCostAssignmentsProperties">
        <div class="card-item-costs-container">
          <p-dataView [value]="costAssignmentsCardItems" layout="grid" styleClass="dataview-card-items-cost"
            [emptyMessage]="'loadingEllipsis' | translate">
            <ng-template let-cardItem pTemplate="gridItem">
              <div class="p-col-12 p-md-3 p-sm-12 card-item-container" [class.responsive]="responsive">
                <app-cost-assignment-card-item [properties]="cardItem" (costChanged)="handleChangeValuesCardItems()">
                </app-cost-assignment-card-item>
              </div>
            </ng-template>
          </p-dataView>
        </div>
        <div class="app-save-button-layout">
          <div class="app-save-button-wrapper" *ngIf="showSaveButton" @enterLeave>
            <span class="button-label" (click)="saveStep()">{{ 'save' | translate }}</span>
          </div>
        </div>
      </app-card>
    </div>
  </div>