<div class="app-preproject-form">
  <div class="preproject-form-header">
    <span>{{ 'newPreproject' | translate }}</span>
    <app-config-data-view-panel></app-config-data-view-panel>
  </div>

  <app-card [properties]="cardProperties" class="mt-0 inputs-float-label">
    <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
    <app-tabview-scrolled [tabs]="tabs" [contextVersion]="tabsVersion" (selectedTabChange)="changeTab($event)">
      <div tabviewBody *ngIf="selectedTab?.key === 'properties'">
        <form [formGroup]="form">
          <div class="p-fluid">
            <div class="p-field">
              <label class="app-input-label" for="preproject-name">{{ 'name' | translate }} *</label>
              <input id="preproject-name" class="app-input-text" pInputText type="text" formControlName="name" />
              <app-input-message [form]="form" field="name"></app-input-message>
            </div>

            <div class="p-field">
              <label class="app-input-label" for="preproject-full-name">{{ 'fullName' | translate }} *</label>
              <input id="preproject-full-name" class="app-input-text" pInputText type="text" formControlName="fullName" />
              <app-input-message [form]="form" field="fullName"></app-input-message>
            </div>

            <div class="p-field">
              <label class="app-input-label" for="preproject-organization">{{ 'organization' | translate }}</label>
              <p-dropdown id="preproject-organization" class="app-single-selection" formControlName="organization" [options]="[]"
                dropdownIcon="fas fa-caret-down"></p-dropdown>
            </div>

            <div class="p-field">
              <label class="app-input-label" for="preproject-expected-completion">{{ 'expectedCompletion' | translate }}</label>
              <p-calendar id="preproject-expected-completion" class="app-select-date" formControlName="expectedCompletion"
                [showIcon]="true" icon="fas fa-calendar-alt"></p-calendar>
            </div>

            <section class="preproject-deliveries">
              <div class="preproject-section-title">{{ 'expectedDeliveries' | translate }}</div>
              <p-dataView [value]="deliveryCardItems" layout="grid" class="app-dataview preproject-delivery-list"
                *ngIf="displayModeAll !== 'list'">
                <ng-template let-cardItem pTemplate="gridItem">
                  <div class="p-col-12 p-sm-12 p-md-4 p-lg-3 delivery-card-container">
                    <app-editable-card-item *ngIf="cardItem.typeCardItem === 'listItem'"
                      [form]="getDeliveryForm(cardItem.deliveryIndex)" [fields]="editableDeliveryFields"
                      [menuItems]="cardItem.menuItems || []" [itemId]="cardItem.displayItemId"
                      [uniqueId]="cardItem.deliveryIndex" displayMode="grid">
                    </app-editable-card-item>
                    <app-editable-card-item *ngIf="cardItem.typeCardItem === 'newCardItem'" [newItem]="true"
                      [newItemIcon]="cardItem.icon || 'plus'" displayMode="grid" (newItemClick)="addDelivery()">
                    </app-editable-card-item>
                  </div>
                </ng-template>
              </p-dataView>
              <p-dataView [value]="deliveryCardItems" layout="list" class="app-dataview app-dataview-list preproject-delivery-list"
                *ngIf="displayModeAll === 'list'">
                <ng-template let-cardItem pTemplate="listItem">
                  <div class="p-col-12">
                    <app-editable-card-item *ngIf="cardItem.typeCardItem === 'listItem'"
                      [form]="getDeliveryForm(cardItem.deliveryIndex)" [fields]="editableDeliveryFields"
                      [menuItems]="cardItem.menuItems || []" [itemId]="cardItem.displayItemId"
                      [uniqueId]="cardItem.deliveryIndex" displayMode="list">
                    </app-editable-card-item>
                    <app-editable-card-item *ngIf="cardItem.typeCardItem === 'newCardItem'" [newItem]="true"
                      [newItemIcon]="cardItem.icon || 'plus'" displayMode="list" (newItemClick)="addDelivery()">
                    </app-editable-card-item>
                  </div>
                </ng-template>
              </p-dataView>
            </section>
          </div>
        </form>
      </div>

      <div tabviewBody *ngIf="selectedCriteriaGuide" class="preproject-criteria-tab">
        <app-preproject-criteria-guide
          [guide]="selectedCriteriaGuide"
          [displayMode]="displayModeAll"
          (changed)="form.markAsDirty()"
          (listAddRequested)="requestListPropertyItem($event)">
        </app-preproject-criteria-guide>
      </div>

      <div tabviewBody *ngIf="selectedTab?.key === 'evaluation'" class="preproject-evaluation-tab">
        <span class="evaluation-label">{{ 'operation' | translate }}</span>
        <span class="evaluation-value">{{ evaluationOperationTranslationKey | translate }}</span>
      </div>
    </app-tabview-scrolled>

    <app-buttons-container>
      <app-save-button [form]="form" (save)="save()"></app-save-button>
      <app-cancel-button [form]="form" (cancel)="back()"></app-cancel-button>
    </app-buttons-container>
  </app-card>
</div>
