<div class="app-office">
    <div class="card-container">
      <app-card [properties]="cardProperties">
        <p-dataView
          [value]="cardItemsProperties"
          layout="grid" [rows]="1"
          class="dataview-offices"
          [emptyMessage]="'loadingEllipsis' | translate"
        >
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="card-item-container" [ngStyle]="{'padding': '10px 15px'}">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
      </p-dataView>
      </app-card>
    </div>
  </div>
