.app-office{
    width: 100%;

    ::ng-deep .dataview-offices {
      position: static !important;
      .p-dataview {
        position: static !important;
      }
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
    }
  }
