@use "src/variables" as v;

::ng-deep .app-office-list-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .app-office-list {
    width: 100%;
    .office-list-items-container {
      position: relative;
      min-height: 150px;
    }
  }
  .user-cookies-confirmation {
    width: 40%;
    position: fixed;
    bottom: 100px;
    box-shadow: 0 -1px 3px #eaf0f6;
    background-color: v.$bgCardItem;
    height: auto;
    z-index: 100000000 !important;
    color: v.$fontDarkLight;
    font-size: 14px;
    padding: 1em;
    border-radius: 5px;
    .cookies-buttons-actions {
      width: 100%;
      text-align: right;
      .accept-button {
        margin-right: 0.5em;
        .p-button {
          background-color: v.$fontGray;
          border-color: v.$fontGray;
        }
      }
      .decline-button {
        .p-button {
          color: v.$fontGray;
          background-color: v.$bgWhite;
          border-color: v.$fontGray;
        }
      }
    }
  }
  .user-cookies-confirmation.responsive {
    width: 100%;
    background-color: v.$bgButtonGreen;
    color: v.$fontWhite;
    left: 0;
    .cookies-buttons-actions {
      width: 100%;
      text-align: center;
    }
  }
}


