<div class="app-office">
    <div class="card-container">
      <app-card [properties]="cardProperties" class="mt-0">
        <p-dataView
          [value]="cardItemsProperties"
          layout="grid" [rows]="1"
          class="app-dataview"
          [emptyMessage]="(!cardItemsProperties ? 'loadingEllipsis' : 'noContent') | translate"
        >
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
      </p-dataView>
      </app-card>
    </div>
  </div>
