<div class="app-locality">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span *ngIf="propertiesLocality">{{ propertiesLocality?.name}} </span>
      <span *ngIf="!propertiesLocality">{{'new' | translate}} {{'locality' | translate}}</span>
    </div>
    <app-config-data-view-panel>
    </app-config-data-view-panel>
  </div>
  <div class="card-properties" *ngIf="cardProperties">
    <app-card [properties]="cardProperties" class="mt-0 inputs-float-label">
      <div>
        <form [formGroup]="formLocality">
          <span class="p-float-label">
            <input formControlName="name" type="text" pInputText class="app-input-text" [class.mobile]="responsive"
              [class.desktop]="!responsive" (input)="mirrorNameToFullname()">
            <label for="float-input" class="app-input-label">{{'name' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formLocality" field="name"></app-input-message>
          <span class="p-float-label">
            <textarea pInputTextarea formControlName="fullName" class="app-text-area" rows="1">
              </textarea>
            <label for="float-input" class="app-input-label">{{'fullName' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formLocality" field="fullName"></app-input-message>
          <div class="p-grid">
            <span class="p-col-12 p-md-6 p-lg-3 p-float-label">
              <input formControlName="latitude" type="text" pInputText pKeyFilter="num" class="app-input-text"
                [class.mobile]="responsive" [class.desktop]="!responsive">
              <label for="float-input" class="app-input-label">GPS Latitude</label>
            </span>
            <span class="p-col-12 p-md-6 p-lg-3 p-float-label">
              <input formControlName="longitude" type="text" pInputText pKeyFilter="num" class="app-input-text"
                [class.mobile]="responsive" [class.desktop]="!responsive">
              <label for="float-input" class="app-input-label">GPS Longitude</label>
            </span>
          </div>
        </form>
      </div>
    </app-card>
  </div>
  <section *ngIf="propertiesLocality" class="localities-cards-section">
    <div class="card-localities" *ngIf="cardLocalities">
      <app-card [properties]="cardLocalities" (editFilter)="handleEditFilter($event)" (newFilter)="handleNewFilter()" (searchText)="handleSearchText($event)"
        (selectedFilter)="handleSelectedFilter($event)" (createNewElement)="createNewLocality()">
        <div class="loading-container" *ngIf="isLoading">
          <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
        </div>
        <p-dataView [value]="cardItemsChildrenLocalities" layout="grid" class="app-dataview"
            *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !isLoading"
            [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
            [totalRecords]="totalRecords" [emptyMessage]="'loadingEllipsis' | translate">
            <ng-template let-cardItem pTemplate="gridItem">
              <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
                <app-card-item [properties]="cardItem"></app-card-item>
              </div>
            </ng-template>
          </p-dataView>
          <p-dataView [value]="cardItemsChildrenLocalities" layout="list" class="app-dataview app-dataview-list"
            *ngIf="(displayModeAll === 'list' && !responsive) && !isLoading" [paginator]="true" [rows]="pageSize"
            [showJumpToPageDropdown]="true" [showPageLinks]="false" [totalRecords]="totalRecords"
            [emptyMessage]="'loadingEllipsis' | translate">
            <ng-template let-cardItem pTemplate="listItem">
              <div class="p-col-12">
                <app-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-card-item>
              </div>
            </ng-template>
          </p-dataView>
      </app-card>
    </div>
  </section>
  <div class="id-container" *ngIf="idLocality && cardProperties">
    <span>{{idLocality}}</span>
  </div>
  <app-save-button [form]="formLocality" (save)="handleOnSubmit()"></app-save-button>
</div>