<p-panel
  class="app-card"
  expandIcon="pi pi-angle-down"
  collapseIcon="pi pi-angle-up"
  #cardPanel
  [toggleable]="!properties?.fullScreen && properties?.collapseble && (!properties.toggleable || properties.initialStateToggle && properties.toggleable)"
  [collapsed]="properties.initialStateCollapse || !(!properties.toggleable || (properties.toggleable && properties.initialStateToggle))"
  [class.mobile]="responsive"
  (collapsedChange)="handleCollapsed($event)"
>
  <p-header class="card-header d-flex flex-column w-100 justify-content-center align-items-start" [class.card-header-mobile]="responsive">
    <div class="d-flex flex-row col-12">
      <div class="header-title d-flex col-6" (click)="properties.collapseble && handleCollapsed()"
        [class.card-collapseble]="properties.collapseble">
        <div class="header-title-text">
          <span class="card-title" [class.card-title-mobile]="responsive" *ngIf="properties.cardTitle">{{
            properties.notShowCardTitle ? '' : (properties.cardTitle | translate) }}</span>
          <p-inputSwitch class="app-toggle" *ngIf="properties.toggleable" [(ngModel)]="properties.initialStateToggle"
            (ngModelChange)="properties.onToggle?.emit($event)">
          </p-inputSwitch>
          <label class="label-toggle" *ngIf="properties.toggleLabel">{{properties.toggleLabel|translate}}</label>
        </div>
        <div class="header-title-dates" *ngIf="properties.headerDates">
          <span class="start-date">{{language === 'pt-BR' ? (properties.headerDates?.startDate|date:'dd/MM/yyyy') :
            (properties.headerDates?.startDate|date:'yyyy/MM/dd')}}</span>
          <i class="fas fa-caret-right"></i>
          <span class="end-date">{{language === 'pt-BR' ? (properties.headerDates?.endDate|date:'dd/MM/yyyy') :
            (properties.headerDates?.endDate|date:'yyyy/MM/dd')}}</span>
        </div>
      </div>

      <div class="d-flex col-6 justify-content-end">
        <div
          *ngIf="!properties.initialStateCollapse && properties.showFilters"
          class="header-title-check-completed dataview-filters-text d-flex col-4 justify-content-end"
        >
          <input
            pInputText
            class="app-input-text"
            [id]="'id-app-inputtext' + properties.cardTitle"
            [class.animation-input]="showAnimationSearch"
            [(ngModel)]="properties.searchTerm"
            [placeholder]="translateSrv.instant('search')"
          />
          <i class="fas fa-search"
            *ngIf="!showAnimationSearch"
            [class.animation-input]="showAnimationSearch"
            [class.no-animation]="!showAnimationSearch"
            (click)="showAnimationSearch = true"
          >
          </i>

          <i class="fas fa-search"
            *ngIf="showAnimationSearch"
            [class.animation-input]="showAnimationSearch"
            [class.no-animation]="!showAnimationSearch"
            (click)="handleSearchText()"
          >
          </i>
        </div>

        <div class="header-title-check-completed d-flex col-4 justify-content-end" [class.mr-0]="!properties.initialStateCollapse && !properties.collapseble"
          *ngIf="!properties.initialStateCollapse && properties.showFullScreen && !properties.fullScreen"
          [class.responsive]="responsive">
          <i class="fas fa-expand-arrows-alt" (click)="handleChangeFullScreen(true)"></i>
        </div>

        <div class="header-title-check-completed d-flex col-4 justify-content-end" [class.responsive]="responsive" *ngIf="!!properties.showCheckCompleted">
          <label>{{ label | translate }}</label>
          <p-checkbox [(ngModel)]="properties.workpackCompleted" [binary]="true"
            [disabled]="properties.workpackCanceled || !canEditCheckCompleted"
            (ngModelChange)="handleChangeCheckCompleted($event)"></p-checkbox>
        </div>

        <div class="header-values-cost-account" *ngIf="properties.progressBarValues" [class.not-collapseble]="!properties.collapseble" [class.responsive]="responsive">
          <div
            *ngFor="let progressBar of properties.progressBarValues"
            class="progress-bar-cost-container"
          >
            <app-progress-bar
              [total]="progressBar.total"
              [class.progress-bar-mobile]="responsive"
              [progress]="progressBar.progress"
              [labelTotal]="progressBar.labelTotal"
              [labelProgress]="progressBar.labelProgress"
              [valueUnit]="progressBar.valueUnit"
              [baselineTotal]="progressBar.baselinePlanned"
              [color]="progressBar.color"
              [startDateBaseline]="progressBar.startDateBaseline"
              [startDateTotal]="progressBar.startDateTotal"
              [endDateBaseline]="progressBar.endDateBaseline"
              [endDateTotal]="progressBar.endDateTotal"
              [barHeight]="progressBar.barHeight"
              [displayWhenTotalIsZero]="displayProgressBarIfTotalIsZero"
              [displayFilledBarsWhenTotalIsZero]="displayFilledBarsWhenTotalIsZero"
            >
            </app-progress-bar>
          </div>
        </div>
      </div>
    </div>

    <div class="header-title-check-completed" *ngIf="properties.showFullScreen && properties.fullScreen"
      [class.responsive]="responsive">
      <i class="fas fa-times" (click)="handleChangeFullScreen(false)"></i>
    </div>

    <div class="dataview-filters-container" *ngIf="properties.showFilters || properties.showCreateNemElementButton">
      <div class="dataview-filters" *ngIf="!properties.initialStateCollapse && properties.showFilters">
        <label>{{'show'|translate}}</label>
        <div class="options-container d-flex flex-row justify-content-between align-items-center">
          <div class="d-flex col-8">
            <p-dropdown class="filter-selection" [disabled]="loading" [options]="filterListOptions" dropdownIcon="fas fa-caret-down"
              scrollHeight="300px" [(ngModel)]="properties.idFilterSelected">
              <ng-template let-filter pTemplate="item">
                <div class="filter-item" *ngIf="filter.value !== -1">
                  <div class="filter-item-label" (click)="handleFilterSelected(filter.value)">{{filter.label}}</div>
                  <i class="fas fa-pencil-alt" (click)="handleFilterEdit(filter.value)" *ngIf="filter.value !== null"></i>
                </div>
                <div class="divider" *ngIf="filter.label === 'divider'">
                  <div class="divider-new-filter">
                    <p-divider></p-divider>
                  </div>
                </div>
                <div class="new-filter" *ngIf="filter.value === -1 && filter.label !== 'divider'"
                  (onClick)="handleNewFilter()">
                  <div class="label-new-filter" (click)="handleNewFilter()">{{filter.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="d-flex col-2 justify-content-center ms-4">
            <div class="new-element-button-container"
              *ngIf="!properties.initialStateCollapse && properties.showCreateNemElementButton"
              [class.card-link]="!properties.createNewElementMenuItems"
              (click)="!properties.createNewElementMenuItems && handleCreateNewElement()"
            >
              <i
                class="app-icon plus"
                [class.icon-link]="properties.createNewElementMenuItems"
                (click)=" properties.createNewElementMenuItems ? menuIcon.toggle($event) : ''"
              >
              </i>
              <p-menu #menuIcon [popup]="true" [model]="properties.createNewElementMenuItems"></p-menu>
            </div>

            <div
              class="new-element-button-container card-link d-flex col-2"
              *ngIf="!properties.initialStateCollapse && properties.showCreateNemElementButtonWorkpack"
            >
              <i
                #newItemIcon
                class="app-icon plus" 
                (click)="
                  enable && properties.createNewElementMenuItemsWorkpack && properties.createNewElementMenuItemsWorkpack.length > 0 && menuIconWorkpack.toggle($event);
                  enable && (!properties.createNewElementMenuItemsWorkpack || properties.createNewElementMenuItemsWorkpack.length === 0) && handleLoadMenu()
                "
                [class.icon-link]="properties.createNewElementMenuItems"
              >
              </i>
              <p-slideMenu
                #menuIconWorkpack
                [showTransitionOptions]="'0ms'"
                [hideTransitionOptions]="'0ms'"
                [backLabel]="'back'|translate"
                [model]="properties.createNewElementMenuItemsWorkpack"
                [popup]="true"
              >
              </p-slideMenu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="expanded-buttons-container"  *ngIf="showExpandedCollapseButtons">
      <div class="button-container">
        <i class="fas fa-angle-double-down" [pTooltip]="'expandAllGroups'|translate" [class.selected]="!collapsed"
          (click)="collapsed = false; collapseAllPropertiesGroups.next(false)"></i>
      </div>
      <div class="button-container">
        <i class="fas fa-angle-double-up"[class.selected]="collapsed" [pTooltip]="'collapseAllGroups'|translate" 
          (click)="collapsed = true; collapseAllPropertiesGroups.next(true)"></i>
      </div>
    </div>
  </p-header>
  <ng-content></ng-content>
</p-panel>
