@use "src/variables" as v;

::ng-deep .app-card {
  background-color: v.$bgCard;
  width: 100%;
  margin: 0 auto;
  .p-panel {
    width: 100%;
    background-color: v.$bgCard;
    .p-panel-icons {
      align-self: flex-start;
    }
  }
  .expanded-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: transparent;
    color: #495057;
    padding: 0.5rem;
    border-radius: 3px;

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: none;
      color: #959595;
      margin-left: 0.5em;
      font-size: 1.2rem;
      cursor: pointer;
      padding-top: 3px;
    }
    .selected {
      border-color: rgba(68, 179, 155, 1);
      color: #44B39B;
    }
  }
  p-header.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
      display: flex;
      flex-direction: column;
      flex: 1;
      .header-title-text {
        display: flex;
        align-items: center;
        .label-toggle {
          margin-left: 0.5em;
          font-size: 0.9rem;
        }
        .app-toggle {
          margin-left: 0.5rem;
        }
      }
    }
    .header-title-dates {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .start-date, .end-date {
        color: v.$fontTitle;
        font-family: v.$fontFamily;
        font-size: 0.9rem;
        margin-right: 5px;
      }
      i {
        font-size: 0.8rem;
        color: v.$fontTitle;
        margin-right: 5px;
      }
    }

    .card-title {
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .card-title-mobile {
      font-size: 0.75rem;
    }
    .header-title-check-completed {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 2em;
      position: relative;

      label {
        font-size: 0.9rem;
        margin-right: 5px;
      }
      .p-checkbox .p-checkbox-box.p-highlight {
        border-color: #2196F3;
        background: #fff;
      }
      .p-checkbox .p-checkbox-box .p-checkbox-icon {
        transition-duration: 0.2s;
        color: #2196F3;
        font-size: 0.9rem;
        font-weight: bold;
      }
      i {
        cursor: pointer;
        position: absolute;
        
        @media screen and (max-width: 970px) {
          bottom: 0px;
        }
      }
      &.mr-0 {
        margin-right: 0 !important;
      }
    }
    .header-title-check-completed.responsive {
      flex: 1;
      justify-content: flex-end;
      align-self: flex-end;
      margin-right: 5px;
      label {
        font-size: 0.8rem;
      }
    }
    .header-values-cost-account {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      width: 50%;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
      font-size: 0.9rem;
      text-transform: uppercase;
      padding-right: 2em;
      .progress-bar-cost-container {
        width: 30%;
        margin-right: 10px;
        margin-left: 25px;
      }
      &.not-collapseble {
        padding-right: 0;
        .progress-bar-cost-container {
          margin-right: 0;
        }
      }
    }
    .header-values-cost-account.responsive {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 0;
    }
    .dataview-filters-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      //width: 40%;
      .dataview-filters-text {
        margin-right: 2em;
        width: 11rem;
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .app-input-text.p-inputtext {
          font-size: 0.8rem !important;
          width: 0 !important;
          border-bottom: none !important;
          transition: width .3s;
          &.animation-input {
            width: 100% !important;
            border-bottom: 1px solid #b6c8cd !important;
          }
        }
        .fa-search {
          position: absolute;
          cursor: pointer;
          transition: all .3s;

          &.no-animation {
            padding: 0.45rem;
            background: #44B39B;
            color: #FFF;
            top: 0;
            border-radius: 4px;
          }
          &.animation-input {
            top: .4rem;
            padding: 0;
            font-size: 0.9rem;
          }
        }
        .fa-close {
          position: absolute;
          cursor: pointer;
          transition: all 0.3s;
          font-size: .6rem;
          top: 0.7rem;
          padding: 0;
          &.no-animation { left: 92%; }
          &.animation-input {
            left: 80%;
            &:hover {
              font-size: .8rem;
            }
          }
        }
      }
      .dataview-filters {
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        .options-container {
          width: 90%;
          margin-left: 1em;
        }
        label {
          font-size: 0.8rem;
        }
        .filter-selection {
          .p-dropdown {
            background-color: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid v.$borderInput;
            width: 100%;
          }
          .p-dropdown:not(.p-disabled).p-focus {
            box-shadow: none;
            border: none;
            border-bottom: 1px solid v.$borderInput;
          }
          .p-dropdown:hover {
            border: none;
            border-bottom: 1px solid v.$borderInputHover !important;
          }
          .p-dropdown .p-inputtext {
            color: v.$fontInput;
            font-size: 0.8rem;
            font-family: v.$fontFamilyMedium;
            padding-left: 0;
          }
          .p-dropdown-panel .p-dropdown-items {
            font-size: 1rem;
            font-family: v.$fontFamilyMedium;
            color: v.$fontInput;
            .p-dropdown-item.p-highlight {
              background-color: v.$bgCard;
              color: v.$fontInput;
            }
          }
          .p-dropdown-trigger {
            justify-content: flex-end;
          }
          .p-dropdown-trigger-icon {
            color: #004660;
            font-size: 1.2rem;
          }
          .filter-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .filter-item-label {
              flex: 1;
              font-size: 0.8rem;
            }
            > i {
              margin-left: 5px;
            }
          }
          .new-filter {
            display: flex;
            flex: 1;
            justify-content: center;
            .label-new-filter {
              flex: 1;
              text-align: center;
              color: #979797;
              font-size: 0.8rem;
            }
          }
        }
      }
      .new-element-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 38px;
        border: 1px solid  rgba(212, 212, 212, 0.5);
        margin-right: 1.5em;
        .plus {
          color: #d4d4d4;
          font-size: 1.3rem;
        }
        .icon-link {
          cursor: pointer;
        }
      }
      .card-link {
        cursor: pointer;
      }
    }

  }

  .card-collapseble {
    cursor: pointer;
  }

  p-header.card-header-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .header-values-cost-account {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
      font-size: 1rem;
      text-transform: uppercase;
      .progress-bar-cost-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1em;
        .progress-bar-mobile {
          width: 100%;
        }
      }
    }
    .dataview-filters-container {
      width: 100%;
      flex-direction: column;
      .dataview-filters-text {
        margin-top: 0.5em;
        margin-right: 0;
        .p-inputtext {
          width: 100% !important;
        }
      }
      .new-element-button-container {
        margin-right: 0 !important;
        margin-top: 0.5em;
      }
    }
    .dataview-filters {
      margin-right: 0 !important;
      margin-top: 1rem;
      width: 100%;
      flex-direction: column !important;
      align-items: flex-start !important;
      label {
        font-size: 13px;
      }
      .options-container {
        margin-left: 0 !important;
        width: 100% !important;
      }
      .filter-selection {
        width: 100%;
        .p-dropdown {
          width: 100%;
        }
        .p-dropdown .p-inputtext {
          font-size: 0.9rem;
        }
        .p-dropdown-panel .p-dropdown-items {
          font-size: 0.9rem;
        }
      }
    }

  }
  .p-panel .p-panel-header .p-panel-icons .p-panel-header-icon:focus {
    box-shadow: none !important;
  }
  .p-panel .p-panel-header .p-panel-icons .p-panel-header-icon:enabled:hover {
    background: transparent !important;
  }
  .p-panel .p-panel-header {
    background-color: v.$bgCard;
    border-color: v.$bgCard;
  }
  p-panel .p-toggleable-content {
    background-color: v.$bgCard;
    border-color: v.$bgCard;
  }
  .p-panel .p-toggleable-content .p-panel-content {
    background-color: v.$bgCard;
    border-color: v.$bgCard;
  }
  &.mobile {
    .p-panel .p-toggleable-content .p-panel-content {
      padding: 0 7.5px 7.5px 7.5px !important;
    }
    .p-panel-header {
      padding: 15px 7.5px !important;
    }
  }

  @media (max-width: 990px) {
    .dataview-filters-container {
      width: 100% !important;
      .dataview-filters-text {
        width: 100% !important;
      }
    }
  }
}
