@use "src/variables" as v;

::ng-deep .app-person {
  ::ng-deep .card-properties {
    .p-panel-toggleable {
      position: relative;
    }
  }
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }
  .card-container {
    .content {
      display: flex;
      flex-direction: row;
      .container-left-info {
        border-right: 1px solid v.$borderLightGrey;
        padding-left: 1rem;
        padding-right: 2.5rem;
        margin-right: 2.5rem;
        width: 22%;
        .name {
          font-weight: 500;
          font-size: 0.9rem;
        }
        .form {
          margin-top: 2rem;
            .app-input-text {
              width: 100%;
              &:read-only {
                border: none !important;
              }
            }
        }
      }
      .container-right-info {
        width: 76%;
        .section {
          .subtitle {
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 1.7rem;
            color: v.$fontTitle;
          }
          .section-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .remove-permission {
              display: flex;
              justify-content: flex-end;
              .p-button {
                background-color: v.$fontRed;
                border: none;
                font-size: 0.8rem;
              }
            }
          }
          .form {
            .property-input-text, .property-input{
              padding-left: 0 !important;
            }
            .app-text-area.p-inputtextarea {
              width: 65%;
            }
          }
          .container-permission {
            display: flex;
            margin-bottom: 1.8rem;
            .permission {
              display: flex;
              flex-direction: column;
              margin-right: 1.4rem;
              .label {
                color: v.$fontLabel;
                font-style: italic;
                font-size: 14px;
                margin-bottom: 0.4rem;
                font-weight: 400;
              }
              .value {
                color: v.$fontInput;
                font-size: 16px;
                font-weight: 400;
              }
            }
            .button-change {
              .p-button {
                display: flex;
                flex-direction: column;
                background-color: v.$bgButtonGreen;
                border: none;
                font-size: 0.8rem;
              }
            }
          }
          .card-plan-container {
            .app-card p-header.card-header .card-title {
              text-transform: none;
            }
            .app-card .p-panel {
              margin-bottom: 2rem;
              background-color: v.$bgCard;
              box-sizing: border-box;
              border-width: 1px;
              border-style: solid;
              border-color:  v.$borderLightGrey;
              border-radius: 5px;
            }
            .app-card .p-panel .p-panel-header {
              background-color: transparent;
              border: none;
            }
            .app-card .p-panel .p-panel-content {
              background-color: transparent;
            }
            .app-card .p-panel .p-toggleable-content {
              background-color: v.$bgCard;
            }
            .app-card-item .p-card {
              background-color: v.$bgCard;
              box-sizing: border-box;
              border-width: 1px;
              border-style: solid;
              border-color:  v.$borderLightGrey;
              border-radius: 5px;
            }
          }
          
        }
      }
    }
  }
}

.custom-small-padding {
  padding: 4px !important;
}
