<div class="app-person">
  <div class="header-container">
    <div class="app-content-header" [class.mobile]="responsive">
      <span>{{propertiesPerson?.name}}</span>
    </div>
  </div>
  <div class="card-container">
    <app-card [properties]="cardProperties" class="mt-0">
      <div class="loading-form-container" *ngIf="formIsSaving">
        <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
      </div>
      <div class="loading-container" *ngIf="isLoading && !formIsSaving">
        <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
      </div>
      <div class="content" *ngIf="!isLoading">
        <div class="container-left-info">
          <app-avatar [edit]="true" [idPerson]="idPerson" (changeAvatar)="handleChangeAvatar($event)" [avatar]="propertiesPerson?.avatar"
            (deleteAvatar)="handleDeleteAvatar()"></app-avatar>

          <span class="name" *ngIf="propertiesPerson?.isUser && !loading">{{propertiesPerson?.fullName}}</span>
          <form [formGroup]="formPerson" class="form" *ngIf="!loading">
            <span class="name" *ngIf="!propertiesPerson?.isUser">
              <span class="p-float-label property-input p-field">
                <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                  formControlName="fullName">
                <label class="app-input-label">{{ 'fullName' | translate }} </label>
              </span>
            </span>
            <span class="p-float-label property-input p-field">
              <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                formControlName="name">
              <label class="app-input-label">{{ 'messages.labelNameProfile' | translate }}
                <i class="far fa-question-circle" [pTooltip]="'help.person.howDoYouWantYourNameDisplayed' | translate"></i>
              </label>
            </span>
            <span class="p-float-label property-input p-field" *ngIf="propertiesPerson?.email">
              <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                formControlName="email" [readOnly]="true">
              <label class="app-input-label">{{ 'accessEmail' | translate }}
                <i class="far fa-question-circle" [pTooltip]="'help.person.accessEmail' | translate"></i>
              </label>
            </span>
          </form>
        </div>
        <div class="container-right-info">
          <div *ngIf="!!loading" class="loading-container">
            <app-card-loading [isCardLoading]="loading"></app-card-loading>
          </div>
          <section class="section" *ngIf="!loading">
            <span class="subtitle">{{'contactInformation' | translate}}</span>
            <form [formGroup]="formPerson" class="form">
              <div class="p-fluid p-formgroup p-grid">
                <span class="p-float-label property-input-text p-field p-col-12 p-md-4">
                  <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                    formControlName="contactEmail">
                  <label class="app-input-label">{{ 'email' | translate }}
                    <i class="far fa-question-circle" [pTooltip]="'help.person.contactEmail' | translate"></i>
                  </label>
                </span>
                <span class="p-float-label left property-input p-field p-col-12 p-md-2">
                  <input pInputText class="app-input-text" formControlName="phoneNumber" [class.responsive]="responsive"
                    (blur)="setPhoneNumberMask()" [placeholder]="phoneNumberPlaceholder"
                    (focus)="setPhoneNumberPlaceholder()" (input)="setPhoneNumberPlaceholder()" />
                  <label class="app-input-label">{{ 'phone' | translate }}
                    <i class="far fa-question-circle" [pTooltip]="'help.person.phoneNumber' | translate"></i>
                  </label>
                </span>
              </div>
              <span class="p-float-label property-input p-field">
                <textarea pInputTextarea class="app-text-area" [class.responsive]="responsive" formControlName="address"
                  [rows]="1"></textarea>
                <label class="app-input-label">{{ 'address' | translate }}
                  <i class="far fa-question-circle" [pTooltip]="'help.person.address' | translate"></i>
                </label>
              </span>
            </form>
          </section>
          <section class="section" *ngIf="!loading">
            <div class="section-header">
              <h3 class="subtitle">{{'rolesPermissions' | translate}}</h3>
              <div class="remove-permission" *ngIf="propertiesPerson?.isUser">
                <button pButton icon="pi pi-times" iconPos="right" [label]="'labels.RemoveAllPermissions' | translate"
                  (click)="handleDeleteAllPermissions($event)">
                </button>
              </div>
            </div>
            <div class="container-permission">
              <div class="permission">
                <span class="label" *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.accessLevel)">
                  {{'officePermission' | translate}}</span>
                <span class="value"
                  *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.accessLevel)">{{propertiesPerson?.officePermission?.accessLevel
                  | translate}}</span>
              </div>
              <div class="button-change"
                *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.accessLevel)">
                <button pButton [label]="'change' | translate"
                  (click)="navigateToPage('offices/permission/detail', this.propertiesPerson.key, this.idOffice)">
                  <i class="fas fa-share"></i>
                </button>
              </div>
            </div>

            <ng-container *ngFor="let cardPlan of cardsPlans; let i = index">
              <div class="card-plan-container">
                <app-card [properties]="cardPlan" class="mt-0" class="panel-plan">
                  <div class="container-permission">
                    <div class="permission">
                      <span class="label"
                        *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.planPermissions[i].accessLevel)">
                        {{'planPermission' | translate}}</span>
                      <span class="value"
                        *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.planPermissions[i].accessLevel)">
                        {{propertiesPerson?.officePermission?.planPermissions[i].accessLevel |translate}}</span>
                    </div>
                    <div class="button-change"
                      *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.planPermissions[i].accessLevel)">
                      <button pButton [label]="'change' | translate"
                        (click)="navigateToPage('plan/permission/detail',
                      this.propertiesPerson.key, undefined, propertiesPerson?.officePermission?.planPermissions[i].id)">
                        <i class="fas fa-share"></i>
                      </button>
                    </div>
                  </div>
                  <p-dataView [value]="cardPlan.cardItems" layout="grid" class="app-dataview"
                    *ngIf="cardPlan?.cardItems?.length > 0"
                    [emptyMessage]="(!cardPlan.cardItems ? 'loadingEllipsis' : 'noContent') | translate">
                    <ng-template let-cardItem pTemplate="gridItem">
                      <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
                        <app-card-item [properties]="cardItem"></app-card-item>
                      </div>
                    </ng-template>
                  </p-dataView>
                </app-card>
              </div>
            </ng-container>
          </section>
        </div>
      </div>
    </app-card>
  </div>
  <app-buttons-container>
    <app-save-button (save)="savePerson()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
</div>
