<nav class="app-menu mobile" [class.admin-menu]="isAdminMenu">
  <ng-container *ngIf="isAdminMenu; else menuGeneral">
    <ng-container *ngTemplateOutlet="menuAdmin"></ng-container>
  </ng-container>
</nav>

<div class="menu-layout" *ngIf="(isMenuOpen() && isMobileView) || isMenuOpen('user')" (click)="closeAllMenus()"></div>

<ng-template #menuGeneral>
  <div class="menugeneral-icons-mobileview-container">
    <div class="item-avatar"
      [ngStyle]="{width: itemsFavorites?.length > 0 && !!currentIDOffice && !!currentIDPlan && isPlanMenu ? '20%' : '25%'}"
      (click)="toggleMenu('user')">
      <app-avatar [idPerson]="currentUserInfo?.id" [menu]="true"></app-avatar>
      <div class="item-label">{{username}}</div>
    </div>
    <div class="item"
      [ngStyle]="{width: itemsFavorites?.length > 0 && !!currentIDOffice && !!currentIDPlan && isPlanMenu ? '20%' : '25%'}"
      (click)="toggleMenu('office')" *ngIf="itemsOffice?.length > 0" [pTooltip]="'officesAndPlans' | translate">
      <i class="app-icon offices" [ngStyle]="{ fontSize: '1.6rem' }"></i>
      <div class="item-label">{{ 'offices' | translate }}</div>
    </div>
    <div class="item"
      [ngStyle]="{width: itemsFavorites?.length > 0 && !!currentIDOffice && !!currentIDPlan && isPlanMenu ? '20%' : '25%'}"
      (click)="toggleMenu('portfolio')" [pTooltip]="currentPlan?.name"
      *ngIf="!!currentIDOffice && !!currentIDPlan && isPlanMenu">
      <i class="app-icon briefcase" [ngStyle]="{ fontSize: '1.6rem' }"></i>
      <div class="item-label">{{
        currentPlan?.name }}</div>
    </div>
    <div class="item" [ngStyle]="{width: '20%'}" (click)="toggleMenu('favorite')"
      *ngIf="itemsFavorites?.length > 0 && !!currentIDOffice && !!currentIDPlan && isPlanMenu"
      [pTooltip]="'myFavorites' | translate">
      <i class="favorite-icon far fa-star" [ngStyle]="{ fontSize: '1.6rem' }"></i>
      <div class="item-label">{{ 'myFavorites' | translate }}</div>
    </div>
    <div class="item"
      [ngStyle]="{width: itemsFavorites?.length > 0 && !!currentIDOffice && !!currentIDPlan && isPlanMenu ? '20%' : '25%'}"
      *ngIf="currentUserInfo?.isCcbMember" [routerLink]="['/ccbmember-baselines-view']"
      [pTooltip]="'changeControlBoard' | translate">
      <i class="app-icon ccb-view" [ngStyle]="{ fontSize: '1.6rem' }"></i>
      <div class="item-label" [routerLink]="['/ccbmember-baselines-view']">{{'changeControlBoard' |
        translate}}</div>
    </div>
    <div class="item" [ngStyle]="{width: '20%'}" (click)="toggleMenu('reportModel')" [pTooltip]="'reports' | translate"
      *ngIf="!!currentIDOffice && !!currentIDPlan && isPlanMenu && hasReports">
      <i class="far fa-file-alt" [ngStyle]="{ fontSize: '1.4rem' }"></i>
      <div class="item-label" [routerLink]="['/reports']" [queryParams]="{idPlan: currentPlan?.id}">{{'reportModels' |
        translate}}</div>
    </div>
  </div>
</ng-template>

<ng-template #menuAdmin>
  <div class="menuadmin-icons-mobileview-container">
    <div class="item-avatar" (click)="toggleMenu('user')">
      <app-avatar [idPerson]="currentUserInfo?.id" [menu]="true"></app-avatar>
      <div class="item-label">{{username}}</div>
    </div>
    <div class="item" (click)="toggleMenu('office')" *ngIf="isUserAdmin">
      <i class="app-icon offices" [ngStyle]="{ fontSize: '2rem' }"></i>
      <div class="item-label">{{ 'offices' | translate }}</div>
    </div>
    <div class="item" (click)="toggleMenu('planModel')">
      <i class="app-icon plan-model" [ngStyle]="{ fontSize: '2rem' }"></i>
      <div class="item-label">{{ 'planModels' | translate }}</div>
    </div>
    <div class="item" (click)="toggleMenu('more')">
      <i class="app-icon ellipsis-v" [ngStyle]="{ fontSize: '2rem' }"></i>
      <div class="item-label">{{ 'more' | translate }}</div>
    </div>
  </div>
</ng-template>

<div class="app-menu-slide" #menuSliderOffices [class.open]="isMenuOpen('office')" [class.mobile]="isMobileView"
  [class.changing]="isChangingView">
  <div class="top-bar">
    <div class="title" (click)="closeAllMenus()" [routerLink]="['/offices']">{{ (isAdminMenu ? 'offices' :
      'officesAndPlans') | translate }}
    </div>
  </div>
  <p-panelMenu [model]="itemsOffice"></p-panelMenu>
  <div class="action-mobile">
    <i class="app-icon angle-down" [ngStyle]="{ fontSize: '1rem' }" (click)="closeAllMenus()"></i>
  </div>
</div>

<div class="app-menu-slide" [class.open]="isMenuOpen('favorite')" [class.mobile]="isMobileView"
  [class.changing]="isChangingView">
  <div class="top-bar">
    <div class="title" (click)="closeAllMenus()">{{ (isAdminMenu ? 'favorites' : 'myFavorites') | translate }}
    </div>
  </div>
  <div class="f-panelmenu">
    <div class="f-panelmenu-item" [title]="item.title" [class]="item.styleClass" *ngFor="let item of itemsFavorites">
      <div class="f-panelmenu-container" (click)="handleNavigateFavorite(item)">
        <div class="f-panelmenu-icon">
          <i [class]="item.icon"></i>
        </div>
        <div class="f-panelmenu-label">
          <span>{{item.label}}</span>
        </div>
      </div>
      <div class="f-panelmenu-trash">
        <i class="fas fa-trash-alt" (click)="handleRemoveFavorite(item.id)"
          [pTooltip]="'removeFavorite' | translate"></i>
      </div>
    </div>
  </div>
  <div class="action-mobile">
    <i class="app-icon angle-down" [ngStyle]="{ fontSize: '1rem' }" (click)="closeAllMenus()"></i>
  </div>
</div>

<div class="app-menu-slide" #menuSliderPortfolio [class.open]="isMenuOpen('portfolio')" [class.mobile]="isMobileView"
  [class.changing]="isChangingView">
  <div class="top-bar">
    <div *ngIf="currentPlan" class="title" (click)="closeAllMenus()" [routerLink]="['/plan']"
      [queryParams]="{id: currentPlan?.id}">
      {{currentPlan?.name}}</div>
    <div class="action" *ngIf="!isMobileView && currentPlan">
      <i class="app-icon arrow-left" [ngStyle]="{ fontSize: '1rem' }" (click)="closeAllMenus()"></i>
    </div>
    <div *ngIf="!currentPlan" class="title">
      {{'newPlan'|translate}}</div>
  </div>
  <span *ngIf="loadingMenuPortfolio" style="padding: 1em">{{'loadingEllipsis'|translate}}</span>
  <p-panelMenu *ngIf="!loadingMenuPortfolio" [model]="itemsPortfolio"></p-panelMenu>
  <div class="action-mobile" *ngIf="isMobileView">
    <i class="app-icon angle-down" [ngStyle]="{ fontSize: '1rem' }" (click)="toggleMenu('portfolio')"></i>
  </div>
</div>

<div class="app-menu-slide" #menuSliderPlanModel [class.open]="isMenuOpen('planModel')" [class.mobile]="isMobileView"
  [class.changing]="isChangingView">
  <div class="top-bar">
    <div class="title" (click)="closeAllMenus()" [routerLink]="['/strategies']"
      [queryParams]="{idOffice: currentIDOffice}">{{'planModels'|translate}}</div>
    <div class="action" *ngIf="!isMobileView">
      <i class="app-icon arrow-left" [ngStyle]="{ fontSize: '1rem' }" (click)="closeAllMenus()"></i>
    </div>
  </div>
  <p-panelMenu [model]="itemsPlanModel"></p-panelMenu>
  <div class="action-mobile" *ngIf="isMobileView">
    <i class="app-icon angle-down" [ngStyle]="{ fontSize: '1rem' }" (click)="toggleMenu('planModel')"></i>
  </div>
</div>

<div class="app-menu-slide user-slide" [class.open]="isMenuOpen('user')" [class.mobile]="isMobileView"
  [class.changing]="isChangingView">
  <div class="top-bar">
    <div class="title" [pTooltip]="currentUserInfo?.fullName || currentUserInfo?.name">{{ currentUserInfo?.name }}</div>
  </div>
  <div class="item" [routerLink]="['/persons/profile']" (click)="closeAllMenus()">
    <i class="fas fa-user" [ngStyle]="{ fontSize: '1.3rem' }"></i>
    <span>{{ 'profile' | translate }}</span>
  </div>
  <div class="languages" *ngIf="!isMobileView">
    <p-tieredMenu [model]="itemsLanguages"></p-tieredMenu>
  </div>
  <div class="languages" *ngIf="!!isMobileView">
    <p-panelMenu [model]="itemsLanguages"></p-panelMenu>
  </div>
  <div class="item" [routerLink]="['/administrators']" *ngIf="!!isUserAdmin" (click)="closeAllMenus()">
    <i class="fas fa-users-cog" [ngStyle]="{ fontSize: '1.4rem' }"></i>
    <span>{{ 'administrators' | translate }}</span>
  </div>
  <div class="logout" (click)="authSrv.signOut()">
    <i class="app-icon sign-out-alt" [ngStyle]="{ fontSize: '1rem' }"></i>
    <span>{{ 'logout' | translate }}</span>
  </div>
</div>

<div class="app-menu-slide mobile" [class.open]="isMenuOpen('more')" [class.changing]="isChangingView">
  <div class="more-menu">
    <div class="item" (click)="closeAllMenus()" [routerLink]="['/organizations']"
      [queryParams]="{ idOffice: currentIDOffice }">
      <span class="icon-wrapper">
        <i class="app-icon building" [ngStyle]="{ fontSize: '1.8rem' }"></i>
      </span>
      <span class="menu-label">{{ 'organizations' | translate }}</span>
    </div>
    <div class="item" (click)="closeAllMenus()" [routerLink]="['/domains']"
      [queryParams]="{ idOffice: currentIDOffice }">
      <span class="icon-wrapper">
        <i class="app-icon map-marked" [ngStyle]="{ fontSize: '1.7rem' }"></i>
      </span>
      <span class="menu-label">{{ 'domains' | translate }}</span>
    </div>
    <div class="item" (click)="closeAllMenus()" [routerLink]="['/measure-units']"
      [queryParams]="{ idOffice: currentIDOffice }">
      <span class="icon-wrapper">
        <i class="app-icon unit-selection-alt" [ngStyle]="{ fontSize: '1rem' }"></i>
      </span>
      <span class="menu-label">{{ 'measureUnits' | translate }}</span>
    </div>
    <div class="item" (click)="closeAllMenus()" [routerLink]="['/offices/permission']"
      [queryParams]="{ idOffice: currentIDOffice }">
      <span class="icon-wrapper">
        <i class="app-icon permission2" [ngStyle]="{ fontSize: '1.5rem' }"></i>
      </span>
      <span class="menu-label">{{ 'officePermissions' | translate }}</span>
    </div>
    <div class="item" (click)="closeAllMenus()" [routerLink]="['/persons']"
      [queryParams]="{ idOffice: currentIDOffice }">
      <span class="icon-wrapper">
        <i class="app-icon users" [ngStyle]="{ fontSize: '1.5rem' }"></i>
      </span>
      <span class="menu-label">{{ 'people' | translate }}</span>
    </div>
  </div>
  <div class="action-mobile">
    <i class="app-icon angle-down" [ngStyle]="{ fontSize: '1rem' }" (click)="toggleMenu('more')"></i>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>
