@use "src/variables" as v;


::ng-deep .app-wbs {
  min-height: 200px;
  .card-loading {
    width: 100%;
    top: 8rem;
    z-index: 99999;
    position: relative;
  }
  .journal-info-panel-content {
    .loading-menu-container {
      position: relative;
      .menu-loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        top: 20px;
        text-align: center;
      
        .custom-spinner .p-progress-spinner-circle {
          animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
        }
      }
    }
  }
  .expanded-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    padding: 0.5rem;
    border-radius: 3px;

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: none;
      color: #959595;
      margin-left: 0.5em;
      font-size: 1.2rem;
      cursor: pointer;
      padding-top: 3px;
    }
    .selected {
      border-color: rgba(68, 179, 155, 1);
      color: #44B39B;
    }
  }
  .constraint-content-cards{
    max-width: 340px;
    margin-bottom: 1rem;
    .subtitles-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 0.6rem;
      .subtitle-item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .subtitle-box {
        width: 1.8em;
        height: 0.9em;
        border-radius: 3px;
        margin-right: 0.5em;
      }
      .subtitle-box-planned {
        background-color: #B5B5B5;
      }
      .subtitle-box-actual {
        background-color: #0083BB;
      }
      .subtitle-box-foreseen {
        background-color: #44B39B;
      }
      .subtitle-label-planned {
        color: #B5B5B5;
        margin-right: 1em;
      }
      .subtitle-label-foreseen {
        color: #B5B5B5;
        margin-right: 1em;
      }
      .subtitle-label-actual {
        color: #B5B5B5;
      }
    }
  }
  .p-component-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
  }
  .p-overlaypanel, .p-overlaypanel-content {
    min-width: 300px;
  }
  .p-tree .p-tree-container .p-treenode .p-treenode-content:focus,
  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
  }
  .p-tree .p-tree-container .p-treenode {
    padding: 0.143rem 0 !important;
  }
  .p-tree .p-treenode-children {
    padding: 0 0 0 0.5rem;
  }

  .p-overlaypanel-close {
    background: #6c757d !important;
  }
  .link {
    cursor: pointer;
  }
  .p-tree-toggler-icon.pi-fw {
    font-size: 0.9rem;
  }
  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    margin-right: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
  .container-custom-tree {
    padding: 5px 0.5rem;
  }

  .container-workpackmodel {
    background-color: #f8f9fb;
    display: flex;
    justify-content: space-between;

    .tree-label {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .container-milestone {
      color: #333;
      display: flex;
      text-align: center;
      .milestone-column {
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: .5rem;
        font-size: 14px;
      }
    }
  }

  .container-workpack {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;

    .workpack-title-box {
      display: flex;
      align-items: center;

      .warning-icon {
        color: #F59A23;
        margin-right: 0.25em;
      }
  
      .tree-label {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        justify-content: center;
      }

      .alert-text {
        color: #F59A23;
      }
      .dashed-text {
        text-decoration: dashed;
      }
    }

    .container-properties {
      &.deliverable {
        width: 60%;
      }
      .header-values-cost-account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        color: v.$fontTitle;
        font-family: v.$fontFamilyMedium;
        font-size: 1rem;
        text-transform: uppercase;
        padding-right: 2em;
        .progress-bar-cost-container {
          margin-right: 10px;
          margin-left: 10px;
          width: 100%;
        }
        .new-label {
          padding: 0.15rem 0.35rem;
          border: 1px solid #0083BB;
          border-radius: 20px;
          font-size: 14px;
          color: #0083BB;
          text-transform: uppercase;
        }
      }
      .header-values-cost-account.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
      }
      .container-milestone {
        color: #333;
        display: flex;
        text-align: center;

        .new-box {
          display: flex;
          width: 60px;
          align-items: center;
          justify-content: center;
          border: 1px solid #0083BB;
          border-radius: 20px;
          text-transform: uppercase;
          color: #0083BB;
        }

        .milestone-column {
          width: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 14px;
          margin-right: .5rem;
          .icons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .linked {
              margin-left: 0.5em;
            }
            .on-time {
              color: #44B39B;
            }
            .late {
              color: #EA5C5C;
            }
            .concluded {
              color: #0083BB;
            }
            .late-concluded {
              color: #806AAD;
            }
          }
          .icon-card {
            font-size: 2rem;
            color: #888e96;
          }
          .icon-new {
            font-size: 3rem;
            color: rgba(147, 147, 147, 0.5);
          }
        }
      }

      .right-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 100%;
        .dashboard-items-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .status-container {
            width: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .fa-info-circle {
              color: #0083bb;
            }
            .fa-info {
              color: #0083bb;
              padding: 3px 6.5px;
              border: 1px solid #0083bb;
              border-radius: 50%;
              font-size: 0.7rem;
              width: 19px;
              height: 19px;
            }
          }
          .status-empty {
            width: 60px;
          }
          .milestones-progressbar-container {
            width: 165px;
            .milestones-progressbar {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 100%;
              border-radius: 12px;
              overflow: hidden;
              background-color: #fff;
              .ontime {
                  height: 12px;
                  background-color: #44B39B;
              }
              .late {
                  height: 12px;
                  background-color: #EA5C5C;
              }
              .concluded {
                  height: 12px;
                  background-color: #0083BB;
              }
              .concluded-late {
                height: 12px;
                background-color: #7C75B9;
              }
            }
          }
          .indexes {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 100px;
              margin: 0 .4rem;
            .index {
                font-size: 12px;
                font-weight: bold;
                padding: 5px 1em 5px 0;
                &:first-of-type {
                  margin-left: 1rem;
                }
            }
          }
          .triple-constraint-container {
            display: flex;
            width: 100px;
            justify-content: space-between;
          }
        }
        .menu-and-id-container {
          display: flex;
          flex-direction: column;
          width: 10%;
          height: 100%;
          justify-content: space-between;
        }
        .risk-red {
          color: #C0504D;
        }
        .risk-orange {
          color: #ED7D31;
        }
        .risk-yellow {
          color: #FFC000;
        }
        .risk-overlay-panel {
          .p-overlaypanel {
            max-width: 200px;
          }
        }
        .risk-panel-content {
            display: flex;
            flex-direction: column;
            .title {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 0.5em;
              .total {
                font-weight: bold;
                font-size: 1.2rem;
                margin-right: 5px;
              }
              .text {
                font-size: 0.8rem;
              }
            }
            .risks-container {
              display: flex;
              flex-direction: column;
              .risk-importance-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 0;
                i {
                  margin-right: 0.5em;
                }
                span {
                  margin-right: 5px;
                }
                label {
                  font-size: 0.8rem;
                }
              }
            }
        }

        .milestones-overlay-panel {
          .chartjs-render-monitor {
            width: 200px !important;
            height: 193px !important;
          }
        }
      }
    }
  }


  .p-tree {

    .p-treenode .p-treenode-content {
      padding: 0;
    }
    .p-treenode-label {
      width: 100%;
    }

    .p-tree-loading-icon {
      display: none;
    }
  }
}


