<div class="app-workpack-section-schedule" *ngIf="sectionSchedule && sectionActive">
  <app-card
    [properties]="sectionSchedule.cardSection"
    [class.panel-tab-view]="showTabview"
    [displayProgressBarIfTotalIsZero]="true"
    [displayFilledBarsWhenTotalIsZero]="false"
  >
    <button type="button" class="p-button-text button-new-schedule"
      *ngIf="!schedule && !!editPermission && !sectionSchedule.cardSection.isLoading" (click)="handleNewSchedule()"
      pButton icon="pi pi-plus" iconPos="left" [label]="translateSrv.instant('newSchedule')"
      [disabled]="!editPermission">
    </button>
    <div class="schedule-buttons" *ngIf="schedule && !sectionSchedule.cardSection.isLoading"
      [class.schedule-buttons-mobile]="responsive">
      <button type="button" class="p-button-text button-details" (click)="handleShowDetails()" pButton
        [icon]="showDetails ? 'far fa-eye-slash' : 'far fa-eye'" iconPos="left"
        [label]="showDetails ? translateSrv.instant('hideDetails') : translateSrv.instant('showDetails')">
      </button>
      <button type="button" class="p-button-text button-delete" (click)="handleDeleteSchedule()" pButton
        [disabled]="!editPermission" icon="fas fa-trash-alt" iconPos="left"
        [label]="translateSrv.instant('deleteSchedule')" *ngIf="!this.schedule.baselineStart">
      </button>
    </div>
    <div class="loading-container" *ngIf="sectionSchedule.cardSection.isLoading">
      <app-card-loading [isCardLoading]="sectionSchedule.cardSection.isLoading"></app-card-loading>
    </div>
    <div class="loading-form-container" *ngIf="formIsSaving">
      <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
    </div>
    <div class="schedule-steps-section"
      *ngIf="sectionSchedule && sectionSchedule.groupStep && !sectionSchedule.cardSection.isLoading && !loadBaseline">
      <div class="schedule-steps-container" *ngFor="let groupStep of sectionSchedule.groupStep"
        [class.schedule-steps-container-mobile]="responsive">
        <div class="data-view-steps-container">
          <div class="group-header-container">
            <span class="group-step-year">{{groupStep.year}}</span>
            <div class="group-progress-bar-container">

              <!-- <div class="group-liquidated">
                <div class="budgeted" [class.mobile]="responsive">
                  <span class="budgeted-label">{{"budgeted" | translate}}:</span>
                  <span class="budgeted-value">{{groupStep.budgetedValue || '0'}}</span>
                </div>
  
                <div class="authorized" [class.mobile]="responsive">
                  <span class="authorized-label">{{"authorized" | translate}}:</span>
                  <span class="authorized-value">{{groupStep.authorizedValue || '0'}}</span>
                </div>

                <div class="liquidatedTotal" [class.mobile]="responsive">
                  <span class="liquidatedTotal-label">{{"liquidated" | translate}}:</span>
                  <span class="liquidatedTotal-value">{{groupStep.liquidatedTotal || '0'}}</span>
                </div>
              </div> -->

              <div class="progress-bar-container" *ngFor="let progressBar of groupStep.groupProgressBar">
                <app-progress-bar-schedule-year
                  [class.progress-bar-mobile]="responsive"
                  [total]="progressBar.total"
                  [progress]="progressBar.progress"
                  [planned]="progressBar?.planned"
                  [labelTotal]="progressBar.labelTotal"
                  [labelProgress]="progressBar.labelProgress"
                  [labelPlanned]="progressBar?.labelPlanned"
                  [valueUnit]="progressBar.valueUnit"
                  [color]="progressBar.color"
                >
                </app-progress-bar-schedule-year>
              </div>
            </div>
          </div>
          <p-dataView
            *ngIf="showDetails; else showResumed"
            layout="grid"
            styleClass="dataview-step-card-items"
            [value]="groupStep.cardItemSection"
            [emptyMessage]="'loadingEllipsis' | translate"
          >
            <ng-template let-step pTemplate="gridItem">
              <div
                *ngIf="['newStart', 'newEnd'].includes(step.type)"
                class="card-item-container show-details"
                [class.new-card-item]="['newStart', 'newEnd'].includes(step.type)"
                [class.mobile]="responsive"
              >
                <app-schedule-step-card-item
                  [properties]="step"
                  [type]="'listStep'"
                  [isCurrentBaseline]="isCurrentBaseline"
                  [tooltipLabel]="tooltipLabel"
                  [foreseenLabel]="abbreviatedLabel"  
                  (onCreateNewStep)="handleCreateNewStep({
                    idSchedule: schedule.id,
                    idWorkpackModelLinked: workpackParams.idWorkpackModelLinked,
                    stepType: step.type,
                    unitName: step.unitName,
                    unitPrecision: step.unitPrecision
                  })" 
                  (spreadDifference)="requestTypeDistributionInformation($event, false)"
                  (stepChanged)="saveStepChanged(groupStep.year, step.idStep)"
                >
                </app-schedule-step-card-item>
              </div>
              <div
                *ngIf="step.type === 'listStep'"
                class="card-item-container show-details"
                [class.new-card-item]="['newStart', 'newEnd'].includes(step.type)"
                [class.mobile]="responsive"
              >
                <app-schedule-step-card-item
                  [properties]="step"
                  [type]="'listStep'"
                  [isCurrentBaseline]="isCurrentBaseline"
                  [tooltipLabel]="tooltipLabel"
                  [foreseenLabel]="abbreviatedLabel"
                  (editCost)="handleShowEditCost($event, groupStep.year)"
                  (spreadDifference)="requestTypeDistributionInformation($event, false)"
                  (stepChanged)="saveStepChanged(groupStep.year, step.idStep)"
                >
                </app-schedule-step-card-item>
              </div>
              <p-overlayPanel #cardCostEditPanel [dismissable]="true">
                <ng-template pTemplate>
                  <div class="panel-content"
                    *ngIf="costAssignmentsCardItemsEdited && costAssignmentsCardItemsEdited.length > 0">
                    <i class="fas fa-chevron-left" [class.disabled]="indexCardEdited === 0"
                      (click)="indexCardEdited > 0 && decrementIndex()"></i>
                    <div class="card-cost-assignments">
                      <app-cost-assignment-card-item [properties]="costAssignmentsCardItemsEdited[indexCardEdited]"
                        (spreadDifference)="requestTypeDistributionInformation($event, true)"
                        (costChanged)="handleChangeValuesCardItem()">
                      </app-cost-assignment-card-item>
                    </div>
                    <i class="fas fa-chevron-right"
                      [class.disabled]="indexCardEdited === costAssignmentsCardItemsEdited.length - 1"
                      (click)="indexCardEdited < costAssignmentsCardItemsEdited.length - 1 && incrementIndex()"></i>
                  </div>
                </ng-template>
              </p-overlayPanel>
            </ng-template>
          </p-dataView>
          <ng-template #showResumed>
            <p-dataView [value]="groupStep.cardItemSection" layout="grid" styleClass="dataview-step-card-items"
              [emptyMessage]="'loadingEllipsis' | translate">
              <ng-template let-step pTemplate="gridItem">
                <div class="card-item-container show-resumed clickable" *ngIf="step.type === 'listStep'"
                  [class.mobile]="responsive"
                  (click)="editScheduleStep(step.idStep, unitMeansure.name, unitMeansure.precision,'step')">
                  <app-schedule-step-card-item [properties]="step" [type]="'listStepResumed'" [isCurrentBaseline]="isCurrentBaseline" [tooltipLabel]="tooltipLabel" [foreseenLabel]="abbreviatedLabel">
                  </app-schedule-step-card-item>
                </div>
                <div class="card-item-container show-resumed clickable" *ngIf="['newStart', 'newEnd'].includes(step.type)"
                  [class.new-card-item]="['newStart', 'newEnd'].includes(step.type)" [class.mobile]="responsive"
                  [routerLink]="['/workpack' , 'schedule', 'step' ]" [queryParams]="{
                          idSchedule: schedule.id,
                          idWorkpackModelLinked: workpackParams.idWorkpackModelLinked,
                          stepType: step.stepOrder,
                          unitName: step.unitName,
                          unitPrecision: step.unitPrecision
                        }">
                  <app-schedule-step-card-item [properties]="step" [type]="'listStepResumed'" [isCurrentBaseline]="isCurrentBaseline" [tooltipLabel]="tooltipLabel" [foreseenLabel]="abbreviatedLabel">
                  </app-schedule-step-card-item>
                </div>
              </ng-template>
            </p-dataView>
          </ng-template>
        </div>
      </div>
    </div>
  </app-card>
  <div class="id-container" *ngIf="workpackParams.idWorkpack">
    <span>{{workpackParams.idWorkpack}}</span>
  </div>
  <app-buttons-container>
    <app-save-button #saveButton (save)="onSaveButtonClicked()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
  
</div>
<p-confirmDialog [header]="'confirmSpreadDifference' | translate" icon="pi pi-exclamation-triangle"
  key="spreadDifferenceConfirm">
</p-confirmDialog>

<p-dialog class="type-distribution-dialog" [class.responsive]="!!responsive" [header]="'distribution' |translate"
  [(visible)]="showTypeDistributionDialog" [style]="{width: '20vw'}" [closable]="false" closeIcon="">
  <div class="type-distribution-content">
    <div class="p-field distribution-container" [class.responsive]="responsive">
      <div class="radios-container">
        <p-radioButton class="distribution-radio" value="SIGMOIDAL" [(ngModel)]="typeDistribution"
          [label]="'sigmoidal'| translate">
        </p-radioButton>
        <p-radioButton class="distribution-radio" value="LINEAR" [(ngModel)]="typeDistribution"
          [label]="'linear' | translate"></p-radioButton>
      </div>
    </div>
    <div class="buttons-container" style="margin-top: 1em">
      <button class="end-button" pButton label="Ok" icon="pi pi-check" iconPos="left"
        (click)="!spreadMulticost ? handleSpreadDifference(spreadEvent) : handleSpreadDifferenceMultiCost(spreadEvent); showTypeDistributionDialog=false"></button>
    </div>
  </div>
</p-dialog>