@use 'src/variables' as v;

.admin {
  border-color: #a7074b!important;
}
.management {
  border-color: #023c55 !important
}
.app-breadcrumb {
  display: flex;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  flex-direction: column;

  .labels {
    font-size: 8px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 550;
  }

  .home {
    display: flex;
    flex-direction: column;
    height: 50px;
    position: sticky;
    max-width: 43px;
    z-index: 500;
    .name {
      font-size: 10px;
      font-family: v.$fontFamilyRegular;
      color: v.$fontBreadcrumbMobile;
      margin-left: 5px;
      width: max-content;
    }
    i {
      cursor: pointer;
      margin-top: 0.3em!important;
    }
    &.adjust-padding {
      padding-bottom: 15px;
    }
    &:focus {
      outline: none !important;
    }
  }
  &.fullscreen-mode-dashboard {
    .home {
      z-index: 0;
    }
  }
  .crumbs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    align-items: center;
    flex: 1;

    i {
      color: v.$bgBreadcrumb;
      margin: -5px 5px 0 0;
    }

    .crumb {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-right: 0.3em;
      margin-top: -10px;
      &.last-crumb {
        .link {
          cursor: auto;
        }
        .info {
          opacity: 0;
          pointer-events: none;
        }
      }
      .link {
        padding: .3em 1em;
        max-width: 200px;
        white-space: nowrap;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 25px;
        background-color: v.$bgBreadcrumb;
        color: v.$fontBreadcrumb;
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-size: 11px;
      }
      .info {
        max-width: 200px;
        font-size: .6rem;
        white-space: nowrap;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: .1rem;
        margin-bottom: -1rem;
        padding: 0 .5rem;
      }
      &.last-crumb-highlighted {
        .link {
          background-color: #44B39B;
          color: #ffff;
          font-weight: 700;
        }
        .info {
          color: #44B39B;
          font-weight: 700;
        }
      }
    }
    
  }
  &.mobile {
    font-size: .688rem;
    padding: 5px 7.5px 0;

    .home {
      padding: 0;
      margin-top: 0;
    }

    .crumbs {
      overflow-x: scroll;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
      .crumb {
        margin-right: .1em;
        padding: 0;

        .link {
          padding: .3em .5em;
          color: v.$fontBreadcrumbMobile;
          background-color: transparent;
        }
      }
    }
  }

  .cursor-loading, .cursor-loading * {
    cursor: wait !important;
  }
}
