<div class="app-property-text">
  <span class="p-float-label">
    <input class="app-input-text" [id]="property.name" name="name" [(ngModel)]="value" type="text" pInputText
      [defaultValue]="property.defaultValue" (input)="handleChangedValue()"
      />
    <label class="app-input-label" for="float-name">{{ "value" | translate }} *
      <i class="far fa-question-circle" *ngIf="property.helpText && property.helpText.length > 0" [pTooltip]="property.helpText"></i>
    </label>
  </span>
</div>