<div class="app-unit-measure">
   <div class="back-to-management-container" *ngIf="showBackToManagement" (click)="navigateToManagement()">
    <i class="fas fa-reply"></i>
    <span class="text">{{'backToManagement' | translate}}</span>
  </div>
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
    </div>
    <app-config-data-view-panel [notShowCollapseOptions]="true">
    </app-config-data-view-panel>
  </div>
  <div class="card-container" *ngIf="cardProperties">
    <app-card [properties]="cardProperties" class="mt-0" *ngIf="cardProperties.showFilters"
      (editFilter)="handleEditFilter($event)" (newFilter)="handleNewFilter()" (searchText)="handleSearchText($event)"
      (selectedFilter)="handleSelectedFilter($event)" (createNewElement)="handleAddCardItem()">
      <div class="loading-container" *ngIf="isLoading">
        <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
      </div>
      <p-dataView [value]="cardItemsProperties" layout="grid" class="app-dataview"
      *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !isLoading"
      [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
      [totalRecords]="totalRecords"
      [emptyMessage]="((editPermission === undefined || editPermission) ? 'loadingEllipsis' : 'noContent') | translate">
      <ng-template let-cardItem pTemplate="gridItem">
        <div class="p-col-12 p-sm-12 p-md-4 p-lg-3 card-item-container">
          <app-editable-card-item *ngIf="cardItem.typeCardItem === 'listItem'"
            [form]="getFormById(cardItem.id || cardItem.newId)" [fields]="editableCardFields"
            [menuItems]="cardItem.menuItems || []" [itemId]="cardItem.itemId"
            [uniqueId]="cardItem.id || cardItem.newId" displayMode="grid" [responsive]="responsive">
          </app-editable-card-item>
          <app-editable-card-item *ngIf="cardItem.typeCardItem === 'newCardItem'" [newItem]="true"
            [newItemIcon]="cardItem.icon" displayMode="grid" [responsive]="responsive"
            (newItemClick)="handleAddCardItem()">
          </app-editable-card-item>
        </div>
      </ng-template>
    </p-dataView>
    <p-dataView [value]="cardItemsProperties" layout="list"
      *ngIf="(displayModeAll === 'list' && !responsive) && !isLoading" class="app-dataview app-dataview-list"
      [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
      [totalRecords]="totalRecords"
      [emptyMessage]="((editPermission === undefined || editPermission) ? 'loadingEllipsis' : 'noContent') | translate">
      <ng-template let-cardItem pTemplate="listItem">
        <div class="p-col-12">
          <app-editable-card-item *ngIf="cardItem.typeCardItem === 'listItem'"
            [form]="getFormById(cardItem.id || cardItem.newId)" [fields]="editableCardFields"
            [menuItems]="cardItem.menuItems || []" [itemId]="cardItem.itemId"
            [uniqueId]="cardItem.id || cardItem.newId" displayMode="list" [responsive]="responsive">
          </app-editable-card-item>
          <app-editable-card-item *ngIf="cardItem.typeCardItem === 'newCardItem'" [newItem]="true"
            [newItemIcon]="cardItem.icon" displayMode="list" [responsive]="responsive"
            (newItemClick)="handleAddCardItem()">
          </app-editable-card-item>
        </div>
      </ng-template>
    </p-dataView>
    </app-card>
    <app-buttons-container>
      <app-save-button (save)="handleOnSubmit()"></app-save-button>
      <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
    </app-buttons-container>
  </div>
</div>
