@use "src/variables" as v;

.app-unit-measure {
  width: 100%;

  .header-container {
    display: flex;
    flex-direction: row;
  }

  .back-to-management-container {
    color: v.$fontBreadcrumb;
    cursor: pointer;
    margin-bottom: 1em;
    width: max-content;

    .fa-reply {
      margin-right: .5em;
    }

    .text {
      font-size: .8rem;
      font-style: italic;
    }
  }

  .app-content-header {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-start;

    span {
      text-transform: uppercase;
    }
  }

  .header-container.mobile {
    flex-direction: column;
  }

  .loading-container {
    min-height: 150px;
    position: relative;
  }
}

::ng-deep .app-dataview .p-dataview-header {
  display: none;
}
