@use "src/variables" as v;

.app-workpack-model {
  width: 100%;
  
  .app-workpack-model-content-main {
    position: relative;
  }

  .app-workpack-model-header {
    padding: 0.5em 0 0 0;
    font-size: 1rem;
    font-family: v.$fontTitle !important;
    color: v.$fontInput;
    font-weight: 500;
  }

  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0 0;
    font-size: 1rem;
    font-family: v.$fontTitle !important;
    color: v.$fontInput;
    font-weight: 500;
    .app-content-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      .label {
        margin-left: 0.5em;
      }
    }
    .has-model {
      .label {
        font-size: .688rem;
        color: v.$fontLabel;
      }
    }
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }

  .desktop-width {
    width: 15% !important;
  }

  .property-input {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 1em;
    }
    &.p-field {
      margin-bottom: 1.5rem;
    }
  }
  .under-label {
    font-size: .7rem;
    display: block;
    color: v.$fontLabel;
    font-style: italic;
    padding-left: .5rem;
  }
  .icon-item {
    display: flex;
    flex: 1;
    // justify-content: space-between;
    text-transform: capitalize;

    i {
      font-size: 1rem;
      margin-right: 0.5em;
    }
    .icon-description {
      font-size: 0.8rem;
    }
  }
  .icon-item-selected i {
    font-size: 1rem;
  }
  .workpack-model-group {
    padding: 0.5em 1em 1em 1em;
    border: 1px solid rgba(229, 229, 228, 1);
    border-radius: 5px;
    margin-top: 1.5em;
    .group-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
      }
      .right-side {
        display: flex;
        .app-icon {
          display: flex;
          cursor: pointer;
        }
      }
    }
  }
  .workpack-model-group.mobile {
    .property-input {
      width: 100%;
      &.p-field {
        margin-bottom: 1.8rem;
      }
    }
    .app-input-chips {
      margin-top: 1.8rem;
      margin-bottom: 1rem;
    }
    .group-header {
      .left-side {
        flex-direction: column;
        .property-input {
          margin-right: 0;
        }
      }
      .right-side {
        align-items: flex-start;
        padding-top: 5px
      }
    }
  }
}

::ng-deep .app-workpack-model {
  .app-input-chips {
    .p-chips,
    .p-inputtext {
      width: 100%;
    }
    .p-chips .p-chips-multiple-container .p-chips-token {
      margin-top: 5px;
    }
    .p-multiselect {
      border: none;
      border-bottom: 1px solid #b6c8cd;
      border-radius: 0;
      background-color: transparent;
      color: #004660;
    }
      .p-multiselect-label-container {
        color: v.$fontInput;
        font-size: 1rem;
        font-family: v.$fontFamilyMedium;
        .p-multiselect-label {
          display: block;
          overflow: wrap;
          text-overflow: unset;
          white-space: break-spaces;
          .p-multiselect-token {
            margin-top: 5px !important;
          }
        }
      }
    
  }
  .p-chips-multiple-container {
    padding: 0.5em !important;

  }
  .dashboard-show-options, .notification-field {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    label {
      padding-bottom: 0.5em;
    }
    .p-multiselect.p-multiselect-chip {
      min-width: 40%;
    }
    .p-multiselect.p-multiselect-chip .p-multiselect-token {
      background-color: #e5e5e4 !important;
    }
    .p-multiselect:hover {
      border: 1px solid #ced4da;
    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
      background-color: rgba($color: #44B39B, $alpha: 0.4);
    }
    .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
      box-shadow: none;
    }
    .p-checkbox .p-checkbox-box.p-highlight {
      border: 2px solid #ced4da;
      background-color: #ffff; 
    }
    .p-checkbox .p-checkbox-box:hover {
      border: 2px solid #ced4da;
    }
    .p-checkbox .p-checkbox-box .p-checkbox-icon {
      color: #495057;
    }
    .p-multiselect-filter-container .p-inputtext:enabled:focus {
      border: 2px solid #ced4da !important;
      box-shadow: none !important;
    }
    .p-multiselect-filter-container .p-inputtext:hover {
      border: 2px solid #ced4da !important;
      box-shadow: none !important;
    }
  }
  .toggles-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 0;
    .toggle-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 10%;
      padding-bottom: 0.5em;
      label {
        color: #004660;
      }
    }
  }
  .app-single-selection .p-dropdown {
    min-width: 200px;

    .p-dropdown-panel {
      width: max-content;
    }
  }
  .app-multiple-selection .p-multiselect {
    min-width: 200px;

    .p-multiselect-panel {
      width: max-content;
    }
  }
  .workpack-model-addicional-properties {
    .p-button {
      background-color: v.$bgButtonGreen;
      border: none !important;
      margin: 0 .5em;

      &:hover {
        background-color: v.$bgButtonGreenHover;
      }
    }
    .p-menu-overlay {
      width: auto;
    }
    .addicional-properties-container {
      display: inline-flex;
    }
    &.open {
      display: flex;
      width: 100%;
      p-panel {
        width: 100%;
      }
    }
    .addicional-properties-group-container {
      display: flex;
      &.open {
        width: 100%;
        display: flex;
        p-panel {
          width: 100%;
        }
      }
    }
    .workpack-model-groups {
      width: 100%;
      margin-bottom: 0.5em;
      .p-float-label {
        min-width: 20%;
      }
      .sort-index-group {
        width: 10%;
        .p-button {
          background-color: transparent;
          .p-button-icon {
            color: #939393;
          }
        }
      }
    }
    .addicional-properties {
      display: inline-flex;
      margin-right: 1em;
      margin-bottom: 1em;
      &.open {
        width: 100%;
        display: flex;
        p-panel {
          width: 100%;
        }
      }
    }
    &.add-actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1em;
    }
  }
  .card.stakeholders .p-panel-content {
    padding-bottom: 15px !important;
  }
  .card.risk-and-issues .p-panel-content {
    padding-bottom: 15px !important;
  }
  .card.processes .p-panel-content {
    padding-bottom: 15px !important;
  }

  &.mobile {
    .workpack-model-addicional-properties {
      .addicional-properties {
        margin-right: 0;
        width: 100%;
        .p-panel-header {
          flex: 1;
        }
        p-panel {
          width: 100%;
          .app-workpack-model-property.p-panel {
            width: 100%;
          }
        }
      }
      &.add-actions {
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        p-button {
          width: 150px;
          margin: 5px 0;
          .p-button {
            width: 100%;
            margin: 5px 0;
          }
        }
        .button-add-property {
          margin-right: 5px;
        }
        .button-add-group {
          margin-left: 5px;
        } 
      }
    }
  }
}

.app-workpack-model.mobile {
  .card-properties {
    .workpack-model-properties {
      .property-input {
        width: 100%;
        margin-right: 0;
      }
    }
  }
  .workpack-model-addicional-properties {
    .addicional-properties-container {
      width: 100%;
    }
  }
}


.events-title {
  font-size: 0.75rem;
  color: #6d7c80;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  i {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #a0b0b5;
  }
}

.toggles-container-notifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  .toggle-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5em;
    gap: 0.5rem;
    width: auto !important; 
    label {
      color: #004660;
    }
    .event-prefix,
    .event-suffix {
      color: #004660;
    }
    ::ng-deep .event-dropdown .p-dropdown {
      border: none;
      border-bottom: 1px solid #b6c8cd;
      border-radius: 0;

      :not(.p-disabled):hover {
        border-color: #b6c8cd;
      }
    }
  }
}