::ng-deep .workpack-input-number .p-inputnumber {
  width: 20%;
}

::ng-deep .workpack-input-number-not-fullLine .p-inputnumber {
  width: 100%;
}

::ng-deep .workpack-input-number-mobile .p-inputnumber {
  width: 100%;
}