<div class="app-progress">
  <div class="progress-bar-header">
    <div class="progress">
      <span class="header-label" *ngIf="labelProgress">{{labelProgress}}</span>
      <span class="progress-value" *ngIf="valueUnit">{{valueUnit === 'currency' ? (progress | number:'0.2-2':'pt') 
        : progress}} {{valueUnit !== 'currency' ? valueUnit : ''}}</span>
    </div>
    <div class="total">
      <span class="header-label" *ngIf="labelTotal">{{labelTotal}}</span>
      <span class="total-value" *ngIf="valueUnit">{{valueUnit === 'currency' ? (total | number:'0.2-2':'pt') 
        : total}} {{valueUnit !== 'currency' ? valueUnit : ''}}</span>
    </div>
    <div class="total"></div>
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar" 
     [ngStyle]="{width: (progress/total)*100 + '%', background: color}">
    </div>
  </div>
</div>
