@use "src/variables" as v;

.app-progress {
  width: 100%;
}

.progress-bar-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  ::ng-deep .progress, .total {
    display: flex;
    flex-direction: column;
    .header-label {
      text-transform: none;
      font-size: 0.625rem;
      font-family: v.$fontFamilyItalic !important;
      color: #939393 !important;
    }
    .total-value, .progress-value {
      font-size: 0.875rem;
      font-family: v.$fontFamilyBold;
      font-weight: 700;
    }
  }
  .total {
    padding-left: 0.5em;
  }
}

.progress-bar-container {
  width: 100%;
  background-color: #d4d4d4;
}

.progress-bar {    
  height: 8px;
  width: 0;
}
