.app-progress {
  width: 100%;
}

.progress-bar-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .progress, .total {
    display: flex;
    flex-direction: column;
    .header-label {
      text-transform: none;
      font-size: 0.6rem;
    }
    .total-value, .progress-value {
      font-size: 0.9rem;
    }
  }
  .total {
    margin-left: 0.3em;
  }
}

.progress-bar-container {
  width: 100%;
  background-color: #d4d4d4;
}

.progress-bar {    
  height: 8px;
  width: 0;
}
