<div class="app-domain">
  <div class="app-content-header" [class.mobile]="responsive">
    <span *ngIf="idDomain; else newDomainTitle">{{ propertiesDomain?.name }}</span>
    <ng-template #newDomainTitle>
      <span>{{ 'new' | translate }} {{ 'domain' | translate }}</span>
    </ng-template>
  </div>
  <div class="card-properties" *ngIf="cardProperties">
    <app-card [properties]="cardProperties" class="mt-0 inputs-float-label">
      <div>
        <form [formGroup]="formDomain">
          <span class="p-float-label">
            <input id="float-input" formControlName="name" type="text" pInputText class="app-input-text"
              [class.mobile]="responsive" [class.desktop]="!responsive">
            <label for="float-input" class="app-input-label">{{'name' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formDomain" field="name"></app-input-message>
          <span class="p-float-label margin-top">
            <textarea pInputTextarea id="float-input" formControlName="fullName" class="app-text-area" rows="1">
              </textarea>
            <label for="float-input" class="app-input-label">{{'fullName' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formDomain" field="fullName"></app-input-message>
        </form>
      </div>
    </app-card>
  </div>
  <section *ngIf="propertiesDomain" class="domains-cards-section">
    <div class="card-plans">
      <app-card [properties]="cardLocalities">
        <p-dataView [value]="cardItemsLocalities" layout="grid" class="app-dataview"
          [emptyMessage]="(!cardItemsLocalities ? 'loadingEllipsis' : 'noContent') | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </app-card>
    </div>
  </section>
  <app-save-button (save)="handleOnSubmit()"></app-save-button>
</div>
