<div class="card d-flex flex-column flex-lg-row p-2 w-100">
  <div class="icon-wrapper d-flex flex-row flex-lg-column col-12 col-lg-1 justify-content-center align-items-center mb-2 mb-lg-0">
    <i class="icon grey-icon me-2 me-lg-0" [ngClass]="item.icon"></i>
    <span class="model-name">{{ item.model }}</span>
  </div>
  <div class="item-info d-flex flex-column col-12 col-lg-11 px-2">
    <h2 class="short-name m-0">{{ item.name }}</h2>
    <p class="full-name m-0 mb-4">{{ item.fullName }}</p>

    <span class="breadcrumb d-flex flex-wrap align-items-center w-100">
      <ng-container *ngFor="let bc of item.breadcrumbs; index as i">
        <p class="breadcrumb-item">
          <i class="fas fa-angle-right" *ngIf="i > 0"></i>
          <span
            class="breadcrumb-label"
          >
            {{ bc.nome }}
          </span>
        </p>
      </ng-container>
    </span>
  </div>
</div>