:host {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #d4d4d4;


    .icon-wrapper {
        
        width: 5rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon {
            font-size: 1.3rem;
        }
    }

    .itemInfo {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        color: #888e96;
        max-width: 90%;

        h2 {
            font-size: 0.9lh;
        }

        h2, p {
            margin: 0;
            font-size: smaller;
        }

        .breadcrumb {
            max-width: 100%;
            display: flex;
            gap: 0.3rem;
            align-items: center;
            flex-wrap: wrap;
            font-size: smaller;
            font-style: italic;
            
            
            .breadcrumb-item {
                display: flex;
                align-items: center;

                i {
                    padding-inline: 0.3rem;
                    flex: 0 0 auto; /* Prevent shrinking/growing */
                }

                .breadcrumb-label {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 1;
                    max-width: 20rem;
                    box-sizing: border-box;
                    // flex: 1 1 auto; /* Let it grow and shrink */

                }

            }


            
            
        }

    }

    
}