.card {
  background-color: white;
  border: solid 1px #D4D4D4;
  cursor: pointer;

  .icon-wrapper {
    .icon {
      font-size: 12px;
    }

    .model-name {
      font-size: 12px;
      text-align: center;
      color: #888E96;
      text-transform: uppercase;
    }
  }

  .item-info {
    color: #888E96;

    .short-name, .full-name {
      font-size: 14px;
      text-align: justify;
    }

    .breadcrumb {
      font-size: 12px;
      font-style: italic;
        
      .breadcrumb-item {
        display: flex;
        align-items: center;

        i {
          padding-inline: 0.3rem;
          flex: 0 0 auto; /* Prevent shrinking/growing */
        }

        .breadcrumb-label {
          white-space: nowrap;
          text-overflow: ellipsis;
          flex-grow: 1;
          max-width: 30rem;
          box-sizing: border-box;

          &.constant-overflow {
            overflow: hidden;
          }
          
          @media screen and (max-width: 576px) {
            max-width: 20rem;

            &.conditional-overflow {
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}