<div class="app-commitment">
  <div class="app-content-header">
    <span *ngIf="!idCommitment">
      {{ "newCommitment" | translate }}
    </span>

    <span *ngIf="idCommitment && commitment">
      {{ commitment.commitmentNumber }}
    </span>
  </div>

  <div class="loading-form-container" *ngIf="formIsSaving">
    <app-card-loading [isCardLoading]="formIsSaving"> </app-card-loading>
  </div>

  <div
    class="card-properties-commitment"
    *ngIf="cardCommitmentProperties"
    [class.responsive]="responsive"
  >
    <app-card
      [properties]="cardCommitmentProperties"
      class="mt-0 inputs-float-label"
    >
      <form [formGroup]="formCommitment">
        <!-- Ano -->
        <div class="commitment-field selection-small app-property-selection">
          <span class="p-float-label">
            <p-dropdown
              class="app-single-selection"
              inputId="year"
              formControlName="year"
              [options]="yearOptions"
              optionLabel="label"
              optionValue="value"
              dropdownIcon="fas fa-caret-down"
              [autoDisplayFirst]="false"
              [disabled]="!editPermission || !!idCommitment"
              (onChange)="handleYearChange()"
            >
            </p-dropdown>

            <label class="app-input-label" for="year">
              {{ "year" | translate }} *
            </label>
          </span>

          <app-input-message [form]="formCommitment" field="year">
          </app-input-message>
        </div>

        <!-- Unidade Gestora -->
        <div class="commitment-field selection-small app-property-selection">
          <span class="p-float-label">
            <p-dropdown
              class="app-single-selection"
              inputId="managementUnit"
              formControlName="managementUnit"
              [options]="managementUnitOptions"
              optionLabel="label"
              optionValue="value"
              dropdownIcon="fas fa-caret-down"
              [autoDisplayFirst]="false"
              [disabled]="!editPermission || !!idCommitment"
              (onChange)="handleManagementUnitChange()"
            >
            </p-dropdown>

            <label class="app-input-label" for="managementUnit">
              {{ "managementUnit" | translate }} *
            </label>
          </span>

          <app-input-message [form]="formCommitment" field="managementUnit">
          </app-input-message>
        </div>

        <!-- Nota de empenho -->
        <div class="commitment-field selection-medium app-property-selection">
          <span class="p-float-label">
            <p-dropdown
              class="app-single-selection"
              inputId="commitmentNote"
              formControlName="commitmentNote"
              [options]="commitmentNoteOptions"
              optionLabel="label"
              optionValue="value"
              dropdownIcon="fas fa-caret-down"
              [autoDisplayFirst]="false"
              [filter]="true"
              [showClear]="true"
              [disabled]="
                !editPermission ||
                !formCommitment.controls.managementUnit.value ||
                !formCommitment.controls.year.value
              "
              (onChange)="handleCommitmentNoteChange($event)"
            >
            </p-dropdown>

            <label class="app-input-label" for="commitmentNote">
              {{ "commitmentNote" | translate }} *
            </label>
          </span>

          <app-input-message [form]="formCommitment" field="commitmentNote">
          </app-input-message>
        </div>

        <ng-container
          *ngIf="!isLoading && formCommitment.controls.commitmentNote.value"
        >
          <!-- CNPJ -->
          <div class="commitment-field text-small app-property-text">
            <span class="p-float-label workpack-input-text">
              <input
                id="supplierCnpj"
                class="app-input-text"
                type="text"
                pInputText
                formControlName="supplierCnpj"
                readonly
              />

              <label class="app-input-label" for="supplierCnpj">
                {{ "cnpj" | translate }}
              </label>
            </span>
          </div>

          <!-- Valor -->
          <div class="commitment-field text-small app-property-text">
            <span class="p-float-label workpack-input-text-not-fullLine">
              <input
                id="amount"
                class="app-input-text"
                type="text"
                pInputText
                formControlName="amount"
                readonly
              />

              <label class="app-input-label" for="amount">
                {{ "value" | translate }}
              </label>
            </span>
          </div>

          <!-- Protocolo -->
          <div class="commitment-field text-small app-property-text">
            <span class="p-float-label workpack-input-text-not-fullLine">
              <input
                id="protocol"
                class="app-input-text"
                type="text"
                pInputText
                formControlName="protocol"
                readonly
              />

              <label class="app-input-label" for="protocol">
                {{ "protocol" | translate }}
              </label>
            </span>
          </div>
        </ng-container>
      </form>
    </app-card>
  </div>

  <div
    class="id-container"
    *ngIf="idCommitment && cardCommitmentProperties && !isLoading"
  >
    <span>{{ idCommitment }}</span>
  </div>
</div>

<app-buttons-container>
  <app-save-button #saveButton (save)="saveCommitment()"> </app-save-button>

  <app-cancel-button #cancelButton (cancel)="handleOnCancel()">
  </app-cancel-button>
</app-buttons-container>
