.app-administrator-list {
  width: 100%;

  .loading-container {
    position: relative;
    min-height: 150px;
  }

  .header-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }
}
