<div class="chart-doughnut">
  <div class="legends d-flex flex-row flex-wrap justify-content-between mb-2">
    <ng-container *ngFor="let label of data?.labels; let i = index">
      <div class="legend-box d-flex col-6">
        <div
          class="legend d-flex align-items-center"
          [ngClass]="legendCustomClass"
        >
          <div class="box-color" [ngStyle]="{ backgroundColor: data.datasets[0].backgroundColor[i] }"></div>
          <label class="label">{{ label }}</label>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="chart-container">
    <p-chart #chart [type]="type" [data]="data" [plugins]="plugins" [options]="options" width="215" height="210"></p-chart>
  </div>
</div>
