.chart-doughnut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 100%;

  .legends {
    width: 100%;

    .legend-box {
      padding-bottom: .25em;

      &:nth-of-type(odd) {
        justify-content: end;
      }
      &:nth-of-type(even) {
        justify-content: start;
        padding-left: 1em;
      }
    }

    .legend {
      display: flex;

      .box-color {
        min-width: 1em;
        height: 0.5em;
        border-radius: 3px;
        margin-right: 5px;
      }

      .label {
        font-size: 12px;
      }
    }
  }
}
