<header class="d-flex flex-row">
  <div class="busca-wrapper col-9">
    <div class="dataview-filters-text">
      <input
        pInputText
        id="id-app-inputtext"
        class="app-input-text p-inputtext animation-input"
        [formControl]="searchControl"
        [placeholder]="'minLengthSearch' | translate"
      />
      <i class="fas fa-search animation-input"></i>
    </div>
  </div>
  <div class="actions col-3">
    <app-config-data-view-panel
      [notShowCollapseOptions]="true"
      [notShowLayoutTypeOptions]="true"
    >
    </app-config-data-view-panel>
  </div>
</header>
<main>
  <app-card-loading *ngIf="loading" [isCardLoading]="loading"></app-card-loading>
            
  <p-dataView
    class="app-dataview app-dataview-list"
    layout="list"
    [value]="result"
    [first]="first"
    [paginator]="true"
    [rows]="pageData.pageSize"
    [showJumpToPageDropdown]="true"
    [showPageLinks]="false"
    [totalRecords]="result ? totalCount : 1"
    [lazy]="true"
    [emptyMessage]="'notFoundSearch' | translate"
    [style.display]="(!loading && result && searchControl.value) ? 'block' : 'none'"
    (onLazyLoad)="onLazyLoadPage($event)"
  >
    <ng-template let-cardItem pTemplate="listItem">
      <div class="p-col p-col-12">
        <app-search-item-card [item]="cardItem"></app-search-item-card>
      </div>
    </ng-template>
  </p-dataView>
</main>
