<div class="app-plan-permissions">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span>{{ propertiesPlan?.fullName }}</span>
    </div>
    <app-config-data-view-panel [notShowCollapseOptions]="true"
      (changeDisplayMode)="handleChangeDisplayMode($event)" (changePageSize)="handleChangePageSize($event)">
    </app-config-data-view-panel>
  </div>
  <div class="card-permissions" *ngIf="idPlan">
    <app-card [properties]="cardPlanPermissions" class="mt-0" (editFilter)="handleEditFilter($event)"
      (newFilter)="handleNewFilter()" (selectedFilter)="handleSelectedFilter($event)" (createNewElement)="handleCreateNewPlanPermission()">
      <p-dataView [value]="cardItemsPlanPermissions" layout="grid" class="app-dataview"
        [emptyMessage]="'loadingEllipsis' | translate" *ngIf="displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)" [paginator]="true"
        [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false" [totalRecords]="totalRecords">
        <ng-template let-cardItem pTemplate="gridItem">
          <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
            <app-card-item-permission [properties]="cardItem"></app-card-item-permission>
          </div>
        </ng-template>
      </p-dataView>
      <p-dataView [value]="cardItemsPlanPermissions" layout="list" class="app-dataview app-dataview-list"
        [emptyMessage]="'loadingEllipsis' | translate" *ngIf="displayModeAll === 'list' && !responsive" [paginator]="true"
        [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false" [totalRecords]="totalRecords">
        <ng-template let-cardItem pTemplate="listItem">
          <div class="p-col-12">
            <app-card-item-permission [properties]="cardItem" [displayModeCard]="displayModeAll">
            </app-card-item-permission>
          </div>
        </ng-template>
      </p-dataView>
    </app-card>
  </div>
</div>