@use "src/variables" as v;

::ng-deep .workpack-input-number .p-inputnumber {
  width: 20%;
}

::ng-deep .workpack-input-number-not-fullLine .p-inputnumber {
  width: 100%;
}

::ng-deep .workpack-input-number-mobile .p-inputnumber {
  width: 100%;
}

::ng-deep .app-input-number {
  .p-inputnumber {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
    input {
      padding-left: 0;
    }
    &:enabled:focus {
      border: none !important;
      box-shadow: none;
    }
    &:hover {
      border: none !important;
      box-shadow: none;
    }
  }

  &.disabled-field {
    user-select: none !important;
    -moz-user-select: none !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
    opacity: 0.6;
  }

  &.custom-input {
    background: none;
    border: none;
    border-bottom: 1px solid #87A0A9;
    padding-top: 1em;
  }
}