<div class="app-strategy">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span>{{ propertiesOffice?.name }}</span>
    </div>
    <app-config-data-view-panel (changeCollapsedExpand)="handleChangeCollapseExpandPanel($event)"
      (changeDisplayMode)="handleChangeDisplayMode($event)" (changePageSize)="handleChangePageSize($event)">
    </app-config-data-view-panel>
  </div>
  <div class="card-container" *ngIf="cardProperties">
    <app-card [properties]="cardProperties" class="mt-0" (editFilter)="handleEditFilter($event)"
      (newFilter)="handleNewFilter()" (selectedFilter)="handleSelectedFilter($event)" (createNewElement)="handleCreateNewEstrategy()">
      <p-dataView [value]="cardItemsProperties" layout="grid" class="app-dataview" *ngIf="displayModeAll === 'grid'"
        [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
        [totalRecords]="totalRecords"
        [emptyMessage]="(editPermission !== false ? 'loadingEllipsis' : 'noContent') | translate">
        <ng-template let-cardItem pTemplate="gridItem">
          <div class="p-col-12 p-sm-12 p-md-4 p-lg-3 card-item-container">
            <app-card-item [properties]="cardItem"></app-card-item>
          </div>
        </ng-template>
      </p-dataView>
      <p-dataView [value]="cardItemsProperties" layout="list" class="app-dataview app-dataview-list"
        *ngIf="displayModeAll === 'list'" [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true"
        [showPageLinks]="false" [totalRecords]="totalRecords"
        [emptyMessage]="(editPermission !== false ? 'loadingEllipsis' : 'noContent') | translate">
        <ng-template let-cardItem pTemplate="listItem">
          <div class="p-col-12">
            <app-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-card-item>
          </div>
        </ng-template>
      </p-dataView>
    </app-card>
  </div>
</div>