@use "src/variables" as v;

::ng-deep .app-card-item-report {

  .p-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-width: 260px;
    width: 260px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
    display: flex;
    .display-mode-grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
    .display-mode-grid, .display-mode-list {
      .card-item-header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        display: flex;
        padding: 10px;
        min-height: 37px;
        cursor: pointer;
        .fa-tools {
          font-size: 1.1rem;
          transform: rotate(30deg);
          color: #939393;
        }
        .fa-trash {
          font-size: 1.1rem;
          color: #939393;
        }
      }
    }

    .display-mode-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        .card-item-header {
          padding-bottom: 0;
          padding-top: 0.5em;
          min-height: 1rem;
          justify-content: flex-end;
          .fa-trash {
            font-size: 15px;
          }
        }
        .card-item-footer {
          padding-bottom: 3px;
        }
      }
    }
    .p-card-body {
      padding: 0;
      height: 100%;
    }
    .p-card-content {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .card-item-content.card-link {
      cursor: pointer;
      border: none;
      outline: none;
      flex: 1;
    }
    .card-item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #888e96;
      padding: 0 !important;

      .icon-card {
        font-size: 2.5rem;
        color: #888e96;
      }
     .icon-new {
        font-size: 3rem;
        color: rgba(147, 147, 147, 0.5);
      }
      .card-item-name {
        font-size: 0.9rem;
        font-family: v.$fontFamilyMedium;
        padding: 0.5em 5px 0;
        display: flex;
        flex: 1;
        align-items: center;
        text-align: center;
      }
      .card-item-fullName {
        font-size: 14px;
        font-family: v.$fontFamilyMedium;
        text-align: center;
        // width: 260px;
        padding: 0 5px;
        white-space: wrap;
        word-break: break-word;
        letter-spacing: normal;
      }
      &.cardList {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 1em;
        .card-item-name {
          padding: 0 5px 0;
        }
      }
    }
    .card-item-footer {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
      .card-item-id {
        color: #888e96;
        font-size: 0.6rem;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  &.mobile {
    .p-card {
      max-width: 100%;
      width: 100%;
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      height: 50px;
      width: 100%;
      .card-item-name {
        flex: none;
      }
    }
  }
}

::ng-deep .new-carditem-report {
  .p-card {
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 260px;
    width: 260px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
    .p-card-body {
      padding: 0;
    }
    .p-card-body .p-card-content {
      height: 100%;
      p-menu {
        .p-menu-overlay .p-menu-list {
          max-width: 20em;
          .p-menuitem .p-menuitem-link {
            .p-menuitem-icon {
              font-size: 0.8rem;
              color: #939393;
            }
            .p-menuitem-text {
              font-size: 0.9rem;
              font-family: v.$fontFamilyMedium;
              color: #939393;
            }
          }
        }
      }
    }
    .p-card-body .p-card-content .carditem-content {
      padding: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .app-icon {
        cursor: pointer;
      }
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      height: 50px;
      width: 100%;
      .p-card-content {
        padding: 0;
        .carditem-content {
          padding: 0 !important;
        }
      }
    }
  }
}

::ng-deep .new-carditem-report.new-card-item-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  .p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    padding: 1em 0;
    .p-card-body .p-card-content .carditem-content {
      padding: 0;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
  &.cardList {
    padding: 0;
    height: 80px;
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 100%;

    }
  }
}
