<div class="app-workpack-section-cost-accounts" *ngIf="sectionCostAccount">
  <app-card [properties]="sectionCostAccount.cardSection" [class.panel-tab-view]="showTabview"
    (editFilter)="handleEditFilterCostAccount($event)" (newFilter)="handleNewFilterCostAccount()"
    (selectedFilter)="handleSelectedFilterCostAccount($event)" (createNewElement)="handleCreateNewCostAccount()">
    <div class="cost-account-list-container">
      <div class="loading-container" *ngIf="sectionCostAccount?.cardSection?.isLoading">
        <app-card-loading [isCardLoading]="sectionCostAccount?.cardSection?.isLoading"></app-card-loading>
      </div>
      <p-dataView [value]="sectionCostAccount?.cardItemsSection" layout="grid" class="app-dataview"
        [emptyMessage]="'notFoundCostAccounts' | translate" *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) &&
          sectionCostAccount.cardItemsSection && sectionCostAccount.cardItemsSection.length > 0" [paginator]="true"
        [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
        [totalRecords]="totalRecordsCostAccounts">
        <ng-template let-cardItem pTemplate="gridItem">
          <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
            <app-card-item [properties]="cardItem"
              [class.inherited]="cardItem.idWorkpack !== workpackParams.idWorkpack.toString()">
            </app-card-item>
          </div>
        </ng-template>
      </p-dataView>
      <p-dataView [value]="sectionCostAccount.cardItemsSection" layout="list" class="app-dataview app-dataview-list"
        [emptyMessage]="'notFoundCostAccounts' | translate"
        *ngIf="(displayModeAll === 'list' && !responsive) && sectionCostAccount.cardItemsSection && sectionCostAccount.cardItemsSection.length > 0"
        [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
        [totalRecords]="totalRecordsCostAccounts">
        <ng-template let-cardItem pTemplate="listItem">
          <div class="p-col-12">
            <app-card-item [properties]="cardItem" [class.inherited]="cardItem.idWorkpack !== workpackParams.idWorkpack"
              [displayModeCard]="displayModeAll">
            </app-card-item>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-card>
</div>