@use "src/variables" as v;

::ng-deep .app-workpack-section-cost-accounts {
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .card-item-container app-card-item.inherited {
    .p-card {
      background-color: transparent !important;
     .card-item-header .p-button {
        visibility: hidden;
      }
    }
  }
}