@use "src/variables" as v;

::ng-deep .workpack-unit-selection {
  .app-single-selection .p-dropdown {
    width: 20%;
  }
}

::ng-deep .workpack-unit-selection-not-fullLine {
  .app-single-selection .p-dropdown {
    width: 100%;
  }
}

::ng-deep .workpack-unit-selection-mobile {
  .app-single-selection .p-dropdown {
    width: 100%;
  }
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}