<ng-container [ngSwitch]="properties.typeCardItem">
  <p-card *ngSwitchCase="'listItem'" class="app-card-item listItem" [class.mobile]="responsive">
    <p-header *ngIf="properties.menuItems" class="card-item-header">
      <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
      <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
        (click)="menu.toggle($event)"></button>
    </p-header>
    <div class="card-item-content" [class.card-link]="properties.urlCard" [routerLink]="properties.urlCard"
      [queryParams]="getQueryParams()">
      <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
        [ngStyle]="{ fontSize: '2.5rem' }"></i>
      <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
      tooltipPosition="bottom">{{properties.nameCardItem}}</span>
      <span class="card-item-subtitle" *ngIf="properties.subtitleCardItem">{{properties.subtitleCardItem}}</span>
    </div>
    <div class="card-item-footer" *ngIf="cardIdItem">
      <span class="card-item-id">
        {{cardIdItem}}
      </span>
    </div>
  </p-card>
  <p-card *ngSwitchCase="'listItemStakeholder'" class="app-card-item listItemStakeholder" [class.mobile]="responsive">
    <p-header *ngIf="properties.menuItems" class="card-item-header">
      <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
      <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
        (click)="menu.toggle($event)"></button>
    </p-header>
    <div class="card-item-content" [class.card-link]="properties.urlCard"
      (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">
      <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
        [ngStyle]="{ fontSize: '2.5rem' }"></i>
      <span class="card-item-name">{{properties.nameCardItem}}</span>
      <span class="card-item-subtitle" *ngIf="properties.subtitleCardItem">{{properties.subtitleCardItem}}</span>
    </div>
    <div class="card-item-footer" *ngIf="cardIdItem">
      <span class="card-item-id">
        {{cardIdItem}}
      </span>
    </div>
  </p-card>
  <p-card *ngSwitchCase="'listItemCostAccount'" class="app-card-item listItemCostAccount" [class.mobile]="responsive">
    <p-header *ngIf="properties.menuItems" class="card-item-header">
      <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
      <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
        (click)="menu.toggle($event)"></button>
    </p-header>
    <div class="card-item-content" [class.card-link]="properties.urlCard" [routerLink]="properties.urlCard"
      [queryParams]="getQueryParams()">
      <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
        [ngStyle]="{ fontSize: '2.5rem' }"></i>
      <span class="card-item-name">{{properties.nameCardItem}}</span>
      <span class="card-item-funder" *ngIf="properties.subtitleCardItem">{{properties.subtitleCardItem}}</span>
      <span class="card-item-costValue" *ngIf="properties.costAccountsValue">{{properties.costAccountsValue |number}}</span>
    </div>
    <div class="card-item-footer" *ngIf="cardIdItem">
      <span class="card-item-id">
        {{cardIdItem}}
      </span>
    </div>
  </p-card>
  <p-card *ngSwitchCase="'newCardItem'" class="new-carditem" [class.card-link]="properties.urlCard" [class.mobile]="responsive"
    [class.new-card-item-mobile]="responsive" (click)="properties.urlCard && navigateToPage(properties.urlCard, properties.paramsUrlCard)">
    <div class="carditem-content">
      <i [ngClass]="[ 'app-icon', properties.icon, 'light-grey-icon']" (click)=" properties.iconMenuItems && menuIcon.toggle($event)"
        [ngStyle]="{ fontSize: (responsive ? 2 : 3) + 'rem' }" [class.card-link]="properties.iconMenuItems"></i>
      <p-menu #menuIcon [popup]="true" [model]="properties.iconMenuItems"></p-menu>
    </div>
  </p-card>
</ng-container>
