<p-card class="app-card-item-cost" *ngIf="properties.type === 'cost-card'">
  <p-header class="card-item-header">
    <span class="card-item-title">{{properties.costAccountName}}</span>
    <p-menu #menu [popup]="true" [model]="properties.menuItemsCost"></p-menu>
    <button type="button" pButton icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"
      *ngIf="properties.menuItemsCost"></button>
  </p-header>
  <div class="card-item-values p-fluid">
    <div class="float-label-container">
      <span class="p-float-label" [class.responsive]="responsive">
        <p-inputNumber [class]="'app-input-number costPlanned-'+properties.idCost " id="unit-planned"
          [(ngModel)]="properties.plannedWork"
          [class.red]="properties.plannedWork < 0"
          (onInput)="handleCostChange($event,'plannedWork'); checkCostAccountBalance($event, 'plannedWork')"
           mode="decimal" [locale]="currentLang" [minFractionDigits]="2" [maxFractionDigits]="2"
          [disabled]="!!properties.readonly">
        </p-inputNumber>
        <label class="app-input-label" for="unit-planned">{{properties.unitMeasureName}} {{ "planned" |translate
          }} * </label>
      </span>
    </div>
    <div class="cost-account-allocation"
      [class.red-balance]="properties.costAccountAllocation && (properties.costAccountAllocation.limit - properties.costAccountAllocation.planed - properties.plannedWork) < 0">
      <label class="allocation-label"
        *ngIf="properties.costAccountAllocation && properties.costAccountAllocation.limit > 0">{{'balance'
        |translate}}:</label>
      <span *ngIf="properties.costAccountAllocation && properties.costAccountAllocation.limit > 0">
        {{(properties.costAccountAllocation.limit - properties.costAccountAllocation.planed - properties.plannedWork) |
        number:'0.2-2': currentLang}}</span>
    </div>
    <div class="cost-button-replicate-container" *ngIf="properties.showReplicateButton">
      <i class="fas fa-caret-up" [class.disabled]="!!properties.readonly"
      (click)="!properties.readonly && confirmReplicateValueDif()"></i>
    </div>
    <div class="float-label-container">
      <span class="p-float-label" [class.responsive]="responsive">
        <p-inputNumber class="app-input-number" id="float-planned" [(ngModel)]="properties.actualWork"
          [disabled]="!!properties.readonly"
          [class.red]="properties.actualWork < 0"
          (onInput)="handleActualCostChange($event,'actualWork'); checkCostAccountBalance($event, 'actualWork')" mode="decimal" [locale]="currentLang"
          [minFractionDigits]="2" [maxFractionDigits]="2">
        </p-inputNumber>
        <label class="app-input-label" for="float-planned">{{properties.unitMeasureName}} {{ "actual" |translate
          }}</label>
      </span>
    </div>
    <div class="validate-actualwork-message" *ngIf="actualWorkValidadeMessage">
      <span>{{actualWorkValidadeMessage}}</span>
    </div>
    <div class="cost-account-allocation"
      *ngIf="properties.costAccountAllocation && properties.costAccountAllocation.limit > 0"
      [class.red-balance]="(properties.costAccountAllocation && (properties.costAccountAllocation.limit - properties.costAccountAllocation.actual - properties.actualWork) < 0)">
      <label *ngIf="properties.costAccountAllocation && properties.costAccountAllocation.limit > 0"
        class="allocation-label">{{'balance' |translate}}:</label>
      <span *ngIf="properties.costAccountAllocation && properties.costAccountAllocation.limit > 0">
        {{(properties.costAccountAllocation.limit - properties.costAccountAllocation.actual - properties.actualWork)|
        number:'0.2-2': currentLang}}</span>
    </div>
  </div>
  <div class="card-item-footer" *ngIf="cardIdItem">
    <span class="card-item-id">
      {{cardIdItem}}
    </span>
  </div>
</p-card>

<p-card class="new-card-item-cost" [class.new-card-item-cost-mobile]="responsive"
  *ngIf="properties.type === 'new-cost-card'">
  <div class="card-item-content">
    <i [ngClass]="[ 'app-icon', iconsEnum.Plus, 'light-grey-icon' ]" [ngStyle]="{ fontSize: '3rem' }"
      [class.card-link]="properties.menuItemsNewCost" (click)=" menuIcon.toggle($event)"></i>
    <p-menu #menuIcon [popup]="true" [model]="properties.menuItemsNewCost"></p-menu>
  </div>
</p-card>