<div class="app-property-date">
  <span class="p-float-label">
    <p-calendar [id]="property.name" [(ngModel)]="property.value" class="app-select-date" showIcon="true"
      icon="fas fa-calendar-alt" [dateFormat]="calendarFormat" [defaultDate]="defaultValue" [monthNavigator]="true"
      [yearNavigator]="true" yearRange="2020:2030" [required]="property.required" [minDate]="dateMin"
      [maxDate]="dateMax" [disabled]="property.disabled" [class.ng-invalid]="property.invalid"
      (ngModelChange)="changed.emit($event)" (onBlur)="changed.emit($event)">
    </p-calendar>
    <label class="app-input-label" for="float-name">{{ "value" | translate }} * </label>
  </span>
</div>