@use "src/variables" as v;

::ng-deep .app-stakeholder-organization {
  width: 100%;
  position: relative;
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }
 .app-stakeholder-header {
    padding: 0.5em 0;
    font-size: 0.9rem;
    font-family: v.$fontTitle !important;
    color: v.$fontInput;
  }
  .app-stakeholder-header-mobile {
    font-size: 1rem;
    font-family: v.$fontFamilyBold !important;
    font-weight: bold;
  }
  .card-organization {
    width: 100%;
    .organization-properties {
      .search-container {
        padding-bottom: 2em;
        .p-dropdown {
          width: 30%;
        }
        .responsive {
          .p-dropdown {
            width: 100%;
          }
        }
      }
    }
    .organization-property {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      .property-label {
        font-family: v.$fontFamilyMedium;
        font-size: 12px;
        color: v.$fontLabel;
        font-style: italic;
      }
      .property-value {
        font-family: v.$fontFamilyMedium;
        font-size: 0.9rem;
        color: v.$fontInput;
        padding: 0.5rem 0;
      }
    }
    .organization-header {
      display: flex;
      .property-sector {
        margin-left: 2em;
      }
    }

  }
  .card-roles {
    margin-top: 2em;
  }
  ::ng-deep .dataview-card-items {
    position: static !important;
    background-color: transparent;
    .p-dataview-content, .p-grid {
      background-color: transparent;
    }
    .card-item-container {
      padding: 0.5em;
      min-height: 9.5em !important;
      &:first-child {
        padding: 0.5em 0.5em 0.5em 0;
      }
    }
    .card-item-container.responsive {
      padding: 0.5em 0;
    }
  }

  .app-save-button-layout {
    position: relative;
    height: 15vh;
    width: 100%;
    overflow: hidden;
  }
  .app-save-button-wrapper {
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 100;

    .button-label {
      background-color: v.$bgButtonGreen;
      color: v.$fontWhite;
      font-size: 1.25rem;
      padding: .5em 1.5em;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 7px 10px 2px rgba(0,0,0,.1);
      cursor: pointer;

      &:hover {
        background-color: v.$bgButtonGreenHover;
      }
    }
  }
}
