.app-baseline-list{
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .back-to-management-container {
    color: #13546C;
    cursor: pointer;
    margin-bottom: 1em;
    width: max-content;
    .fa-reply {
      margin-right: 0.5em;
    }
    .text {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }
  .card-container {
    margin-bottom: 2rem;
  }
}
