<div class="app-baseline-list">
  <div class="back-to-management-container" *ngIf="showBackToManagement" (click)="navigateToManagement()">
    <i class="fas fa-reply"></i>
    <span class="text">{{'backToManagement' | translate}}</span>
  </div>
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span class="label">{{ 'baselines' | translate }} </span>
    </div>
    <app-config-data-view-panel>
    </app-config-data-view-panel>
  </div>
  <ng-container *ngFor="let cardBaseline of cardsBaselines; let i = index">
    <div class="card-container">
      <app-card
        class="mt-0"
        [properties]="cardBaseline"
        (editFilter)="handleEditFilter($event)"
        (searchText)="handleSearchText($event, cardBaseline.cardTitle)"
        (newFilter)="handleNewFilter()"
        (selectedFilter)="handleSelectedFilter($event, cardBaseline.cardTitle)"
      >
        <div class="loading-container" *ngIf="cardBaseline.isLoading">
          <app-card-loading [isCardLoading]="cardBaseline.isLoading"></app-card-loading>
        </div>
        <p-dataView
          *ngIf="displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive && !cardBaseline.isLoading)"
          class="app-dataview"
          layout="grid"
          [value]="cardBaseline.cardItems"
          [paginator]="true"
          [rows]="pageSize"
          [showJumpToPageDropdown]="true"
          [showPageLinks]="false"
          [totalRecords]="cardBaseline.totalRecords"
          [emptyMessage]="'notFoundBaselineOnStatus' | translate"
        >
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-baseline-card-item [properties]="cardItem"></app-baseline-card-item>
            </div>
          </ng-template>
        </p-dataView>

        <p-dataView
          *ngIf="displayModeAll === 'list' && !responsive && !cardBaseline.isLoading"
          class="app-dataview app-dataview-list"
          layout="list"
          [value]="cardBaseline.cardItems"
          [paginator]="true"
          [rows]="pageSize"
          [showJumpToPageDropdown]="true"
          [showPageLinks]="false"
          [totalRecords]="cardBaseline.totalRecords"
          [emptyMessage]="'notFoundBaselineOnStatus' | translate"
        >
          <ng-template let-cardItem pTemplate="listItem">
            <div class="p-col-12">
              <app-baseline-card-item [properties]="cardItem"
                [displayModeCard]="displayModeAll"></app-baseline-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </app-card>
    </div>
  </ng-container>
  <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
</div>