@use "src/variables" as v;

.app-strategy {
  width: 100%;

  .p-float-label {
    margin-top: 2.5em;
  }
  .p-float-label:first-child {
    margin-top: 1.5em;
  }
  .models-cards-section {
    margin-top: 1em;
  }
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }

  ::ng-deep .card-properties {
    .p-toggleable-content {
      position: relative;
    }
  }
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }
  .desktop {
    width: 30%;
  }
  ::ng-deep .card-sharing {
    .offices-sharing-container {
      min-width: 20%;
      margin-bottom: 2em;
      .app-multiple-selection {
        min-width: 20%;
      }
      .p-multiselect {
        min-width: 20%;
      }
    }
    .offices-sharing-container.responsive {
      min-width: 100%;
      .app-multiple-selection {
        min-width: 100%;
      }
      .p-multiselect {
        min-width: 100%;
      }
      .p-multiselect-label {
        white-space: normal;
      }
      .p-multiselect-token {
        margin-top: 0.5em;
      }
    }
  }
  ::ng-deep .app-multiple-selection {
    .p-multiselect-chip {
      padding-top: 0.5em;
      .p-multiselect-label .p-multiselect-token .p-multiselect-token-label {
        font-family: v.$fontFamilyMedium;
        font-size: 0.8rem;
        border: none;
        border-bottom: 1px solid v.$borderInput;
        border-radius: 0;
        background-color: transparent;
        color: v.$fontInput;
      
        &.p-focus {
          border-color: transparent !important;
          border-bottom: 1px solid v.$borderInput !important;
          box-shadow: none !important;
        }
        &:enabled:focus {
          border-bottom: 1px solid v.$borderInput;
          box-shadow: none;
        }
        &:hover {
          border-bottom: 1px solid v.$borderInputHover !important;
          box-shadow: none;
        }
        .full-line {
          width: 100%;
        }
      }
    }
    
  }
}
