<div class="app-strategy">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span *ngIf="idStrategy">{{ propertiesStrategy?.name }}</span>
      <span *ngIf="!idStrategy">{{ 'new' | translate }} {{ 'planModel' | translate }}</span>
    </div>
    <app-config-data-view-panel>
    </app-config-data-view-panel>
  </div>
  <div class="card-properties" *ngIf="cardProperties">
    <app-card [properties]="cardProperties">
      <div class="loading-container" *ngIf="cardProperties.isLoading">
        <app-card-loading [isCardLoading]="cardProperties.isLoading"></app-card-loading>
      </div>
      <div *ngIf="!cardProperties.isLoading">
        <form [formGroup]="formStrategy">
          <span class="p-float-label">
            <input formControlName="name" type="text" pInputText class="app-input-text" [class.mobile]="responsive"
              [class.desktop]="!responsive">
            <label for="float-input" class="app-input-label">{{'name' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formStrategy" field="name"></app-input-message>
          <span class="p-float-label margin-top">
            <textarea pInputTextarea formControlName="fullName" class="app-text-area" rows="3"
              [ngModel]="(formStrategy.touched) ? formStrategy.value.fullName : formStrategy.value.name">
              </textarea>
            <label for="float-input" class="app-input-label">{{'fullName' | translate}}<span
                class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formStrategy" field="fullName"></app-input-message>
        </form>
      </div>
    </app-card>
  </div>
  <section *ngIf="idStrategy && cardModels" class="models-cards-section">
    <div class="card-plans">
      <app-card [properties]="cardModels">
        <div class="loading-container" *ngIf="isLoading">
          <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
        </div>
        <p-dataView [value]="cardItemsModels" class="app-dataview" layout="grid" styleClass="dataview-card-items"
          *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !isLoading"
          [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
          [totalRecords]="totalRecords" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
        <p-dataView [value]="cardItemsModels" class="app-dataview app-dataview-list" layout="list"
          styleClass="dataview-card-items" *ngIf="(displayModeAll === 'list' && !responsive) && !isLoading"
          [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
          [totalRecords]="totalRecords" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="listItem">
            <div class="p-col-12">
              <app-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </app-card>
    </div>
  </section>
  <section *ngIf="idStrategy && cardCostAccountModel" class="models-cards-section">
    <div class="card-cost-account-model">
      <app-card [properties]="cardCostAccountModel">
        <div class="loading-container" *ngIf="cardCostAccountModel?.isLoading">
          <app-card-loading [isCardLoading]="cardCostAccountModel?.isLoading"></app-card-loading>
        </div>
        <p-dataView [value]="costAccountModelCardItem" class="app-dataview" layout="grid" styleClass="dataview-card-items"
          *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !cardCostAccountModel?.isLoading"
           [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
        <p-dataView [value]="costAccountModelCardItem" class="app-dataview app-dataview-list" layout="list"
          styleClass="dataview-card-items" *ngIf="(displayModeAll === 'list' && !responsive) && !cardCostAccountModel?.isLoading"
           [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="listItem">
            <div class="p-col-12">
              <app-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </app-card>
    </div>
  </section>
  <section *ngIf="sharingProperties && !!idStrategy" class="sharing-section">
    <div class="card-sharing">
      <app-card [properties]="sharingProperties">
        <span class="p-float-label offices-sharing-container" [class.responsive]="responsive">
          <p-multiSelect class="app-multiple-selection" [options]="officeListOptionsSharing" [(ngModel)]="sharedWith"
            [disabled]="!editPermission" [showToggleAll]="false" display="chip" optionLabel="name"
            [selectedItemsLabel]="language === 'pt-BR' ? '{0} itens selecionados' : '{0} items selected'"
            (onChange)="checkSelectAllOffices($event)"></p-multiSelect>
          <label class="app-input-label" for="float-label">{{'offices'|translate}}</label>
        </span>
      </app-card>
    </div>
  </section>
  <section *ngIf="idStrategy" class="models-cards-section">
    <div class="card-models">
      <app-card [properties]="reportModelsProperties">
        <div class="loading-container" *ngIf="reportModelsProperties.isLoading">
          <app-card-loading [isCardLoading]="reportModelsProperties.isLoading"></app-card-loading>
        </div>
        <p-dataView [value]="cardItemsReportModels" class="app-dataview" layout="grid" styleClass="dataview-card-items"
          *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !reportModelsProperties.isLoading"
          [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
          [totalRecords]="totalRecords" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item-report-model [properties]="cardItem"
                (deleteReport)="handleDeleteReport($event)"></app-card-item-report-model>
            </div>
          </ng-template>
        </p-dataView>
        <p-dataView [value]="cardItemsReportModels" class="app-dataview app-dataview-list" layout="list"
          styleClass="dataview-card-items"
          *ngIf="(displayModeAll === 'list' && !responsive) && !reportModelsProperties.isLoading" [paginator]="true"
          [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false" [totalRecords]="totalRecords"
          [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="listItem">
            <div class="p-col-12">
              <app-card-item-report-model [properties]="cardItem" (deleteReport)="handleDeleteReport($event)"
                [displayModeCard]="displayModeAll"></app-card-item-report-model>
            </div>
          </ng-template>
        </p-dataView>
      </app-card>
    </div>
  </section>
  <div class="id-container" *ngIf="idStrategy && cardProperties">
    <span>{{idStrategy}}</span>
  </div>
  <app-save-button (save)="handleOnSubmit()"></app-save-button>
</div>