<ng-container [ngSwitch]="cardType">
  <p-card *ngSwitchCase="'standard'" class="app-workpack-card-item listItem" [class.mobile]="responsive"
    [class.cardList]="displayModeCard === 'list' && !responsive" [class.canceled]="properties.canceled">
    <div class="display-mode-grid" *ngIf="displayModeCard !== 'list' || (displayModeCard === 'list' && !!responsive)">
      <p-header *ngIf="properties.menuItems" class="card-item-header">
        <div class="header-content">
          <div class="status-container"
            *ngIf="(!!properties.endManagementDate && properties.endManagementDate !== null) || !!properties.completed">
            <i class="far fa-stop-circle"
              *ngIf="!!properties.endManagementDate && properties.endManagementDate !== null"
              [pTooltip]="'managementEnded'|translate"></i>
            <i class="far fa-check-square" *ngIf="!!properties.completed" [pTooltip]="label|translate"></i>
          </div>
          <div class="status-container" *ngIf="(!properties.endManagementDate || properties.endManagementDate === null) && !properties.completed &&
            properties?.dashboardData?.risk?.total > 0">
            <i class="app-icon risk" [ngStyle]="{ fontSize: '1.5rem' }" [class.risk-red]="riskImportance === 'high'"
              [class.risk-yellow]="riskImportance === 'low'" [class.risk-orange]="riskImportance === 'medium'"
              (mouseenter)="riskPanel.show($event)" (mouseleave)="riskPanel.hide()"></i>
          </div>
          <p-overlayPanel #riskPanel class="risk-overlay-panel">
            <div class="risk-panel-content">
              <div class="title">
                <span class="total">{{properties?.dashboardData?.risk?.total}}</span>
                <span class="text">{{'risksRequireAttention'|translate}}</span>
              </div>
              <div class="risks-container">
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.high > 0">
                  <i class="app-icon risk risk-red" [ngStyle]="{ fontSize: '1.2rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.high}}</span>
                  <label>{{'high'|translate}}</label>
                </div>
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.medium > 0">
                  <i class="app-icon risk risk-orange" [ngStyle]="{ fontSize: '1.2rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.medium}}</span>
                  <label>{{'medium'|translate}}</label>
                </div>
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.low > 0">
                  <i class="app-icon risk risk-yellow" [ngStyle]="{ fontSize: '1.2rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.low}}</span>
                  <label>{{'low'|translate}}</label>
                </div>
              </div>
            </div>
          </p-overlayPanel>
          <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
          <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
            (click)="menu.toggle($event)"></button>
        </div>
      </p-header>
      <div class="card-item-content" [class.cardList]="displayModeCard !== 'list'">
        <div class="left-content">
          <div class="milestones-progressbar" *ngIf="properties.dashboardData?.milestone?.quantity > 0"
            [ngStyle]="{ height: '80px'}" (mouseenter)="milestonePanel.show($event)"
            (mouseleave)="milestonePanel.hide()">
            <div class="concluded"
              [ngStyle]="{ height: ((properties.dashboardData?.milestone?.concluded / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
            </div>
            <div class="late"
              [ngStyle]="{ height: ((properties.dashboardData?.milestone?.late / (properties.dashboardData?.milestone?.quantity))*100) + '%'} ">
            </div>
            <div class="ontime"
              [ngStyle]="{ height: ((properties.dashboardData?.milestone?.onTime / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
            </div>
            <div class="concluded-late"
              [ngStyle]="{ height: ((properties.dashboardData?.milestone?.lateConcluded / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
            </div>
          </div>
        </div>
        <p-overlayPanel #milestonePanel class="milestones-overlay-panel">
          <div class="milestone-panel-content">
            <app-doughnut-chart [data]="dashboardMilestonesData"
              [middleText]="properties?.dashboardData?.milestone?.quantity?.toString()"
              [midleTextBottom]="milestoneMidleTextBottom">
            </app-doughnut-chart>
          </div>
        </p-overlayPanel>
        <div class="center-content">
          <div class="workpack-container" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()"
            [class.card-link]="properties.urlCard">
            <div class="icons-container">
              <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
                [class.linked]="!!properties?.linked || !!properties.shared" [ngStyle]="{ fontSize: '2rem' }"></i>
              <i [ngClass]="['app-icon', 'link-to', 'grey-icon', 'linked']" *ngIf="!!properties?.linked"></i>
              <i [ngClass]="['app-icon', 'sharing', 'grey-icon', 'linked']"
                *ngIf="!!properties.shared && !properties.linked"></i>
            </div>
            <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
              tooltipPosition="bottom">{{properties.nameCardItem}}</span>
          </div>
          <div class="triple-constraint-container" [ngStyle]="{'min-height': '21px'}">
            <i class="fas fa-dollar-sign" [ngStyle]="{color: iconCostColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseleave)="costConstraintPanel.hide()"
              (mouseenter)="validateShowTripleConstraintCost() && costConstraintPanel.show($event)"
              ></i>
            <i class="far fa-clock" [ngStyle]="{color: iconScheduleColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseenter)="validateShowTripleConstraintSchedule() && scheduleConstraintPanel.show($event)"
              (mouseleave)="scheduleConstraintPanel.hide()"></i>
            <i class="fas fa-boxes" [ngStyle]="{color: iconScopeColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseenter)="validateShowTripleConstraintScope() && scopeConstraintPanel.show($event)"
              (mouseleave)="scopeConstraintPanel.hide()"></i>
          </div>
          <p-overlayPanel #costConstraintPanel>
            <div class="constraint-content" *ngIf="properties?.dashboardData">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-cost-constraint [cost]="properties.dashboardData?.tripleConstraint?.cost"></app-cost-constraint>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #scheduleConstraintPanel>
            <div class="constraint-content">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-schedule-constraint [schedule]="properties.dashboardData?.tripleConstraint?.schedule">
              </app-schedule-constraint>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #scopeConstraintPanel>
            <div class="constraint-content">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-scope-constraint [scope]="properties.dashboardData?.tripleConstraint?.scope"></app-scope-constraint>
            </div>
          </p-overlayPanel>
        </div>
        <div class="right-content">
          <div class="indexes">
            <span class="index" [ngStyle]="{color: cpiColor}" (mouseenter)="cpiPanel.show($event)"
              (mouseleave)="cpiPanel.hide()"
              *ngIf="properties?.dashboardData?.costPerformanceIndex">{{'CPI'|translate}}</span>
            <span class="index" (mouseenter)="spiPanel.show($event)" (mouseleave)="spiPanel.hide()"
              *ngIf="properties?.dashboardData?.schedulePerformanceIndex"
              [ngStyle]="{color: spiColor}">{{'SPI'|translate}}</span>

            <div class="status-container"
              *ngIf="properties?.journalInformation?.date">
              <i class="fas fa-info" *ngIf="!properties?.journalInformation?.actual" style="cursor: pointer"
                (click)="handleShowJournalInformation(properties?.journalInformation); journalInformationPanel.show($event)"
                ></i>
              <i class="fas fa-info-circle" [ngStyle]="{ fontSize: '1.2rem' }"
                *ngIf="properties?.journalInformation?.actual" style="cursor: pointer"
                (click)="handleShowJournalInformation(properties.journalInformation); journalInformationPanel.show($event)"></i>
            </div>
          </div>
          <p-overlayPanel #journalInformationPanel class="journal-info-overlay-panel" [showCloseIcon]="true" [dismissable]="false">
            <div class="journal-info-panel-content"
              *ngIf="properties && properties?.journalInformation">

              <div class="loading-menu-container" *ngIf="properties?.journalInformation?.loading">
                <div class="menu-loading">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                    strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
                  </p-progressSpinner>
                </div>
              </div>
              <div class="card-information-container" *ngIf="properties && properties?.journalInformation 
                && properties?.journalInformation?.date
                && !properties?.journalInformation?.loading">
                <app-card-journal-information
                  [information]="properties?.journalInformation"></app-card-journal-information>
              </div>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #cpiPanel>
            <div class="index-content">
              <span style="font-size: .8rem; white-space: pre-wrap;">{{ 'CPIdescription' | translate }}</span>
              <app-gauge-chart *ngIf="gaugeChartDataCPI" [config]="gaugeChartDataCPI"></app-gauge-chart>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #spiPanel>
            <div class="index-content">
              <span style="font-size: .8rem; white-space: pre-wrap;">{{ 'SPIdescription' | translate }}</span>
              <app-gauge-chart *ngIf="gaugeChartDataSPI" [config]="gaugeChartDataSPI"></app-gauge-chart>
            </div>
          </p-overlayPanel>
          <div class="footer-info">
            <i class="app-icon baseline" *ngIf="!!properties?.hasBaseline" [pTooltip]="properties?.baselineName"></i>
            <span class="card-item-id">
              {{cardIdItem}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="display-mode-list" *ngIf="displayModeCard === 'list' && !responsive">
      <div class="left-container">
        <div class="workpack-container" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()"
          [class.card-link]="properties.urlCard">
          <div class="icons-container">
            <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
              [class.linked]="!!properties.linked || !!properties.shared" [ngStyle]="{ fontSize: '1.5rem' }"></i>
            <i [ngClass]="['app-icon', 'link-to', 'grey-icon', 'linked']" *ngIf="!!properties.linked"
              [ngStyle]="{ marginLeft: '5px' }"></i>
            <i [ngClass]="['app-icon', 'sharing', 'grey-icon', 'linked']" [ngStyle]="{ marginLeft: '5px' }"
              *ngIf="!!properties.shared && !properties.linked"></i>
          </div>
          <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
            tooltipPosition="bottom">{{properties.nameCardItem}}</span>
        </div>
      </div>
      <div class="right-container">
        <div class="dashboard-items-container">
          <div class="status-container">
            <ng-container
              *ngIf="properties?.projectStatus"
              [ngTemplateOutlet]="iconConfig"
              [ngTemplateOutletContext]="properties.projectStatus | workpackStatusConfig"
            >
              <ng-template
                #iconConfig
                let-icon="icon"
                let-iconOrigin="iconOrigin"
                let-iconSrc="iconSrc"
                let-iconColor="iconColor"
              >
                <div class="status-container">
                  <ng-container *ngIf="iconOrigin === 'img' else iconTemplate">
                    <img
                      class="img-status-icon"
                      [ngStyle]="{ color: iconColor || 'black' }"
                      [src]="'../../../../../../../..' + iconSrc"
                      [pTooltip]="icon"
                    >
                  </ng-container>

                  <ng-template #iconTemplate>
                    <i
                      class="i-status-icon"
                      [ngClass]="iconSrc"
                      [ngStyle]="{ color: iconColor || 'black' }"
                      [pTooltip]="icon"
                    >
                    </i>
                  </ng-template>
                </div>
              </ng-template>
            </ng-container>
            
            <i class="fas fa-info" *ngIf="properties?.journalInformation?.date && !properties?.journalInformation?.actual" style="cursor: pointer"
              (click)="handleShowJournalInformation(properties?.journalInformation); journalInformationPanelList.show($event)"
              ></i>
            <i class="fas fa-info-circle" [ngStyle]="{ fontSize: '1.2rem' }" style="cursor: pointer"
              *ngIf="properties?.journalInformation?.date && properties?.journalInformation?.actual"
              (click)="handleShowJournalInformation(properties.journalInformation); journalInformationPanelList.show($event)"
              ></i>
          </div>
          <p-overlayPanel #journalInformationPanelList class="journal-info-overlay-panel" [showCloseIcon]="true" [dismissable]="false">
            <div class="journal-info-panel-content"
              *ngIf="properties && properties?.journalInformation">

              <div class="loading-menu-container" *ngIf="properties?.journalInformation?.loading">
                <div class="menu-loading">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                    strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
                  </p-progressSpinner>
                </div>
              </div>
              <div class="card-information-container" *ngIf="properties && properties?.journalInformation 
                && properties?.journalInformation?.date
                && !properties?.journalInformation?.loading">
                <app-card-journal-information
                  [information]="properties?.journalInformation"></app-card-journal-information>
              </div>
            </div>
          </p-overlayPanel>

          <div class="status-container">
            <i class="app-icon risk" [ngStyle]="{ fontSize: '1.2rem' }" [class.risk-red]="riskImportance === 'high'"
              *ngIf="showRiskIndex()" [class.risk-yellow]="riskImportance === 'low'"
              [class.risk-orange]="riskImportance === 'medium'" (mouseenter)="riskPanelList.show($event)"
              (mouseleave)="riskPanelList.hide()"></i>
          </div>
          <div class="status-container">
            <i class="far fa-stop-circle"
              *ngIf="showEndManagementIndex() && !!properties.endManagementDate && properties.endManagementDate !== null"
              [pTooltip]="'managementEnded'|translate"></i>
            <i class="far fa-check-square" *ngIf="showEndManagementIndex() && !!properties.completed"
              [pTooltip]="label|translate"></i>
          </div>
          <p-overlayPanel #riskPanelList class="risk-overlay-panel">
            <div class="risk-panel-content">
              <div class="title">
                <span class="total">{{properties?.dashboardData?.risk?.total}}</span>
                <span class="text">{{'risksRequireAttention'|translate}}</span>
              </div>
              <div class="risks-container">
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.high > 0">
                  <i class="app-icon risk risk-red" [ngStyle]="{ fontSize: '1.5rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.high}}</span>
                  <label>{{'high'|translate}}</label>
                </div>
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.medium > 0">
                  <i class="app-icon risk risk-orange" [ngStyle]="{ fontSize: '1.5rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.medium}}</span>
                  <label>{{'medium'|translate}}</label>
                </div>
                <div class="risk-importance-item" *ngIf="properties?.dashboardData?.risk?.low > 0">
                  <i class="app-icon risk risk-yellow" [ngStyle]="{ fontSize: '1.5rem' }"></i>
                  <span>{{properties?.dashboardData?.risk?.low}}</span>
                  <label>{{'low'|translate}}</label>
                </div>
              </div>
            </div>
          </p-overlayPanel>
          <div class="milestones-progressbar-container">
            <div class="milestones-progressbar" *ngIf="properties.dashboardData?.milestone?.quantity > 0"
              (mouseenter)="milestonePanelList.show($event)" (mouseleave)="milestonePanelList.hide()">
              <div class="ontime"
                [ngStyle]="{ width: ((properties.dashboardData?.milestone?.onTime / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
              </div>
              <div class="late"
                [ngStyle]="{ width: ((properties.dashboardData?.milestone?.late / (properties.dashboardData?.milestone?.quantity))*100) + '%'} ">
              </div>
              <div class="concluded"
                [ngStyle]="{ width: ((properties.dashboardData?.milestone?.concluded / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
              </div>
              <div class="concluded-late"
                [ngStyle]="{ width: ((properties.dashboardData?.milestone?.lateConcluded / (properties.dashboardData?.milestone?.quantity))*100)  + '%'}">
              </div>
            </div>
          </div>
          <p-overlayPanel #milestonePanelList class="milestones-overlay-panel">
            <div class="milestone-panel-content">
              <app-doughnut-chart [data]="dashboardMilestonesData"
                [middleText]="properties?.dashboardData?.milestone?.quantity?.toString()"
                [midleTextBottom]="milestoneMidleTextBottom">
              </app-doughnut-chart>
            </div>
          </p-overlayPanel>
          <div class="indexes">
            <span class="index" [ngStyle]="{color: cpiColor}" (mouseenter)="cpiPanelList.show($event)"
              *ngIf="properties?.dashboardData?.costPerformanceIndex"
              (mouseleave)="cpiPanelList.hide()">{{'CPI'|translate}}</span>
            <span class="index" (mouseenter)="spiPanelList.show($event)" (mouseleave)="spiPanelList.hide()"
              *ngIf="properties?.dashboardData?.schedulePerformanceIndex"
              [ngStyle]="{color: spiColor}">{{'SPI'|translate}}</span>
          </div>
          <p-overlayPanel #cpiPanelList>
            <div class="constraint-content">
              <app-gauge-chart *ngIf="gaugeChartDataCPI" [config]="gaugeChartDataCPI"></app-gauge-chart>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #spiPanelList>
            <div class="constraint-content">
              <app-gauge-chart *ngIf="gaugeChartDataSPI" [config]="gaugeChartDataSPI"></app-gauge-chart>
            </div>
          </p-overlayPanel>
          <div class="triple-constraint-container" [ngStyle]="{'min-height': '21px'}">
            <i class="fas fa-dollar-sign" [ngStyle]="{color: iconCostColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseenter)="validateShowTripleConstraintCost() && costConstraintPanelList.show($event)"
              (mouseleave)="costConstraintPanelList.hide()"></i>
            <i class="far fa-clock" [ngStyle]="{color: iconScheduleColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseenter)="validateShowTripleConstraintSchedule() && scheduleConstraintPanelList.show($event)"
              (mouseleave)="scheduleConstraintPanelList.hide()"></i>
            <i class="fas fa-boxes" [ngStyle]="{color: iconScopeColor}"
              *ngIf="properties?.dashboardData && properties?.dashboardData?.tripleConstraint"
              (mouseenter)="validateShowTripleConstraintScope() && scopeConstraintPanelList.show($event)"
              (mouseleave)="scopeConstraintPanelList.hide()"></i>
          </div>
          <p-overlayPanel #costConstraintPanelList>
            <div class="constraint-content" *ngIf="properties?.dashboardData">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-cost-constraint [cost]="properties.dashboardData?.tripleConstraint?.cost"></app-cost-constraint>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #scheduleConstraintPanelList>
            <div class="constraint-content" *ngIf="properties?.dashboardData">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-schedule-constraint [schedule]="properties.dashboardData?.tripleConstraint?.schedule">
              </app-schedule-constraint>
            </div>
          </p-overlayPanel>
          <p-overlayPanel #scopeConstraintPanelList>
            <div class="constraint-content" *ngIf="properties?.dashboardData">
              <ng-container *ngTemplateOutlet="legend"></ng-container>
              <app-scope-constraint [scope]="properties.dashboardData?.tripleConstraint?.scope"></app-scope-constraint>
            </div>
          </p-overlayPanel>
        </div>
        <div class="menu-and-id-container">
          <p-header *ngIf="properties.menuItems" class="card-item-header">
            <div class="header-content">
              <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
              <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
                (click)="menu.toggle($event)"></button>
            </div>
          </p-header>
          <div class="footer-info">
            <i class="app-icon baseline" *ngIf="!!properties?.hasBaseline" [pTooltip]="properties?.baselineName"></i>
            <span class="card-item-id">
              {{cardIdItem}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </p-card>

  <p-card *ngSwitchCase="'milestone'" class="app-milestone-card-item listItem" [class.mobile]="responsive"
    [class.cardList]="displayModeCard === 'list'" [class.canceled]="properties.canceled">
    <div class="display-mode-grid" *ngIf="displayModeCard !== 'list'">
      <p-header *ngIf="properties.menuItems" class="card-item-header">
        <div class="header-content">
          <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
          <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
            (click)="menu.toggle($event)"></button>
        </div>
      </p-header>
      <div class="card-item-content" [class.card-link]="properties.urlCard"
        [class.cardList]="displayModeCard === 'list'">
        <ng-container *ngIf="!showReasonModal; else reasonContainer">
          <div class="icons-container" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()">
            <i [ngClass]=" ['concluded', 'lateConcluded'].includes(properties.statusItem) ?
              [ 'app-icon', 'flag-check', 'grey-icon'] : ['app-icon', 'flag-unchecked', 'grey-icon']"
              [class.linked]="!!properties.linked || !!properties.shared" [ngStyle]="{ fontSize: '1.8rem' }"
              [class.on-time]="properties?.statusItem === 'ontime' && !properties?.canceled"
              [class.late]="properties?.statusItem === 'late'"
              [class.concluded]="properties?.statusItem === 'concluded' && !properties?.canceled"
              [class.late-concluded]="properties?.statusItem === 'lateConcluded' && !properties?.canceled"></i>
            <i [ngClass]="['app-icon', 'link-to', 'grey-icon', 'linked']" *ngIf="!!properties.linked"></i>
            <i [ngClass]="['app-icon', 'sharing', 'grey-icon', 'linked']"
              *ngIf="!!properties.shared && !properties.linked"></i>
          </div>
          <span class="card-item-name" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()"
            [pTooltip]="properties.fullNameCardItem" tooltipPosition="bottom">{{properties.nameCardItem}}</span>
          <span class="card-item-date"
            *ngIf="properties.subtitleCardItem && !properties?.canceled && !properties?.editPermission"
            [class.attention-milestone]="!!attentionMilestone">
            {{
            language === 'pt-BR' ?
            (properties?.subtitleCardItem|date:'dd/MM/yyyy') :
            (properties?.subtitleCardItem|date:'yyyy/MM/dd')
            }}
          </span>
          <div class="calendar-container">
            <p-calendar  *ngIf="properties?.editPermission" [(ngModel)]="milestoneDate" [disabled]="properties?.canceled"
              [dateFormat]="language === 'pt-BR' ? 'dd/mm/yy' : 'yy/mm/dd'" [showOnFocus]="false"
              (ngModelChange)="changeMilestoneDate($event)" [showIcon]="true" inputId="icon">
            </p-calendar>
            <div class="reason-buttons" *ngIf="showReasonButtons">
              <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-check"
                (click)="saveDate()"></button>
              <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-undo"
                (click)="cancelDateChange()"></button>
            </div>
          </div>
          <span class="card-item-status" *ngIf="properties?.statusItem && !properties?.canceled"
            [class.on-time]="properties?.statusItem === 'ontime'" [class.late]="properties?.statusItem === 'late'"
            [class.concluded]="properties?.statusItem === 'concluded'"
            [class.late-concluded]="properties?.statusItem === 'lateConcluded'">{{properties?.statusItem|translate}}</span>
        </ng-container>
        <ng-template #reasonContainer>
          <div class="reason-container">
            <label class="reason-label" for="reasonText">{{ 'justification' | translate }}</label>
            <textarea pInputTextarea id="reasonText" autofocus rows="2" class="app-text-area"
              [(ngModel)]="reasonValue"></textarea>
          </div>
          <div class="reason-buttons">
            <button type="button" pButton class="app-button" [disabled]="!reasonValue?.trim()" class="p-button-sm"
              icon="fas fa-check" (click)="saveReason()"></button>
            <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-undo"
              (click)="cancelReason()"></button>
          </div>
        </ng-template>
      </div>
      <div class="card-item-footer" *ngIf="cardIdItem">
        <span class="baseline-icon">
          <i class="app-icon baseline grey-icon" *ngIf="!!properties?.hasBaseline"
            [pTooltip]="properties?.baselineName"></i>
        </span>
        <span class="card-item-id">
          {{cardIdItem}}
        </span>
      </div>
    </div>
    <div class="display-mode-list" *ngIf="displayModeCard === 'list'">
      <div class="card-item-content-list custom-card-content-list" [class.card-link]="properties.urlCard"
        [class.cardList]="displayModeCard === 'list'">
        <div class="left-side">
          <div class="icons-container-list" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()">
            <i [ngClass]=" ['concluded', 'lateConcluded'].includes(properties.statusItem) ?  [ 'app-icon', 'flag-check', 'grey-icon'] : ['app-icon', 'flag-unchecked', 'grey-icon']"
              [class.linked]="!!properties.linked || !!properties.shared" [ngStyle]="{ fontSize: '1.5rem' }"
              [class.on-time]="properties?.statusItem === 'ontime' && !properties?.canceled"
              [class.late]="properties?.statusItem === 'late' && !properties?.canceled"
              [class.concluded]="properties?.statusItem === 'concluded' && !properties?.canceled"
              [class.late-concluded]="properties?.statusItem === 'lateConcluded' && !properties?.canceled"></i>
            <i [ngClass]="['app-icon', 'link-to', 'grey-icon', 'linked']" *ngIf="!!properties.linked"></i>
            <i [ngClass]="['app-icon', 'sharing', 'grey-icon', 'linked']"
              *ngIf="!!properties.shared && !properties.linked"></i>
          </div>
          <div class="description-container" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()">
            <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
              tooltipPosition="bottom">{{properties.nameCardItem}}</span>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="date-container">
          <span class="card-item-date"
            *ngIf="properties.subtitleCardItem && !properties?.canceled && !properties?.editPermission"
            [class.attention-milestone]="!!attentionMilestone">
            {{
            language === 'pt-BR' ?
            (properties?.subtitleCardItem|date:'dd/MM/yyyy') :
            (properties?.subtitleCardItem|date:'yyyy/MM/dd')
            }}
          </span>
          <ng-container *ngIf="!showReasonModal; else reasonContainer">
            <div class="calendar-container" *ngIf="properties?.editPermission">
              <p-calendar [(ngModel)]="milestoneDate" *ngIf="properties?.editPermission" [disabled]="properties?.canceled"
                [dateFormat]="language === 'pt-BR' ? 'dd/mm/yy' : 'yy/mm/dd'" [showOnFocus]="false"
                (ngModelChange)="changeMilestoneDate($event)" [showIcon]="true" inputId="icon">
              </p-calendar>
              <div class="reason-buttons" *ngIf="showReasonButtons">
                <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-check"
                  (click)="saveDate()"></button>
                <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-undo"
                  (click)="cancelDateChange()"></button>
              </div>
            </div>
            <div class="description-container" [routerLink]="properties.urlCard" [queryParams]="getQueryParams()">
              <span class="card-item-status" *ngIf="properties?.statusItem && !properties?.canceled"
                [class.on-time]="properties?.statusItem === 'ontime'" [class.late]="properties?.statusItem === 'late'"
                [class.concluded]="properties?.statusItem === 'concluded'"
                [class.late-concluded]="properties?.statusItem === 'lateConcluded'">
                {{properties?.statusItem|translate}}</span>
            </div>
          </ng-container>
          <ng-template #reasonContainer>
            <div class="reason-line">
              <label class="reason-label" for="reasonText">{{ 'justification' | translate }}</label>
              <input pInputText id="reasonText" autofocus class="app-input-text" [(ngModel)]="reasonValue" />
              <div class="reason-buttons">
                <button type="button" pButton class="app-button" [disabled]="!reasonValue?.trim()" class="p-button-sm"
                  icon="fas fa-check" (click)="saveReason()"></button>
                <button type="button" pButton class="app-button" class="p-button-sm" icon="fas fa-undo"
                  (click)="cancelReason()"></button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="header-container">
          <p-header *ngIf="properties.menuItems" class="card-item-header">
            <div class="header-content">
              <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
              <button type="button" pButton icon="pi pi-ellipsis-v" [class.hidden]="!properties.menuItems.length"
                (click)="menu.toggle($event)"></button>
            </div>
          </p-header>
          <div class="card-item-footer" *ngIf="cardIdItem">
            <span class="baseline-icon">
              <i class="app-icon baseline grey-icon" *ngIf="!!properties?.hasBaseline"
                [pTooltip]="properties?.baselineName"></i>
            </span>
            <span class="card-item-id">
              {{cardIdItem}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </p-card>

  <ng-template #legend>
    <div class="constraint-content-cards" *ngIf="properties?.dashboardData">
      <div class="subtitles-container">
        <div class="subtitle-item">
          <div class="subtitle-box subtitle-box-planned"></div>
          <label class="subtitle-label-planned">{{'plannedBaseline'|translate}}</label>
        </div>
        <div class="subtitle-item">
          <div class="subtitle-box subtitle-box-foreseen"></div>
          <label class="subtitle-label-foreseen">{{'foreseen'|translate}}</label>
        </div>
        <div class="subtitle-item">
          <div class="subtitle-box subtitle-box-actual"></div>
          <label class="subtitle-label-actual">{{'actual'|translate}}</label>
        </div>
      </div>
    </div>
  </ng-template>

  <p-card *ngSwitchCase="'newCardItem'" class="workpack-new-carditem" [class.mobile]="responsive"
    [class.cardList]="(displayModeCard === 'list')" [class.new-card-item-mobile]="responsive">
    <div class="carditem-content">
      <i #newItemIcon [ngClass]="[ 'card-link app-icon', properties.icon, 'light-grey-icon']"
        (click)="enable && properties.iconMenuItems && menuIcon.toggle($event); (enable && !properties.iconMenuItems || properties.iconMenuItems.length === 0) && handleLoadMenu()"
        [ngStyle]="{ fontSize: (responsive ? 2 : (displayModeCard === 'list') ? 2.5 : 3) + 'rem', cursor: 'pointer' }"
        ></i>
      <p-tieredMenu #menuIcon [popup]="true" [model]="properties.iconMenuItems"></p-tieredMenu>
    </div>
  </p-card>

</ng-container>