@use "src/variables" as v;

::ng-deep .app-workpack-card-item {
  .constraint-content {
    min-width: 340px;
  }
  .index-content {
    min-width: 280px;
    .gauge-chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .chart-container {
        width: 100%;
      }
      .container-progress {
        width: 80%;
      }
    }
  }
    .p-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-width: 280px;
    width: 280px;
    min-height: 154px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
    .card-item-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 5px;
        .header-content {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .p-button {
            padding: 0 !important;
          }
        }
    }
    .status-container {
        margin-left: 8px;
        .fa-stop-circle {
          margin-right: 5px;
        }
        .fa-check-square {
          color: #2196F3;
        }
    }
    .risk-red {
      color: #C0504D;
    }
    .risk-orange {
      color: #ED7D31;
    }
    .risk-yellow {
      color: #FFC000;
    }
    .risk-overlay-panel {
      .p-overlaypanel {
        max-width: 200px;
      }
    }
    .risk-panel-content {
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 0.5em;
          .total {
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 5px;
          }
          .text {
            font-size: 1rem;
          }
        }
        .risks-container {
          display: flex;
          flex-direction: column;
          .risk-importance-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 0;
            i {
              margin-right: 0.5em;
            }
            span {
              margin-right: 5px;
            }
          }
        }
    }
    .card-item-header .header-content p-menu {
      .p-menu-overlay .p-menu-list .p-menuitem .p-menuitem-link {
        .p-menuitem-icon {
          font-size: 0.8rem;
          color: #939393;
        }
        .p-menuitem-icon.fa-times {
          font-size: 1rem;
          color: #EA5C5C;
        }
        .p-menuitem-text {
          font-size: 0.9rem;
          font-family: v.$fontFamilyMedium;
          color: #939393;
        }
      }
    }
    .card-item-header .header-content .p-button {
      background-color: transparent;
      border: none !important;
      box-shadow: none !important;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
      .p-button-icon {
        font-size: 0.9rem;
        color: #939393;
      }
    }
    .display-mode-grid {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    .display-mode-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      .left-container {
          padding: 1rem;
          display: flex;
          flex-direction: row;
          flex: 1;
          .workpack-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            max-width: 100%;
            .card-item-name {
              margin-left: 1em;
              font-weight: 500;
              font-style: normal;
              font-size: 20px;
              color: #888E96;
              width: 210px;   
              white-space: nowrap;
              word-break: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .workpack-container.card-link {
            cursor: pointer;
          }
      }
      .right-container {
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 100%;
        .dashboard-items-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          height: 100%;
          .status-container {
            width: 25%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          .milestones-progressbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 165px;
            border-radius: 12px;
            overflow: hidden;
            background-color: #fff;
            .ontime {
                height: 12px;
                background-color: #44B39B;
            }
            .late {
                height: 12px;
                background-color: #EA5C5C;
            }
            .concluded {
                height: 12px;
                background-color: #0083BB;
            }
            .concluded-late {
              height: 12px;
              background-color: #7C75B9;
            }
          }
          .indexes {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 25%;
            .index {
                font-size: 12px;
                font-weight: bold;
                padding: 5px 1em 5px 0;
            }
          }
          .triple-constraint-container {
            width: 25%;
            justify-content: space-between;
          }
        }
        .menu-and-id-container {
          display: flex;
          flex-direction: column;
          width: 10%;
          height: 100%;
          justify-content: space-between;
        }
      }
    }
    .milestones-overlay-panel {
      .chartjs-render-monitor {
        width: 200px !important;
        height: 193px !important;
      }
    }
    .p-card-body {
      padding: 0;
      height: 100%;
    }
    .p-card-content {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .card-item-content.card-link {
      cursor: pointer;
      border: none;
      outline: none;
      flex: 1;
      
    }
    .triple-constraint-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 5px;
      i {
        padding: 0 0.5em;
      }
    }
    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .baseline {
        font-size: 0.7rem;
        color: #888e96;
      }
      .card-item-id {
        color: #888e96;
        font-size: 0.6rem;
        font-family: v.$fontFamilyMedium;
        padding: 0.5em;
      }
    }
    .card-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #888e96;
      padding: 0 !important;
      width: 100%;
      flex: 1;
      .left-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 15%;
        height: 100%;
        padding: 0.5em;
        .milestones-progressbar {
          width: 8px;
          background-color: #fff;
          border-radius: 12px;
          overflow: hidden;
          .ontime {
            width: 100%;
            background-color: #44B39B;
          }
          .late {
            width: 100%;
            background-color: #EA5C5C;
          }
          .concluded {
            width: 100%;
            background-color: #0083BB;
          }
          .concluded-late {
            width: 100%;
            background-color: #7C75B9;
          }
        }
      }
      .center-content {
        display: flex;
        flex-direction: column;
        
        flex: 1;
        .workpack-container {
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: 210px;
        }
        .workpack-container.card-link {
          cursor: pointer;
        }
        .card-item-name {
          font-size: 1.2rem;
          font-family: v.$fontFamilyMedium;
          padding: 0.5em;
          width: 100%;
          white-space: nowrap;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
      .right-content {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 100%;
        justify-content: space-between;
        .indexes {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .index {
            font-size: 12px;
            font-weight: bold;
            padding: 5px 0.5em 5px 0;
          }
        }
        
      }
      .icons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .linked {
          margin-left: 0.5em;
        }
      }
      .icon-card {
        font-size: 2rem;
        color: #888e96;
      }
      .icon-new {
        font-size: 3rem;
        color: rgba(147, 147, 147, 0.5);
      }
    }
    .card-item-footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0.5em;
      .card-item-id {
        color: #888e96;
        font-size: 0.6rem;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  &.canceled .p-card {
    background-color: #f5f5f3;
    .icon-card {
      color: #d4d4d4;
    }
    .card-item-name {
      color: #d4d4d4;
      text-decoration: line-through;
    }
  }
  &.mobile {
    .p-card {
      max-width: 100%;
      width: 100%;
      .center-content {
        align-items: center;
      }
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 80px;
      min-height: 80px;
      .card-item-name {
        flex: none;
      }
      .card-item-subtitle {
        padding-bottom: 0 !important;
      }
    }
  }
}

::ng-deep .app-milestone-card-item {
  .p-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-width: 280px;
    width: 280px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
      .card-item-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .header-content {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
      .card-item-header .header-content p-menu {
        .p-menu-overlay .p-menu-list .p-menuitem .p-menuitem-link {
          .p-menuitem-icon {
            font-size: 0.8rem;
            color: #939393;
          }
          .p-menuitem-icon.fa-times {
            font-size: 1rem;
            color: #EA5C5C;
          }
          .p-menuitem-text {
            font-size: 0.9rem;
            font-family: v.$fontFamilyMedium;
            color: #939393;
          }
        }
      }
      .card-item-header .header-content .p-button {
        background-color: transparent;
        border: none !important;
        box-shadow: none !important;
        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
        .p-button-icon {
          font-size: 0.9rem;
          color: #939393;
        }
      }
    .p-card-body {
      padding: 0;
      height: 100%;
    }
    .p-card-content {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .card-item-content.card-link {
      cursor: pointer;
      border: none;
      outline: none;
      flex: 1;
    }
    .display-mode-grid {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: space-between;
    }
    .display-mode-list {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .right-side {
        display: flex;
        height: 100%;
        width: 5%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        .card-item-footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          .baseline-icon {
            font-size: 0.7rem;
          }
          .card-item-id {
            padding: 0.5em;
          }
        }
      }
      .card-item-content-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #888e96;
        padding: 0.5em 1em !important;
        width: 100%;
        flex: 1;
        .icons-container-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .linked {
            margin-left: 0.5em;
          }
        }
        .left-side {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .description-container {
          display: flex;
          flex-direction: row;
          margin-left: 1em;
             
          
          .card-item-name {
            font-size: 18px;
            width: 210px;
            white-space: nowrap;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .card-item-status {
            width: 175px;
            font-size: 16px;
            margin-left: 2em;
          }
        }
        .card-item-date {
          justify-self: flex-end;
          margin-left: 1em;
          font-size: 0.9rem;
        }
        .attention-milestone {
          color: #DFA11E !important;
        }
      }
    }
    .on-time {
      color: #44B39B;
    }
    .late {
      color: #EA5C5C;
    }
    .concluded {
      color: #0083BB;
    }
    .late-concluded {
      color: #806AAD;
    }
    .card-item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #888e96;
      padding: 0 !important;
      width: 100%;
      flex: 1;
      .icons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .linked {
          margin-left: 0.5em;
        }
      }
      .card-item-name {
        margin-top: 5px;
        width: 210px;
        white-space: nowrap;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .card-item-date {
        font-size: 12px;
      }
      .card-item-status {
        font-size: 14px;
        font-weight: 500;
      }
      .on-time {
        color: #44B39B;
      }
      .late {
        color: #EA5C5C;
      }
      .concluded {
        color: #0083BB;
      }
      .late-concluded {
        color: #806AAD;
      }
      .icon-card {
        font-size: 2rem;
        color: #888e96;
      }
      .icon-new {
        font-size: 3rem;
        color: rgba(147, 147, 147, 0.5);
      }
      .attention-milestone {
        color: #DFA11E !important;
      }
    }
    .card-item-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0.5em;
      .card-item-id {
        color: #888e96;
        font-size: 0.6rem;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  &.canceled .p-card {
    background-color: #f5f5f3;
    .icons-container, .icons-container-list {
      .app-icon {
        color: #d4d4d4;
      }
    }
    .card-item-name {
      color: #d4d4d4;
      text-decoration: line-through;
    }
  }
  &.mobile {
    .p-card {
      max-width: 100%;
      width: 100%;
      .center-content {
        align-items: center;
      }
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 80px;
      min-height: 80px;
      .card-item-name {
        flex: none;
      }
      .card-item-subtitle {
        padding-bottom: 0 !important;
      }
    }
  }
}

::ng-deep .node-disabled {
  color: #dee2e6;
}
::ng-deep .p-overlaypanel-close {
  background: #6c757d !important;
}
::ng-deep .new-carditem {
  .p-card {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 280px;
    width: 280px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
    .p-card-body {
      padding: 0;
    }
    .p-card-body .p-card-content {
      height: 100%;
      p-tieredmenu {
        .p-tieredmenu-overlay ul {
          max-width: 20em;
          .p-menuitem .p-menuitem-link {
            .p-menuitem-icon {
              font-size: 0.8rem;
              color: #939393;
            }
            .p-menuitem-text {
              font-size: 0.9rem;
              font-family: v.$fontFamilyMedium;
              color: #939393;
            }
          }
        }
      }
    }
    .p-card-body .p-card-content .carditem-content {
      padding: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .app-icon {
        cursor: pointer;
      }
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 80px;
      .p-card-content {
        padding: 0;
      }
    }
  }
}

::ng-deep .new-carditem.new-card-item-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  .p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    padding: 1em 0;
    .p-card-body .p-card-content .carditem-content {
      padding: 0;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
  &.cardList {
    height: 100%;
    padding: 0 !important;
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }

}

::ng-deep .new-carditem.new-card-model.new-card-item-mobile {
  .p-card {
    width: 100% !important;
  }
}

::ng-deep .app-workpack-card-item.read-only {
  .p-card {
    background-color: transparent !important;
  }
}

::ng-deep .p-tooltip.p-tooltip-top {
  background-color: #455057;
  .p-tooltip-text {
    color: #fff;
  }
  .p-tooltip-arrow {
    background-color: #455057;
  }
}

