<div class="cardItem">
    <header>
        $ {{instrument?.modalidade | uppercase}}
    </header>
    <div>
        <span class="p-float-label property-input p-field">

            <p-dropdown class="app-single-selection" [options]="instrumentList" [autoDisplayFirst]="false" [showClear]="false"
                (onChange)="triggerUpdate($event.value)" optionValue="codigo_SIGEFES" [filter]="true" filterBy="codigo_SIGEFES,nome"
                dropdownIcon="fas fa-caret-down"  [(ngModel)]="instrument.codigo_SIGEFES">

                <ng-template let-selected pTemplate="selectedItem">
                    <span pTooltip="({{selected.codigo_SIGEFES}}) {{selected.nome}}">({{selected.codigo_SIGEFES}}) {{selected.nome}}</span>
                </ng-template>

                <ng-template let-item pTemplate="item">
                    <span pTooltip="({{item.codigo_SIGEFES}}) {{item.nome}}">({{item.codigo_SIGEFES}}) {{item.nome}}</span>
                </ng-template>

            </p-dropdown>
            <label class="input-label">{{ 'selectInstrument' | translate }}        
            <i class="far fa-question-circle" [pTooltip]="'help.costAccount.selectInstrument' | translate"></i></label>
        </span>
        <span>{{'tcuCode' | translate}}</span>
        <span>{{instrument?.num_original ? instrument.num_original : '-'}}</span>
        <span>{{'value' | translate}}</span>
        <span>{{instrument?.valor ? instrument.valor : '-'}}</span>
    </div>
</div>