
      <!-- type: string;
    originalNum: string;
    SIGEFESCode: string;
    name: string;
    objective: string;
    StartPeriod: string;
    EndPeriod: string;
    RecipientCode: string;
    RecipientName: string;
    value: number; -->
<div class="cardItem">
    <header>
        <span>$ {{instrument?.type | uppercase}}</span>
    </header>
    <div>
        <span class="p-float-label property-input p-field">

            <p-dropdown class="app-single-selection" [options]="modifiedInstrumentList" [autoDisplayFirst]="false" [showClear]="false"
                (onChange)="triggerUpdate($event.value)" optionValue="sigefesCode" [filter]="true" filterBy="sigefesCode,name"
                dropdownIcon="fas fa-caret-down"  [(ngModel)]="instrument.sigefesCode" [required]="true">

                <ng-template let-selected pTemplate="selectedItem">
                    <span pTooltip="({{selected.sigefesCode}}) {{selected.name}}"
                        [tooltipDisabled]="isMobile">({{selected.sigefesCode}}) {{selected.name}}</span>
                </ng-template>

                <ng-template let-item pTemplate="item">
                    <span pTooltip="({{item.sigefesCode}}) {{item.name}}" [tooltipDisabled]="isMobile">({{item.sigefesCode}}) {{item.name}}</span>
                </ng-template>

            </p-dropdown>
            <label class="input-label">{{ 'selectInstrument' | translate }}        
            <i class="far fa-question-circle" [pTooltip]="'help.costAccount.selectInstrument' | translate"></i></label>
        </span>
        <span>{{'tcuCode' | translate}}</span>
        <span>{{instrument?.originalNum ? instrument.originalNum : '-'}}</span>
        <span>{{ 'instrumentObjective' | translate}}</span>
        <span [pTooltip]="instrument?.objective" [tooltipDisabled]="isMobile">{{ instrument?.objective ? instrument.objective : '-' }}</span>
        <span>{{ 'instrumentRecipient' | translate}}</span>
        <span pTooltip="{{instrument?.name ? '(' + instrument.recipientCode+') ' +instrument.recipientName : ''}}"
               [tooltipDisabled]="isMobile" >{{ instrument?.recipientName ? ('('+instrument.recipientCode+') '+instrument.recipientName) : '-' }}</span>
        <span>{{'value' | translate}}</span>
        <span>{{instrument?.value ? (instrument.value | currency:'BRL':'symbol':'1.2-2':'pt-BR') : '-'}}</span>
        
    </div>
</div>