@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?shfvkf');
  src:  url('fonts/icomoon.eot?shfvkf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?shfvkf') format('truetype'),
    url('fonts/icomoon.woff?shfvkf') format('woff'),
    url('fonts/icomoon.svg?shfvkf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

   .folder-open2:before {
    content: "\e904";
  }
   .cog:before {
    content: "\e912";
  }
   .cogs2:before {
    content: "\e918";
  }
   .ccb-view:before {
    content: "\e919";
  }
   .offices:before {
    content: "\e91d";
  }
   .permission2:before {
    content: "\e91f";
  }
   .permission:before {
    content: "\e916";
  }
   .open-pmo:before {
    content: "\e923";
  }
   .boxes:before {
    content: "\e925";
  }
   .flag-check:before {
    content: "\e926";
  }
   .map-marked:before {
    content: "\e927";
  }
   .arrow-left:before {
    content: "\e928";
  }
   .angle-up:before {
    content: "\e929";
  }
   .angle-right:before {
    content: "\e92a";
  }
   .angle-left:before {
    content: "\e92b";
  }
   .angle-down:before {
    content: "\e92c";
  }
   .ellipsis-v:before {
    content: "\e92d";
  }
   .sort:before {
    content: "\e932";
  }
   .sort-down:before {
    content: "\e933";
  }
   .sort-up:before {
    content: "\e934";
  }
   .plus:before {
    content: "\e935";
  }
   .unit-selection-alt:before {
    content: "\e92e";
  }
   .unit-selection-solid:before {
    content: "\e936";
  }
   .toggle-on:before {
    content: "\e937";
  }
   .toggle-off:before {
    content: "\e938";
  }
   .text-area:before {
    content: "\e939";
  }
   .text:before {
    content: "\e93a";
  }
   .selection:before {
    content: "\e93b";
  }
   .locality-selection:before {
    content: "\e93c";
  }
   .integer:before {
    content: "\e93d";
  }
   .date:before {
    content: "\e93e";
  }
   .currency:before {
    content: "\e93f";
  }
   .chess-knight:before {
    content: "\e940";
  }
   .trash-alt:before {
    content: "\e941";
  }
   .trash:before {
    content: "\e942";
  }
   .home:before {
    content: "\e943";
  }
   .folder-open:before {
    content: "\e944";
  }
   .cogs:before {
    content: "\e945";
  }
   .portfolio:before {
    content: "\e946";
  }
   .sign-out-alt:before {
    content: "\e947";
  }
   .flag:before {
    content: "\e948";
  }
   .plan:before {
    content: "\e949";
  }
   .briefcase:before {
    content: "\e94a";
  }
   .user-circle:before {
    content: "\e94b";
  }
   .building:before {
    content: "\e94c";
  }
   .users:before {
    content: "\e94d";
  }
   .number:before {
    content: "\e900";
  }
   .plan-model:before {
    content: "\e92f";
  }
   .plan-model-solid:before {
    content: "\e930";
  }
   .baseline:before {
    content: "\e902";
  }
   .canceled:before {
    content: "\e903";
  }
   .check-circle:before {
    content: "\e905";
  }
   .edit:before {
    content: "\e908";
  }
   .excel:before {
    content: "\e909";
  }
   .expand-arrows:before {
    content: "\e90a";
  }
   .fail:before {
    content: "\e90b";
  }
   .filter:before {
    content: "\e90c";
  }
   .fire-extinguisher:before {
    content: "\e90d";
  }
   .info:before {
    content: "\e90e";
  }
   .Issue:before {
    content: "\e90f";
  }
   .jump:before {
    content: "\e910";
  }
   .not_gonna_happen:before {
    content: "\e911";
  }
   .other_files:before {
    content: "\e913";
  }
   .pdf:before {
    content: "\e914";
  }
   .people_solid:before {
    content: "\e915";
  }
   .priority:before {
    content: "\e91a";
  }
   .process:before {
    content: "\e91b";
  }
   .response_risk:before {
    content: "\e91c";
  }
   .risk:before {
    content: "\e91e";
  }
   .risk_happened:before {
    content: "\e920";
  }
   .permission1:before {
    content: "\e921";
  }
   .share:before {
    content: "\e922";
  }
   .word:before {
    content: "\e924";
  }
   .action-required:before {
    content: "\e931";
  }
   .permission1:before {
    content: "\e921";
  }


