<div [ngSwitch]="property.type" class="app-workpack-property">
  <app-property-text *ngSwitchCase="types.TextModel" [property]="property" (changed)="changed.emit($event)"></app-property-text>
  <app-property-date *ngSwitchCase="types.DateModel" [property]="property" (changed)="changed.emit($event)"></app-property-date>
  <app-property-integer *ngSwitchCase="types.IntegerModel" [property]="property" (changed)="changed.emit($event)"></app-property-integer>
  <app-property-integer *ngSwitchCase="types.NumberModel" [property]="property" (changed)="changed.emit($event)"></app-property-integer>
  <app-property-integer *ngSwitchCase="types.CurrencyModel" [property]="property" (changed)="changed.emit($event)"></app-property-integer>
  <app-property-selection *ngSwitchCase="types.SelectionModel" [property]="property" (changed)="changed.emit($event)"></app-property-selection>
  <app-property-textarea *ngSwitchCase="types.TextAreaModel" [property]="property" (changed)="changed.emit($event)"></app-property-textarea>
  <app-property-toggle *ngSwitchCase="types.ToggleModel" [property]="property" (changed)="changed.emit($event)"></app-property-toggle>
  <app-property-tree-selection *ngSwitchCase="types.LocalitySelectionModel" [property]="property" (changed)="changed.emit($event)"></app-property-tree-selection>
  <app-property-organization-selection *ngSwitchCase="types.OrganizationSelectionModel" [property]="property" (changed)="changed.emit($event)"></app-property-organization-selection>
  <app-property-unit-selection *ngSwitchCase="types.UnitSelectionModel" [property]="property" (changed)="changed.emit($event)"></app-property-unit-selection>
</div>
