<div
  class="card-commitments"
  *ngIf="sectionCommitments && sectionActive"
>
  <app-card
    [properties]="sectionCommitments.cardSection"
    [class.panel-tab-view]="showTabview"
    [loading]="sectionCommitments.cardSection.isLoading"
    (searchText)="handleSearchText($event)"
    (editFilter)="handleEditFilterEntity($event, 'commitments')"
    (newFilter)="handleNewFilterEntity('commitments')"
    (selectedFilter)="handleSelectedFilterCommitment($event)"
    (createNewElement)="handleCreateNewCommitment()"
  >
    <div class="commitments-list-container">
      <div
        class="loading-container"
        *ngIf="sectionCommitments.cardSection.isLoading"
      >
        <app-card-loading
          [isCardLoading]="sectionCommitments.cardSection.isLoading"
        >
        </app-card-loading>
      </div>

      <p-dataView
        [value]="sectionCommitments.cardItemsSection"
        layout="grid"
        class="app-dataview"
        [emptyMessage]="'notFoundCommitments' | translate"
        *ngIf="
          (
            displayModeAll === 'grid' ||
            (
              displayModeAll === 'list' &&
              responsive
            )
          ) &&
          !sectionCommitments.cardSection.isLoading
        "
        [paginator]="true"
        [rows]="pageSize"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
        [totalRecords]="totalRecordsCommitments"
      >
        <ng-template
          let-cardItem
          pTemplate="gridItem"
        >
          <div
            class="p-col-12 p-md-3 p-sm-12 card-item-container"
          >
            <app-card-item
              [properties]="cardItem"
            >
            </app-card-item>
          </div>
        </ng-template>
      </p-dataView>

      <p-dataView
        [value]="sectionCommitments.cardItemsSection"
        layout="list"
        class="app-dataview app-dataview-list"
        [emptyMessage]="'notFoundCommitments' | translate"
        *ngIf="
          displayModeAll === 'list' &&
          !responsive &&
          !sectionCommitments.cardSection.isLoading
        "
        [paginator]="true"
        [rows]="pageSize"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
        [totalRecords]="totalRecordsCommitments"
      >
        <ng-template
          let-cardItem
          pTemplate="listItem"
        >
          <div class="p-col-12">
            <app-card-item
              [properties]="cardItem"
              [displayModeCard]="displayModeAll"
            >
            </app-card-item>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </app-card>
</div>