@use "src/variables" as v;

.app-plan-permission-detail {
  width: 100%;

  .card-permission {
    width: 100%;

    .person-properties {
      .search-container {
        margin-bottom: 1.5em;
        .input-search {
          width: 24%;
        }
        .responsive {
          width: 100%;
        }
      }
      .responsive {
        width: 100%;
      }
    }
  }

  .data-view-containter {
    margin-top: 15px;
  }
}

::ng-deep .app-plan-permission-detail .card-permission .card-person {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;

  .p-card {
    display: flex;
    height: 100%;
    max-width: 280px;
    width: 280px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
  }

  .p-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    .person-name {
      font-size: 1rem;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
      padding: 5px 0;
    }
    .person-email {
      font-size: 0.9rem;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
    }
  }
}
.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}
