@use "src/variables" as v;

::ng-deep .app-organization {
  width: 100%;

  .mobile {
    width: 100%;
  }

  ::ng-deep .card-properties {
    .p-panel-toggleable {
      position: relative;
    }
  }
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }

  .desktop {
    width: 30%;
  }
}

::ng-deep .form-organization {
  .app-input-mask .p-inputmask.p-inputtext {
    font-family: v.$fontFamilyMedium;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid v.$borderInput;
    border-radius: 0;
    background-color: transparent;
    color: v.$fontInput;

    &:enabled:focus {
      border-bottom: 1px solid v.$borderInput;
      box-shadow: none;
    }

    &:hover {
      border-bottom: 2px solid v.$borderInput !important;
      box-shadow: none;
    }

    .mobile {
      width: 100%;
    }

    .desktop {
      width: 30%;
    }
  }

  .app-input-mask.desktop .p-inputmask.p-inputtext {
    width: 30%;
  }

  .app-input-mask.mobile .p-inputmask.p-inputtext {
    width: 100%;
  }
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
  margin-top: -0.5rem !important;

  .p-float-label {
    margin-top: 15px;
    padding-bottom: 10px;

    > label {
      left: 0.5rem !important;
    }

    .p-inputtextarea {
      padding-top: 0 !important;
      margin-top: .5rem !important;
    }
  }
}
