<div class="app-organization">
  <div class="loading-container" *ngIf="isLoading">
    <app-card-loading [isCardLoading]="isLoading"></app-card-loading>
  </div>
  <div class="app-content-header" [class.mobile]="responsive" *ngIf="!isLoading">
    <span *ngIf="propertiesOrganization; else newOrganizationTitle">{{propertiesOrganization.name}}</span>
    <ng-template #newOrganizationTitle>
      <span>{{'new' | translate}} {{'organization' | translate}}</span>
    </ng-template>
  </div>
  <div class="card-properties" *ngIf="cardProperties && !isLoading">
    <app-card [properties]="cardProperties" class="mt-0 inputs-float-label">
      <div class="loading-form-container" *ngIf="formIsSaving">
        <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
      </div>
      <div>
        <form [formGroup]="formOrganization" class="form-organization">
          <div class="p-fluid p-formgroup-inline p-grid">
            <span class="p-field p-col-12 p-md-6 p-lg-3 p-float-label" >
              <p-dropdown id="sector" [options]="optionsSector" dropdownIcon="fas fa-caret-down"
                          formControlName="sector" class="app-single-selection" [class.mobile]="responsive"
                          [class.desktop]="!responsive" [autoDisplayFirst]="false" optionLabel="name"
                          optionValue="value">
              </p-dropdown>
              <label for="sector"  class="app-input-label" >{{'sector' | translate}} * 
                <i class="far fa-question-circle" [pTooltip]="'help.organization.sector' | translate"></i>
              </label>
            </span>
            <span class="p-field p-col-12 p-md-6 p-lg-3 p-float-label">
              <input id="businessName" formControlName="name" type="text" pInputText class="app-input-text"
                     [class.mobile]="responsive">
              <label for="businessName" class="app-input-label">{{'businessName' | translate}}<span
                class="required-indicator">*</span>
                <i class="far fa-question-circle" [pTooltip]="'help.organization.businessName' | translate"></i>
              </label>
              <app-input-message [form]="formOrganization" field="name"></app-input-message>
            </span>
          </div>
          <span class="p-float-label">
            <textarea id="socialName" pInputTextarea formControlName="fullName" class="app-text-area" rows="3" 
            [ngModel]="(formOrganization.touched) ? formOrganization.value.fullName : formOrganization.value.name">
            </textarea>
            <label for="socialName" class="app-input-label">{{'socialName' | translate}}<span
              class="required-indicator">*</span>
              <i class="far fa-question-circle" [pTooltip]="'help.organization.socialName' | translate"></i>
            </label>
          </span>
          <app-input-message [form]="formOrganization" field="fullName"></app-input-message>
          <span class="p-float-label">
            <textarea id="address" pInputTextarea formControlName="address" class="app-text-area" rows="2">
            </textarea>
            <label for="address" class="app-input-label">{{'address' | translate}}
              <i class="far fa-question-circle" [pTooltip]="'help.organization.address' | translate"></i>
            </label>
          </span>
          <span class="p-float-label">
            <input id="phone" pInputText class="app-input-text" formControlName="phoneNumber"
                   [class.responsive]="responsive" [class.desktop]="!responsive" (blur)="setPhoneNumberMask()"
                   [placeholder]="phoneNumberPlaceholder" (focusin)="setPhoneNumberPlaceholder()"
                   (focusout)="clearPhoneNumberPlaceholder()" (input)="setPhoneNumberPlaceholder()"/>
            <label for="phone" class="app-input-label">{{'phone' | translate}}
              <i class="far fa-question-circle" [pTooltip]="'help.organization.phoneNumber' | translate"></i>
            </label>
          </span>
          <span class="p-float-label">
            <input id="contactEmail" formControlName="contactEmail" type="text" pInputText class="app-input-text"
                   [class.mobile]="responsive" [class.desktop]="!responsive">
            <label for="contactEmail" class="app-input-label">{{'contactEmail' | translate}}
              <i class="far fa-question-circle" [pTooltip]="'help.organization.contactEmail' | translate"></i>
            </label>
          </span>
          <app-input-message [form]="formOrganization" field="contactEmail"></app-input-message>
          <span class="p-float-label">
            <input id="website" formControlName="website" type="text" pInputText class="app-input-text"
                   [class.mobile]="responsive" [class.desktop]="!responsive">
            <label for="website" class="app-input-label">Website
              <i class="far fa-question-circle" [pTooltip]="'help.organization.website' | translate"></i>
            </label>
          </span>
        </form>
      </div>
    </app-card>
  </div>
  <div class="id-container" *ngIf="idOrganization && cardProperties && !isLoading">
    <span>{{idOrganization}}</span>
  </div>
  <app-buttons-container>
    <app-save-button (save)="handleOnSubmit()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
</div>
