<div class="app-organization">
  <div class="app-content-header" [class.mobile]="responsive">
    <span *ngIf="propertiesOrganization; else newOrganizationTitle">{{propertiesOrganization.name}}</span>
    <ng-template #newOrganizationTitle>
      <span>{{'new' | translate}} {{'organization' | translate}}</span>
    </ng-template>
  </div>
  <div class="card-properties" *ngIf="cardProperties">
    <app-card [properties]="cardProperties" class="mt-0 inputs-float-label">
      <div>
        <form [formGroup]="formOrganization" class="form-organization">
          <div class="p-fluid p-formgroup-inline p-grid">
            <span class="p-field p-col-12 p-md-6 p-lg-3 p-float-label">
              <p-dropdown id="sector" [options]="optionsSector" dropdownIcon="fas fa-caret-down"
                          formControlName="sector" class="app-single-selection" [class.mobile]="responsive"
                          [class.desktop]="!responsive" [autoDisplayFirst]="false" optionLabel="name"
                          optionValue="value">
              </p-dropdown>
              <label for="sector" class="app-input-label">{{'sector' | translate}}</label>
            </span>
            <span class="p-field p-col-12 p-md-6 p-lg-3 p-float-label">
              <input id="businessName" formControlName="name" type="text" pInputText class="app-input-text"
                     [class.mobile]="responsive">
              <label for="businessName" class="app-input-label">{{'businessName' | translate}}<span
                class="required-indicator">*</span></label>
              <app-input-message [form]="formOrganization" field="name"></app-input-message>
            </span>
          </div>
          <span class="p-float-label">
            <textarea id="socialName" pInputTextarea formControlName="fullName" class="app-text-area" rows="3" 
            [ngModel]="(formOrganization.touched) ? formOrganization.value.fullName : formOrganization.value.name">
            </textarea>
            <label for="socialName" class="app-input-label">{{'socialName' | translate}}<span
              class="required-indicator">*</span></label>
          </span>
          <app-input-message [form]="formOrganization" field="fullName"></app-input-message>
          <span class="p-float-label">
            <textarea id="address" pInputTextarea formControlName="address" class="app-text-area" rows="1">
            </textarea>
            <label for="address" class="app-input-label">{{'address' | translate}}</label>
          </span>
          <span class="p-float-label">
            <input id="phone" pInputText class="app-input-text" formControlName="phoneNumber"
                   [class.responsive]="responsive" [class.desktop]="!responsive" (blur)="setPhoneNumberMask()"
                   [placeholder]="phoneNumberPlaceholder" (focusin)="setPhoneNumberPlaceholder()"
                   (focusout)="clearPhoneNumberPlaceholder()" (input)="setPhoneNumberPlaceholder()"/>
            <label for="phone" class="app-input-label">{{'phone' | translate}}</label>
          </span>
          <span class="p-float-label">
            <input id="contactEmail" formControlName="contactEmail" type="text" pInputText class="app-input-text"
                   [class.mobile]="responsive" [class.desktop]="!responsive">
            <label for="contactEmail" class="app-input-label">{{'contactEmail' | translate}}</label>
          </span>
          <app-input-message [form]="formOrganization" field="contactEmail"></app-input-message>
          <span class="p-float-label">
            <input id="website" formControlName="website" type="text" pInputText class="app-input-text"
                   [class.mobile]="responsive" [class.desktop]="!responsive">
            <label for="website" class="app-input-label">Website</label>
          </span>
        </form>
      </div>
    </app-card>
  </div>
  <app-save-button (save)="handleOnSubmit()"></app-save-button>
</div>
