@use "src/variables" as v;
::ng-deep .app-organization {
  width: 100%;

  .mobile {
    width: 100%;
  }

  .desktop {
    width: 30%;
  }
}

::ng-deep .form-organization {
  .app-input-mask .p-inputmask.p-inputtext {
    font-family: v.$fontFamilyMedium;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid v.$borderInput;
    border-radius: 0;
    background-color: transparent;
    color: v.$fontInput;

    &:enabled:focus {
      border-bottom: 1px solid v.$borderInput;
      box-shadow: none;
    }
    &:hover {
      border-bottom: 2px solid v.$borderInput !important;
      box-shadow: none;
    }
    .mobile {
      width: 100%;
    }

    .desktop {
      width: 30%;
    }
  }

  .app-input-mask.desktop .p-inputmask.p-inputtext {
    width: 30%;
  }
  .app-input-mask.mobile .p-inputmask.p-inputtext {
    width: 100%;
  }
}
