<div class="app-baseline">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive" *ngIf="!baseline?.cancelation">
      <span *ngIf="idBaseline"> <span class="label">{{ 'baseline' | translate }}:</span> {{ baseline?.name }}</span>
      <span *ngIf="!idBaseline">{{ 'newBaseline' | translate }}</span>
    </div>
    <div class="app-content-header app-content-header-cancelation" [class.mobile]="responsive"
         *ngIf="!!baseline?.cancelation">
      <i class="fas fa-times"></i>
      <span>{{ 'cancellationProposal' | translate }}</span>
    </div>
  </div>

  <div class="card-properties-baseline">
    <app-card [properties]="cardBaselineProperties" class="mt-0 inputs-float-label">
      <div class="loading-container" *ngIf="cardBaselineProperties.isLoading">
        <app-card-loading [isCardLoading]="cardBaselineProperties.isLoading"></app-card-loading>
      </div>
      <div class="p-grid" *ngIf="!cardBaselineProperties.isLoading">
        <form [formGroup]="formBaseline">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <input class="app-input-text" [class.responsive]="responsive" id="float-name" name="name"
                       formControlName="name" type="text" [ngStyle]="{'width': '30%'}" pInputText/>
                <label class="app-input-label" for="float-name">{{ (!baseline?.cancelation ? "name" : "project") |
                  translate }} * 
                <i class="far fa-question-circle" [pTooltip]="(!baseline?.cancelation ? 'help.baseline.baselineName' : 'help.baseline.projectName') | translate"></i>  
                </label>
              </span>
              <app-input-message [form]="formBaseline" field="name"></app-input-message>
            </div>
            <div class="p-field" *ngIf="!!baseline?.cancelation">
              <span class="p-float-label">
                <input class="app-input-text" [class.responsive]="responsive" id="float-proposer" name="proposer"
                       formControlName="proposer" type="text" [ngStyle]="{'width': '30%'}" pInputText/>
                <label class="app-input-label" for="float-proposer">{{ "proposer" | translate }} * 
                  <i class="far fa-question-circle" [pTooltip]="'help.baseline.proposer' | translate"></i>
                </label>
              </span>
              <app-input-message [form]="formBaseline" field="proposer"></app-input-message>
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <textarea pInputTextarea id="float-description" formControlName="description" class="app-text-area"
                          rows="1">
                </textarea>
                <label class="app-input-label" for="float-description">{{ "description" | translate }} * 
                  <i class="far fa-question-circle" [pTooltip]="'help.baseline.description' | translate"></i>
                </label>
              </span>
              <app-input-message [form]="formBaseline" field="description"></app-input-message>
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <textarea pInputTextarea id="float-message" formControlName="message" class="app-text-area" rows="1">
                </textarea>
                <label class="app-input-label" for="float-message">{{ "messageFromBaselineProposer" | translate }} *
                  <i class="far fa-question-circle" [pTooltip]="'help.baseline.message' | translate"></i>
                </label>
              </span>
              <app-input-message [form]="formBaseline" field="message"></app-input-message>
            </div>
          </div>

        </form>
      </div>
    </app-card>
  </div>

  <div class="card-updates-baseline" *ngIf="cardBaselineUpdates && baseline?.updates && baseline?.updates.length > 0">
    <app-card [properties]="cardBaselineUpdates" class="mt-0 inputs-float-label">
      <div class="loading-container" *ngIf="cardBaselineUpdates.isLoading">
        <app-card-loading [isCardLoading]="cardBaselineUpdates.isLoading"></app-card-loading>
      </div>
      <div class="app-toggle-container" *ngIf="!cardBaselineUpdates.isLoading">
        <ng-container *ngIf="!this.idBaseline || this.baseline.status === 'DRAFT'">
          <p-inputSwitch
            class="app-toggle toggle-all"
            [(ngModel)]="includeAllUpdates"
            [disabled]="allTogglerIsDisabled"
            (onChange)="handleSetAllTogglesUpdates($event.checked)"
          >
          </p-inputSwitch>
        </ng-container>
      </div>
      <div class="updates-container" *ngIf="!cardBaselineUpdates.isLoading">
        <p-tree [value]="updatesTree">
          <ng-template let-node pTemplate="default">
            <div
              class="container-custom-tree container-workpackmodel"
              [ngClass]="{ 'grey-background': node.property === 'title' }"
            >
              <div class="line-left-side">
                <ng-container *ngIf="
                  (
                    !this.idBaseline ||
                    this.baseline.status === 'DRAFT'
                  ) &&
                  (
                    !node.children ||
                    node.children.length === 0
                    
                  ) 
                ">
                  <p-inputSwitch
                    class="app-toggle"
                    [(ngModel)]="node.included"
                    [disabled]="
                        allTogglerIsDisabled || 
                        node.classification === 'TO_CANCEL' || 
                        node.warnings?.shouldDisplayDeliveryWarnings ||
                        node.classification === 'DELETED' ||
                        node.classification === 'UNCHANGED'
                        "
                    (onChange)="handleToggleSwitchChange($event.checked, node.idWorkpack)"
                  >
                  </p-inputSwitch>
                </ng-container>
                <ng-container *ngIf="node.warnings?.shouldDisplayDeliveryWarnings">
                  <i
                    class="warning-icon fa fa-exclamation-triangle"
                    [ngStyle]="{ marginLeft: '1em', marginRight: '.5em' }"
                  ></i>
                </ng-container>
                <span
                  [ngClass]="{ 'alert-text pointer ml-0' : node.warnings?.shouldDisplayDeliveryWarnings, 'item-title': node.property === 'title', 'item-description-responsive': responsive }"
                  [pTooltip]="getDeliveryTooltipWarnings(node)"
                >
                  {{ node.label }}
                </span>
              </div>

              <div class="line-right-side">
                <ng-container *ngIf="node.warnings?.shouldDisplayDeliveryWarnings">
                  <i
                    class="warning-icon fa fa-exclamation-triangle"
                    aria-hidden="true"
                  ></i>
                </ng-container>
                <span [ngClass]="node.warnings?.shouldDisplayDeliveryWarnings ? 'alert-text' : ''">
                  {{ node.classification | translate }}
                </span>
              </div>
            </div>
          </ng-template>
        </p-tree>
      </div>

      <div class="d-flex flex-column">
        <span class="warning-text" *ngIf="showFailMinMilestoneRequirement">
            * {{ 'baseline-less-then-required-milestone' | translate : {'0': minMilestoneRequirement} }} 
        </span>
        <span class="warning-text" *ngIf="showFailPlannedWorkRequirement">
            * {{ 'baseline-not-have-required-plannedWork' | translate }} 
        </span>

        <span class="warning-text"  *ngIf="areTherePendentUpdatesListed">
          * {{ 'baseline-disabled-submission-warning' | translate }}
        </span>
      </div>

    </app-card>
  </div>

  <div class="actions-buttons-container" [class.actions-buttons-container-responsive]="responsive"
       *ngIf="!idBaseline || baseline?.status === 'DRAFT'">
    <p-button class="action-button submit-button" [label]="'submit' | translate" [disabled]="shouldDisableBaselineSubmission" (onClick)="saveDraftAndSubmitBaseline()">
    </p-button>
    <p-button class="action-button draft-button" [label]="'draft' | translate" [disabled]="formIsLoading" (onClick)="handleSaveDraftBaseline()">
    </p-button>
    <p-button class="action-button cancel-button" [label]="'cancel' | translate" [disabled]="formIsLoading" (onClick)="handleCancelChanges()">
    </p-button>
  </div>

  <div
    *ngIf="baseline?.evaluations && baseline?.evaluations.length > 0 && baseline?.status !== 'DRAFT'"
    class="panel-evaluations"
  >
    <p-panel
      class="app-card"
      expandIcon="pi pi-angle-down"
      collapseIcon="pi pi-angle-up"
      [collapsed]="panelCollapsed"
      [class.mobile]="responsive"
      (collapsedChange)="handleCollapsed($event)"
    >
      <p-header class="card-header" [class.card-header-mobile]="responsive">
        <div class="header-title" [class.card-collapseble]="true" (click)="handleCollapsed()">
          <div class="header-title-text">
            <span class="card-title" [class.card-title-mobile]="responsive">
              {{ 'evaluations' | translate }}
            </span>
          </div>
          <div class="header-title-status">
            <span
              [class.proposed]="baseline.status === 'PROPOSED'"
              [class.approved]="baseline.status === 'APPROVED'"
              [class.rejected]="baseline.status === 'REJECTED'"
            >
              {{ baseline.status | translate }}
            </span>
          </div>
        </div>
      </p-header>

      <div *ngIf="baseline && baseline.status !== 'DRAFT'" class="evaluations-container">
        <p-card *ngFor="let item of baseline?.evaluations" class="card-list-item">
          <div class="card-item-content">
            <div class="item-description">
              <div class="item-description-container" [class.item-description-container-responsive]="responsive">
                <i [ngClass]="[ 'app-icon', 'ccb-member', 'light-grey-icon']" [ngStyle]="{ fontSize: '2rem'}"></i>
                <span class="item-description name" [class.item-description-responsive]="responsive">
                  {{ item.ccbMemberName }}
                </span>
              </div>
            </div>
            <div class="item-status" [class.item-status-responsive]="responsive">
              <i *ngIf="item.comment && item.comment.length > 0" class="far fa-comment-dots light-grey-icon comment"
                 (click)="handleShowDialogComment(item.comment)" [ngStyle]="{ fontSize: '1.5rem'}"></i>
              <i *ngIf="!item.decision" class="fas fa-hourglass-half light-grey-icon"
                 [ngStyle]="{ fontSize: '1.5rem'}"></i>
              <i *ngIf="item.decision && item.decision === 'APPROVED'" class="fas fa-check"
                 [ngStyle]="{ fontSize: '1.5rem', color: '#44B39B'}"></i>
              <i *ngIf="item.decision && item.decision === 'REJECTED'" class="fas fa-times"
                 [ngStyle]="{ fontSize: '1.8rem', color: '#EA5C5C', padding: '0 3px'}"></i>
            </div>
          </div>
        </p-card>
      </div>
    </p-panel>
  </div>

  <div class="id-container" *ngIf="idBaseline && cardBaselineProperties">
    <span>{{ idBaseline }}</span>
  </div>

  <p-dialog
    [header]="'comment' | translate"
    [style]="!responsive ? {width: '30vw'} : {width: '90vw'}"
    [(visible)]="showCommentDialog"
  >
    <div class="comment-container">
      <textarea pInputTextarea class="app-text-area comment" rows="3" [disabled]="true">{{selectedComment}}</textarea>
    </div>
  </p-dialog>
</div>
