<div class="app-earned-value-dashboard" [class.responsive]="!!responsive">
  <span class="title">{{'earnedValueAnalysis' | translate}}</span>
  <div class="card-panel">
    <div class="chart-container">
      <h5 class="title-line-chart">{{'curve' | translate}}</h5>
      <div class="line-chart-container">
        <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
      </div>
    </div>
    <div class="performance-indexes-container">
      <div class="gauges-container">
        <div class="gauge-container gauge-chart">
          <app-gauge-chart *ngIf="gaugeChartDataCPI" [config]="gaugeChartDataCPI"></app-gauge-chart>
        </div>
        <div class="gauge-container gauge-chart">
          <app-gauge-chart *ngIf="gaugeChartDataSPI" [config]="gaugeChartDataSPI"></app-gauge-chart>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>EV ({{'earnedValue' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes[0]?.earnedValue/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes[0]?.earnedValue !== 0">{{earnedValueAnalysis?.performanceIndexes[0]?.earnedValue|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>AC ({{'actualCost' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes[0]?.actualCost/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes[0]?.actualCost !== 0">{{earnedValueAnalysis?.performanceIndexes[0]?.actualCost|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>PV ({{'plannedValue' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes[0]?.plannedValue/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes[0]?.plannedValue !== 0">{{earnedValueAnalysis?.performanceIndexes[0]?.plannedValue|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>EAC ({{'estimatesAtCompletion' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar "
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes[0]?.estimatesAtCompletion/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes[0]?.estimatesAtCompletion !== 0">{{earnedValueAnalysis?.performanceIndexes[0]?.estimatesAtCompletion|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>ETC ({{'estimatesToComplete' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes[0]?.estimateToComplete/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes[0]?.estimateToComplete !== 0">{{(earnedValueAnalysis?.performanceIndexes[0]?.estimateToComplete)|shortNumber:language}}</label>
        </div>
      </div>
    </div>

  </div>
</div>
