<div class="app-earned-value-dashboard" [class.responsive]="!!responsive" [class.width-1500]="mediaScreen1500">
  <span class="title">{{'earnedValueAnalysis' | translate}}</span>
  <div class="card-panel">
    <div class="chart-container">
      <h5 class="title-line-chart">{{'curve' | translate}}</h5>
      <div class="line-chart-container">
        <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
      </div>
    </div>
    <div class="performance-indexes-container">
      <div class="gauges-container">
        <div class="gauge-container gauge-chart">
          <span style="font-size: .8rem; white-space: pre-wrap;">{{ 'CPIdescription' | translate }}</span>
          <app-gauge-chart *ngIf="gaugeChartDataCPI" [config]="gaugeChartDataCPI"></app-gauge-chart>
        </div>
        <div class="gauge-container gauge-chart">
          <span style="font-size: .8rem; white-space: pre-wrap;">{{ 'SPIdescription' | translate }}</span>
          <app-gauge-chart *ngIf="gaugeChartDataSPI" [config]="gaugeChartDataSPI"></app-gauge-chart>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>{{'EV'|translate}} ({{'earnedValue' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar" [pTooltip]="earnedValueAnalysis?.performanceIndexes?.earnedValue|number:'2.0-2':language"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes?.earnedValue/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes?.earnedValue !== 0">{{earnedValueAnalysis?.performanceIndexes?.earnedValue|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>{{'AC'|translate}} ({{'actualCost' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar" [pTooltip]="earnedValueAnalysis?.performanceIndexes?.actualCost|number:'2.0-2':language"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes?.actualCost/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes?.actualCost !== 0">{{earnedValueAnalysis?.performanceIndexes?.actualCost|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>{{'PV'|translate}} ({{'plannedValue' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar" [pTooltip]="earnedValueAnalysis?.performanceIndexes?.plannedValue|number:'2.0-2':language"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes?.plannedValue/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes?.plannedValue !== 0">{{earnedValueAnalysis?.performanceIndexes?.plannedValue|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>{{'EAC'|translate}} ({{'estimatesAtCompletion' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar " [pTooltip]="earnedValueAnalysis?.performanceIndexes?.estimatesAtCompletion|number:'2.0-2':language"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes?.estimatesAtCompletion/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes?.estimatesAtCompletion !== 0">{{earnedValueAnalysis?.performanceIndexes?.estimatesAtCompletion|shortNumber:language}}</label>
        </div>
      </div>
      <div class="progress-bar-container">
        <label>{{'ETC'|translate}} ({{'estimatesToComplete' | translate}})</label>
        <div class="progress-bar-total-container"
          [ngStyle]="{width: '100%', background: 'rgba(230, 230, 230, 1)', height: '31px'}">
          <div class="progress-bar" [pTooltip]="earnedValueAnalysis?.performanceIndexes?.estimateToComplete|number:'2.0-2':language"
            [ngStyle]="{width: (earnedValueAnalysis?.performanceIndexes?.estimateToComplete/maxProgressBar)*85 + '%', background: 'rgba(68, 179, 155, 1)', height: '31px'}">
          </div>
          <label
            class="progress-label" *ngIf="earnedValueAnalysis?.performanceIndexes?.estimateToComplete !== 0">{{(earnedValueAnalysis?.performanceIndexes?.estimateToComplete)|shortNumber:language}}</label>
        </div>
      </div>
    </div>

  </div>
</div>
