@use "src/variables" as v;

.input-toggle {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  .input-label {
    font-size: 0.8rem;
    color: v.$fontLabel;
    margin-left: 5px;
    font-family: v.$fontFamilyMedium;
  }
}