::ng-deep .app-person-list {
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    span {
      text-transform: uppercase;
    }
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .card-container {
    .form-search {
      display: flex;
      width: 80%;
      margin-bottom: 2.5rem;
      .p-overlaypanel .p-overlaypanel-close {
        background-color: #44B39B;
      }
      .property-input {
        background-color: #fff;
        width: 70%;
        margin: 0 2rem 0 0;
        border: 1px solid #eeeeed;
        padding-bottom: 0;
        &.search {
           display: flex;
           .p-button {
            background-color: #44B39B;
            padding: 0.5rem 1.5rem;
            .pi {
              font-size: 1.2rem;
            }
          }
        }
        .p-dropdown, .p-inputtext {
          border: 0;
          width: 100%;
          padding-left: 0.3rem ;
          &:hover {
            border: 0 !important;
          }
          .p-dropdown-trigger-icon {
            display: none;
          }
        }
        .app-input-label {
          font-size: 1rem;
          top: -0.9rem !important;
        }
      }
    }
    .app-card-item .p-card .p-card-body {
      padding-top: 0.5em !important;
      .app-avatar .avatar {
        padding-bottom: 0;
      }
      .app-avatar .avatar .p-avatar-xl {
        width: 68px;
        height: 68px;
      }
    }
  }
}

::ng-deep .app-person-list .app-card-item .p-card .p-card-body {
  padding-top: 2rem;
}
