<div class="app-profile-person">
  <div class="header-container">
    <div class="app-content-header" [class.mobile]="responsive">
      <span>{{ 'profile' | translate }}</span>
    </div>
  </div>
  <div class="card-container">
    <app-card [properties]="cardProperties" class="mt-0">
      <div class="content" [class.mobile]="responsive">
        <div class="container-left-info">
          <app-avatar [edit]="true" [idPerson]="idPerson"></app-avatar>
          <span class="name">{{propertiesPerson?.fullName}}</span>
          <span class="administrator">{{'administrator'|translate}}</span>
          <form [formGroup]="formPerson" class="form">
            <span class="p-float-label property-input p-field">
              <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                     formControlName="name">
              <label class="app-input-label profile">{{ 'messages.labelNameProfile' | translate }} </label>
            </span>
            <span class="p-float-label property-input p-field">
              <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                     formControlName="email" [readOnly]="true">
              <label class="app-input-label profile">{{ 'accessEmail' | translate }} </label>
            </span>
          </form>
        </div>
        <div class="container-right-info" *ngIf="optionsOffices && optionsOffices.length > 0">
          <span class="p-float-label property-input p-field list-offices-container">
            <p-dropdown class="app-single-selection" [options]="optionsOffices" optionLabel="label" optionValue="value"
                        [required]="true" [class.responsive]="responsive" [(ngModel)]="idOffice"
                        (onChange)="handleChangeOffice($event)">
            </p-dropdown>
            <label class="app-input-label">{{ 'office' | translate }} </label>
          </span>
          <section class="section">
            <h3 class="subtitle">{{'myContactInformation' | translate}}</h3>
            <form [formGroup]="formPerson" class="form">
              <div class="p-fluid p-formgroup p-grid">
                <span class="p-float-label property-input-text p-field p-col-12 p-md-4">
                  <input pInputText class="app-input-text" type="text" [class.responsive]="responsive"
                         formControlName="contactEmail">
                  <label class="app-input-label">{{ 'email' | translate }} </label>
                </span>
                <span class="p-float-label left property-input p-field p-col-12 p-md-2">
                  <input pInputText class="app-input-text" formControlName="phoneNumber" [class.responsive]="responsive"
                         (blur)="setPhoneNumberMask()" [placeholder]="phoneNumberPlaceholder"
                         (input)="setPhoneNumberPlaceholder()" (focusin)="setPhoneNumberPlaceholder()"
                         (focusout)="clearPhoneNumberPlaceholder()"/>
                  <label class="app-input-label">{{ 'phone' | translate }} </label>
                  <label class="app-input-label">{{ 'phone' | translate }} </label>
                </span>
              </div>
              <span class="p-float-label property-input p-field">
                <textarea pInputTextarea class="app-text-area" [class.responsive]="responsive" formControlName="address"
                          [rows]="1"></textarea>
                <label class="app-input-label">{{ 'address' | translate }} </label>
              </span>
            </form>
            <div class="unifique-contacts">
              <button pButton [label]="'unifyContactOffices' | translate" (click)="handleUnifyOfficesContacts($event)">
              </button>
            </div>
          </section>
          <section class="section" *ngIf="!isUserAdmin">
            <h3 class="subtitle">{{'myRolesPermissions' | translate}}</h3>
            <div class="container-permission">
              <div class="permission">
                <span class="label"
                      *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.accessLevel)">
                  {{'officePermission' | translate}}</span>
                <span class="value" *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.accessLevel)">
                  {{propertiesPerson?.officePermission?.accessLevel | translate}}
                </span>
              </div>
            </div>
            <ng-container *ngFor="let cardPlan of cardsPlans; let i = index">
              <div class="card-plan-container">
                <app-card [properties]="cardPlan" class="mt-0">
                  <div class="container-permission">
                    <div class="permission">
                      <span class="label"
                            *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.planPermissions[i]?.accessLevel)">
                        {{'planPermission' |translate}}</span>
                      <span class="value"
                            *ngIf="['EDIT', 'READ'].includes(propertiesPerson?.officePermission?.planPermissions[i]?.accessLevel)">
                        {{propertiesPerson?.officePermission?.planPermissions[i]?.accessLevel |translate}}</span>
                    </div>
                  </div>
                  <p-dataView [value]="cardPlan.cardItems" layout="grid" class="app-dataview"
                              *ngIf="cardPlan?.cardItems?.length > 0"
                              [emptyMessage]="(!cardPlan.cardItems ? 'loadingEllipsis' : 'noContent') | translate">
                    <ng-template let-cardItem pTemplate="gridItem">
                      <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
                        <app-card-item [properties]="cardItem"></app-card-item>
                      </div>
                    </ng-template>
                  </p-dataView>
                </app-card>
              </div>
            </ng-container>
          </section>
        </div>
      </div>
    </app-card>
  </div>
  <app-save-button (save)="savePerson()"></app-save-button>
</div>
