@use "src/variables" as v;

::ng-deep .app-step-card-item .p-card {
  background: #ffffff7f;
  border: 1px solid #d4d4d4;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  .p-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-item-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d4d4d4;
      align-items: center;
      .header-title {
        padding: 0.5rem 0.5rem 0 0.5rem;

        .title-month {
          font-weight: bold;
          color: v.$fontInput;
          font-size: 0.8em;
          font-family: v.$fontFamilyMedium;
        }
        .title-day {
          color: v.$fontLabel;
          font-size: 0.7em;
          font-family: v.$fontFamilyMedium;
        }
      }
    }
    .card-item-header p-menu {
      .p-menu-overlay .p-menu-list .p-menuitem .p-menuitem-link {
        .p-menuitem-icon {
          font-size: 0.8rem;
          color: #939393;
        }
        .p-menuitem-text {
          font-size: 0.9rem;
          font-family: v.$fontFamilyMedium;
          color: #939393;
        }
      }
    }
    .card-item-header .p-button {
      background-color: transparent;
      border: none !important;
      box-shadow: none !important;
      .p-button-icon {
        font-size: 0.9rem;
        color: #939393;
      }
    }
  }
  .card-link {
    .p-disabled, .p-component:disabled {
      opacity: 1 !important;
    }
    .p-inputnumber-input {
      cursor: pointer !important;
    }
    .replicate-button-container {
      cursor: pointer;
    }
    #float-costBaseline{
      opacity: 0.6 !important;

      .p-inputnumber-input {
        cursor: default !important;
      }
    }
  }
  .p-card-body {
    width: 100%;
    padding: 0;
    height: 100%;
    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label {
      top: -0.1rem;
    }
    .p-float-label > label {
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
  .p-card-content {
    width: 100%;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
  }
  .card-item-content {
    max-width: 100%;
    padding: 0 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    color: #888e96;
    .unitValues,
    .costValues {
      display: flex;
      flex-direction: column;
      align-content: center;
      .p-float-label {
        padding-bottom: 10px !important;
        margin-top: 5px !important;
      }
      .p-inputnumber-input {
        font-size: 0.7rem !important;
      }
      .progress-bar-unit-container {
        margin-top: 0.2em;
        margin-bottom: 10px;
      }
      .progress-bar-cost-container {
        flex: 1;
        margin-top: 0.2em;
        margin-bottom: 10px;
      }
      .app-input-number.red {
        .p-inputnumber .p-inputtext {
          color: #EA5C5C !important;
        }
        
      }
      .replicate-button-container {
        width: 100%;
        text-align: center;
        margin-bottom: -10px;
        margin-top: -10px;
        > i {
          font-size: 1.3rem;
          cursor: pointer;
          color: #888e96;
        }
        i.disabled {
          cursor: auto;
          color: #b6c8cd;
        }
        i.replicate-hide {
          color: transparent;
        }
      }
      .changed {
        .p-inputnumber-input {
          font-weight: bold;
          text-shadow: #b6c8cd  0.2em 0.1em 0.2em;
          transition: font-weight, text-shadow 1s;
        }
      }
    }
    .unitValues .unitInputs {
      display: flex;
      flex-direction: column;
      padding: 0.2em 1em;
      background: #ffffff;
      .column-title {
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
        font-weight: bold;
        color: v.$fontInput;
      }
      .app-input-number {
        .p-inputnumber-input {
          font-size: 0.9rem;
          padding: 0;
          text-align: center;
        }
      }
      .app-input-label {
        font-size: 0.7rem;
        text-align: center;
        font-weight: bold;
        max-width: fit-content;
      }
    }
    .costValues .costInputs {
      display: flex;
      flex-direction: column;
      padding: 0.2em 1em;
      background: #ffffff;
      .column-title {
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
        font-weight: bold;
        color: v.$fontInput;
      }
      .app-input-number {
        .p-inputnumber-input {
          font-size: 0.9rem;
          padding: 0;
          text-align: center;
        }
      }
      .app-input-label {
        font-size: 0.6rem;
        text-align: center;
      }
    }
  }
  .card-item-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background: #f5f5f4;
    border-top: 1px solid #d4d4d4;
    .card-item-id {
      color: #888e96;
      font-size: 0.5rem;
      font-family: v.$fontFamilyMedium;
    }
  }

  .card-item-liquidated-value {
    padding: 5px;
  }

  .card-item-liquidated-label {
    font-weight: bold;
  }

  label.app-input-label {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: -30px;
  }

  .card-item-content {
    margin-left: 15px;
    width: 250px;
  }
  
}

::ng-deep p-card.app-step-card-item-resume .p-card {
  background: #ffffff7f;
  border: 1px solid #d4d4d4;
  box-shadow: none;

  .p-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-item-header {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #d4d4d4;
      justify-content: space-between;
      align-items: center;
      background-color: #F5F5F3;
      .header-title {
        padding: 0.5rem 0.5rem 0 0.5rem;

        .title-month {
          font-weight: bold;
          color: v.$fontInput;
          font-size: 0.8em;
          font-family: v.$fontFamilyMedium;
        }
        .title-day {
          color: v.$fontLabel;
          font-size: 0.7em;
          font-family: v.$fontFamilyMedium;
        }
      }
    }
  }
  .p-card-body {
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .p-card-content {
    width: 100%;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
  }
  .card-item-content {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    .progress-values-container {
      margin-bottom: 0.3em;
      display: flex;
      width: 100%;
      .progress-bar-unit {
        margin-left: 0.3em;
        color: v.$fontLabel;
        font-size: 0.5rem;
        font-family: v.$fontFamilyMedium;
      }
    }
    .progress-bar-unit-container,
    .progress-bar-cost-container {
      width: 80%;
    }
  }
}

::ng-deep .app-new-step-card-item .p-card {
  background: transparent;
  border: 1px solid #d4d4d4;
  box-shadow: none;

  .p-card-body {
    padding: 0.5em;
  }
  .p-card-body .p-card-content {
    padding: 0;
  }
  .p-card-body .p-card-content .card-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    .app-icon {
      cursor: pointer;
    }
  }
}

::ng-deep .app-step-card-item.no-bg .p-card {
  background-color: transparent !important;
  .p-card-content{
    background-color: transparent !important;
    .unitInputs , .costInputs {
      background: transparent !important; 
    }
  }
}
