<p-confirmDialog [header]="'deleteQuestion' | translate" icon="pi pi-exclamation-triangle" key="deleteConfirm">
</p-confirmDialog>
<p-confirmDialog [header]="'pasteQuestion' | translate" icon="pi pi-exclamation-triangle" key="pasteConfirm">
</p-confirmDialog>
<p-confirmDialog [header]="'confirmClearPendingChanges' | translate" icon="pi pi-exclamation-triangle" key="clearPendingChangesConfirm">
</p-confirmDialog>
<p-toast position="top-right"></p-toast>
<ng-container *ngIf="showTemplate !== undefined">
  <app-template *ngIf="showTemplate; else elseTemplate"></app-template>
  <ng-template #elseTemplate>
    <router-outlet></router-outlet>
  </ng-template>
</ng-container>

