@use "src/variables" as v;

::ng-deep .p-float-label.workpack-date {
  width: 100%;
  .app-select-date .p-calendar {
    width: 20%;
  }
}

::ng-deep .p-float-label.workpack-date-not-fullLine {
  width: 100%;
  .app-select-date .p-calendar {
    width: 100%;
  }
}

::ng-deep .p-float-label.workpack-date.workpack-date-mobile {
  width: 100%;
  .app-select-date {
    width: 100%;
    .p-calendar {
      width: 100%;
    }
  }
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}