<div class="app-menu-slide-user user-slide">
  <div class="top-bar">
    <div class="title" (mouseenter)="showTooltip()" [pTooltip]="currentUserInfo?.fullName || currentUserInfo?.name">{{ currentUserInfo?.name }}</div>
  </div>
  <div class="item" [routerLink]="['/persons/profile']" (click)="closeUserMenu()">
    <i class="fas fa-user" [ngStyle]="{ fontSize: '1.3rem' }"></i>
    <span>{{ 'profile' | translate }}</span>
  </div>
  <div class="languages">
    <p-tieredMenu [model]="itemsLanguages"></p-tieredMenu>
  </div>
  <div class="item" [routerLink]="['/administrators']" *ngIf="!!isUserAdmin" (click)="closeUserMenu()">
    <i class="fas fa-users-cog" [ngStyle]="{ fontSize: '1.4rem' }"></i>
    <span>{{ 'administrators' | translate }}</span>
  </div>
  <div class="logout" (click)="authSrv.signOut()">
    <i class="app-icon sign-out-alt" [ngStyle]="{ fontSize: '1rem' }"></i>
    <span>{{ 'logout' | translate }}</span>
  </div>
</div>
