<div class="app-cooperation">
    <div class="app-content-header">
      <span *ngIf="!idCooperation">
        {{ 'newCooperation' | translate }}
      </span>
  
      <span
        *ngIf="
          idCooperation &&
          cooperation
        "
      >
        {{ cooperation.processNumber }}
      </span>
    </div>
  
    <div
      class="loading-form-container"
      *ngIf="formIsSaving"
    >
      <app-card-loading
        [isCardLoading]="formIsSaving"
      >
      </app-card-loading>
    </div>
  
    <div
      class="card-properties-cooperation"
      *ngIf="cardCooperationProperties"
      [class.responsive]="responsive"
    >
      <app-card
        [properties]="cardCooperationProperties"
        class="mt-0 inputs-float-label"
      >
        <form [formGroup]="formCooperation">
  
          <!-- Ano -->
          <div
            class="cooperation-field selection-small app-property-selection"
          >
            <span class="p-float-label">
              <p-dropdown
                class="app-single-selection"
                inputId="year"
                formControlName="year"
                [options]="yearOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [disabled]="!editPermission"
                (onChange)="handleYearChange()"
              >
              </p-dropdown>
  
              <label
                class="app-input-label"
                for="year"
              >
                {{ 'year' | translate }} *
              </label>
            </span>
  
            <app-input-message
              [form]="formCooperation"
              field="year"
            >
            </app-input-message>
          </div>
  
          <!-- Unidade Gestora -->
          <div
            class="cooperation-field selection-small app-property-selection"
          >
            <span class="p-float-label">
              <p-dropdown
                class="app-single-selection"
                inputId="managementUnit"
                formControlName="managementUnit"
                [options]="managementUnitOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [disabled]="!editPermission"
                (onChange)="
                  handleManagementUnitChange()
                "
              >
              </p-dropdown>
  
              <label
                class="app-input-label"
                for="managementUnit"
              >
                {{ 'managementUnit' | translate }} *
              </label>
            </span>
  
            <app-input-message
              [form]="formCooperation"
              field="managementUnit"
            >
            </app-input-message>
          </div>
  
          <!-- Processo -->
          <div
            class="cooperation-field selection-medium app-property-selection"
          >
            <span class="p-float-label">
              <p-dropdown
                class="app-single-selection"
                inputId="process"
                formControlName="process"
                [options]="processOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [filter]="true"
                [showClear]="true"
                [disabled]="
                  !editPermission ||
                  !formCooperation
                    .controls
                    .managementUnit
                    .value ||
                  !formCooperation
                    .controls
                    .year
                    .value
                "
                (onChange)="
                  handleProcessChange($event)
                "
              >
              </p-dropdown>
  
              <label
                class="app-input-label"
                for="process"
              >
                {{ 'process' | translate }} *
              </label>
            </span>
  
            <app-input-message
              [form]="formCooperation"
              field="process"
            >
            </app-input-message>
          </div>
  
          <ng-container
            *ngIf="
              !isLoading &&
              formCooperation
                .controls
                .process
                .value
            "
          >
            <!-- CNPJ -->
            <div
              class="cooperation-field text-medium app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="grantorCnpj"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="grantorCnpj"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="grantorCnpj"
                >
                  {{ 'cnpj' | translate }}
                </label>
              </span>
            </div>
  
            <!-- Concedente/Convenente -->
            <div
              class="cooperation-field text-medium app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="grantorName"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="grantorName"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="grantorName"
                >
                  {{
                    'grantorBeneficiaryName'
                      | translate
                  }}
                </label>
              </span>
            </div>
  
            <!-- Protocolo -->
            <div
              class="cooperation-field text-medium app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="protocol"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="protocol"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="protocol"
                >
                  {{ 'protocol' | translate }}
                </label>
              </span>
            </div>
          </ng-container>
        </form>
      </app-card>
    </div>
  
    <div
      class="id-container"
      *ngIf="
        idCooperation &&
        cardCooperationProperties &&
        !isLoading
      "
    >
      <span>{{ idCooperation }}</span>
    </div>
  </div>
  
  <app-buttons-container>
    <app-save-button
      #saveButton
      (save)="saveCooperation()"
    >
    </app-save-button>
  
    <app-cancel-button
      #cancelButton
      (cancel)="handleOnCancel()"
    >
    </app-cancel-button>
  </app-buttons-container>
