@use 'src/variables' as v;

::ng-deep .app-report-view {
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .header-container {
    margin-bottom: 0.5em;
  }
  .app-content-header {
    padding-bottom: 0 !important;
  }
  .app-card p-header.card-header .card-title {
    text-transform: none !important;
  }
  .properties-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .property-container {
      margin-right: 1em;
    }
    .fullLine {
      width: 100%;
    }
    .not-fullLine {
      width: 20%;
    }
  }
  .properties-container.responsive {
    display: flex;
    flex-direction: column;
    .property-container {
      margin-right: 0;
      width: 100%;
    }
  }
  .scope-container {
    margin-top: 2em;
    .scope-label {
      font-family: 'Montserrat Italic', 'Montserrat Regular', 'Montserrat', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
      color: v.$fontLabel;
    }
    .app-tree-selection {
      margin-top: 0.5em;
      .p-tree {
        background: transparent;
        border: none;
        padding: 0;
      }
    }
  }
  .p-splitbutton {
    width: 100%;
    .p-splitbutton-defaultbutton, .p-button:focus {
      background-color: transparent;
      border: none;
      box-shadow: none !important;
    }
    .p-splitbutton-menubutton {
      background-color: v.$bgButtonGreen !important;
      border: none;
      box-shadow: none !important;
    }
    .p-menu {
      max-height: 200px;
      max-width: 90% !important;
      overflow-y: auto;
      .p-menu-list .p-menuitem {

        &.selected-format .p-menuitem-link {
          background-color: v.$bgButtonGreen !important;
          .p-menuitem-text {
            color: v.$fontWhite !important;
          }
          &:hover {
            background-color: v.$bgButtonGreen !important;
            .p-menuitem-text {
              color: v.$fontWhite !important;
            }
          }
        }
      }
    }
  }
  .button-format-container {
    margin-top: 1em;
    width: 186px;
    background-color: v.$bgButtonGreen;
    padding-left: 0.5em;
    border-radius: 5px;
    margin-bottom: 2em;
    .select-format .p-dropdown {
      width: 100%;
      background-color: transparent;
      color: v.$fontWhite;
      border: none;
      .p-dropdown-trigger {
        color: v.$fontWhite;
        background-color: v.$bgButtonGreen;
        justify-content: center;
        width: 2rem;
      }
    }
    .p-dropdown-trigger-icon {
      color: v.$fontWhite;
      font-size: 1.3rem;
    }
    .format-selected-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 0.5em;
      > i {
        margin-right: 1em;
        font-size: 1.3rem;
        color: v.$fontWhite;
      }
      > div {
        color: v.$fontWhite;
      }
      .download-spinner {
        margin-right: 1em;
      }
    }
    .select-format {
      .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none;
        border: none;
      }
      .p-dropdown:hover {
        border: none;
      }
      .p-dropdown .p-inputtext {
        color: v.$fontInput;
        font-size: 1rem;
        font-family: v.$fontFamilyMedium;
        padding-left: 0;
      }
      .p-dropdown-panel .p-dropdown-items {
        font-size: 1rem;
        font-family: v.$fontFamilyMedium;
        color: v.$fontInput;
        .p-dropdown-item.p-highlight {
          background-color: v.$bgButtonGreen;
          color: v.$fontWhite;
        }
      }
    }
    .download-spinner .p-progress-spinner-circle {
      animation: download-progress-spinner-dash 1.5s ease-in-out infinite, download-progress-spinner-color 6s ease-in-out infinite;
    }

    @keyframes download-progress-spinner-color {
      100%,
      0% {
          stroke: v.$loadingColorDarkBlue;
      }
      40% {
          stroke: v.$loadingColorBlue;
      }
      66% {
          stroke: v.$loadingColorDarkBlue;
      }
      80%,
      90% {
          stroke: v.$loadingColorDarkBlue;;
      }
    }

    @keyframes download-progress-spinner-dash {
      0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
      }
      50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
      }
      100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
      }
    }

  }
}
