.card-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .form-container {
    flex: 1;
  }
  
  .separator {
    width: 1px;
    background-color: #D0D8D9;
    height: auto;
    margin: 10px 50px;
  }

  .grid-content {
    width: 100%;
  }
  
  .other-component {
    flex: 1;
  }

  .indicators-label {
    font-size: 14px !important;
    top: 0% !important; 
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .indicators-label.update-label {
    color: #44B39B;
  }

  .indicators-label.achieved-goal-label {
    color: #44B39B;
  }

  
  #achieved-goal {
    color: #44B39B;
  }

  #update {
    color: #44B39B;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
    @media (max-width: 1000px) {
      .mobile {
        width: 30% !important;
      }
    }

  @media (max-width: 768px) {
    .mobile {
      width: 100% !important;
    }
  }


  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
  }

.table-wrapper {
    display: grid;
    gap: 10px;
    padding: 15px;
    animation:none;
    width: 350px;
    background: #fff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 3px;
}

.period-header {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.grid-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.half-width {
    width: 48%;
    .app-input-text {
      width: 100%;
    }
}

.full-width {
    width: 100%;
}

.app-text-area {
    resize: vertical;
}

.disabled-field {
  user-select: none !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.6;
}

/* Responsividade */
@media (max-width: 935px) {
  .table-wrapper {
    width: 100%;
  }
}

