<div class="app-indicator">
  <div class="app-content-header">
    <span *ngIf="!idIndicator" class="header-title">{{ "newIndicator" | translate }}</span>
    <span *ngIf="!!idIndicator && indicator" class="header-title">{{ indicator.name }}</span>
  </div>

  <div class="loading-form-container" *ngIf="formIsSaving">
    <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
  </div>

  <div class="card-properties-indicator" *ngIf="cardIndicatorProperties" [class.responsive]="responsive">
    <app-card [properties]="cardIndicatorProperties" class="mt-0 inputs-float-label">

      <div class="loading-container" *ngIf="cardIndicatorProperties.isLoading">
        <app-card-loading [isCardLoading]="cardIndicatorProperties.isLoading"></app-card-loading>
      </div>

      <div class="wrapper">
        
        <div class="p-grid grid-content" *ngIf="!cardIndicatorProperties.isLoading">
          <form [formGroup]="formIndicator" class="form-container">
            <div class="p-fluid">
              <!-- Nome -->
              <div class="p-field mobile" style="width: 30%;">
                <span class="p-float-label">
                  <input
                    class="app-input-text"
                    id="float-name"
                    type="text"
                    formControlName="name"
                    pInputText
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                  />
                  <label class="indicators-label" for="float-name">{{ "name" | translate }} *
                    <i class="far fa-question-circle" [pTooltip]="'indicator.name' | translate"></i>
                  </label>
                </span>
                <app-input-message [form]="formIndicator" field="name"></app-input-message>
              </div>

              <!-- Descrição -->
              <div class="p-field">
                <span class="p-float-label">
                  <textarea
                    class="app-text-area"
                    id="float-description"
                    formControlName="description"
                    pInputTextarea
                    [rows]="2"
                    [ngModel]="(mirrorDescription()) ? formIndicator.value.name : formIndicator.value.description"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                  >
                  </textarea>
                  <label class="indicators-label" for="float-description">{{ "description" | translate }} *
                    <i class="far fa-question-circle" [pTooltip]="'indicator.description' | translate"></i>
                  </label>
                </span>
                <app-input-message [form]="formIndicator" field="description"></app-input-message>
              </div>

              <!-- Fonte -->
              <div class="p-field mobile" style="width: 20%;">
                <span class="p-float-label">
                  <p-dropdown
                    class="app-single-selection"
                    formControlName="source"
                    filterBy="name"
                    optionLabel="name"
                    optionValue="name"
                    dropdownIcon="fas fa-caret-down"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                    [filter]="true"
                    [showClear]="false"
                    [options]="sourceOptions"
                    [autoDisplayFirst]="false"
                    (onChange)="onSourceChange($event)"
                  >
                  </p-dropdown>
                  <label class="indicators-label">{{ "source" | translate }}</label>
                </span>
                <app-input-message [form]="formIndicator" field="source"></app-input-message>
              </div>

              <!-- Medida -->
              <div class="p-field mobile" style="width: 20%;">
                <span class="p-float-label">
                  <p-dropdown
                    class="app-single-selection"
                    formControlName="measure"
                    filterBy="name"
                    optionLabel="name"
                    optionValue="name"
                    dropdownIcon="fas fa-caret-down"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                    [filter]="true"
                    [showClear]="false"
                    [options]="unitMeasureOptions"
                    [autoDisplayFirst]="false"
                    (onChange)="onMeasureChange($event)"
                  >
                  </p-dropdown>
                  <label class="indicators-label">{{ "measure" | translate }}</label>
                </span>
                <app-input-message [form]="formIndicator" field="measure"></app-input-message>
              </div>

              <div class="p-field mobile" style="width: 20%;">
                <span class="p-float-label">
                  <p-calendar
                    class="app-select-date"
                    id="float-start"
                    icon="fas fa-calendar-alt"
                    formControlName="startDate"
                    dateFormat="dd/mm/yy"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="yearRangeCalculated"
                    (onSelect)="onDateChange()"
                  >
                  </p-calendar>
                  <label class="indicators-label" for="float-start">{{ "startDate" | translate }}</label>
                </span>
              </div>
              
              <div class="p-field mobile" style="width: 20%;">
                <span class="p-float-label">
                  <p-calendar
                    class="app-select-date"
                    id="float-start"
                    icon="fas fa-calendar-alt"
                    formControlName="endDate"
                    dateFormat="dd/mm/yy"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                    [showIcon]="true"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="yearRangeCalculated"
                    (onSelect)="onDateChange()"
                  >
                  </p-calendar>
                  <label class="indicators-label" for="float-start">{{ "endDate" | translate }}</label>
                </span>
              </div>

              <!-- Periodicidade -->
              <div class="p-field mobile" style="width: 20%;">
                <span class="p-float-label">
                  <p-dropdown
                    class="app-single-selection"
                    formControlName="periodicity"
                    optionLabel="label"
                    optionValue="value"
                    dropdownIcon="fas fa-caret-down"
                    [options]="periodicityOptions"
                    [autoDisplayFirst]="false"
                    [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                    [disabled]="permission !== 'EDIT'"
                    (onChange)="onPeriodicityChange($event)"
                  >
                  </p-dropdown>
                  <label class="indicators-label">{{ "periodicity" | translate }}</label>
                </span>
                <app-input-message [form]="formIndicator" field="periodicity"></app-input-message>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-card>
  </div>

  <div class="card-period-data" *ngIf="cardIndicatorProperties && periodData?.length > 0">
    <app-card [properties]="{ 
      cardTitle: periodData.length > 1 ? 'periods' : 'period',
      toggleable: false,
      initialStateToggle: false,
      collapseble: true,
      initialStateCollapse: false,
      isLoading: true }" class="mt-3">

      <div class="grid-container">
        <div class="table-wrapper" *ngFor="let data of periodData; let i = index" [@fadeIn]>
          
          <!-- Período -->
          <div class="period-header">{{ data.period }}</div>

          <!-- Meta Prevista e Meta Realizada -->
          <div class="grid-row">
            <span class="p-float-label half-width">
              <input
                class="app-input-text"
                id="expected-goal"
                type="text"
                pInputText
                [(ngModel)]="data.expectedGoals"
                [ngClass]="{ 'disabled-field': permission !== 'EDIT' }"
                [disabled]="permission !== 'EDIT'"
                (input)="onExpectedGoalChange(data)"
              >
              <label for="expected-goal" class="indicators-label" >{{ "expectedGoal" | translate }}</label>
            </span>
            <span class="p-float-label half-width">
              <input
                class="app-input-text"
                id="achieved-goal"
                type="text"
                pInputText
                [(ngModel)]="data.achievedGoals"
                [ngClass]="{ 'disabled-field': (permission !== 'EDIT' && permission !== 'UPDATE') || isCurrentYearBeforeParam(data.period) }"
                [disabled]="(permission !== 'EDIT' && permission !== 'UPDATE') || isCurrentYearBeforeParam(data.period)"
                (input)="onAchievedGoalChange(data)"
              >
              <label for="achieved-goal" class="indicators-label achieved-goal-label">{{ "achievedGoal" | translate }}</label>
            </span>
          </div>

          <!-- Medida e Última Atualização -->
          <div class="grid-row">
            <span class="p-float-label half-width">
              <input
                class="app-input-text"
                id="measure"
                type="text"
                pInputText
                [value]="selectedMeasure || data.measure || '--'"
                [ngClass]="{'disabled-field': true }"
                [disabled]="true"
              >
              <label for="measure" class="indicators-label">{{ "measure" | translate }}</label>
            </span>
            <span class="p-float-label half-width">
              <input
                class="app-input-text"
                id="update"
                type="text"
                pInputText
                [value]="data.lastUpdate || '--'"
                [ngClass]="{'disabled-field': true }"
                [disabled]="true"
              >
              <label for="update" class="indicators-label update-label">{{ "update" | translate }}</label>
            </span>
          </div>

          <!-- Justificativa -->
          <div class="grid-row">
            <span class="p-float-label full-width">
              <textarea
                class="app-text-area"
                id="justification"
                pInputTextarea
                [rows]="2"
                [(ngModel)]="data.justification"
                [ngClass]="{'disabled-field': permission !== 'EDIT'}"
                [disabled]="permission !== 'EDIT'"
                (input)="onJustificationChange()"
              >
              </textarea>
              <label for="justification" class="indicators-label">{{ "goalJustification" | translate }}</label>
            </span>
          </div>
        </div>
      </div>
    </app-card>
  </div>

  <!-- Loading de Itens da Resposta -->
  <section>
    <div class="loading-container" *ngIf="isLoadingResponseItems">
      <app-card-loading [isCardLoading]="isLoadingResponseItems"></app-card-loading>
    </div>
  </section>

  <!-- ID do Indicador -->
  <div class="id-container" *ngIf="idIndicator && cardIndicatorProperties">
    <span>{{ idIndicator }}</span>
  </div>

  <!-- Botões de Ação -->
  <app-buttons-container>
    <app-save-button (save)="saveIndicator()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
</div>