<div class="app-indicator">
  <!-- Header -->
  <div class="app-content-header">
    <span *ngIf="!idIndicator" class="header-title">{{ "newIndicator" | translate }}</span>
    <span *ngIf="!!idIndicator && indicator" class="header-title">{{ indicator.name }}</span>
  </div>

  <!-- Loading Spinner -->
  <div class="loading-form-container" *ngIf="formIsSaving">
    <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
  </div>

  <!-- Card de Propriedades -->
  <div class="card-properties-indicator" *ngIf="cardIndicatorProperties" [class.responsive]="responsive">
    <app-card [properties]="cardIndicatorProperties" class="mt-0 inputs-float-label">
      <!-- Spinner de Loading dentro do Card -->
      <div class="loading-container" *ngIf="cardIndicatorProperties.isLoading">
        <app-card-loading [isCardLoading]="cardIndicatorProperties.isLoading"></app-card-loading>
      </div>

      <!-- Formulário de Propriedades -->
      <div class="p-grid" *ngIf="!cardIndicatorProperties.isLoading">
        <form [formGroup]="formIndicator" class="form-container">
          <div class="p-fluid">
            <!-- Nome -->
            <div class="p-field">
              <span class="p-float-label">
                <input
                  id="float-name"
                  formControlName="name"
                  type="text"
                  class="app-input-text"
                  pInputText
                />
                <label class="indicators-label" for="float-name">{{ "name" | translate }} *</label>
              </span>
              <app-input-message [form]="formIndicator" field="name"></app-input-message>
            </div>

            <!-- Descrição -->
            <div class="p-field">
              <span class="p-float-label">
                <textarea
                  pInputTextarea
                  formControlName="description"
                  class="app-text-area"
                  [rows]="3"
                  id="float-description"
                  [ngModel]="(mirrorDescription()) ? formIndicator.value.name : formIndicator.value.description"
                ></textarea>
                <label class="indicators-label" for="float-description">{{ "description" | translate }} *</label>
              </span>
              <app-input-message [form]="formIndicator" field="description"></app-input-message>
            </div>

            <!-- Fonte -->
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  class="app-single-selection"
                  [options]="sourceOptions"
                  formControlName="source"
                  optionLabel="name"
                  optionValue="name"
                  dropdownIcon="fas fa-caret-down"
                  [autoDisplayFirst]="false"
                  (onChange)="onSourceChange($event)"></p-dropdown>
                <label class="indicators-label">{{ "source" | translate }}</label>
              </span>
              <app-input-message [form]="formIndicator" field="source"></app-input-message>
            </div>

            <!-- Medida -->
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  class="app-single-selection"
                  [options]="measurementOptions"
                  formControlName="measure"
                  (onChange)="onMeasureChange($event)"
                  optionLabel="label"
                  optionValue="value"
                  dropdownIcon="fas fa-caret-down"
                  [autoDisplayFirst]="false"></p-dropdown>
                <label class="indicators-label">{{ "measure" | translate }}</label>
              </span>
              <app-input-message [form]="formIndicator" field="measure"></app-input-message>
            </div>

            <!-- Meta Finalística -->
            <div class="p-field">
              <span class="p-float-label">
                <input
                  id="float-final-goal"
                  formControlName="finalGoal"
                  type="text"
                  class="app-input-text"
                  pInputText
                />
                <label class="indicators-label" for="float-final-goal">{{ "finalGoal" | translate }}</label>
              </span>
              <app-input-message [form]="formIndicator" field="finalGoal"></app-input-message>
            </div>

            <!-- Periodicidade -->
            <div class="p-field">
              <span class="p-float-label">
                <p-dropdown
                  class="app-single-selection"
                  [options]="periodicityOptions"
                  formControlName="periodicity"
                  (onChange)="onPeriodicityChange($event)"
                  optionLabel="label"
                  optionValue="value"
                  dropdownIcon="fas fa-caret-down"
                  [autoDisplayFirst]="false"></p-dropdown>
                <label class="indicators-label">{{ "periodicity" | translate }}</label>
              </span>
              <app-input-message [form]="formIndicator" field="periodicity"></app-input-message>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>

  <!-- Loading de Itens da Resposta -->
  <section>
    <div class="loading-container" *ngIf="isLoadingResponseItems">
      <app-card-loading [isCardLoading]="isLoadingResponseItems"></app-card-loading>
    </div>
  </section>

  <!-- ID do Indicador -->
  <div class="id-container" *ngIf="idIndicator && cardIndicatorProperties">
    <span>{{ idIndicator }}</span>
  </div>

  <!-- Botões de Ação -->
  <app-buttons-container>
    <app-save-button (save)="saveIndicator()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
</div>
