<app-card [properties]="cardProperties" class="preproject-criteria-group-card">
  <div class="group-legend" *ngIf="group.legend">{{ group.legend }}</div>

  <div class="group-properties" [class.group-disabled]="!enabled">
    <div class="property-container" *ngFor="let item of properties"
      [class.not-fullLine]="!item.config.fullLine && item.config.type !== 'TextArea' && item.config.type !== 'Group'"
      [class.fullLine]="item.config.fullLine || item.config.type === 'TextArea' || item.config.type === 'Group' || isListProperty(item.config)">

      <app-property-list-selection
        *ngIf="isListProperty(item.config); else standardProperty"
        [label]="item.config.label"
        [items]="item.config.selectedListItems || []"
        [displayMode]="displayMode"
        [itemIcon]="getListIcon(item.config)"
        [disabled]="!enabled"
        (itemsChange)="updateListItems(item.config, $event)"
        (addRequested)="listAddRequested.emit(item.config)">
      </app-property-list-selection>

      <ng-template #standardProperty>
        <app-property
          *ngIf="item.value"
          [property]="item.value"
          (changed)="propertyChanged()">
        </app-property>
      </ng-template>
    </div>
  </div>
</app-card>
