<app-card [properties]="cardProperties" class="preproject-criteria-group-card">
  <div class="group-properties row" [class.group-disabled]="!enabled">
    <div class="property-container" *ngFor="let item of properties"
      [ngClass]="getPropertyColumnClasses(item.config)"
      [class.selection-property]="['SelectionModel', 'CriteriaSelectionModel'].includes(item.config.type)"
      [class.not-fullLine]="!item.config.fullLine && item.config.type !== 'TextArea' && item.config.type !== 'Group'">

      <app-property-list-selection
        *ngIf="isListProperty(item.config); else standardProperty"
        [label]="item.config.label"
        [items]="item.config.selectedListItems || []"
        [displayMode]="displayMode"
        [itemIcon]="getListIcon(item.config)"
        [disabled]="!enabled"
        (itemsChange)="updateListItems(item.config, $event)"
        (addRequested)="listAddRequested.emit(item.config)">
      </app-property-list-selection>

      <ng-template #standardProperty>
        <app-property
          *ngIf="item.value"
          [property]="item.value"
          (changed)="propertyChanged(item)">
        </app-property>
      </ng-template>
    </div>
  </div>
</app-card>
