@use "src/variables" as v;

.app-progress-card-step {
  width: 100%;
  display: flex;
  flex-direction: column;
  .unit-container {
    flex: 1;
    margin-right: 10px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    span {
      text-transform: none;
      font-weight: bold;
    }
  }

  .progress-header-values-container {
    display: flex;
    flex-direction: column;
    .progress-bar-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      .labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header-label {
          text-transform: none;
          font-size: 0.625rem;
          font-family: v.$fontFamilyItalic !important;
        }
      }
      .values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .value {
          text-transform: none;
          font-size: 0.875rem;
          font-family: v.$fontFamilyBold;
          font-weight: 700;
        }
      }
    }

    .progress-bar-total-container {
      border: 1px solid #004660;
    }

    .progress-bar-progress-container {
      border: none;
    }
    
    .progress-bar {    
      height: 100%;
    }

    .total-bar {    
      border: 1px solid #004660;
      height: 100%;
    }
  }
  .progress-header-values-container.responsive {
    width: 90%;
  }
  .baseline-bar-progress-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }
}


