<div class="app-office-permission-detail">
  <div class="app-content-header" [class.mobile]="responsive">
    <span *ngIf="personEmail && person; else newPermissionTitle">{{ person.name }}</span>
    <ng-template #newPermissionTitle>
      <span>{{ "newPermission" | translate }}</span>
    </ng-template>
  </div>
  <div class="card-permission">
    <app-card [properties]="cardPersonPermission" class="mt-0" [class.inputs-float-label]="!personEmail">
      <div class="person-properties">
        <div class="search-container" *ngIf="!personEmail">
          <span class="p-float-label">
            <input class="app-input-text input-search" [class.responsive]="responsive" id="float-search"
              name="searchPerson" [(ngModel)]="searchedEmailPerson" type="search"
              pInputText (ngModelChange)="debounceSearch.next()"/>
            <label class="app-input-label" for="float-search">{{ "searchPerson" | translate }}</label>
          </span>
          <span class="input-message-error" *ngIf="invalidMailMessage">
            {{ invalidMailMessage }}
          </span>
        </div>
        <p-card class="card-person" *ngIf="person" [class.responsive]="responsive">
          <span class="person-name">{{person.name}}</span>
          <span class="person-email">{{person.email}}</span>
        </p-card>
      </div>
      <div class="data-view-containter" *ngIf="person">
        <p-dataView [value]="cardItemsOfficePermission" layout="grid" class="app-dataview"
          [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container" [class.responsive]="responsive">
              <app-card-item-permission [properties]="cardItem" (changeSelected)="saveButton.showButton()">
              </app-card-item-permission>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </app-card>
  </div>
  <app-save-button #saveButton (save)="savePermission()"></app-save-button>
</div>
