@use "src/variables" as v;

.app-office-permission-detail {
  width: 100%;

  .card-permission {
    width: 100%;
    .person-properties {
      .search-container {
        margin-bottom: 1.5em;
        .input-search {
          min-width: 50%;
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .responsive {
          width: 100%;
        }
      }
      .responsive {
        width: 100%;
      }
    }
    .data-view-containter {
      margin-top: 15px;
    }
  }

  .input-message-error {
    color: white;
    background: #f44336;
    padding: 4px 8px;
    display: inline-flex;
    margin-top: 2px;
    border-radius: 5px;
    font-size: 0.7rem;
    font-family: v.$fontFamilyMedium;
  }
}

::ng-deep .app-office-permission-detail .card-person {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  max-width: 50%;

  .p-card {
    display: flex;
    height: 100%;
    max-width: 100%;
    border: 1px solid #D4D4D4;
    box-shadow: none;
  }

  .p-card-body {
    max-width: 100%;;
  }

  .p-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    max-width: 100%;

    .person-name {
      max-width: 100%;
      word-wrap: break-word;
      font-size: 1rem;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
      padding: 5px 0;
    }
    .person-email {
      max-width: 100%;
      word-wrap: break-word;
      font-size: 0.9rem;
      color: v.$fontTitle;
      font-family: v.$fontFamilyMedium;
    }
  }
}

::ng-deep .app-office-permission-detail .card-person.responsive {
  max-width: 100%;
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}
