<div class="app-office-permission-detail">
  <div class="app-permission-detail-header" [class.app-permission-detail-header-mobile]="responsive">
    <span class="header-text" *ngIf="!personEmail">{{ "newPermission" | translate}}</span>
    <span class="header-text" *ngIf="personEmail && person">{{person.name}}</span>
  </div>
  <div class="card-properties-permission">
    <app-card [properties]="cardPersonPermission">
      <div class="person-properties">
        <div class="search-container" *ngIf="!personEmail">
          <span class="p-float-label">
            <input class="app-input-text input-search" [class.responsive]="responsive" id="float-search"
              name="searchPerson" [(ngModel)]="searchedEmailPerson" type="search"
              pInputText (ngModelChange)="debounceSearch.next()"/>
            <label class="app-input-label" for="float-search">{{ "searchPerson" | translate }}</label>
          </span>
        </div>
        <p-card class="card-person" *ngIf="person" [class.responsive]="responsive">
          <span class="person-name">{{person.name}}</span>
          <span class="person-email">{{person.email}}</span>
        </p-card>
      </div>
      <div class="data-view-containter" *ngIf="person">
        <p-dataView [value]="cardItemsOfficePermission" layout="grid" styleClass="dataview-card-items" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container" [class.responsive]="responsive">
              <app-card-item-permission [properties]="cardItem" (changeSelected)="handleShowSaveButton()">
              </app-card-item-permission>
            </div>
          </ng-template>
        </p-dataView>
      </div>
      <div class="app-save-button-layout" *ngIf="showSaveButton">
        <div class="app-save-button-wrapper" @enterLeave>
          <span class="button-label" (click)="savePermission()">{{ 'save' | translate }}</span>
        </div>
      </div>
    </app-card>
  </div>
</div>
