<div class="app-office-permission-detail">
  <div class="app-content-header" [class.mobile]="responsive">
    <span *ngIf="email && person; else newPermissionTitle">{{ person.name }}</span>
    <ng-template #newPermissionTitle>
      <span>{{ "newPermission" | translate }}</span>
    </ng-template>
  </div>
  <div class="card-permission" *ngIf="cardPersonPermission">
    <app-card [properties]="cardPersonPermission" class="mt-0" [class.inputs-float-label]="!email">
      <div class="person-properties">
        <div class="search-container" *ngIf="!email && !citizenAuthServer">
          <div class="search-email-container" [class.responsive]="responsive">
            <span class="p-float-label">
              <input class="app-input-text input-search" [class.responsive]="responsive" id="float-search"
                name="searchPerson" [(ngModel)]="searchedEmailPerson" pInputText
                (ngModelChange)="debounceSearch.next()" />
              <label class="app-input-label" for="float-search">{{ "searchByEmail" | translate }}</label>
            </span>
            <i class="fas fa-search icon-search-input" *ngIf="!selectedPerson"></i>
          </div>
          <span class="input-message-error" *ngIf="invalidMailMessage">
            {{ invalidMailMessage }}
          </span>
        </div>
        <div class="search-container-user-citizen" *ngIf="!email && !!citizenAuthServer">
          <div class="search-user-by" [class.responsive]="responsive">
            <label>{{'searchBy'|translate}}:</label>
            <div class="radios-container">
              <p-radioButton class="search-user-radio" value="CPF" [(ngModel)]="citizenSearchBy" [label]="'CPF'"
                (ngModelChange)="validateClearSearchByUser()">
              </p-radioButton>
              <p-radioButton class="search-user-radio" value="NAME" [(ngModel)]="citizenSearchBy"
                (ngModelChange)="validateClearSearchByUser()" [label]="'nameOnlyPublicServers' |translate">
              </p-radioButton>
            </div>
          </div>
          <div *ngIf="citizenSearchBy === 'NAME'" class="search-citizen-user-by-name">
            <div class="user-by-name-input-container">
              <input #actualTarget class="app-input-text input-search-name" [class.responsive]="responsive"
                (ngModelChange)="validateClearSearchUserName($event)" [(ngModel)]="searchedNameUser" pInputText />
              <button pButton class="button-search" [label]="!responsive ? ('search'|translate) : ''"
                (click)="searchCitizenUserByName()"
                [disabled]="!searchedNameUser || (searchedNameUser && searchedNameUser.length === 0) || isLoading"
                icon="fas fa-search" iconPos="left"></button>
            </div>
            <span class="input-message-error" *ngIf="showMessagePublicServerNotFoundByName">
              {{'messages.publicServerNotFoundByName' |translate}}
            </span>
            <div class="listbox-public-servers-container" [class.responsive]="responsive">
              <p-listbox [options]="publicServersResult" *ngIf="showListBoxPublicServers" [multiple]="false"
                [listStyle]="{'max-height':'250px'}" (onClick)="handleSelectedPublicServer($event)"
                optionLabel="name">
                <ng-template let-publicServer pTemplate="item">
                  <span>
                    {{publicServer.name}}
                  </span>
                </ng-template>
              </p-listbox>
            </div>
          </div>
          <div class="search-by-cpf-container" [class.responsive]="responsive">
            <div class="user-by-cpf-input-container" *ngIf="citizenSearchBy === 'CPF'">
              <div  class="cpf-container">
                <p-inputMask [(ngModel)]="searchedCpfUser" mask="999.999.999-99" placeholder="000.000.000-00"
                  (ngModelChange)="validateClearSearchByCpf($event)" unmask="true">
                </p-inputMask>
              </div>
              <button pButton class="button-search" [label]="!responsive ? ('search'|translate) : ''"
                (click)="validateCpf()"
                [disabled]="!searchedCpfUser || (searchedCpfUser && searchedCpfUser.length === 0) || isLoading"
                icon="fas fa-search" iconPos="left"></button>
            </div>
            <span *ngIf="!validCpf" class="input-message-error">
              {{ 'messages.invalidCPF'|translate }}
            </span>
            <span *ngIf="citizenUserNotFoundByCpf" class="input-message-error">
              {{ 'messages.citizenUserNotFoundByCpf'|translate }}
            </span>
          </div>
        </div>
        <div class="loading-container" *ngIf="isLoading">
          <i class="fas fa-hourglass-half"></i>
          <label class="loading-label">{{'messages.loading'|translate}} ...</label>
        </div>
        <p-card class="card-person" *ngIf="person" [class.responsive]="responsive">
          <span class="person-name">{{person.name}}</span>
          <span class="person-email">{{person.email}}</span>
        </p-card>
      </div>
      <div class="data-view-containter" *ngIf="person">
        <p-dataView [value]="cardItemsOfficePermission" layout="grid" class="app-dataview"
          [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container" [class.responsive]="responsive">
              <app-card-item-permission [properties]="cardItem" (changeSelected)="saveButton.showButton()"
                [isReadOnly]="isReadOnly">
              </app-card-item-permission>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </app-card>
  </div>
  <app-save-button #saveButton (save)="savePermission()"></app-save-button>
</div>
