<div class="app-schedule">
  <div class="app-content-header" [class.mobile]="responsive">
    <span>{{ "newSchedule" | translate }}</span>
  </div>

  <div class="card-properties-schedule" *ngIf="unitMeasure && cardScheduleProperties">
    <app-card [properties]="cardScheduleProperties" class="mt-0 inputs-float-label">
      <div class="p-grid">
        <form [formGroup]="formSchedule">
          <div class="p-formgroup-inline" [class.responsive]="responsive">
            <div class="p-field" [class.responsive]="responsive">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-start" class="app-select-date" showIcon="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true" formControlName="start"
                  yearRange="2020:2030"
                  [class.responsive]="responsive"
                  icon="fas fa-calendar-alt"
                  [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" for="float-start">{{ "start" | translate }}</label>
              </span>
            </div>
            <div class="p-field" [class.responsive]="responsive">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-end" formControlName="end" class="app-select-date" showIcon="true"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="2020:2030" [class.responsive]="responsive"
                  icon="fas fa-calendar-alt"
                  [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" class="properties-label" for="float-end">{{ "finish" |
                  translate}}</label>
              </span>
            </div>
          </div>
          <div class="schedule-totals">
            <span class="totals-title">{{"totals" | translate}}</span>
            <div class="unitMeasureValues">
              <div class="p-formgroup-inline" [class.responsive]="responsive">
                <div class="p-field" [class.responsive]="responsive">
                  <span class="p-float-label" [class.responsive]="responsive">
                    <p-inputNumber class="app-input-number" id="float-planned" formControlName="plannedWork"
                      [class.responsive]="responsive">
                    </p-inputNumber>
                    <label class="app-input-label" for="float-planned">{{unitMeasure.name}} {{ "planned" |translate
                      }} * </label>
                  </span>
                </div>
                <div class="p-field" [class.responsive]="responsive">
                  <span class="p-float-label" [class.responsive]="responsive">
                    <p-inputNumber class="app-input-number" id="float-actual" formControlName="actualWork"
                      [class.responsive]="responsive">
                    </p-inputNumber>
                    <label class="app-input-label" for="float-actual">{{unitMeasure.name}} {{ "actual" |translate
                      }}</label>
                  </span>
                </div>
              </div>
              <div class="cost-assignments-totals" [class.responsive]="responsive">
                <div class="planned-total">
                  <span class="label"> $ {{ "planned" |translate }}</span>
                  <span class="value">{{costAssignmentsTotals.plannedTotal|number:'0.2-2':'pt'}}</span>
                </div>
                <div class="actual-total">
                  <span class="label"> $ {{ "actual" |translate }}</span>
                  <span class="value">{{costAssignmentsTotals.actualTotal|number:'0.2-2':'pt'}}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </app-card>
    <div class="card-cost-assignments" *ngIf="cardCostAssignmentsProperties">
      <app-card [properties]="cardCostAssignmentsProperties">
        <div class="card-item-costs-container">
          <p-dataView [value]="costAssignmentsCardItems" layout="grid" styleClass="dataview-card-items-cost"
            [emptyMessage]="'loadingEllipsis' | translate">
            <ng-template let-cardItem pTemplate="gridItem">
              <div class="p-col-12 p-md-3 p-sm-12 card-item-container" [class.responsive]="responsive">
                <app-cost-assignment-card-item [properties]="cardItem" (costChanged)="handleChangeValuesCardItems()">
                </app-cost-assignment-card-item>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </app-card>
    </div>
  </div>
</div>
<app-save-button (save)="saveSchedule()"></app-save-button>
