@use "src/variables" as v;

::ng-deep .app-schedule {
  width: 100%;
  position: relative;
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }
  .card-properties-schedule{
    width: 100%;
    form {
      width: 100%;
      .p-formgroup-inline {
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        .p-field {
          margin-right: 0;
        }
        .app-select-date {
          display: flex;
          width: 100%;
          .p-calendar {
            width: 100%;
          }
        }
        .app-input-number {
          display: flex;
          width: 100%;
          .p-inputnumber {
            display: flex;
            width: 100% !important;
            .p-inputtext {
              display: flex;
              width: 100% !important;
            }
          }
          &.red {
            .p-inputnumber .p-inputtext {
              color: #EA5C5C !important;
            }
            
          }
        }
      }
      .p-formgroup-inline.responsive {
        width: 100%;
        display: flex;
        .app-input-number {
          display: flex;
          width: 100%;
          .p-inputnumber {
            display: flex;
            width: 100% !important;
            .p-inputtext {
              display: flex;
              width: 100% !important;
            }
          }
        }
      }
      .distribution-container {
        margin-top: 1.5em;
        padding-bottom: 1em;
        > label {
          font-size: 12px;
          font-style: italic;
          color: #6c757d;
        }
      }
      .radios-container {
        margin-top: 0.5em;
        .distribution-radio {
          margin-right: 1em;
        }
        .p-radiobutton .p-radiobutton-box {
          background-color: white !important;
          border-color: #868181;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            border-color: #868181;
          }
        }
        .p-radiobutton-label {
          color: #004660;
        }
        .p-radiobutton .p-radiobutton-box.p-highlight {
          background-color: white !important;
          border-color: #868181;
          &:hover {
            border-color: #868181;
            background: white !important;
          }
          .p-radiobutton-icon {
            background-color: #868181;
          }
        }
        p-radiobutton .p-radiobutton .p-radiobutton-box.p-highlight {
          border-color: #868181 !important;
          background: white !important;
          box-shadow: none;
        }
        p-radiobutton .p-radiobutton .p-radiobutton-box.p-focus {
          border-color: #868181 !important;
          background: white !important;
          box-shadow: none;
        }
        .p-radiobutton.p-radiobutton-focused.p-radiobutton-checked {
          background-color: white !important;
          border-color: #868181;
          box-shadow: none;
        }
        .p-radiobutton .p-radiobutton-box {
          .p-radiobutton-icon {
            background-color: #868181;
          }
        }
      }
      .schedule-totals {
        margin-top: 15px;
        .totals-title {
          text-transform: uppercase;
          font-size: 1rem;
          font-family: v.$fontTitle !important;
          color: v.$fontInput;
        }
        .actual-validation-message-container {
          padding-bottom: 1em;
          font-size: 0.8rem;
          color: #EA5C5C;
        }
        .cost-assignments-totals {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1em;
          align-items: center;
          width: 40%;
          .planned-total, .actual-total {
            display: flex;
            flex-direction: column;
            .label {
              font-size: 0.9rem;
              font-style: italic;
              color: v.$fontLabel;
            }
            .value {
              font-family: v.$fontFamilyMedium;
              font-size: 1rem;
              color: v.$fontInput;
              padding: 0.5em 0;
              &.red {
                color: #EA5C5C !important;
              }
            }
          }
        }
        .cost-assignments-totals.responsive {
          display: flex;
          flex-direction: column;
          .planned-total, .actual-total {
            width: 100%;
            .value {
              border-bottom: solid 1px #b6c8cd;
            }
          }
          .actual-total {
            margin-top: 15px;
          }
        }
      }
      ::ng-deep .p-field.responsive {
        margin-right: 0 !important;
      }
      ::ng-deep .responsive {
        width: 100% !important;
        .p-calendar {
          width: 100%;
        }
      }
      ::ng-deep .app-input-number.responsive {
        width: 100%;
        .p-inputnumber {
          width: 100%;
        }
      }
    }
  }
  ::ng-deep .dataview-card-items-cost {
    position: static !important;
    background-color: transparent;
    .p-dataview-content, .p-grid {
      background-color: transparent;
    }
    .card-item-container {
      padding: 0.5em;
      min-height: 9.5em !important;
      &:first-child {
        padding: 0.5em 0.5em 0.5em 0;
      }
    }
    .card-item-container.responsive {
      padding: 0.5em 0;
    }
  }
  .app-save-button-layout {
    position: relative;
    height: 15vh;
    width: 100%;
    overflow: hidden;
  }
  .app-save-button-wrapper {
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 100;

    .button-label {
      background-color: v.$bgButtonGreen;
      color: #ffffff;
      font-size: 1.25rem;
      padding: .5em 1.5em;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 7px 10px 2px rgba(0,0,0,.1);
      cursor: pointer;

      &:hover {
        background-color: v.$bgButtonGreenHover;
      }
    }
  }
}
