<div class="app-config">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" >
      <span>{{ propertiesOffice?.name }}</span>
    </div>
    <app-config-data-view-panel (changeCollapsedExpand)="handleChangeCollapseExpandPanel($event)"
        (changeDisplayMode)="handleChangeDisplayMode($event)">
      </app-config-data-view-panel>
  </div>
  <div class="card-container">
    <app-card [properties]="cardProperties" class="mt-0 admin-config">
      <p-dataView [value]="cardItemsProperties" layout="grid" class="app-dataview" *ngIf="displayModeAll === 'grid'"
        [emptyMessage]="(!cardItemsProperties ? 'loadingEllipsis' : 'noContent') | translate">
        <ng-template let-cardItem pTemplate="gridItem">
          <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
            <app-card-item [properties]="cardItem"></app-card-item>
          </div>
        </ng-template>
      </p-dataView>

      <p-dataView [value]="cardItemsProperties" layout="list" class="app-dataview app-dataview-list" *ngIf="displayModeAll === 'list'"
        [emptyMessage]="(!cardItemsProperties ? 'loadingEllipsis' : 'noContent') | translate">
        <ng-template let-cardItem pTemplate="listItem">
          <div class="p-col-12">
            <app-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-card-item>
          </div>
        </ng-template>
      </p-dataView>
    </app-card>
  </div>
</div>
