 .app-config {
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  .app-content-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
  }
}

.loading-container {
  position: relative;
  min-height: 150px;
}

.header-container.mobile {
  flex-direction: column;
  .app-content-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
  }
}

::ng-deep .admin-config .app-card-item .p-card .p-card-body {
  padding: 1.2rem 0 !important;
}

::ng-deep .admin-config .app-dataview-list .app-card-item .p-card .p-card-body {
  padding: 0 !important;
}


