<div class="selection-property" [class.full-line]="property.fullLine">
  <span class="p-float-label selection-input">
    <input pInputText [id]="property.name" [value]="displayValue" readonly
      [disabled]="property.disabled" [class.ng-invalid]="property.invalid" />
    <label [for]="property.name">{{property.label}} {{property.required ? '*' : ''}}</label>
  </span>
  <button pButton type="button" icon="fas fa-search" class="p-button-outlined open-button"
    [disabled]="property.disabled" (click)="open()"></button>
  <button *ngIf="selectedValues.length && !property.disabled" pButton type="button" icon="fas fa-times"
    class="p-button-text clear-button" (click)="clear()"></button>
</div>
<small class="input-message-error" *ngIf="property.invalid">{{property.message}}</small>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '720px'}"
  header="Selecionar Fonte de Recurso">
  <div class="financial-source-dialog">
    <div class="loading" *ngIf="loading">Carregando fontes de recurso...</div>

    <ng-container *ngIf="!loading">
      <label>Tipo de fonte</label>
      <p-dropdown [options]="typeOptions" [(ngModel)]="selectedType" [filter]="true"
        filterBy="code,name" [showClear]="true" (onChange)="onTypeChange()" placeholder="Todos os tipos">
        <ng-template let-option pTemplate="item">{{option.code}} - {{option.name}}</ng-template>
        <ng-template let-option pTemplate="selectedItem">{{option.code}} - {{option.name}}</ng-template>
      </p-dropdown>

      <ng-container *ngIf="level !== 'TYPE'">
        <label>Grupo</label>
        <p-dropdown [options]="groupOptions" [(ngModel)]="selectedGroup" [filter]="true"
          filterBy="code,name" [showClear]="true" (onChange)="onGroupChange()" placeholder="Selecione o grupo">
          <ng-template let-option pTemplate="item">{{option.code}} - {{option.name}}</ng-template>
          <ng-template let-option pTemplate="selectedItem">{{option.code}} - {{option.name}}</ng-template>
        </p-dropdown>
      </ng-container>

      <ng-container *ngIf="level === 'SOURCE' || level === 'DETAIL'">
        <label>Fonte</label>
        <p-dropdown [options]="sourceOptions" [(ngModel)]="selectedSource" [filter]="true"
          filterBy="code,name" [showClear]="true" [disabled]="!selectedGroup"
          (onChange)="onSourceChange()" placeholder="Selecione a fonte">
          <ng-template let-option pTemplate="item">{{option.code}} - {{option.name}}</ng-template>
          <ng-template let-option pTemplate="selectedItem">{{option.code}} - {{option.name}}</ng-template>
        </p-dropdown>
      </ng-container>

      <ng-container *ngIf="level === 'DETAIL'">
        <label>Detalhamento da fonte</label>
        <p-dropdown [options]="detailOptions" [(ngModel)]="selectedDetail" [filter]="true"
          filterBy="code,name" [showClear]="true" [disabled]="!selectedSource"
          placeholder="Selecione o detalhamento">
          <ng-template let-option pTemplate="item">{{option.code}} - {{option.name}}</ng-template>
          <ng-template let-option pTemplate="selectedItem">{{option.code}} - {{option.name}}</ng-template>
        </p-dropdown>
      </ng-container>

      <button pButton type="button" [label]="property.multipleSelection ? 'Adicionar seleção' : 'Selecionar'"
        icon="fas fa-plus" [disabled]="!canSelect" (click)="addSelection()"></button>
    </ng-container>

    <div class="selected-list" *ngIf="draftValues.length">
      <strong>Selecionado{{property.multipleSelection ? 's' : ''}}:</strong>
      <span class="selected-item" *ngFor="let value of draftValues">
        {{valueLabel(value)}}
        <button type="button" (click)="removeDraft(value)"><i class="fas fa-times"></i></button>
      </span>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Cancelar" class="p-button-text" (click)="visible = false"></button>
    <button *ngIf="property.multipleSelection" pButton type="button" label="Confirmar"
      [disabled]="!draftValues.length" (click)="confirm()"></button>
  </p-footer>
</p-dialog>
