@use "src/variables" as v;

::ng-deep .workpack-input-text {
  .p-inputtext {
    width: 30%;
  }
}

::ng-deep .workpack-input-text-not-fullLine {
  .p-inputtext {
    width: 100%;
  }
}

::ng-deep .workpack-input-text-mobile {
  .p-inputtext {
    width: 100%;
  }
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}
