<div class="app-workpack-section-properties">
  <app-card [properties]="cardWorkpackProperties" class="mt-0 inputs-float-label" [class.panel-tab-view]="showTabview"
    (changeCheckCompleted)="handleChangeCheckCompleted($event)">
    <div class="loading-container" *ngIf="isLoading">
      <app-card-loading [isCardLoading]=" isLoading"></app-card-loading>
    </div>
    <div class="properties-container" *ngIf="!isLoading" [class.responsive]="responsive">
      <div class="property-container" *ngFor="let property of sectionPropertiesProperties"
        [class.not-fullLine]="!property.fullLine && property.type !== 'TextArea' && property.type !== 'Group'"
        [class.fullLine]="property.fullLine || property.type === 'TextArea' || property.type === 'Group'">
        <app-property [property]="property" (changed)="checkProperties(property)"></app-property>
        <span class="input-message-error" *ngIf="property.invalid && property.type !== 'Group'">
          {{ property.message }}
        </span>
      </div>
    </div>
  </app-card>
</div>