<div class="app-template" [class.mobile]="responsiveSrv.observable | async" [class.fullScreenModeDashboard]="dashboardSrv.observable | async">
  <ng-container *ngIf="!isMenuFixed; else menuFixed">
    <ng-container *ngTemplateOutlet="menuFloat"></ng-container>
  </ng-container>
</div>

<ng-template #menuFixed>
  <main>
    <div class="splitter-container" *ngIf="!!isMenuFixed">
      <p-splitter [panelSizes]="[20,80]" [minSizes]="[20,20]" layout="horizontal">
        <ng-template>
          <div class="menu-fixed-container">
            <app-menu-fixed (changeMenu)="toggleMenu($event)"></app-menu-fixed>
          </div>
        </ng-template>
        <ng-template>
          <div class="main-content">
            <app-breadcrumb [isAdminMenu]="isAdminMenu"></app-breadcrumb>
            <div class="content">
              <div class="outlet fixed">
                <router-outlet></router-outlet>
              </div>
              <div class="footer-container">
                <app-footer></app-footer>
              </div>
            </div>
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </main>
</ng-template>

<ng-template #menuFloat>
  <app-menu (changeMenu)="toggleMenu($event)"></app-menu>
  <main>
    <div class="main-content">
      <app-breadcrumb [isAdminMenu]="isAdminMenu"></app-breadcrumb>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </main>
</ng-template>
