@use "src/variables" as v;

$loadingBarHeight: .3rem;

::ng-deep .app-template {
  display: flex;
  height: 100%;
  min-height: 100vh;

  &.fullScreenModeDashboard {
    app-menu, app-menu-fixed {
      display: none;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    height: 100%;
    .content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .splitter-container {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: transparent;
  }
  .p-splitter {
    height: 100%;
    background-color: transparent;
  }
  .splitter-moveevent {
    position: absolute;
    height: 100% !important;
    width: 4px !important;
    background: #57575745 !important;
    z-index: 1 !important;
  }
  .menu-fixed-container {
    width: 100%;
    height: 100%;
  }
  &.mobile {
    flex-direction: column-reverse;

    main {
      padding-bottom: 72px;
    }
    .outlet {
      padding: 0 7.5px;
    }
  }
  .loading-layout {
    margin-bottom: -$loadingBarHeight;
  }
  p-progressbar {
    width: 100%;
  }
  .outlet {
    height: 100%;
    transition: opacity 250ms ease-in;
    opacity: 1;
    padding: 1rem 50px 25px 50px;

    &.fixed {
      height: auto;
      min-height: calc(100vh - 12.5rem);
    }

    &.is-loading {
      transition: opacity 25ms ease-in;
      opacity: 0;
      pointer-events: none;
    }
  }
}

::ng-deep .p-progressbar.p-component {
  border-radius: 0 !important;
  height: $loadingBarHeight;

  .p-progressbar-value {
    background: v.$borderDarkGrey;
  }
}

.footer-container {
  position: sticky;
  bottom: 0;
  width: -webkit-fill-available;
}

.footer-container-fixed {
  position: sticky;
  width: -webkit-fill-available;
}
