<div class="app-template" [class.mobile]="mobileViewSrv.observable | async" [class.fullScreenModeDashboard]="dashboardSrv.observable | async">
  <ng-container *ngIf="mobileViewSrv.observable | async; else menuFixed">
    <ng-container *ngTemplateOutlet="menuFloat"></ng-container>
  </ng-container>
</div>

<ng-template #menuFloat>
  <app-mobile-menu (changeMenu)="toggleMenu($event)"></app-mobile-menu>
  <main>
    <div class="main-content">
      <app-breadcrumb [isAdminMenu]="isAdminMenu"></app-breadcrumb>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </main>
</ng-template>

<ng-template #menuFixed>
  <app-nav-menu></app-nav-menu>
  <main>
    <div class="splitter-container">
      <p-splitter [panelSizes]="[menuWidth, mainWidth]" (onResizeEnd)="onResizeEnd($event)" [minSizes]="[0.01, 50]" layout="horizontal">
        <ng-template>
          <div class="menu-fixed-container">
            <app-panel-menu></app-panel-menu>
          </div>
        </ng-template>
        <ng-template>
          <div class="main-content" (click)="handleCloseMenu()">
            <app-breadcrumb [isAdminMenu]="isAdminMenu"></app-breadcrumb>
            <div class="content">
              <div class="outlet fixed">
                <router-outlet></router-outlet>
              </div>
              <div class="footer-container-fixed">
                <app-footer></app-footer>
              </div>
            </div>
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </main>
</ng-template>

