@use "src/variables" as v;

::ng-deep .app-stakeholder-person {
  width: 100%;

  .app-stakeholder-header {
    padding: 0.5em 0;
    font-size: 0.9rem;
    font-family: v.$fontTitle  !important;
    color: v.$fontInput;
  }

  .app-stakeholder-header-mobile {
    font-size: 1rem;
    font-family: v.$fontFamilyBold  !important;
    font-weight: bold;
  }

  .card-person {
    width: 100%;

    .person-properties {
      margin-top: 1em;

      .p-radiobutton .p-radiobutton-box {
        background-color: white !important;
        border-color: #868181;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border-color: #868181;
        }

        // .p-radiobutton-icon {
        //   width: 12px;
        //   height: 12px;
        // }
      }

      .p-radiobutton .p-radiobutton-box.p-highlight {
        background-color: white !important;
        border-color: #868181;

        &:hover {
          border-color: #868181;
          background: white !important;
        }

        .p-radiobutton-icon {
          background-color: #868181;
        }
      }

      p-radiobutton .p-radiobutton .p-radiobutton-box.p-highlight {
        border-color: #868181 !important;
        background: white !important;
        box-shadow: none;
      }

      p-radiobutton .p-radiobutton .p-radiobutton-box.p-focus {
        border-color: #868181 !important;
        background: white !important;
        box-shadow: none;
      }

      .p-radiobutton.p-radiobutton-focused.p-radiobutton-checked {
        background-color: white !important;
        border-color: #868181;
        box-shadow: none;
      }

      .p-radiobutton .p-radiobutton-box {
        .p-radiobutton-icon {
          background-color: #868181;
        }
      }

      .new-person-search {
        padding-bottom: 2em;

        .toggle-user-container {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          padding-bottom: 2em;

          .app-toggle {
            margin-left: 0 !important;
          }

          .label-toggle-user {
            margin-left: 0.5em;
          }
        }

        .search-container-non-user {
          width: 100%;

          .search-person-by {
            padding-bottom: 2em;

            .search-by-radio {
              margin-right: 1em;
            }
          }

          .search-existing-person-container {
            width: 100%;

            .p-float-label {
              width: 30%;

              .p-autocomplete {
                width: 100%;

                .p-inputtext {
                  width: 100%;
                }
              }
            }
          }
        }

        .search-existing-person-container.responsive {
          .p-float-label {
            width: 100%;
          }
        }

        .search-container-non-user-citizen {
          width: 100%;

          .p-float-label {
            width: 30%;
          }
        }

        .search-container-non-user-citizen.responsive {
          width: 100%;

          .p-float-label {
            width: 100% !important;
          }
        }

        .name-person-container {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          width: 100%;

          .p-autocomplete-loader {
            display: none;
          }

          .icon-search-input {
            padding-bottom: 1em;
            margin-left: -1em;
            font-size: 1.2em;
            color: #8c8c8c;
          }
        }

        .search-container-user-citizen {
          .search-user-by {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: 2em;
            color: #004660;

            .radios-container {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
            }

            .search-user-radio {
              margin-left: 1em;
            }
          }

          .search-user-by.responsive {
            flex-direction: column;
            align-items: flex-start;

            .radios-container {
              margin-top: 1em;
            }

            .search-user-radio {
              margin-left: 0;
              margin-right: 1em;
              font-size: 0.8rem;
            }
          }

          .op-search-user-message {
            padding: 1em;
            font-size: 1rem;
          }

          .search-citizen-user-by-name {
            width: 100%;

            .input-search-name {
              width: 30%;
            }

            .input-search-name.responsive {
              flex: 1;
            }

            .user-by-name-input-container {
              display: flex;
              flex-direction: row;
            }

            .listbox-public-servers-container {
              width: 30%;
            }

            .listbox-public-servers-container.responsive {
              width: 100%;
            }

            .button-search {
              background-color: v.$bgButtonGreen;
              color: #ffffff;
              text-align: center;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .1);
              cursor: pointer;
              margin-left: 1em;

              &:hover {
                background-color: v.$bgButtonGreenHover;
                border: none;
              }
            }

            .public-servers-list-container {
              display: flex;
              flex-direction: column;
              min-width: 200px;

              span {
                padding-top: 0.7em;
                cursor: pointer;
              }
            }
          }

          .search-by-cpf-container {
            width: 20%;

            .p-inputmask.p-inputtext {
              width: 100% !important;
            }

            .user-by-cpf-input-container {
              display: flex;
              flex-direction: row;
            }

            .button-search {
              background-color: v.$bgButtonGreen;
              color: #ffffff;
              text-align: center;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .1);
              cursor: pointer;
              margin-left: 1em;

              &:hover {
                background-color: v.$bgButtonGreenHover;
                border: none;
              }
            }
          }
        }

        .search-by-cpf-container {
          width: 100% !important;
        }

        .input-search {
          width: 100%;
        }

        .responsive {
          width: 100%;
        }

        .input-message-error {
          color: #f44336;
          background: transparent;
          padding: 4px 8px;
          display: inline-flex;
          margin-top: 2px;
          border-radius: 5px;
          font-size: 0.7rem;
          font-family: v.$fontFamilyMedium;
          font-weight: bold;
        }
      }
    }

    .loading-container {
      padding: 1em 0;

      .fa-hourglass-half {
        font-size: 1.3rem;
        color: #9ea4a5;
        margin-right: 0.5em;
      }
    }

    .fullName-person-container {
      .fullName-person {
        font-size: 1em;
        color: v.$fontInput;
      }
    }

    .form-stakeholder .p-float-label {
      margin-top: 2em;
    }

    .form-stakeholder .name-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
    }

    .form-stakeholder .name-container.responsive {
      display: flex;
      flex-direction: column;
    }

    .form-stakeholder {
      margin-bottom: 2em;

      .app-input-mask .p-inputmask.p-inputtext {
        font-family: v.$fontFamilyMedium;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid v.$borderInput;
        border-radius: 0;
        background-color: transparent;
        color: v.$fontInput;

        &:enabled:focus {
          border-bottom: 1px solid v.$borderInput;
          box-shadow: none;
        }

        &:hover {
          border-bottom: 2px solid v.$borderInput  !important;
          box-shadow: none;
        }

        .full-line {
          width: 100%;
        }
      }
    }

    .form-stakeholder .p-fluid {
      .p-inputtext.short-input {
        width: 30%;
      }

      .app-input-mask.short-input {
        .p-inputmask.p-inputtext {
          width: 20%;
        }
      }
    }

    .p-fluid .p-inputtext.short-input.responsive {
      width: 100%;
    }

    .app-input-mask.short-input.responsive {
      .p-inputmask.p-inputtext {
        width: 100% !important;
      }
    }
  }

  .card-roles {
    margin-top: 2em;
  }

  ::ng-deep .dataview-card-items {
    position: static !important;
    background-color: transparent;

    .p-dataview-content,
    .p-grid {
      background-color: transparent;
    }

    .card-item-container {
      padding: 0.5em;
      min-height: 9.5em !important;

      &:first-child {
        padding: 0.5em 0.5em 0.5em 0;
      }
    }

    .card-item-container.responsive {
      padding: 0.5em 0;
    }
  }

  .app-save-button-layout {
    position: relative;
    height: 15vh;
    width: 100%;
    overflow: hidden;
  }

  .app-save-button-wrapper {
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 100;

    .button-label {
      background-color: v.$bgButtonGreen;
      color: #ffffff;
      font-size: 1.25rem;
      padding: .5em 1.5em;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, .1);
      cursor: pointer;

      &:hover {
        background-color: v.$bgButtonGreenHover;
      }
    }
  }

  ::ng-deep .card-permissions {
    margin-top: 2em;

    p-card.app-card-item-permission .p-card {
      height: 100%;
      padding: 0.2em;
      width: 280px;

      .card-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .card-item-title {
          font-size: 0.8rem;
          font-family: v.$fontFamilyMedium;
          color: v.$fontTitle;
          padding: 0.7em 0;
          flex: 1;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 60px;
        }
      }

      .p-card-body {
        :focus {
          outline: none;
        }

        height: 100%;
        width: 100%;
        padding: 0;
        margin-top: 0.5em !important;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;

        .p-float-label input:focus~label,
        .p-float-label input.p-filled~label,
        .p-float-label textarea:focus~label,
        .p-float-label textarea.p-filled~label,
        .p-float-label .p-inputwrapper-focus~label,
        .p-float-label .p-inputwrapper-filled~label {
          top: -0.2rem;
        }

        p-dropdown {
          width: 100% !important;

          .p-dropdown {
            width: 100% !important;
          }
        }
      }

      .p-card-content {
        height: 100%;
        padding: 0;
      }

      .card-item-content {
        height: 100%;
        margin-top: 2em;
        .p-float-label {
          padding-bottom: 1.5em;
        }

        .card-item-role-description {
          font-size: 1rem;
          font-family: v.$fontFamilyMedium;
          padding: 0.2em 0.7em;
          color: v.$fontLabel;
        }
      }
    }

    .inherited {
      .p-card {
        background-color: transparent !important;

        .card-item-title {
          color: #828282 !important;
        }

        .card-item-content {
          display: flex;
          flex-direction: column;
          margin-top: 5px !important;

          .app-input-label {
            padding: 5px 0;
          }
        }
      }
    }
  }
}