<div class="gauge-chart">
  <div class="chart-container flex p-justify-center" *ngIf="config && config.value !== null">
    <p-chart [type]="type" [data]="data" [plugins]="plugins" [options]="options"></p-chart>
  </div>
  <div class="container-progress">
    <div class="progress-content" [class.direction-left]="!progressBarRight">
      <ng-container *ngIf="progressBarRight">
        <span class="value blue" *ngIf="config.valueProgressBar">
          {{config.valueProgressBar | shortNumber:language:2}}</span>
        <span class="dividing-line"></span>
      </ng-container>
      <progress class="progress" [class.blue]="!!progressBarRight" [class.red]="!progressBarRight"
        [value]="getNumberAbsolute(this.config.valueProgressBar)" [max]="config.maxProgressBar"> </progress>
      <ng-container *ngIf="!progressBarRight">
        <span class="dividing-line"></span>
        <span class="value red" *ngIf="config.valueProgressBar">
          {{config.valueProgressBar | shortNumber:language}}</span>
      </ng-container>
    </div>
    <label class="label">{{config.labelBottomProgressBar|translate}}</label>
  </div>
</div>
