<p-card *ngIf="properties.typeCardItem === 'listItem'" class="app-card-item-permission listItem"
  [class.cardList]="displayModeCard === 'list'" [class.card-link]="properties.urlCard" [class.mobile]="responsive">
  <p-header *ngIf="properties.menuItems" class="card-item-header">
    <span class="card-item-title" [pTooltip]="properties.fullNameUser"
      (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">{{properties.titleCardItem}}
    </span>
    <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
    <button type="button" pButton icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></button>
  </p-header>
  <div class="card-item-content" (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">
    <span class="card-item-role-description">{{properties.roleDescription}}</span>
  </div>
  <div class="card-item-footer" *ngIf="cardIdItem"
    (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">
    <span class="card-item-id">
      {{cardIdItem}}
    </span>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'editItem'" class="app-card-item-permission" styleClass="editItem">
  <p-header class="card-item-header">
    <div class="card-item-title-role" [pTooltip]="properties.titleCardItem">{{properties.titleCardItem === 'citizen' ?
      ('citizen' |translate) :
      properties.titleCardItem}}</div>
  </p-header>
  <div class="card-item-content">
    <span class="p-float-label">
      <p-dropdown id="level-dropdown" dropdownIcon="fas fa-caret-down" class="app-single-selection"
        [readonly]="isReadOnly" [autoDisplayFirst]="false" (onChange)="handleSelect()"
        [options]="properties.levelListOptions" [(ngModel)]="properties.selectedOption">
      </p-dropdown>
      <label class="app-input-label" for="level-dropdown">{{ "level" | translate }}
        <i class="far fa-question-circle" [pTooltip]="'help.permission.level' | translate"></i>
      </label>
    </span>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'newCardItem'" class="new-card-item-permission"
  [class.cardList]="displayModeCard === 'list'" [class.new-card-item-mobile]="responsive">
  <div class="card-item-content">
    <i [ngClass]="[ 'app-icon', newItemIcon, 'light-grey-icon' ]"
      (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)"
      [ngStyle]="{ fontSize: !responsive ? '2.2rem' : '2rem', cursor: 'pointer' }"></i>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'sharedItem'" class="app-card-item-permission" styleClass="editItem">
  <p-header class="card-item-header">
    <span class="card-item-title-shared">{{properties.titleCardItem}}</span>
    <button type="button" pButton icon="fas fa-trash-alt"
      (click)="(!properties.readOnly || properties.canDelete) && handleDeleteSharedCard()"></button>
  </p-header>
  <div class="card-item-content">
    <span class="p-float-label">
      <p-dropdown id="level-dropdown" dropdownIcon="fas fa-caret-down" class="app-single-selection"
        [readonly]="isReadOnly || properties.readOnly" [autoDisplayFirst]="false" (onChange)="handleSelect()"
        [options]="properties.levelListOptions" [(ngModel)]="properties.selectedOption">
      </p-dropdown>
      <label class="app-input-label" for="level-dropdown">{{ "level" | translate }}
        <i class="far fa-question-circle" [pTooltip]="'help.permission.level' | translate"></i>
      </label>
    </span>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'newCardItemShared'" class="new-card-item-permission"
  [class.cardList]="displayModeCard === 'list'" [class.new-card-item-mobile]="responsive">
  <div class="card-item-content">
    <i [ngClass]="[ 'app-icon', newItemIcon, 'light-grey-icon' ]"
      (click)=" properties.iconMenuItems && menuIcon.toggle($event)"
      [ngStyle]="{ fontSize: (responsive ? 2 : 2.2) + 'rem', cursor: 'pointer' }" [class.card-link]="properties.iconMenuItems"></i>
    <p-tieredMenu #menuIcon [popup]="true" [model]="properties.iconMenuItems"></p-tieredMenu>
  </div>
</p-card>
