@use "src/variables" as v;

::ng-deep .app-card-item-permission .p-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-width: 280px;
  width: 280px;
  border: 1px solid #D4D4D4;
  box-shadow: none;
  .p-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .card-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .card-item-header p-menu {
      .p-menu-overlay .p-menu-list .p-menuitem .p-menuitem-link {
        .p-menuitem-icon {
          font-size: 0.8rem;
          color: #939393;
        }
        .p-menuitem-text {
          font-size: 0.9rem;
          font-family: v.$fontFamilyMedium;
          color: #939393;
        }
      }
    }
    .card-item-header .p-button {
      background-color: transparent;
      border: none !important;
      box-shadow: none !important;
      .p-button-icon {
        font-size: 0.9rem;
        color: #939393;
      }
    }
    .card-item-title {
      font-size: 1rem;
      font-family: v.$fontFamilyMedium;
      color: v.$fontTitle;
      padding: 0.7em;
      white-space: nowrap;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }
    .card-item-title-shared {
      font-size: 1rem;
      font-family: v.$fontFamilyMedium;
      color: v.$fontTitle;
      font-weight: bold;
      padding: 0.7em;
    }
  }
  .p-card-body {
    :focus{
      outline: none;
    }
    padding: 0;
    height: 100%;
  }
  .p-card-content {
    height: 100%;
    min-height: 141px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-item-footer {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
      .card-item-id {
        color: #888e96;
          font-size: 0.6rem;
          font-family: v.$fontFamilyMedium;
      }
    }
  }
  .card-item-content {
    padding: 0 0.7em;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    flex: 1;
    .card-item-role-description {
      font-size: 1rem;
      font-family: v.$fontFamilyMedium;
      padding: 0.2em 0;
      color: v.$fontLabel;
      width: 100%;
      white-space: nowrap;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
  }
}

::ng-deep .app-card-item-permission.listItem.mobile .p-card {
  width: 100%;
  max-width: 100%;
}

::ng-deep .app-card-item-permission {
  &.cardList {
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 80px;
      .card-item-title {
        padding-bottom: 0.5em;
      }
      .p-card-content {
        min-height: 10px;
        width: 100%;
        display: flex;
        flex: 1;
        .card-item-content {
          width: 100%;
          max-width: 100%;
        }
        .card-item-footer {
          padding: 0 0.5em 5px;
        }
      }
      .card-item-name {
        flex: none;
      }
    }
  }
}
.card-link {
  cursor: pointer;
  border: none;
}
::ng-deep .editItem {
  width: 100%;
  .p-card-body {
    margin-top: 1.5em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label {
      top: -0.100rem;
    }
  }
  p-dropdown {
    width: 100% !important;
    .p-dropdown {
      width: 100% !important;
    }
  }
}

::ng-deep .new-card-item {
  .p-card {
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    max-width: 280px;
    width: 280px;
    border: 1px solid #D4D4D4;
    box-shadow: none;
    .p-card-body .p-card-content p-menu {
      .p-menu-overlay .p-menu-list {
        max-width: 23em;
        max-height: 25em;
        overflow-y: scroll;
        .p-menuitem .p-menuitem-link {
          .p-menuitem-icon {
            font-size: 0.8rem;
            color: #939393;
          }
          .p-menuitem-text {
            font-size: 0.9rem;
            font-family: v.$fontFamilyMedium;
            color: #939393;
          }
        }
      }
    }
    .p-card-body {
      padding: 0 !important;
      height: 100%;
    }
    .p-card-content .card-item-content {
      min-height: 150px;
      width: 100%;
      height: 100%;
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: center !important;
      .card-item-container {
        height: 100%;
      }
      p-tieredmenu {
        .p-tieredmenu-overlay ul {
          max-width: 23em;
          max-height: 25em;
          overflow-y: scroll;
          .p-menuitem .p-menuitem-link {
            .p-menuitem-icon {
              font-size: 0.8rem;
              color: #939393;
            }
            .p-menuitem-text {
              font-size: 0.9rem;
              font-family: v.$fontFamilyMedium;
              color: #939393;
            }
          }
        }
      }
    }
  }
  &.cardList {
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 80px;
      height: 100%;
      .p-card-content {
        padding: 0;
        min-height: 80px;
        height: 100%;
        .card-item-content {
          min-height: 10px;
        }
      }
    }
  }
}

::ng-deep .new-card-item.new-card-item-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 1em;
  .p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    padding: 1em 0;
    .p-card-body {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .p-card-body .p-card-content .card-item-content {
      padding: 0;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      min-height: 60px;
    }
  }
  &.cardList {
    height: 100%;
    height: 80px;
    padding: 0;
    .p-card {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}
