<p-card *ngIf="properties.typeCardItem === 'listItem'" class="app-card-item-permission listItem"
  [class.card-link]="properties.urlCard">
  <p-header *ngIf="properties.menuItems" class="card-item-header">
    <span class="card-item-title">{{properties.titleCardItem}}</span>
    <p-menu #menu [popup]="true" [model]="properties.menuItems"></p-menu>
    <button type="button" pButton icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></button>
  </p-header>
  <div class="card-item-content" (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">
    <span class="card-item-role-description">{{properties.roleDescription}}</span>
  </div>
  <div class="card-item-footer" *ngIf="cardIdItem">
    <span class="card-item-id">
      {{cardIdItem}}
    </span>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'editItem'" class="app-card-item-permission" styleClass="editItem">
  <p-header class="card-item-header">
    <span class="card-item-title">{{properties.titleCardItem}}</span>
  </p-header>
  <div class="card-item-content">
    <span class="p-float-label">
      <p-dropdown id="level-dropdown" dropdownIcon="fas fa-caret-down" class="app-single-selection"
        [autoDisplayFirst]="false"
        (onChange)="handleSelect()" [options]="properties.levelListOptions" [(ngModel)]="properties.selectedOption">
      </p-dropdown>
      <label class="app-input-label" for="level-dropdown">{{ "level" | translate }}</label>
    </span>
  </div>
</p-card>

<p-card *ngIf="properties.typeCardItem === 'newCardItem'" class="app-card-item-permission new-card-item"
  [class.new-card-item-mobile]="responsive"
  [class.card-link]="properties.urlCard" (click)="navigateToPage(properties.urlCard, properties.paramsUrlCard)">
  <div class="card-item-content">
    <i [ngClass]="[ 'app-icon', newItemIcon, 'light-grey-icon' ]" [ngStyle]="{ fontSize: !responsive ? '3rem' : '2rem' }"></i>
  </div>
</p-card>
