<div class="app-procurement">
    <div class="app-content-header">
      <span *ngIf="!idProcurement">
        {{ 'newProcurement' | translate }}
      </span>
  
      <span
        *ngIf="
          idProcurement &&
          procurement
        "
      >
        {{ procurement.processNumber }}
      </span>
    </div>
  
    <div
      class="loading-form-container"
      *ngIf="formIsSaving"
    >
      <app-card-loading
        [isCardLoading]="formIsSaving"
      >
      </app-card-loading>
    </div>
  
    <div
      class="card-properties-procurement"
      *ngIf="cardProcurementProperties"
      [class.responsive]="responsive"
    >
      <app-card
        [properties]="cardProcurementProperties"
        class="mt-0 inputs-float-label"
      >
        <form [formGroup]="formProcurement">

           <!-- Ano -->
           <div
            class="procurement-field selection-small app-property-selection"
            >
            <span class="p-float-label">
                <p-dropdown
                class="app-single-selection"
                inputId="year"
                formControlName="year"
                [options]="yearOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [disabled]="
                    !editPermission ||
                    !!idProcurement
                "
                (onChange)="handleYearChange()"
                >
                </p-dropdown>
    
                <label
                class="app-input-label"
                for="year"
                >
                {{ 'year' | translate }} *
                </label>
            </span>
    
            <app-input-message
                [form]="formProcurement"
                field="year"
            >
            </app-input-message>
          </div>  
  
          <!-- Órgão -->
          <div
            class="procurement-field selection-small app-property-selection"
          >
            <span class="p-float-label">
              <p-dropdown
                class="app-single-selection"
                inputId="organization"
                formControlName="organization"
                [options]="organizationOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [disabled]="
                  !editPermission ||
                  !!idProcurement
                "
                (onChange)="handleOrganizationChange()"
              >
              </p-dropdown>
  
              <label
                class="app-input-label"
                for="organization"
              >
                {{ 'organization' | translate }} *
              </label>
            </span>
  
            <app-input-message
              [form]="formProcurement"
              field="organization"
            >
            </app-input-message>
          </div>
  
          <!-- Processo -->
          <div
            class="procurement-field selection-medium app-property-selection"
          >
            <span class="p-float-label">
              <p-dropdown
                class="app-single-selection"
                inputId="procurementProcess"
                formControlName="procurementProcess"
                [options]="procurementProcessOptions"
                optionLabel="label"
                optionValue="value"
                dropdownIcon="fas fa-caret-down"
                [autoDisplayFirst]="false"
                [filter]="true"
                [showClear]="true"
                [disabled]="
                  !editPermission ||
                  !formProcurement
                    .controls
                    .organization
                    .value ||
                  !formProcurement
                    .controls
                    .year
                    .value
                "
                (onChange)="
                  handleProcurementProcessChange(
                    $event
                  )
                "
              >
              </p-dropdown>
  
              <label
                class="app-input-label"
                for="procurementProcess"
              >
                {{ 'process' | translate }} *
              </label>
            </span>
  
            <app-input-message
              [form]="formProcurement"
              field="procurementProcess"
            >
            </app-input-message>
          </div>
  
          <ng-container
            *ngIf="
              !isLoading &&
              formProcurement
                .controls
                .procurementProcess
                .value
            "
          >
            <!-- Modalidade -->
            <div
              class="procurement-field text-small app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="modality"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="modality"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="modality"
                >
                  {{ 'modality' | translate }}
                </label>
              </span>
            </div>
  
            <!-- Situação -->
            <div
              class="procurement-field text-small app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="status"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="status"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="status"
                >
                  {{ 'status' | translate }}
                </label>
              </span>
            </div>
  
            <!-- Protocolo -->
            <div
              class="procurement-field text-small app-property-text"
            >
              <span
                class="p-float-label workpack-input-text-not-fullLine"
              >
                <input
                  id="protocol"
                  class="app-input-text"
                  type="text"
                  pInputText
                  formControlName="protocol"
                  readonly
                />
  
                <label
                  class="app-input-label"
                  for="protocol"
                >
                  {{ 'protocol' | translate }}
                </label>
              </span>
            </div>
          </ng-container>
        </form>
      </app-card>
    </div>
  
    <div
      class="id-container"
      *ngIf="
        idProcurement &&
        cardProcurementProperties &&
        !isLoading
      "
    >
      <span>{{ idProcurement }}</span>
    </div>
  </div>
  
  <app-buttons-container>
    <app-save-button
      #saveButton
      (save)="saveProcurement()"
    >
    </app-save-button>
  
    <app-cancel-button
      #cancelButton
      (cancel)="handleOnCancel()"
    >
    </app-cancel-button>
  </app-buttons-container>