:host {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width, 1fr));
    grid-template-rows: repeat(auto-fill, var(--card-heigth, 1fr));
    gap: 1rem;
    justify-content: center;

    .card-item {
        background-color: white;
        padding: 1rem;
        position: relative;
        
        .icon-remover {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }

    }


    .newItem {
        border: 1px solid #d4d4d4;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-height: 10rem;

        i::before {
            font-size: xxx-large;
        }
    }
}