/* FONT */
$fontTitle: #004660;
$fontLabel: #939393;
$fontDark: #333333;
$fontLogout: #EA5C5C;
$fontInput: #004660;
$fontBreadcrumb: #13546C;
$fontBreadcrumbMobile: #888E96;
$fontFamilySemiBold: 'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
$fontFamilyBold: 'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
$fontFamilyMedium: 'Montserrat Medium', 'Montserrat Regular', 'Montserrat', sans-serif;
$fontFamilyRegular: 'Montserrat Regular', 'Montserrat', sans-serif;
$fontFamilyItalic: 'Montserrat Italic', 'Montserrat', sans-serif;
$fontFamily: 'Montserrat', sans-serif;

/* BACKGROUND */
$bg: #eaeae8;
$bgCard: #ffffff;
$bgCardItem: #fafaf9;
$bgMenuItem: #00000019;
$bgMenuAdmin: rgba(167, 7, 75, 1);
$bgMenuUser: rgba(2, 60, 85, 1);
$bgButtonGreen: #44B39B;
$bgButtonGreenHover: rgba(68, 179, 155, 0.9);
$borderInput: #b6c8cd;
$borderInputHover: #5c6163;
$bgBreadcrumb: #d0d8d9;

/* BORDER */
$borderLightGrey: #e5e5e4;
$borderDarkGrey: #ffffff;

/* ICON */
$iconGrey: #888e96;
$iconLightGrey: #d4d4d4;
$iconLightBlue: #70a7bf;
$iconRed: #EA5C5C;
$iconDarkGrey: #373435;
