/* You can add global styles to this file, and also import other style files */
@use 'src/variables' as v;

:root {
  --font-family: v.$fontFamilyMedium !important;
}
body {
  font-family: v.$fontFamilyMedium;
  min-height: 100vh;
  height: 100%;
  background-color: #EAEAE8;
  margin: 0;
}

.p-component {
  font-family: v.$fontFamilyMedium !important;
  font-size: 0.9rem !important;
}

.spacer {
  flex: 1;
}

.white-icon {
  color: #ffffff;
}

.grey-icon {
  color: v.$iconGrey;
}

.light-grey-icon {
  color: v.$iconLightGrey;
}

.red-icon {
  color: v.$iconRed;
}

.admin-icon {
  color: v.$bgMenuAdmin;
}

.margin-top{
  margin-top: 28px;
}
.full-line {
  width: 100%;
}

.app-header {
  padding-bottom: 0 !important;
}

.clickable {
  cursor: pointer;
}

.id-container {
  width: 100%;
  text-align: end;
  padding: 0.5em;
  font-size: 0.8rem;
  font-family: "Montserrat Medium", "Montserrat Regular", "Montserrat", sans-serif !important;
  color: #004660;
}

app-card {
  .p-panel {
    margin-top: 15px;

    .p-panel-content {
      padding: 0 15px 0.5em !important;
    }
    .p-panel-header {
      .p-panel-header-icon {
        width: auto;
        height: auto;

        span.pi {
          font-size: 1.3rem;
        }
      }
    }
    .card-item-container {
      padding: 0 !important;
      margin: 0 15px 15px 0 !important;
      @media screen and (max-width: 768px) {
        margin: 0 0 15px 0 !important;
      }
    }
  }
  &.mt-0 .p-panel {
    margin-top: 0 !important;
  }

  &.inputs-float-label .p-panel-content {
    margin-top: -7.5px;
  }
}

.app-content-header {
  padding-bottom: 0.5em;
  font-size: 0.9rem;
  font-family: v.$fontFamilyMedium !important;
  color: v.$fontInput;
  font-weight: 500;

  .label {
    font-family: v.$fontFamilyRegular !important;
    color: v.$fontBreadcrumb;
    font-weight: 400;
  }

  .text {
    margin-left: 0.5em;
  }
  &.workpack .text{
    font-family: v.$fontFamilyBold !important;
    font-weight: bold;
  }
  &.has-model {
    .label {
      font-size: .688rem;
      color: v.$fontLabel;
    }
  }
  &.mobile :not(.label) {
    font-family: v.$fontFamilyBold !important;
    font-weight: bold;
  }
}

.fa-question-circle {
  font-size: 0.9rem;
  margin-left: 1em;
  color: #d4d4d4;
}

.p-float-label {
  margin-top: 15px;
  padding-bottom: 10px;
  > label {
    left: 0 !important;
    pointer-events: auto !important;
  }
  .p-inputtextarea {
    padding-top: 0 !important;
    margin-top: .5rem !important;
  }
}

.outlet .p-field-checkbox, .p-field-radiobutton {
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
}

.outlet .p-field {
  margin-bottom: 0px !important;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: 0 !important;
  left: 0rem !important;
}

div[class^='card-properties'] app-card .p-panel {
  margin-top: 0;

  .p-panel-content {
    padding-bottom: 5px !important;
  }
}

.dataview-card-items {
  .p-paginator {
    background: transparent;
    .p-dropdown:not(.disabled).p-focus {
      box-shadow: none;
      border-color: #6c757d;
    }
    .p-dropdown-label.p-inputtext {
      font-size: 0.8rem !important;
    }
    .p-dropdown-item {
      font-size: 0.8rem !important;
    }
    .p-dropdown-trigger .p-dropdown-trigger-icon {
      font-size: 0.8rem !important;
    }
    .p-dropdown:not(.disabled):hover {
      border-color: #6c757d;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background: #e9ecef;
    }
  }
  .p-dataview .p-paginator-bottom {
    border: none;
  }
}

.outlet p-dataview.app-dataview  {
  position: static !important;
  background-color: transparent;

  .p-dataview {
    position: static !important;
  }
  .p-dataview-content, .p-grid {
    background-color: transparent;
  }
  .p-paginator {
    background: transparent;
    .p-dropdown:not(.disabled).p-focus {
      box-shadow: none;
      border-color: #6c757d;
    }
    .p-dropdown-label.p-inputtext {
      font-size: 0.8rem !important;
    }
    .p-dropdown-item {
      font-size: 0.8rem !important;
    }
    .p-dropdown-trigger .p-dropdown-trigger-icon {
      font-size: 0.8rem !important;
    }
    .p-dropdown:not(.disabled):hover {
      border-color: #6c757d;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background: #e9ecef;
    }
  }
  .p-dataview .p-paginator-bottom {
    border: none;
  }
}

.outlet p-dataview.app-dataview-list {
  .p-col-12 {
    padding-bottom: 0.5em;
  }
}

.button-default-w8 {
   .p-button .p-button-label {
    font-size: 0.8rem !important;
  }
}

.app-input-text.p-inputtext {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: transparent;
  color: v.$fontInput;
  padding-left: 0;

  &:enabled:focus {
    border-bottom: 1px solid v.$borderInput;
    box-shadow: none;
  }
  &:hover {
    border-bottom: 1px solid v.$borderInputHover !important;
    box-shadow: none;
  }
  .full-line {
    width: 100%;
  }
}
.app-input-text.p-inputnumber {
  font-size: 0.9rem;
}
.app-autocomplete .p-autocomplete .p-inputtext {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: transparent;
  color: v.$fontInput;
  padding-left: 0;

  &:enabled:focus {
    border-bottom: 1px solid v.$borderInput;
    box-shadow: none;
  }
  &:hover {
    border-bottom: 1px solid v.$borderInputHover !important;
    box-shadow: none;
  }
  .full-line {
    width: 100%;
  }
}
.p-inputmask.p-inputtext {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: transparent;
  color: v.$fontInput;
  padding-left: 0;

  &:enabled:focus {
    border-bottom: 1px solid v.$borderInput;
    box-shadow: none;
  }
  &:hover {
    border-bottom: 1px solid v.$borderInputHover !important;
    box-shadow: none;
  }
  .full-line {
    width: 100%;
  }
}

.app-text-area.p-inputtextarea {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: transparent;
  color: v.$fontInput;
  width: 100%;
  padding-left: 0;

  &:enabled:focus{
    border-bottom: 1px solid v.$borderInputHover;
    box-shadow: none;
  }

  &:hover{
    border-bottom: 1px solid v.$borderInputHover !important;
  }
}

.app-input-number {
  .p-inputnumber {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
    input {
      padding-left: 0;
    }
    &:enabled:focus {
      border-bottom: 1px solid v.$borderInputHover;
      box-shadow: none;
    }
    &:hover {
      border-bottom: 1px solid v.$borderInputHover !important;
      box-shadow: none;
    }
  }
  .p-inputnumber {
    .p-inputtext {
      font-family: v.$fontFamilyMedium;
      font-size: 0.9rem;
      border: none;
      border-bottom: 1px solid v.$borderInput !important;
      border-radius: 0;
      background-color: transparent;
      color: v.$fontInput;
      padding-left: 0;
    }
    .p-inputtext:enabled:focus {
      border:none;
      box-shadow: none;
    }
  }
}

.app-select-date {
  .p-calendar-w-btn, .p-calendar {
    .p-inputtext {
      font-family: v.$fontFamilyMedium;
      border: none;
      font-size: 0.9rem;
      border-bottom: 1px solid v.$borderInput;
      border-radius: 0;
      background-color: transparent;
      color: v.$fontInput;
      padding-left: 0;
    }
  }
  .p-calendar-w-btn .p-inputtext:hover {
    border: none;
    border-bottom: 1px solid v.$borderInputHover;
    border-radius: 0;
    background-color: transparent;
     color: v.$fontInput;
  }
  .p-calendar-w-btn .p-inputtext:enabled:focus {
    box-shadow: none;
  }
  .p-calendar-w-btn .p-button {
    color: #004660;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid v.$borderInput;
    border-radius: 0;
  }
  .p-calendar-w-btn .p-button:hover {
    color: #004660;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid v.$borderInput;
    border-radius: 0;
  }
}

.app-toggle {
  display: flex;
  align-items: center;
  .p-inputswitch{
    width: 2em;
    height: 1em;
    align-content: center;
  }
  .p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: 0 0 0 0.1rem #44B39B;
  }
  .p-inputswitch-checked .p-inputswitch-slider{
    background-color: #44B39B !important;
  }
  .p-inputswitch .p-inputswitch-slider {
    align-content: center;
  }
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    left: -3px;
  }
  .p-inputswitch .p-inputswitch-slider::before {
    width: 0.7em;
    height: 0.7em;
    top: 0.8em;
    left: 3px;
  }
}


.card-item-header {
  .p-menu .p-menuitem {
    font-size: 0.8rem !important;
    .p-menuitem-link {
      font-size: 0.8rem;
      padding: 0.5em;
    }
  }
}

.menu-addicional-properties {
  .p-menu .p-menuitem-link {
    font-size: 0.9rem !important;
    padding: 0.5rem 0.75rem;
  }
}

.app-tree-selection {
  .p-tree {
    font-size: 0.8rem;
    font-family: v.$fontFamilyMedium !important;
    color: v.$fontInput;
    padding: 0.5em;
    .p-tree-container .p-treenode .p-treenode-content {
      padding: 0;
    }
    .p-tree-toggler-icon.pi {
      font-size: 0.8;
    }
    .p-tree-container .p-treenode .p-treenode-content:focus {
      box-shadow: 0 0 0 0.2rem v.$borderInput;
    }
    .p-tree-container .p-treenode .p-treenode-content.p-highlight {
      background: transparent;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
      border: #44B39B;
      background: #44B39B;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      border-color: #44B39B;
      background: #44B39B;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
      border-color: #44B39B;
    }
    .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
      box-shadow: none;
      background-color: transparent;
    }
    .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
      background-color: transparent;
    }
  }
}

.app-single-selection {
  .p-dropdown {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid v.$borderInput;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid v.$borderInput;
  }
  .p-dropdown:hover {
    border: none;
    border-bottom: 1px solid v.$borderInputHover !important;
  }
  .p-dropdown .p-inputtext {
    color: v.$fontInput;
    font-size: 0.9rem;
    font-family: v.$fontFamilyMedium;
    padding-left: 0;
  }
  .p-dropdown-panel .p-dropdown-items {
    font-size: 0.9rem;
    font-family: v.$fontFamilyMedium;
    color: v.$fontInput;
    .p-dropdown-item.p-highlight {
      background-color: #44B39B;
      color: #ffffff;
    }
  }
  .p-dropdown-trigger {
    justify-content: flex-end;
  }
  .p-dropdown-trigger-icon {
    color: #004660;
    font-size: 1rem;
  }
}

.app-multiple-selection {
  .p-multiselect {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid v.$borderInput;
  }
  .p-multiselect:hover {
    border: none !important;
    box-shadow: none;
    border-bottom: 1px solid v.$borderInputHover !important;
  }
  .p-multiselect-filter-container .p-inputtext {
    color: v.$fontInput;
    font-size: 0.9rem;
    font-family: v.$fontFamilyMedium;
  }
  .p-multiselect-filter-container .p-inputtext:hover {
    border-color: v.$borderInput;
  }
  .p-multiselect-filter-container .p-inputtext:enabled:focus {
    border: 2px solid v.$borderInput;
    box-shadow: none;
  }
  .p-multiselect-label-container {
    color: v.$fontInput;
    font-size: 0.8rem;
    font-family: v.$fontFamilyMedium;
  }
  .p-multiselect-trigger {
    justify-content: flex-end;
  }
  .p-multiselect-trigger-icon {
    color: #004660;
    font-size: 0.8rem;
  }
  .p-multiselect-panel .p-multiselect-items {
    font-size: 0.8rem !important;
    font-family: v.$fontFamilyMedium;
    color: v.$fontInput;
    .p-multiselect-item {
      font-size: 0.8rem !important;
    }
    .p-multiselect-item.p-highlight {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .p-multiselect-item:focus {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
    border: #44B39B;
    background: #44B39B;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #44B39B;
    background: #44B39B;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #44B39B;
  }
}

.app-input-label {
  font-size: 0.8rem;
  font-style: italic;
  color: v.$fontLabel;
  font-family: v.$fontFamilyRegular;

  .required-indicator {
    margin-left: 5px;
  }
}

// componente input inline desabled
.app-input-text-inline.p-inputtext {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: #fff;
  color: v.$fontInput;

  &:enabled:focus {
    border-bottom: 1px solid v.$borderInput;
    box-shadow: none;
  }
  &:hover {
    border-bottom: 1px solid v.$borderInputHover !important;
    box-shadow: none;
  }
  .full-line {
    width: 100%;
  }
}

// Component p-chips
.app-input-chips .p-chips .p-inputtext,
  .p-multiselect.p-multiselect-chip .p-multiselect-token {
  font-family: v.$fontFamilyMedium;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid v.$borderInput;
  border-radius: 0;
  background-color: transparent;
  color: v.$fontInput;

  &.p-focus {
    border-color: transparent !important;
    border-bottom: 1px solid v.$borderInput !important;
    box-shadow: none !important;
  }
  &:enabled:focus {
    border-bottom: 1px solid v.$borderInput;
    box-shadow: none;
  }
  &:hover {
    border-bottom: 1px solid v.$borderInputHover !important;
    box-shadow: none;
  }
  .full-line {
    width: 100%;
  }
}

.app-input-chips {
  .p-chips {
    .p-chips-token-label {
      font-size: 0.8rem;
    }
  }
}

// Component checkbox
.app-checkbox {
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
    border-color: #44B39B;
    background: #44B39B;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #44B39B;
    background: #44B39B;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #44B39B;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: #13bc75aa; // TODO: FIND BRIGHTER COLOR
    box-shadow: 0 0 0 0.2rem #13bc75aa;
  }
}

// component button
.app-button-green {
  .p-button {
    background-color: #44b39b !important;
    border: none;
  }
}


.p-chips .p-chips-multiple-container .p-chips-token {
  background: v.$borderLightGrey !important;
}

.p-dialog.p-confirm-dialog {
  font-family: v.$fontFamilyMedium !important;

  > div {
    background: v.$bgCard !important;
  }
  .p-dialog-title {
    color: v.$fontTitle;
  }
  .p-confirm-dialog-message,
  .p-confirm-dialog-icon {
    color: v.$fontDark;
    max-width: 500px;
  }
  .p-dialog-footer {
    display: flex;
    justify-content: space-around;
  }
  .p-button {
    background: transparent !important;
    border: 1px solid transparent;
    color: v.$fontDark !important;

    &:hover {
      border: 1px solid v.$borderDarkGrey;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}



.p-dataview .p-dataview-content .p-grid .card-item-container {
  flex-basis: 260px;
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}

app-root p-toast .p-toast {
  .p-toast-message .p-toast-message-text .p-toast-detail {
    white-space: pre-line;
  }
  @media screen and (max-width: 768px) {
    width: 90vw;
    right: 5vw !important;
  }
}

.p-grid {
  margin: 0 !important;
}

.p-toast {
  opacity: 1 !important;
}

@font-face {
  font-family: 'icopmo';
  src:  url('assets/fonts/icopmo.eot?3w7r9');
  src:  url('assets/fonts/icopmo.eot?3w7r9#iefix') format('embedded-opentype'),
    url('assets/fonts/icopmo.ttf?3w7r9') format('truetype'),
    url('assets/fonts/icopmo.woff?3w7r9') format('woff'),
    url('assets/fonts/icopmo.svg?3w7r9#icopmo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="app-icon"], [class*=" app-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icopmo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-icon {

  &.folder-open2:before {
    content: "\e904";
  }
  &.cog:before {
    content: "\e912";
  }
  &.cogs2:before {
    content: "\e918";
  }
  &.ccb-view:before {
    content: "\e919";
  }
  &.offices:before {
    content: "\e91d";
  }
  &.permission2:before {
    content: "\e91f";
  }
  &.permission:before {
    content: "\e916";
  }
  &.open-pmo:before {
    content: "\e923";
  }
  &.boxes:before {
    content: "\e925";
  }
  &.flag-check:before {
    content: "\e926";
  }
  &.map-marked:before {
    content: "\e927";
  }
  &.arrow-left:before {
    content: "\e928";
  }
  &.angle-up:before {
    content: "\e929";
  }
  &.angle-right:before {
    content: "\e92a";
  }
  &.angle-left:before {
    content: "\e92b";
  }
  &.angle-down:before {
    content: "\e92c";
  }
  &.ellipsis-v:before {
    content: "\e92d";
  }
  &.sort:before {
    content: "\e932";
  }
  &.sort-down:before {
    content: "\e933";
  }
  &.sort-up:before {
    content: "\e934";
  }
  &.plus:before {
    content: "\e935";
  }
  &.unit-selection-alt:before {
    content: "\e92e";
  }
  &.unit-selection-solid:before {
    content: "\e936";
  }
  &.toggle-on:before {
    content: "\e937";
  }
  &.toggle-off:before {
    content: "\e938";
  }
  &.text-area:before {
    content: "\e939";
  }
  &.text:before {
    content: "\e93a";
  }
  &.selection:before {
    content: "\e93b";
  }
  &.locality-selection:before {
    content: "\e93c";
  }
  &.integer:before {
    content: "\e93d";
  }
  &.date:before {
    content: "\e93e";
  }
  &.currency:before {
    content: "\e93f";
  }
  &.chess-knight:before {
    content: "\e940";
  }
  &.trash-alt:before {
    content: "\e941";
  }
  &.trash:before {
    content: "\e942";
  }
  &.home:before {
    content: "\e943";
  }
  &.folder-open:before {
    content: "\e944";
  }
  &.cogs:before {
    content: "\e945";
  }
  &.portfolio:before {
    content: "\e946";
  }
  &.sign-out-alt:before {
    content: "\e947";
  }
  &.flag:before {
    content: "\e948";
  }
  &.plan:before {
    content: "\e949";
  }
  &.briefcase:before {
    content: "\e94a";
  }
  &.user-circle:before {
    content: "\e94b";
  }
  &.building:before {
    content: "\e94c";
  }
  &.users:before {
    content: "\e94d";
  }
  &.number:before {
    content: "\e900";
  }
  &.plan-model:before {
    content: "\e92f";
  }
  &.plan-model-solid:before {
    content: "\e930";
  }
  &.baseline:before {
    content: "\e902";
  }
  &.canceled:before {
    content: "\e903";
  }
  &.check-circle:before {
    content: "\e905";
  }
  &.edit:before {
    content: "\e908";
  }
  &.excel:before {
    content: "\e909";
  }
  &.expand-arrows:before {
    content: "\e90a";
  }
  &.fail:before {
    content: "\e90b";
  }
  &.filter:before {
    content: "\e90c";
  }
  &.fire-extinguisher:before {
    content: "\e90d";
  }
  &.info:before {
    content: "\e90e";
  }
  &.Issue:before {
    content: "\e90f";
  }
  &.jump:before {
    content: "\e910";
  }
  &.not_gonna_happen:before {
    content: "\e911";
  }
  &.other_files:before {
    content: "\e913";
  }
  &.pdf:before {
    content: "\e914";
  }
  &.people_solid:before {
    content: "\e915";
  }
  &.priority:before {
    content: "\e91a";
  }
  &.process:before {
    content: "\e91b";
  }
  &.response_risk:before {
    content: "\e91c";
  }
  &.risk:before {
    content: "\e91e";
  }
  &.risk_happened:before {
    content: "\e920";
  }
  &.permission1:before {
    content: "\e921";
  }
  &.share:before {
    content: "\e922";
  }
  &.word:before {
    content: "\e924";
  }
  &.action-required:before {
    content: "\e931";
  }
  &.permission1:before {
    content: "\e921";
  }
  &.pin-on:before {
    content: "\e94e";
  }
  &.pin-off:before {
    content: "\e94f";
  }
  &.grid:before {
    content: "\e950";
  }
  &.process-selo:before {
    content: "\e951";
  }
  &.pistola:before {
    content: "\e952";
  }
  &.user-view:before {
    content: "\e953";
  }
  &.user-edit:before {
    content: "\e954";
  }
  &.user-update:before {
    content: "\e960";
  }
  &.unlink:before {
    content: "\e955";
  }
  &.paste:before {
    content: "\e956";
  }
  &.link-to:before {
    content: "\e957";
  }
  &.sharing:before {
    content: "\e958";
  }
  &.ccb-member:before {
    content: "\e959";
  }
  &.flag-unchecked:before {
    content: "\e95a";
  }
  &.main:before {
    content: "\e95b";
  }
  &.arrowUp:before {
    content: "\e95c";
  }
  &.arrowDown:before {
    content: "\e95d";
  }
  &.downloadFile:before {
    content: "\e95e";
  }
  &.jrxml:before {
    content: "\e95f";
  }
}
