<div class="workpack-tree-selection">
  <span class="select-locality-container" [class.fullLine]="property.fullLine && property.multipleSelection" *ngIf="!property.multipleSelection">
    <label class="app-input-label" *ngIf="search || property.labelButtonLocalitySelected.length > 0">{{property?.label}} {{ property.required ? '*' : ''}}</label>
    <div class="value-selected-container" (click)="opLocalityDefault.toggle($event)">
      <input class="app-input-text" [(ngModel)]="property.labelButtonLocalitySelected[0]" type="text" pInputText
      [class.float-label]="!search && (!property.labelButtonLocalitySelected || property.labelButtonLocalitySelected.length === 0)"
        [placeholder]="!search && (!property.labelButtonLocalitySelected || property.labelButtonLocalitySelected.length === 0) ? (property?.label) : ''"
        *ngIf="!property.multipleSelection" [disabled]="search" (click)="handleInputClick()" />
      <i class="fas fa-search" *ngIf="property.showIconButton && search"></i>
    </div>
  </span>
  <span class="select-locality-container" [class.fullLine]="property.fullLine && property.multipleSelection" *ngIf="property.multipleSelection">
    <label class="app-input-label" *ngIf="search || property.labelButtonLocalitySelected.length > 0">{{property?.label}} {{ property.required ? '*' : ''}}</label>
    <div class="value-selected-container" (click)="opLocalityDefault.toggle($event)">
      <span class="p-float-label">
        <p-chips [id]="property.name" (click)="handleInputClick()"  [(ngModel)]="property.labelButtonLocalitySelected" *ngIf="property.multipleSelection"
        [disabled]="true"></p-chips>
        <label class="app-input-label" *ngIf="!search && property.labelButtonLocalitySelected.length === 0" [for]="property.name">{{property?.label}} {{ property.required ? '*' : ''}}</label>
      </span>
    </div>
  </span>
  <p-overlayPanel #opLocalityDefault (onHide)="search = false" >
    <ng-template pTemplate>
      <ng-container *ngIf="property.multipleSelection; else singleLocalitySelection">
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="property?.multipleSelection">
          <p-tree [value]="property?.localityList" selectionMode="checkbox" [(selection)]="property.localitiesSelected"
            [propagateSelectionUp]="false" [propagateSelectionDown]="false" (onNodeSelect)="handleNodeSelect($event)"
            (onNodeUnselect)="handleNodeUnselect($event)"></p-tree>
        </div>
      </ng-container>
      <ng-template #singleLocalitySelection>
        <div class="app-tree-selection" [class.workpack-tree-selection-mobile]="responsive"
          [class.workpack-tree-selection]="property.fullLine" [class.ng-invalid]="property.invalid"
          [class.workpack-tree-selection-not-fullLine]="!property.fullLine" *ngIf="!property.multipleSelection">
          <p-tree [value]="property.localityList" selectionMode="single" [(selection)]="property.localitiesSelected"
            (onNodeSelect)="handleNodeSelect($event)" (onNodeUnselect)="handleNodeUnselect($event)"></p-tree>
        </div>
      </ng-template>
    </ng-template>
  </p-overlayPanel>
</div>
