@use "src/variables" as v;

::ng-deep .workpack-tree-selection {
  max-height: 400px;
  overflow-y: auto;
  .select-locality-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    .app-input-label {
      font-size: 0.8rem;
    }
    &.fullLine {
      width: 100%;
    }
  }
  .value-selected-container {
    background-color: transparent;
    cursor: pointer;
    .p-float-label {
      width: 100%;
    }
    .app-input-text {
      cursor: pointer;
      width: 100%;
      &.float-label {
        font-size: 0.8rem;
        font-style: italic;
        color: #939393;
        font-family: "Montserrat Regular", "Montserrat", sans-serif;
      }
    }
    p-chips {
      flex: 1;
    }
    .p-chips {
      width: 100%;
      background-color: transparent !important;
      .p-chips-multiple-container {
        width: 100%;
        background-color: transparent !important;
        .p-chips-token {
          color: #495057;
          margin-top: 5px;
          .p-chips-token-label {
            font-size: 0.8rem;
          }
        }
        &.p-inputtext {
          border: none;
          border-bottom: 1px solid #b6c8cd !important;
        }
      }
    }
  }
  .value-selected-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .fa-search {
      padding: 5px;
      margin-left: -1.5em;
      color: #004660;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .p-treenode.green-node {
   .p-treenode-content .p-treenode-label {
     color: #44B39B !important ;
     font-weight: bold;
   }
  }
}
