@use "src/variables" as v;

.app-plan {
  width: 100%;

  .card-properties-plan{
    width: 100%;
    form {
      width: 100%;
    }
  }

  ::ng-deep .card-properties {
    .p-panel-toggleable {
      position: relative;
    }
  }
  .loading-container {
    position: relative;
    min-height: 150px;
  }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;

    .dataview-filters-text {
        align-self: flex-end;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .app-input-text.p-inputtext {
          font-size: 0.8rem !important;
          width: 0 !important;
          border-bottom: none !important;
          transition: width .3s;
          margin-left: 2rem;
          &.animation-input {
            width: 20rem !important;
            margin-left: 0.5rem !important;
            border-bottom: 1px solid #828f92 !important;
          }

        }
        .fa-search {
          position: absolute;
          cursor: pointer;
          transition: all .3s;
          color: #959595;

          &.no-animation {
            padding: 0.45rem;
            background: #44B39B;
            color: #FFF;
            top: 0;
            border-radius: 4px;
          }
          &.animation-input {
            top: .4rem;
            padding: 0;
            font-size: 0.9rem;
          }
        }
        .fa-close {
          position: absolute;
          cursor: pointer;
          transition: all 0.3s;
          font-size: .6rem;
          top: 0.7rem;
          padding: 0;
          &.no-animation { left: 92%; }
          &.animation-input {
            left: 80%;
            &:hover {
              font-size: .8rem;
            }
          }
        }
      }
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }
}


::ng-deep .app-plan {
  .card-properties-plan form {
    .p-field.responsive {
      margin-right: 0 !important;
    }
    .responsive {
      width: 100% !important;

      .p-calendar {
        width: 100%;
      }
    }
  }
  .end-management-dialog, .resume-management-dialog {
    .p-dialog-header {
      padding: 2em 3em 0;
      .p-dialog-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: v.$fontDark;
        text-transform: uppercase;
      }
    }
    .p-dialog-content {
      padding: 1em 3em 2em;
      overflow-y: visible;
    }
    .end-management-content, .resume-management-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .reasons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        .p-inputtextarea {
          background-color: v.$bgWhite;
          border: none;
        }
        .p-inputtext:enabled:focus {
          border: none;
          box-shadow: none;
        }
      }
      .date-end-management-container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        p-calendar {
          width: 30%;
        }
      }
      .date-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5em;
        label {
          margin-right: 5px;
        }
      }
      .buttons-container {
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .p-button {
          flex: 1;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 700;
          color: v.$fontWhite;
          border: none;
        }
        .cancel-button {
          margin-right: 0.5em;
          background-color: v.$bgButtonGray;
        }
        .end-button {
          margin-left: 0.5em;
          background-color: v.$bgButtonGreen;
        }
      }
    }
  }
  .end-management-dialog.responsive, .resume-management-dialog.responsive {
    .p-dialog-header {
      padding: 1em 1em 0;
      .p-dialog-title {
        font-size: 1.2rem;
      }
    }
    .p-dialog-content {
      padding: 1em;
    }
    .end-management-content, .resume-management-content {
      .date-end-management-container {
        p-calendar {
          width: 100%;
          .p-calendar {
            width: 100%;
          }
        }
      }
      .buttons-container {
        flex-direction: column;
        .cancel-button {
          width: 100%;
          margin-right: 0;
          margin-bottom: 0.5em;
        }
        .end-button {
          width: 100%;
          margin-left: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

