@use "src/variables" as v;

.app-plan {
  width: 100%;

  .card-properties-plan{
    width: 100%;
    form {
      width: 100%;
    }
  }
}


::ng-deep .app-plan {
  .card-properties-plan form {
    .p-field.responsive {
      margin-right: 0 !important;
    }
    .responsive {
      width: 100% !important;

      .p-calendar {
        width: 100%;
      }
    }
  }
}

