<div class="app-plan">
  <div class="header-container" [class.mobile]="responsive">
    <div class="app-content-header" [class.mobile]="responsive">
      <span *ngIf="idPlan"> <span class="label">{{ 'plan' | translate }}:</span> {{ planData?.fullName }}</span>
      <span *ngIf="!idPlan">{{ 'newPlan' | translate }}</span>
    </div>
    <app-config-data-view-panel (changeCollapsedExpand)="handleChangeCollapseExpandPanel($event)"
      (changeDisplayMode)="handleChangeDisplayMode($event)" (changePageSize)="handleChangePageSize($event)">
    </app-config-data-view-panel>
  </div>
  <div class="card-properties-plan">
    <app-card [properties]="cardPlanProperties" class="mt-0 inputs-float-label">
      <div class="p-grid">
        <form [formGroup]="formPlan">
          <div class="p-fluid">
            <div class="p-field">
              <span class="p-float-label">
                <input class="app-input-text" [class.responsive]="responsive" id="float-name" name="name"
                  formControlName="name" type="text" [ngStyle]="{'width': '30%'}" pInputText />
                <label class="app-input-label" for="float-name">{{ "name" | translate }} * </label>
              </span>
              <app-input-message [form]="formPlan" field="name"></app-input-message>
            </div>
            <div class="p-field">
              <span class="p-float-label">
                <textarea pInputTextarea id="float-fullName" formControlName="fullName" class="app-text-area" rows="3"
                [ngModel]="(mirrorFullName()) ? formPlan.value.name : formPlan.value.fullName">
                </textarea>
                <label class="app-input-label" for="float-fullName">{{ "fullName" | translate }} * </label>
              </span>
              <app-input-message [form]="formPlan" field="fullName"></app-input-message>
            </div>
          </div>
          <div class="p-formgroup-inline">
            <div class="p-field" [class.responsive]="responsive">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-start" formControlName="start" class="app-select-date" showIcon="true"
                  [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [class.responsive]="responsive"
                  icon="fas fa-calendar-alt" [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" for="float-start">{{ "start" | translate }} * </label>
              </span>
              <app-input-message [form]="formPlan" field="start"></app-input-message>
            </div>
            <div class="p-field" [class.responsive]="responsive">
              <span class="p-float-label" [class.responsive]="responsive">
                <p-calendar id="float-finish" formControlName="finish" class="app-select-date" showIcon="true"
                  [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [class.responsive]="responsive"
                  icon="fas fa-calendar-alt" [dateFormat]="calendarFormat">
                </p-calendar>
                <label class="app-input-label" class="properties-label" for="float-finish">{{ "finish" |
                  translate}} * </label>
              </span>
              <app-input-message [form]="formPlan" field="finish"></app-input-message>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>

  <section *ngIf="idPlan" class="workpackModels-cards-section">
    <div class="card-workpack-model" *ngFor="let workpackModel of cardsPlanWorkPackModels; let i = index">
      <app-card [properties]="workpackModel.propertiesCard" *ngIf="workpackModel.workpackItemCardList?.length > 0"
        (editFilter)="handleEditFilter($event, workpackModel.idWorkpackModel)" (newFilter)="handleNewFilter(workpackModel.idWorkpackModel)"
        (selectedFilter)="handleSelectedFilter($event, workpackModel.idWorkpackModel)" (createNewElement)="handleCreateNewWorkpack(workpackModel.idWorkpackModel)">
        <p-dataView [value]="workpackModel.workpackItemCardList" layout="grid" class="app-dataview"
          *ngIf="displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)" [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true"
          [showPageLinks]="false" [totalRecords]="totalRecords ? totalRecords[i] : 1"
          [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-workpack-card-item [properties]="cardItem"></app-workpack-card-item>
            </div>
          </ng-template>
        </p-dataView>
        <p-dataView [value]="workpackModel.workpackItemCardList" layout="list" class="app-dataview app-dataview-list"
          *ngIf="displayModeAll === 'list' && !responsive" [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true"
          [showPageLinks]="false" [totalRecords]="totalRecords ? totalRecords[i] : 1"
          [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="listItem">
            <div class="p-col-12">
              <app-workpack-card-item [properties]="cardItem" [displayModeCard]="displayModeAll"></app-workpack-card-item>
            </div>
          </ng-template>
        </p-dataView>
        <div>
        </div>
      </app-card>
    </div>
  </section>

  <app-save-button (save)="savePlan()"></app-save-button>

  <p-dialog class="resume-management-dialog" [class.responsive]="!!responsive" [header]="'resumeManagement' |translate"
    [(visible)]="showDialogResumeManagement" [style]="!responsive ? {width: '30vw'} : {width: '90vw'}" closable="false"
    closeIcon="">
    <div class="resume-management-content" *ngIf="endManagementWorkpack">
      <span class="subtitle">
        {{'messages.resumeManagementAlert' |translate}}
      </span>
      <div class="reasons-container">
        <label class="app-input-label" for="reasons">{{'reasons'|translate}} {{'*'}}</label>
        <textarea id="reasons" class="reasons-end" pInputTextarea [(ngModel)]="endManagementWorkpack.reason" cols="30"
          [disabled]="true" rows="4"></textarea>
      </div>
      <div class="date-container">
        <label class="app-input-label" for="end-date">{{'endedManagementIn'|translate}}:</label>
        <span>{{language === 'pt-BR' ? (endManagementWorkpack?.endManagementDate|date:'dd/MM/yyyy') :
          (endManagementWorkpack?.endManagementDate|date:'yyyy/MM/dd')}}</span>
      </div>
      <div class="buttons-container">
        <button class="cancel-button" pButton [label]="'cancel'|translate"
          (click)="handleCancelResumeManagement()"></button>
        <button class="end-button" pButton [label]="'resume'|translate"
          (click)="handleResumeManagementDeliverable()"></button>
      </div>
    </div>
  </p-dialog>

</div>
