@use "src/variables" as v;

.app-plan {
  width: 100%;

  .card-properties-plan{
    width: 100%;
    form {
      width: 100%;
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }
}


::ng-deep .app-plan {
  .card-properties-plan form {
    .p-field.responsive {
      margin-right: 0 !important;
    }
    .responsive {
      width: 100% !important;

      .p-calendar {
        width: 100%;
      }
    }
  }
}

