<div class="app-property-selection">
  <ng-container *ngIf="property?.multipleSelection; else singleSelection">
    <span class="p-float-label">
      <p-multiSelect class="app-multiple-selection" dropdownIcon="fas fa-caret-down" [options]="property.possibleValues"
        [selectedItemsLabel]="language === 'pt-BR' ? '{0} itens selecionados' : '{0} items selected'"
        [(ngModel)]="value" [id]="property.name" optionLabel="label" optionValue="value"
        (onChange)="handleChangedValue()"></p-multiSelect>
      <label class="app-input-label" for="float-label">{{'value'| translate}}</label>
    </span>
  </ng-container>
  <ng-template #singleSelection>
    <span class="p-float-label">
      <p-dropdown class="app-single-selection" [id]="property.name" [options]="property.possibleValues"
        [(ngModel)]="value" dropdownIcon="fas fa-caret-down" [autoDisplayFirst]="false"
        (onChange)="handleChangedValue()">
      </p-dropdown>
      <label class="app-input-label" [for]="property.name">{{'value'| translate}}</label>
    </span>
  </ng-template>
</div>