@use 'src/variables' as v;
$mobileMenuHeight: 90px;

.app-nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 10001;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

::ng-deep .nav-menu {
  display: flex;
  flex-direction: column;
  width: 64px;
  background-color: v.$bgMenuUser;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 10001;
  max-height: 100vh;
  position: sticky;
  top: 0;

  .logo {
    padding: 1em 0;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
  .app-icon, .far.fa-star, .fa-file-alt {
    color: #ffffff;
  }
  .item {
    color: #eeeeee;
    font-size: 1.5rem;
    padding: 0.7em 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    &:focus {
      outline: none !important;
    }
    .item-label {
      font-size: 1rem;
      max-width: 95%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.opened {
      background-color: #eeeeee;
      color: #023c55;
      .app-icon, .far.fa-star, .fa-file-alt {
        color: #023c55;
      }
    }
  }

  // .offices {
  //   color: #ffffff59!important;
  // }

  .opened {
    .app-icon.offices {
      color: #023c55 !important;
    }
  }
  
  &.admin-menu {
      background-color: v.$bgMenuAdmin;
      .item {
        color: #ffffff !important;
      }
      .item.adm-opened {
        color: v.$bgMenuAdmin;
        background-color: #eeeeee;
        .app-icon {
          color: v.$bgMenuAdmin !important;
        }
      }
  }

}
