<ng-container [ngSwitch]="properties.typeCardItem">
  <p-card *ngSwitchCase="'listItem'" class="app-card-item-office listItem" [class.mobile]="responsive"
    [class.cardList]="displayModeCard === 'list'">
    <div class="display-mode-grid" *ngIf="displayModeCard !== 'list'">
      <p-header class="card-item-header">
        <i class="fas fa-trash" *ngIf="editPermission" (click)="handleDeleteOffice(properties.office)"></i>
        <i class="fas fa-tools" *ngIf="!!properties.urlMenuConfig && !!properties.paramsUrlMenuConfig"
          (click)="navigateToPage(properties.urlMenuConfig, properties.paramsUrlMenuConfig)"></i>
      </p-header>
      <div class="card-item-content" [class.card-link]="properties.urlCard" [routerLink]="properties.urlCard"
        [class.cardList]="displayModeCard === 'list'" [queryParams]="getQueryParams()">
        <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
           [ngStyle]="{ fontSize: '2.5rem' }"></i>
        <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
          tooltipPosition="bottom">{{properties.nameCardItem}}</span>
      </div>
      <div class="card-item-footer" *ngIf="cardIdItem">
        <span class="card-item-id">
          {{cardIdItem}}
        </span>
      </div>
    </div>
    <div class="display-mode-list" *ngIf="displayModeCard === 'list'">
      <div class="card-item-content" [class.card-link]="properties.urlCard" [routerLink]="properties.urlCard"
        [class.cardList]="displayModeCard === 'list'" [queryParams]="getQueryParams()">
        <i [ngClass]="properties.iconSvg ? [ 'app-icon', properties.icon, 'grey-icon'] : [ 'icon-card', properties.icon, 'grey-icon' ]"
          [ngStyle]="{ fontSize: '2rem' }"></i>
        <span class="card-item-name" [pTooltip]="properties.fullNameCardItem"
          tooltipPosition="bottom">{{properties.nameCardItem}}</span>
      </div>
      <div class="right-side">
        <p-header class="card-item-header">
          <i class="fas fa-trash" *ngIf="editPermission" (click)="handleDeleteOffice(properties.office)"></i>
          <i class="fas fa-tools" *ngIf="!!properties.urlMenuConfig && !!properties.paramsUrlMenuConfig"
            (click)="navigateToPage(properties.urlMenuConfig, properties.paramsUrlMenuConfig)"></i>
        </p-header>
        <div class="card-item-footer" *ngIf="cardIdItem">
          <span class="card-item-id">
            {{cardIdItem}}
          </span>
        </div>
      </div>
    </div>
  </p-card>

  <p-card *ngSwitchCase="'newCardItem'" class="new-carditem" [class.card-link]="properties.urlCard"
    [class.mobile]="responsive" [class.cardList]="displayModeCard === 'list'" [class.new-card-item-mobile]="responsive"
    (click)="properties.urlCard && navigateToPage(properties.urlCard, properties.paramsUrlCard)">
    <div class="carditem-content">
      <i [ngClass]="[ 'app-icon', properties.icon, 'light-grey-icon']"
        (click)=" properties.iconMenuItems && menuIcon.toggle($event)"
        [ngStyle]="{ fontSize: (responsive ? 2 : displayModeCard === 'list' ? 2.5 : 3) + 'rem' }" [class.card-link]="properties.iconMenuItems"></i>
      <p-menu #menuIcon [popup]="true" [model]="properties.iconMenuItems"></p-menu>
    </div>
  </p-card>
</ng-container>