@use "src/variables" as v;

::ng-deep .app-workpack {
  width: 100%;

  &.fullscreenModeDashboard {
    .card-properties-workpack,
    .card-cost-account,
    .card-indicators,
    .card-schedule,
    .workpackModels-cards-section,
    .card-stakeholders,
    .card-baselines,
    .card-risks,
    .card-issues,
    .card-processes,
    .card-journal {
      display: none;
    }
  }

  // ::ng-deep .card-properties-workpack {
  //   .p-panel-toggleable {
  //     position: relative;
  //   }
  // }
  .loading-form-container {
    position: absolute;
    min-height: 150px;
    z-index: 10000;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d0d8d9;
    opacity: 0.4;
    left: 0;
    top: 0;
    height: 100%;
    .app-card-loading {
      background-color: #d0d8d9;
      opacity: 0.4;
    }
  }

  .loading-container {
    position: relative;
    min-height: 150px;
  }


  .tabview-container {
    background-color: transparent;
    .panel-tab-view {
      .p-panel {
        margin-top: 0 !important;
      }
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
  }
  .actual-element {
    color: #44B39B;
    font-style: italic;
    font-weight: bold;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid #D4D4D4;

    .text {
        flex-grow: 1;
    }


  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }

  .container-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .dataview-filters-text {
      margin-right: 0.5em;
      height: 2rem;
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 100%;

      .app-input-text.p-inputtext {
        font-size: 0.8rem !important;
        width: 0 !important;
        max-width: 25em;
        border-bottom: none !important;
        transition: width .3s;
        text-overflow: ellipsis;

        :focus {
          text-overflow: ellipsis;
        }

        &.animation-input {
          width: 100% !important;
          border-bottom: 1px solid #828f92 !important;
        }
      }

      .fa-search {
        position: absolute;
        cursor: pointer;
        transition: all .3s;
        color: #959595;

        &.no-animation {
          padding: 0.45rem;
          background: #44B39B;
          color: #FFF;
          top: 0;
          border-radius: 4px;
        }
        &.animation-input {
          top: .4rem;
          padding: 0;
          font-size: 0.9rem;
        }
      }
      .fa-close {
        position: absolute;
        cursor: pointer;
        transition: all 0.3s;
        font-size: .6rem;
        top: 0.7rem;
        padding: 0;
        &.no-animation { left: 92%; }
        &.animation-input {
          left: 80%;
          &:hover {
            font-size: .8rem;
          }
        }
      }
    }

    .icon-favorite {
      color: #959595;
      font-size: 1.5rem;
      padding-bottom: 5px;
      cursor: pointer;
      &.icon-favorite-checked {
        color: #ffa000;
      }
      &.responsive {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  .card-properties-workpack{
    width: 100%;
  }
  .p-paginator {
    background: transparent;
    .p-dropdown:not(.disabled).p-focus {
      box-shadow: none;
      border-color: #6c757d;
    }
    .p-dropdown:not(.disabled):hover {
      border-color: #6c757d;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background: #e9ecef;
    }
  }
  .p-dataview .p-paginator-bottom {
    border: none;
  }
  .input-toggle-workpack-cancelled {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    margin-bottom: 1em;
    .input-label {
      font-size: 0.9rem;
      color: v.$fontLabel;
      margin-left: 5px;
      font-family: v.$fontFamilyMedium;
    }
  }

  .card-workpack-model {
    .dataview-card-items {
      position: static !important;
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
      .p-paginator {
        background: transparent;
        .p-dropdown:not(.disabled).p-focus {
          box-shadow: none;
          border-color: #6c757d;
        }
        .p-dropdown:not(.disabled):hover {
          border-color: #6c757d;
        }
        .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
          background: #e9ecef;
        }
      }
      .p-dataview .p-paginator-bottom {
        border: none;
      }
    }
  }

  .searchContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;

    .app-dataview {
        width: 100%;
    }
  }

}

::ng-deep .app-workpack {
  
  .end-management-dialog, .resume-management-dialog {
    .p-dialog-header {
      padding: 2em 3em 0;
      .p-dialog-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
      }
    }
    .p-dialog-content {
      padding: 1em 3em 2em;
      overflow-y: visible;
    }
    .end-management-content, .resume-management-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .reasons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        .p-inputtextarea {
          background-color: rgba(242, 242, 242, 1);
          border: none;
        }
        .p-inputtext:enabled:focus {
          border: none;
          box-shadow: none;
        }
      }
      .date-end-management-container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        p-calendar {
          width: 30%;
        }
      }
      .date-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5em;
        label {
          margin-right: 5px;
        }
      }
      .buttons-container {
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .p-button {
          flex: 1;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 700;
          color: #ffffff;
          border: none;
        }
        .cancel-button {
          margin-right: 0.5em;
          background-color: rgba(164, 164, 164, 1);
        }
        .end-button {
          margin-left: 0.5em;
          background-color: rgba(68, 179, 155, 1);
        }
      }
    }
  }
  .end-management-dialog.responsive, .resume-management-dialog.responsive {
    .p-dialog-header {
      padding: 1em 1em 0;
      .p-dialog-title {
        font-size: 1.2rem;
      }
    }
    .p-dialog-content {
      padding: 1em;
    }
    .end-management-content, .resume-management-content {
      .date-end-management-container {
        p-calendar {
          width: 100%;
          .p-calendar {
            width: 100%;
          }
        }
      }
      .buttons-container {
        flex-direction: column;
        .cancel-button {
          width: 100%;
          margin-right: 0;
          margin-bottom: 0.5em;
        }
        .end-button {
          width: 100%;
          margin-left: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

::ng-deep .workpack-loading-tabs .app-card-loading {
  position: relative !important;
  min-height: 500px;
  flex: 1;
}
