<div class="app-workpack" *ngIf="workpackModel" [class.fullscreenModeDashboard]="fullScreenModeDashboard">
  <div class="header-container" [class.mobile]="responsive" *ngIf="idWorkpack">
    <div class="app-content-header" [class.mobile]="responsive">
      <span class="label">{{workpackModel.modelName}}:</span>
      <span class="text">{{workpackFullName}}</span>
    </div>
    <div class="container-actions">
      <i [pTooltip]="(workpack?.favoritedBy ? 'removeFavorite' : 'addFavorite') | translate" (click)="!favoriteProcessing && handleFavorite()" [class.responsive]="responsive"
        [class]="(workpack?.favoritedBy ? 'fas icon-favorite-checked ' : 'far ') + 'fa-star icon-favorite'">
      </i>
      <app-config-data-view-panel></app-config-data-view-panel>
    </div>
  </div>
  <div class="app-content-header" *ngIf="!idWorkpack" [class.mobile]="responsive">
    <span class="label">{{'new' | translate}}</span>
    <span class="text">{{workpackModel.modelName}}</span>
  </div>

  <div class="tabview-container" *ngIf="showTabview">
    <app-tabview-scrolled [tabs]="tabs" (selectedTabChange)="changeTab($event)" [idWorkpack]="idWorkpack" [selectedTab]="selectedTab">
      <div tabviewBody *ngIf="selectedTab?.key === 'WBS'">
        <div class="card-WBS">
          <app-breakdown-structure [idWorkpack]="idWorkpack"
            (onHasWBS)="handleOnHasWBS($event)"></app-breakdown-structure>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'dashboard'">
        <div class="card-dashboard">
          <app-dashboard [idWorkpack]="idWorkpack" [workpackFullName]="workpackFullName"
            [dashboardShowStakeholders]="workpackModel?.dashboardShowStakeholders"
            [dashboardShowRisks]="workpackModel?.dashboardShowRisks"
            [dashboardShowEva]="workpackModel?.dashboardShowEva" [workpackType]="workpack?.type"
            [collapsePanelsStatus]="collapsePanelsStatus" [reloadDashboard]="reloadDashboard"
            [dashboardShowMilestones]="workpackModel?.dashboardShowMilestones"></app-dashboard>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'properties'">
        <div class="card-properties-workpack">
          <app-workpack-section-properties (onGetProperties)="saveWorkpack($event)"></app-workpack-section-properties>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'schedule'">
        <div class="card-schedule">
          <app-workpack-section-schedule></app-workpack-section-schedule>
        </div>
      </div>
      <div tabviewBody>
        <div class="card-workpack-model" *ngFor="let workpackModel of cardsWorkPackModelChildren; let i = index">
          <app-card [properties]="workpackModel.cardSection" [class.panel-tab-view]="showTabview"
            (editFilter)="handleEditFilterWorkpackModel($event, workpackModel.idWorkpackModel)"
            (newFilter)="handleNewFilterWorkpackModel(workpackModel.idWorkpackModel)"
            (selectedFilter)="handleSelectedFilterWorkpackModel($event, workpackModel.idWorkpackModel)"
            (searchText)="handleSearchTextWorkpackModel($event, workpackModel.idWorkpackModel)"
            (createNewElement)="handleCreateNewWorkpack(workpackModel.idWorkpackModel)"
            [loading]="workpackModel.cardSection.isLoading"
            *ngIf="(selectedTab?.key === workpackModel.cardSection.tabTitle)">

            <div class="input-toggle-workpack-cancelled">
              <p-inputSwitch class="app-toggle" [(ngModel)]="workpackModel.workpackShowCancelleds"
                (onChange)="handleWorkpackCancelledToggle(i, $event)"></p-inputSwitch>
              <label class="input-label">{{"showCanceled" | translate}}</label>
            </div>
            <div class="workpacks-list-container">
              <div class="loading-container" *ngIf="workpackModel.cardSection.isLoading">
                <app-card-loading [isCardLoading]="true"></app-card-loading>
              </div>
              <p-dataView [value]="workpackModel.cardItemsSection" layout="grid" styleClass="dataview-card-items"
                *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !workpackModel?.cardSection?.isLoading"
                [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                [totalRecords]="totalRecordsWorkpacks ? totalRecordsWorkpacks[i] : 1"
                [emptyMessage]="'notFoundWorkpacksToThisModel' | translate">
                <ng-template let-cardItem pTemplate="gridItem">
                  <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
                    <app-workpack-card-item [properties]="cardItem"></app-workpack-card-item>
                  </div>
                </ng-template>
              </p-dataView>
              <p-dataView [value]="workpackModel.cardItemsSection" layout="list" class="app-dataview app-dataview-list"
                styleClass="dataview-card-items"
                *ngIf="(displayModeAll === 'list' && !responsive)  && !workpackModel?.cardSection?.isLoading"
                [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
                [totalRecords]="totalRecordsWorkpacks ? totalRecordsWorkpacks[i] : 1"
                [emptyMessage]="'notFoundWorkpacksToThisModel' | translate">
                <ng-template let-cardItem pTemplate="listItem">
                  <div class="p-col-12">
                    <app-workpack-card-item [properties]="cardItem" [displayModeCard]="displayModeAll">
                    </app-workpack-card-item>
                  </div>
                </ng-template>
              </p-dataView>
            </div>
            <div>
            </div>
          </app-card>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'stakeholdersAndPermissions'">
        <div class="card-stakeholders">
          <app-workpack-section-stakeholders></app-workpack-section-stakeholders>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'costAccounts'">
        <div class="card-cost-accounts">
          <app-workpack-section-cost-accounts></app-workpack-section-cost-accounts>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'baselines'">
        <div class="card-baselines">
          <app-workpack-section-baselines></app-workpack-section-baselines>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'risks'">
        <div class="card-risks">
          <app-workpack-section-risks></app-workpack-section-risks>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'issues'">
        <div class="card-issues">
          <app-workpack-section-issues></app-workpack-section-issues>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'processes'">
        <div class="card-processes">
          <app-workpack-section-processes></app-workpack-section-processes>
        </div>
      </div>
      <div tabviewBody *ngIf="selectedTab?.key === 'journal' && (idWorkpack || workpack?.id)">
        <div class="card-journal">
          <app-journal-view *ngIf="cardJournalProperties && !!workpack" [cardJournalProperties]="cardJournalProperties"
            [editPermission]="getEditPermission()" [workpackCanceled]="workpack.canceled" [idPlan]="workpack.plan.id"
            [idOffice]="workpack.plan.idOffice" [idWorkpack]="idWorkpack || workpack?.id"></app-journal-view>
        </div>
      </div>
    </app-tabview-scrolled>
  </div>

  <div class="panels-container" *ngIf="!showTabview">
    <div class="card-dashboard"
      *ngIf="!!idWorkpack && !!workpack && !workpack.canceled && !!workpackModel && !!workpackModel.dashboardSessionActive">
      <app-dashboard [idWorkpack]="idWorkpack" [workpackFullName]="workpackFullName"
        [dashboardShowStakeholders]="workpackModel?.dashboardShowStakeholders"
        [dashboardShowRisks]="workpackModel?.dashboardShowRisks" [dashboardShowEva]="workpackModel?.dashboardShowEva"
        [workpackType]="workpack?.type" [collapsePanelsStatus]="collapsePanelsStatus"
        [reloadDashboard]="reloadDashboard"
        [dashboardShowMilestones]="workpackModel?.dashboardShowMilestones"></app-dashboard>
    </div>
    <div class="card-properties-workpack">
      <app-workpack-section-properties (onGetProperties)="saveWorkpack($event)"></app-workpack-section-properties>
    </div>
    <div class="card-schedule">
      <app-workpack-section-schedule></app-workpack-section-schedule>
    </div>
    <section *ngIf="sectionWorkpackModelChildren" class="workpackModels-cards-section">
      <div class="card-workpack-model" *ngFor="let workpackModel of cardsWorkPackModelChildren; let i = index">
        <app-card [properties]="workpackModel.cardSection"
          (editFilter)="handleEditFilterWorkpackModel($event, workpackModel.idWorkpackModel)"
          (newFilter)="handleNewFilterWorkpackModel(workpackModel.idWorkpackModel)"
          (selectedFilter)="handleSelectedFilterWorkpackModel($event, workpackModel.idWorkpackModel)"
          (searchText)="handleSearchTextWorkpackModel($event, workpackModel.idWorkpackModel)"
          (createNewElement)="handleCreateNewWorkpack(workpackModel.idWorkpackModel)">
          <div class="input-toggle-workpack-cancelled">
            <p-inputSwitch class="app-toggle" [(ngModel)]="workpackModel.workpackShowCancelleds"
              (onChange)="handleWorkpackCancelledToggle(i, $event)"></p-inputSwitch>
            <label class="input-label">{{"showCanceled" | translate}}</label>
          </div>
          <div class="workpacks-list-container">
            <div class="loading-container" *ngIf="workpackModel.cardSection.isLoading">
              <app-card-loading [isCardLoading]="workpackModel.cardSection.isLoading"></app-card-loading>
            </div>
            <p-dataView [value]="workpackModel.cardItemsSection" layout="grid" styleClass="dataview-card-items"
              *ngIf="(displayModeAll === 'grid' || (displayModeAll === 'list' && !!responsive)) && !workpackModel.cardSection.isLoading"
              [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
              [totalRecords]="totalRecordsWorkpacks ? totalRecordsWorkpacks[i] : 1"
              [emptyMessage]="'notFoundWorkpacksToThisModel' | translate">
              <ng-template let-cardItem pTemplate="gridItem">
                <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
                  <app-workpack-card-item [properties]="cardItem"></app-workpack-card-item>
                </div>
              </ng-template>
            </p-dataView>
            <p-dataView [value]="workpackModel.cardItemsSection" layout="list" class="app-dataview app-dataview-list"
              styleClass="dataview-card-items"
              *ngIf="(displayModeAll === 'list' && !responsive) && !workpackModel.cardSection.isLoading"
              [paginator]="true" [rows]="pageSize" [showJumpToPageDropdown]="true" [showPageLinks]="false"
              [totalRecords]="totalRecordsWorkpacks ? totalRecordsWorkpacks[i] : 1"
              [emptyMessage]="'notFoundWorkpacksToThisModel' | translate">
              <ng-template let-cardItem pTemplate="listItem">
                <div class="p-col-12">
                  <app-workpack-card-item [properties]="cardItem" [displayModeCard]="displayModeAll">
                  </app-workpack-card-item>
                </div>
              </ng-template>
            </p-dataView>
          </div>
          <div>
          </div>
        </app-card>
      </div>
    </section>
    <div class="card-stakeholders">
      <app-workpack-section-stakeholders></app-workpack-section-stakeholders>
    </div>
    <div class="card-cost-accounts">
      <app-workpack-section-cost-accounts></app-workpack-section-cost-accounts>
    </div>
    <div class="card-baselines">
      <app-workpack-section-baselines></app-workpack-section-baselines>
    </div>
    <div class="card-risks">
      <app-workpack-section-risks></app-workpack-section-risks>
    </div>
    <div class="card-issues">
      <app-workpack-section-issues></app-workpack-section-issues>
    </div>
    <div class="card-processes">
      <app-workpack-section-processes></app-workpack-section-processes>
    </div>
    <div class="card-journal" *ngIf="workpackModel.journalManagementSessionActive && (idWorkpack || workpack?.id)">
      <app-journal-view *ngIf="cardJournalProperties && !!workpack" [cardJournalProperties]="cardJournalProperties"
        [editPermission]="getEditPermission()" [workpackCanceled]="workpack.canceled" [idPlan]="workpack.plan.id"
        [idOffice]="workpack.plan.idOffice" [idWorkpack]="idWorkpack || workpack?.id"></app-journal-view>
    </div>
  </div>

  <app-save-button #saveButton (save)="onSaveButtonClicked()"></app-save-button>

  <p-dialog class="end-management-dialog" [class.responsive]="!!responsive" [header]="'endManagement' |translate"
    [(visible)]="showDialogEndManagement" [style]="!responsive ? {width: '30vw'} : {width: '90vw'}" [closable]="false"
    closeIcon="">
    <div class="end-management-content" *ngIf="endManagementWorkpack">
      <span class="subtitle">
        {{'messages.endManagementAlert' |translate}}
      </span>
      <div class="reasons-container">
        <label class="app-input-label" for="reasons">{{'reasons'|translate}} {{'*'}}</label>
        <textarea id="reasons" class="reasons-end" pInputTextarea [(ngModel)]="endManagementWorkpack.reason" cols="30"
          rows="4"></textarea>
      </div>
      <div class="date-end-management-container">
        <label class="app-input-label" for="end-date">{{'endedManagementIn'|translate}} {{'*'}}</label>
        <p-calendar [(ngModel)]="endManagementWorkpack.endManagementDate" id="end-date" class="app-select-date"
          [showIcon]="true" icon="fas fa-calendar-alt" [dateFormat]="calendarFormat">
        </p-calendar>
      </div>
      <div class="buttons-container">
        <button class="cancel-button" pButton [label]="'cancel'|translate"
          (click)="handleCancelEndManagement()"></button>
        <button class="end-button" pButton [label]="'endManagementLabelButton'|translate"
          (click)="handleEndManagementDeliverable()"></button>
      </div>
    </div>
  </p-dialog>

  <p-dialog class="resume-management-dialog" [class.responsive]="!!responsive" [header]="'resumeManagement' |translate"
    [(visible)]="showDialogResumeManagement" [style]="!responsive ? {width: '30vw'} : {width: '90vw'}"
    [closable]="false" closeIcon="">
    <div class="resume-management-content" *ngIf="endManagementWorkpack">
      <span class="subtitle">
        {{'messages.resumeManagementAlert' |translate}}
      </span>
      <div class="reasons-container">
        <label class="app-input-label" for="reasons">{{'reasons'|translate}} {{'*'}}</label>
        <textarea id="reasons" class="reasons-end" pInputTextarea [(ngModel)]="endManagementWorkpack.reason" cols="30"
          [disabled]="true" rows="4"></textarea>
      </div>
      <div class="date-container">
        <label class="app-input-label" for="end-date">{{'endedManagementIn'|translate}}:</label>
        <span>{{language === 'pt-BR' ? (endManagementWorkpack?.endManagementDate|date:'dd/MM/yyyy') :
          (endManagementWorkpack?.endManagementDate|date:'yyyy/MM/dd')}}</span>
      </div>
      <div class="buttons-container">
        <button class="cancel-button" pButton [label]="'cancel'|translate"
          (click)="handleCancelResumeManagement()"></button>
        <button class="end-button" pButton [label]="'resume'|translate"
          (click)="handleResumeManagementDeliverable()"></button>
      </div>
    </div>
  </p-dialog>

</div>
