<div class="app-workpack" *ngIf="workpackModel">
  <div class="app-content-header workpack" *ngIf="idWorkpack; else newWorkpackTitle" [class.mobile]="responsive">
    <span class="label">{{workpackModel.modelName}}:</span>
    <span class="text">{{workpackName}}</span>
  </div>
  <ng-template #newWorkpackTitle>
    <div class="app-content-header" [class.mobile]="responsive">
      <span class="label">{{'new' | translate}}</span>
      <span class="text">{{workpackModel.modelName}}</span>
    </div>
  </ng-template>


  <div class="card-properties-workpack">
    <app-card [properties]="cardWorkpackProperties" class="mt-0 inputs-float-label">
      <div class="properties-container" [class.responsive]="responsive">
        <div class="property-container" *ngFor="let property of sectionPropertiesProperties"
          [class.not-fullLine]="!property.fullLine && property.type !== 'TextArea'"
          [class.fullLine]="property.fullLine || property.type === 'TextArea'">
          <app-workpack-property [property]="property" (changed)="checkProperties(property)"></app-workpack-property>
          <span class="input-message-error" *ngIf="property.invalid">
            {{ property.message }}
          </span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="card-cost-account" *ngIf="sectionCostAccount">
    <app-card [properties]="sectionCostAccount.cardSection" *ngIf="sectionCostAccount.cardItemsSection && sectionCostAccount.cardItemsSection.length > 0">
      <div class="cost-account-list-container">
        <p-dataView [value]="sectionCostAccount.cardItemsSection" layout="grid" class="app-dataview" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem" [class.inherited]="cardItem.idWorkpack !== idWorkpack"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </app-card>
  </div>

  <div class="card-schedule" *ngIf="sectionSchedule">
    <app-card [properties]="sectionSchedule.cardSection">
      <button type="button" class="p-button-text button-new-schedule" *ngIf="!schedule" (click)="handleNewSchedule()"
        pButton icon="pi pi-plus" iconPos="left" [label]="translateSrv.instant('newSchedule')" [disabled]="!editPermission">
      </button>
      <div class="schedule-buttons" *ngIf="schedule" [class.schedule-buttons-mobile]="responsive">
        <button type="button" class="p-button-text button-details" (click)="handleShowDetails()" pButton
          [icon]="showDetails ? 'far fa-eye-slash' : 'far fa-eye'" iconPos="left"
          [label]="showDetails ? translateSrv.instant('hideDetails') : translateSrv.instant('showDetails')">
        </button>
        <button type="button" class="p-button-text button-delete" (click)="handleDeleteSchedule()" pButton [disabled]="!editPermission"
          icon="fas fa-trash-alt" iconPos="left" [label]="translateSrv.instant('deleteSchedule')">
        </button>
      </div>
      <div class="schedule-steps-section" *ngIf="sectionSchedule && sectionSchedule.groupStep">
        <div class="schedule-steps-container" *ngFor="let groupStep of sectionSchedule.groupStep" [class.schedule-steps-container-mobile]="responsive">
            <div class="data-view-steps-container">
              <span class="group-step-year">{{groupStep.year}}</span>
              <p-dataView [value]="groupStep.cardItemSection" layout="grid" styleClass="dataview-step-card-items" *ngIf="showDetails; else showResumed"
                [emptyMessage]="'loadingEllipsis' | translate">
                <ng-template let-step pTemplate="gridItem">
                  <div class="card-item-container show-details" [class.new-card-item]="['newStart', 'newEnd'].includes(step.type)"
                    [class.mobile]="responsive">
                    <app-schedule-step-card-item [properties]="step" [type]="'listStep'"
                    (stepChanged)="saveStepChanged(groupStep.year, step.idStep)"></app-schedule-step-card-item>
                  </div>
                </ng-template>
              </p-dataView>
              <ng-template #showResumed>
                <p-dataView [value]="groupStep.cardItemSection" layout="grid" styleClass="dataview-step-card-items"
                  [emptyMessage]="'loadingEllipsis' | translate">
                  <ng-template let-step pTemplate="gridItem">
                    <div class="card-item-container show-resumed clickable" [class.new-card-item]="['newStart', 'newEnd'].includes(step.type)"
                      [class.mobile]="responsive"
                      [routerLink]="['/workpack' , 'schedule', 'step' ]"
                      [queryParams]="{
                        id: step.idStep,
                        stepType: step.stepType,
                        unitName: step.unitName
                      }">
                      <app-schedule-step-card-item [properties]="step" [type]="'listStepResumed'"></app-schedule-step-card-item>
                    </div>
                  </ng-template>
                </p-dataView>
              </ng-template>
            </div>
        </div>
      </div>
    </app-card>
  </div>

  <section *ngIf="sectionWorkpackModelChildren" class="workpackModels-cards-section">
    <div class="card-workpack-model" *ngFor="let workpackModel of cardsWorkPackModelChildren">
      <app-card [properties]="workpackModel.cardSection" *ngIf="workpackModel.cardItemsSection && workpackModel.cardItemsSection.length > 0">
        <p-dataView [value]="workpackModel.cardItemsSection" layout="grid" styleClass="dataview-card-items" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
        <div>
        </div>
      </app-card>
    </div>
  </section>

  <div class="card-stakeholders" *ngIf="sectionStakeholder">
    <app-card [properties]="sectionStakeholder.cardSection">
      <div class="input-toggle-stakeholder">
        <p-inputSwitch class="app-toggle" [(ngModel)]="stakeholderSectionShowInactives"
          (onChange)="handleStakeholderInactiveToggle()"></p-inputSwitch>
        <label class="input-label">{{"showInactive" | translate}}</label>
      </div>
      <div class="stakeholders-list-container">
        <p-dataView [value]="sectionStakeholder.cardItemsSection" layout="grid" styleClass="dataview-card-items" [emptyMessage]="'loadingEllipsis' | translate">
          <ng-template let-cardItem pTemplate="gridItem">
            <div class="p-col-12 p-md-3 p-sm-12 card-item-container">
              <app-card-item [properties]="cardItem"></app-card-item>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </app-card>
  </div>

  <app-save-button #saveButton (save)="saveWorkpack()"></app-save-button>

</div>
