@use "src/variables" as v;

::ng-deep .app-workpack {
  width: 100%;

  .card-properties-workpack{
    width: 100%;
    .properties-container {
      display: flex;
      flex-wrap: wrap;
      .property-container {
        margin-right: 1em;
      }
      .fullLine {
        width: 100%;
      }
      .not-fullLine {
        width: 20%;
      }
    }
    .properties-container.responsive {
      display: flex;
      flex-direction: column;
      .property-container {
        margin-right: 0;
        width: 100%;
      }
    }
  }
  .card-stakeholders {
    .input-toggle-stakeholder {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
    .dataview-card-items {
      position: static !important;
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
    }
  }
  .card-workpack-model {
    .dataview-card-items {
      position: static !important;
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
    }
  }
  .card-cost-account .card-item-container app-card-item.inherited {
    pointer-events: none;
    .p-card {
      background-color: transparent !important;
    }
  }

  .card-schedule {
    .p-panel-content {
      padding-bottom: 15px !important;
    }
    .button-new-schedule {
      background: #44B39B;
      color: #ffffff;
      font-size: 0.8rem;
      font-family: v.$fontFamilyMedium;
      &:hover {
        background: #13bc75;
        color: #ffffff;
      }
    }
    .schedule-buttons {
      display: flex;
      column-gap: 2em;
      .button-details {
        background: rgba(22, 155, 213, 0.9);
        color: #ffffff;
        font-size: 0.8rem;
        font-family: v.$fontFamilyMedium;
        &:hover {
          background: rgba(22, 155, 213, 1);
        }
      }
      .button-delete {
        background: rgba(255,106,106, 0.9);
        color: #ffffff;
        font-size: 0.8rem;
        font-family: v.$fontFamilyMedium;
        &:hover {
          background: rgba(255,106,106, 1);
        }
      }
    }
    .schedule-buttons-mobile {
      .p-button-text {
        font-size: 0.6rem ;
      }
      width: 100%;
    }
    .schedule-steps-section {
      padding-top: 1em;
    }
    .schedule-steps-container {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 1em;
      .new-start-step-container, .new-end-step-container {
        width: 5%;
        margin-top: 0.5em;
      }
      .new-start-step-container {
        margin-top: 1.5625em;
      }
      .new-end-step-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1em;
      }
      .data-view-steps-container {
        width: 100%;
        .group-step-year {
          font-size: 1.25rem;
          font-family: v.$fontFamilyMedium;
          color: v.$fontInput;
        }
      }
      .dataview-step-card-items {
        padding-top: 1em;
        position: static !important;
        background-color: transparent;
        .p-dataview-content, .p-grid {
          background-color: transparent;
        }
        .card-item-container {
          padding: 0.5em;
        }
      }
    }
    .schedule-steps-container-mobile {
      display: flex;
      align-items: center;
      flex-direction: column;
      .new-start-step-container, .new-end-step-container {
        width: 20%;
        margin-top: 0.5em;
      }
      .new-end-step-container {
        display: flex;
        width: 20%;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1em;
        .new-end-card-mobile {
          width: 100%;
        }
      }
      .data-view-steps-container {
        width: 100%;
        .group-step-year {
          font-size: 1.25rem;
          font-family: v.$fontFamilyMedium;
          color: v.$fontInput;
        }
      }
    }
  }
}

::ng-deep .app-workpack {
  .dataview-step-card-items {
    .p-dataview-content .p-grid {
      .card-item-container {
        flex-basis: auto;

        &.show-details {
          flex-basis: 265px;
          &.mobile:not(.new-card-item) {
            flex-basis: 100% !important;
          }
        }
        &.show-resumed {
          flex-basis: 130px;
          &.mobile:not(.new-card-item) {
            flex-basis: calc(50% - .5rem) !important;
            margin: 0 .25rem .5rem .25rem !important;
          }
          &.new-card-item {
            .app-new-step-card-item .p-card {
              height: 100%;

              .p-card-body {
                height: 100%;
              }
              .p-card-body .p-card-content {
                height: 100%;
              }
              .p-card-body .p-card-content .card-item-content {
                height: 100%;
              }
            }
          }
        }
        &.new-card-item {
          flex-basis: auto !important;
          &.mobile {
            margin: 0 auto 15px auto !important;
          }
        }
      }
    }
  }
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}
