@use "src/variables" as v;

::ng-deep .app-workpack {
  width: 100%;

  .header-container {
    display: flex;
    flex-direction: row;
  }
  .app-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
  }
  .header-container.mobile {
    flex-direction: column;
  }
  .mobile {
    width: 100%;
  }

  .card-properties-workpack{
    width: 100%;
    .properties-container {
      display: flex;
      flex-wrap: wrap;
      .property-container {
        margin-right: 1em;
      }
      .fullLine {
        width: 100%;
      }
      .not-fullLine {
        width: 20%;
      }
    }
    .properties-container.responsive {
      display: flex;
      flex-direction: column;
      .property-container {
        margin-right: 0;
        width: 100%;
      }
    }
  }
  .p-paginator {
    background: transparent;
    .p-dropdown:not(.disabled).p-focus {
      box-shadow: none;
      border-color: #6c757d;
    }
    .p-dropdown:not(.disabled):hover {
      border-color: #6c757d;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background: #e9ecef;
    }
  }
  .p-dataview .p-paginator-bottom {
    border: none;
  }
  .card-stakeholders {
    .input-toggle-stakeholder {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
    .dataview-card-items {
      position: static !important;
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
      .p-paginator {
        background: transparent;
        .p-dropdown:not(.disabled).p-focus {
          box-shadow: none;
          border-color: #6c757d;
        }
        .p-dropdown:not(.disabled):hover {
          border-color: #6c757d;
        }
        .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
          background: #e9ecef;
        }
      }
      .p-dataview .p-paginator-bottom {
        border: none;
      }
    }
  }
  .card-workpack-model {
    .dataview-card-items {
      position: static !important;
      background-color: transparent;
      .p-dataview-content, .p-grid {
        background-color: transparent;
      }
      .card-item-container {
        padding: 0.5em;
      }
      .p-paginator {
        background: transparent;
        .p-dropdown:not(.disabled).p-focus {
          box-shadow: none;
          border-color: #6c757d;
        }
        .p-dropdown:not(.disabled):hover {
          border-color: #6c757d;
        }
        .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
          background: #e9ecef;
        }
      }
      .p-dataview .p-paginator-bottom {
        border: none;
      }
    }
  }
  .card-baselines {
    .input-toggle-baseline {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  .card-risks {
    .input-toggle-risk {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  .card-issues {
    .input-toggle-issue {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
  }
  .card-cost-account .card-item-container app-card-item.inherited {
    .p-card {
      background-color: transparent !important;
     .card-item-header .p-button {
        visibility: hidden;
      }
    }
  }

  .card-schedule {
    .p-panel-content {
      padding-bottom: 15px !important;
    }
    .button-new-schedule {
      background: #44B39B;
      color: #ffffff;
      font-size: 0.8rem;
      font-family: v.$fontFamilyMedium;
      &:hover {
        background: #13bc75;
        color: #ffffff;
      }
    }
    .schedule-buttons {
      display: flex;
      flex-direction: row;
      // column-gap: 2em;
      .button-details {
        margin-right: 2em;
        width: 180px;
        background: rgba(22, 155, 213, 0.9);
        color: #ffffff;
        font-size: 0.8rem;
        font-family: v.$fontFamilyMedium;
        &:hover {
          background: rgba(22, 155, 213, 1);
        }
      }
      .button-delete {
        width: 180px;
        background: rgba(255,106,106, 0.9);
        color: #ffffff;
        font-size: 0.8rem;
        font-family: v.$fontFamilyMedium;
        &:hover {
          background: rgba(255,106,106, 1);
        }
      }
    }
    .schedule-buttons.schedule-buttons-mobile {
      flex-direction: column;
      width: 100%;
      .p-button-text {
        width: 100%;
        font-size: 0.6rem ;
        margin-top: 0.5em;
      }
      .button-delete {
        margin-top: 1em;
      }
    }
    .schedule-steps-section {
      padding-top: 1em;
    }
    .schedule-steps-container {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 1em;
      .new-start-step-container, .new-end-step-container {
        width: 5%;
        margin-top: 0.5em;
      }
      .new-start-step-container {
        margin-top: 1.5625em;
      }
      .new-end-step-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1em;
      }
      .data-view-steps-container {
        width: 100%;
        .group-step-year {
          font-size: 1.25rem;
          font-family: v.$fontFamilyMedium;
          color: v.$fontInput;
        }
      }
      .dataview-step-card-items {
        padding-top: 1em;
        position: static !important;
        background-color: transparent;
        .p-dataview-content, .p-grid {
          background-color: transparent;
        }
        .card-item-container {
          padding: 0.5em;
        }
      }
    }
    .schedule-steps-container-mobile {
      display: flex;
      align-items: center;
      flex-direction: column;
      .new-start-step-container, .new-end-step-container {
        width: 20%;
        margin-top: 0.5em;
      }
      .new-end-step-container {
        display: flex;
        width: 20%;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1em;
        .new-end-card-mobile {
          width: 100%;
        }
      }
      .data-view-steps-container {
        width: 100%;
        .group-step-year {
          font-size: 1.25rem;
          font-family: v.$fontFamilyMedium;
          color: v.$fontInput;
        }
      }
    }
  }
}

::ng-deep .app-workpack {
  .dataview-step-card-items {
    .p-dataview-content .p-grid {
      .card-item-container {
        flex-basis: auto;

        &.show-details {
          flex-basis: 265px;
          &.mobile:not(.new-card-item) {
            flex-basis: 100% !important;
          }
        }
        &.show-resumed {
          flex-basis: 130px;
          &.mobile:not(.new-card-item) {
            flex-basis: calc(50% - .5rem) !important;
            margin: 0 .25rem .5rem .25rem !important;
          }
          &.new-card-item {
            .app-new-step-card-item .p-card {
              height: 100%;

              .p-card-body {
                height: 100%;
              }
              .p-card-body .p-card-content {
                height: 100%;
              }
              .p-card-body .p-card-content .card-item-content {
                height: 100%;
              }
            }
          }
        }
        &.new-card-item {
          flex-basis: auto !important;
          &.mobile {
            margin: 0 auto 15px auto !important;
          }
        }
      }
    }
  }
  .end-management-dialog, .resume-management-dialog {
    .p-dialog-header {
      padding: 2em 3em 0;
      .p-dialog-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
      }
    }
    .p-dialog-content {
      padding: 1em 3em 2em;
      overflow-y: visible;
    }
    .end-management-content, .resume-management-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .reasons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        .p-inputtextarea {
          background-color: rgba(242, 242, 242, 1);
          border: none;
        }
        .p-inputtext:enabled:focus {
          border: none;
          box-shadow: none;
        }
      }
      .date-end-management-container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        p-calendar {
          width: 30%;
        }
      }
      .date-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5em;
        label {
          margin-right: 5px;
        }
      }
      .buttons-container {
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .p-button {
          flex: 1;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 700;
          color: #ffffff;
          border: none;
        }
        .cancel-button {
          margin-right: 0.5em;
          background-color: rgba(164, 164, 164, 1);
        }
        .end-button {
          margin-left: 0.5em;
          background-color: rgba(68, 179, 155, 1);
        }
      }
    }
  }
  .end-management-dialog.responsive, .resume-management-dialog.responsive {
    .p-dialog-header {
      padding: 1em 1em 0;
      .p-dialog-title {
        font-size: 1.2rem;
      }
    }
    .p-dialog-content {
      padding: 1em;
    }
    .end-management-content, .resume-management-content {
      .date-end-management-container {
        p-calendar {
          width: 100%;
          .p-calendar {
            width: 100%;
          }
        }
      }
      .buttons-container {
        flex-direction: column;
        .cancel-button {
          width: 100%;
          margin-right: 0;
          margin-bottom: 0.5em;
        }
        .end-button {
          width: 100%;
          margin-left: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.input-message-error {
  color: white;
  background: #f44336;
  padding: 4px 8px;
  display: inline-flex;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: v.$fontFamilyMedium;
}
