<div class="app-cost-account">
  <div *ngIf="idCostAccount; else newCostAccountTitle" class="app-content-header"
    [class.mobile]="responsive">
    <span class="label">{{ 'account' | translate }}:</span>
    <span class="text">{{ costAccountName }}</span>
  </div>
  <ng-template #newCostAccountTitle>
    <div class="app-content-header" [class.mobile]="responsive">
      <span class="label">{{ 'new' | translate }}</span>
      <span class="text">{{ 'account' | translate }}</span>
    </div>
  </ng-template>
  <div class="loading-container" *ngIf="cardCostAccountProperties.isLoading">
    <app-card-loading [isCardLoading]="cardCostAccountProperties.isLoading"></app-card-loading>
  </div>
  <div class="card-properties-cost-account" *ngIf="sectionCostAccountProperties">
    <app-cost-account-card [properties]="cardCostAccountProperties" class="mt-0 inputs-float-label">
      <div class="loading-form-container" *ngIf="formIsSaving">
        <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
      </div>
      <div class="properties-container" *ngIf="!cardCostAccountProperties.isLoading">
        <div class="property-container" *ngFor="let property of sectionCostAccountProperties" [class.fullLine]="property.fullLine">
          <app-property [property]="property" (changed)="checkProperties(property)">
          </app-property>
        </div>
      </div>
    </app-cost-account-card>
  </div>
  <div class="id-container" *ngIf="idCostAccount && sectionCostAccountProperties">
    <span>{{idCostAccount}}</span>
  </div>
  <app-save-button (save)="saveCostAccount()"></app-save-button>
</div>
