<div class="app-cost-account">
  <div *ngIf="idCostAccount; else newCostAccountTitle" class="app-content-header" [class.mobile]="responsive">
    <span class="label">{{ 'account' | translate }}:</span>
    <span class="text">{{ costAccountName }}</span>
  </div>
  <ng-template #newCostAccountTitle>
    <div class="app-content-header" [class.mobile]="responsive">
      <span class="label">{{ 'new' | translate }}</span>
      <span class="text">{{ 'account' | translate }}</span>
    </div>
  </ng-template>
  <div class="loading-container" *ngIf="cardCostAccountProperties.isLoading">
    <app-card-loading [isCardLoading]="cardCostAccountProperties.isLoading"></app-card-loading>
  </div>
  <div class="card-properties-cost-account" *ngIf="sectionCostAccountProperties">
    <app-cost-account-card [properties]="cardCostAccountProperties" class="mt-0 inputs-float-label">
      <div class="loading-form-container" *ngIf="formIsSaving">
        <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
      </div>
      <div class="properties-container" *ngIf="!cardCostAccountProperties.isLoading">
        <div class="property-container" *ngFor="let property of sectionCostAccountProperties"
          [class.not-fullLine]="!property.fullLine && property.type !== 'TextArea' && property.type !== 'Group' && property.name !== 'name'"
          [class.fullLine]="property.fullLine || property.type === 'TextArea' || property.type === 'Group' || property.name === 'name'">

          <app-property [property]="property" (changed)="checkProperties(property)"></app-property>

        </div>
      </div>

      <!-- NOVA UNIDADE ORÇAMENTÁRIA -->
      <span class="p-float-label" [class.workpack-selection-mobile]="responsive"
        [class.workpack-selection]="true" [class.workpack-selection-not-fullLine]="false">
        <p-dropdown
          class="app-single-selection p-budget"
          dropdownIcon="fas fa-caret-down"
          optionLabel="displayText"
          filterBy="displayText"
          [options]="uoOptions"
          [filter]="true"
          [showClear]="false"
          [disabled]="!editPermission"
          [(ngModel)]="selectedUo"
          (onChange)="onUoChange($event)"
          #uoSelect
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.displayText }}</div>
            </div>
          </ng-template>

          <ng-template let-uo pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ uo.displayText }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <label class="app-input-label">{{ 'labelBudgetUnit' | translate }}</label>
      </span>

      <!-- PLANO ORÇAMENTÁRIO -->
      <span class="p-float-label" [class.workpack-selection-mobile]="responsive" [class.workpack-selection]="true"
        [class.workpack-selection-not-fullLine]="false">
        <p-dropdown
          class="app-single-selection p-budget"
          dropdownIcon="fas fa-caret-down"
          filterBy="displayText"
          optionLabel="displayText"
          [options]="planoOrcamentarioOptions"
          [filter]="true"
          [showClear]="false"
          [disabled]="poDisabled || !editPermission"
          [(ngModel)]="selectedPlano"
          (onChange)="onPlanoChange($event)"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.displayText }}</div>
            </div>
          </ng-template>
      
          <ng-template let-plano pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ plano.displayText }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <label class="app-input-label">{{ 'labelBudgetPlan' | translate }}</label>
      </span>

    </app-cost-account-card>
    
  </div>
  <!-- <br />
  <div class="card-properties-cost-account instrumentsList" *ngIf="sectionCostAccountProperties &&  instrumentsList">
    <app-cost-account-card [properties]="instrumentProperty" class="mt-0 inputs-float-label">
      <div class="loading-form-container" *ngIf="formIsSaving">
        <app-card-loading [isCardLoading]="formIsSaving"></app-card-loading>
      </div>
      
      <div class="year-interval">
        

        <span class="p-float-label property-input p-field input-number-scroll">
          <p-inputNumber inputStyleClass="app-input-text" [(ngModel)]="selectedStartYear" [showButtons]="true"
            #startYearField [min]="2020" [max]="today.getFullYear()"  mode="decimal" [useGrouping]="false"
            (ngModelChange)="updateInstruments()" ></p-inputNumber>
          <label class="input-label">{{ 'startDate' | translate }}
            <i class="far fa-question-circle" [pTooltip]="'help.costAccount.startDate' | translate"></i>
          </label>
        </span>
        <span class="p-float-label property-input p-field input-number-scroll">
          <p-inputNumber inputStyleClass="app-input-text" [(ngModel)]="selectedEndYear" [showButtons]="true"
            #endYearField [min]="2020" [max]="today.getFullYear()"  mode="decimal" [useGrouping]="false" 
            (ngModelChange)="updateInstruments()" ></p-inputNumber>
          <label class="input-label">{{ 'endDate' | translate }}
            <i class="far fa-question-circle" [pTooltip]="'help.costAccount.endDate' | translate"></i>
          </label>
        </span>

      </div>
      <app-card-list [itemList]="selectedInstruments" [newItemFunc]="newInstrumentFunc" [removeItemFunc]="removerInstrumentFunc" cardWidth="20rem">
        <ng-template #itemElem let-item let-i="index" >
            <app-cost-account-card-instrument [instrument]="item" [instrumentList]="instrumentsList" 
                (updateInstrument)="setInstrumentItem($event, i)" [selectedInstrumentList]="selectedInstruments" ></app-cost-account-card-instrument>
        </ng-template>
        
      </app-card-list>

    </app-cost-account-card>
    
  </div> -->
  <div class="id-container" *ngIf="idCostAccount && sectionCostAccountProperties">
    <span>{{idCostAccount}}</span>
  </div>

  <app-buttons-container>
    <app-save-button (save)="saveCostAccount()"></app-save-button>
    <app-cancel-button (cancel)="handleOnCancel()"></app-cancel-button>
  </app-buttons-container>
</div>