@use "src/variables" as v;

::ng-deep .app-workpack-section-baselines {
  .loading-container {
    position: relative;
    min-height: 150px;
  }
    .input-toggle-baseline {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
      margin-bottom: 1em;
      .input-label {
        font-size: 1rem;
        color: v.$fontLabel;
        margin-left: 5px;
        font-family: v.$fontFamilyMedium;
      }
    }
}