<p-card class="app-card-item-cost" *ngIf="properties.type === 'cost-card'">
  <p-header class="card-item-header">
    <span class="card-item-title">{{properties.costAccountName}}</span>
    <p-menu #menu [popup]="true" [model]="properties.menuItemsCost"></p-menu>
    <button type="button" pButton icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></button>
  </p-header>
  <div class="card-item-values p-fluid">
    <span class="p-float-label" [class.responsive]="responsive">
      <p-inputNumber class="app-input-number" id="float-planned" [(ngModel)]="properties.plannedWork"
        (ngModelChange)="handleCostChange()" (onInput)="handleCostChange()" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2">
      </p-inputNumber>
      <label class="app-input-label" for="float-planned">{{properties.unitMeasureName}} {{ "planned" |translate
        }} * </label>
    </span>
    <span class="p-float-label" [class.responsive]="responsive">
      <p-inputNumber class="app-input-number" id="float-planned" [(ngModel)]="properties.actualWork"
        (ngModelChange)="handleCostChange()" (onInput)="handleCostChange()" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2">
      </p-inputNumber>
      <label class="app-input-label" for="float-planned">{{properties.unitMeasureName}} {{ "actual" |translate
        }}</label>
    </span>
  </div>
  <div class="card-item-footer" *ngIf="cardIdItem">
    <span class="card-item-id">
      {{cardIdItem}}
    </span>
  </div>
</p-card>

<p-card class="new-card-item-cost" [class.new-card-item-cost-mobile]="responsive" *ngIf="properties.type === 'new-cost-card'">
  <div class="card-item-content">
    <i [ngClass]="[ 'app-icon', iconsEnum.Plus, 'light-grey-icon' ]" [ngStyle]="{ fontSize: '3rem' }"
      [class.card-link]="properties.menuItemsNewCost" (click)=" menuIcon.toggle($event)"></i>
    <p-menu #menuIcon [popup]="true" [model]="properties.menuItemsNewCost"></p-menu>
  </div>
</p-card>
